Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup form
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: claenup
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: check that the chain in custom address matches address prefix (#1945)
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: more changes on overview flow
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/StakeSidebar.tsx
  apps/namadillo/src/App/AccountOverview/StakeYourNamCard.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetsOverview.tsx
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/ShieldAssetsModal.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: account overview top banner
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
  apps/namadillo/src/App/Common/PulsingRing.tsx
  apps/namadillo/src/App/Common/TokensAnimation.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/hooks/useRequiresNewShieldedSync.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: creating new dashboard elements
  apps/namadillo/src/App/AccountOverview/AccountBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/AssetsOverviewPanel.tsx
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/AccountOverview/EstimateShieldingRewardsCard.tsx
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/StakeYourNamCard.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceCard.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetsOverview.tsx
  apps/namadillo/src/App/Icons/ShieldedTransferIcon.tsx
  apps/namadillo/src/App/Icons/UnshieldedTransferIcon.tsx
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/hooks/useAmountsInFiat.tsx
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: desktop version for top balance banner
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
  apps/namadillo/src/App/Common/MaspSyncCover.tsx
  apps/namadillo/src/App/Common/PulsingRing.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding more modal routes
  apps/namadillo/src/App/AccountOverview/AssetsOverviewPanel.tsx
  apps/namadillo/src/App/AccountOverview/StakeYourNamCard.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: ibc unshielding
  apps/extension/src/Approvals/ApproveSignTx.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/types.ts
  apps/namadillo/src/App/Common/UnshieldAssetsModal.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
  packages/types/src/tx/schema/bparams.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: disposable signers for refund target
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  packages/sdk/src/index.ts
  packages/shared/lib/src/sdk/args.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: disposable accounts extension UI
  apps/extension/src/App/Accounts/DisposableAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/storage/schemas/VaultSchemaV1.ts
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
  apps/extension/src/storage/schemas/index.ts
  apps/extension/src/storage/schemas/migrations.ts
  packages/components/src/KeyListItem.tsx
  packages/types/src/account.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: reveal private key UI
  apps/extension/src/App/Accounts/DisposableAccount.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/context/AccountContext.tsx
  packages/components/src/ContentMasker.tsx
  packages/components/src/Input.tsx
  packages/components/src/ViewKeys.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: clearing disposable refund targets - wip
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/storage/LocalStorage.ts
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransfer.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: disposable accounts toggle
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/Advanced.tsx
  apps/extension/src/App/Settings/index.ts
  apps/extension/src/App/index.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/context/SettingsContext.tsx
  apps/extension/src/context/index.ts
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: vks check
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: minor fixes
  apps/extension/src/App/Accounts/DisposableAccount.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/context/SettingsContext.tsx
  apps/extension/src/storage/LocalStorage.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add lookup for TxResponse result codes
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/txResponse.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add sticky left nav
  apps/namadillo/src/App/Layout/AppHeader.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fix z-index
  apps/namadillo/src/App/Layout/AppLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing button urls / links
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/StakeYourNamCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: hide masp sync cover for disposable addresses
  apps/namadillo/src/App/Common/MaspContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: after rebase
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: return serialized errors from sdk
  apps/namadillo/src/lib/query.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/errors.ts
  packages/types/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: cleanup
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/types/masp.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add sticky left nav (#1954)
  apps/namadillo/src/App/Layout/AppHeader.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update storybook dependencies
  storybook/yarn.lock
Due: none

fix: fix claim and stake NaN issue
  apps/namadillo/src/App/Staking/ClaimRewardsSubmitModalStage.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: make sure to refresh after an unshield
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: clean console
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add type check
  apps/namadillo/src/atoms/notifications/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update notifications for ibc transfer
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup start
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update logic for ibc transfers from NAM
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/atoms/notifications/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/notifications/atoms.ts
  apps/namadillo/src/hooks/useTransaction.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: restore
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/atoms/notifications/atoms.ts
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/atoms/settings/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: types
  apps/namadillo/src/atoms/notifications/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
