Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

feat: update chart
  apps/namadillo/src/App/Transfer/ShieldedBalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update nam balance
  apps/namadillo/src/App/Transfer/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Transfer/ShieldedNamBalance.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): first chain modal version
  apps/namadillo/package.json
  apps/namadillo/src/App/Transfer/IBCFromNamadaModule.tsx
  apps/namadillo/src/App/Transfer/SelectChainModal.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectChainModal.test.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update rewards
  apps/namadillo/src/App/Transfer/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Transfer/ShieldedRewardsHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

packages: Additional tests around shielded keys (#1129)
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/lib/src/crypto/zip32.rs
  packages/sdk/src/tests/data.ts
  packages/sdk/src/tests/keys.test.ts
  packages/sdk/src/utils.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fetch and load masp params
  apps/namadillo/package.json
  apps/namadillo/scripts/proxies.json
  apps/namadillo/scripts/startProxies.js
  apps/namadillo/src/hooks/useSdk.tsx
  packages/sdk/src/masp.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/mod.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fetch and load masp params (#1136)
  apps/namadillo/package.json
  apps/namadillo/scripts/proxies.json
  apps/namadillo/scripts/startProxies.js
  apps/namadillo/src/hooks/useSdk.tsx
  packages/sdk/src/masp.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/mod.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update panels
  apps/namadillo/src/App/Transfer/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Transfer/ShieldedNamIcon.tsx
  apps/namadillo/src/App/Transfer/ShieldedRewardsHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add tooltip
  apps/namadillo/src/App/Transfer/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Transfer/ShieldedRewardsHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: rename ShieldedEstimatedRewards
  apps/namadillo/src/App/Transfer/MaspOverview.tsx
  apps/namadillo/src/App/Transfer/ShieldedEstimatedRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add base table
  apps/namadillo/src/App/Transfer/MaspOverview.tsx
  apps/namadillo/src/App/Transfer/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Transfer/ShieldedNFTTable.tsx
  apps/namadillo/src/App/Transfer/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Transfer/ShieldedOverviewTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve table
  apps/namadillo/src/App/Transfer/MaspOverview.tsx
  apps/namadillo/src/App/Transfer/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding new features to transfer module
  apps/namadillo/src/App/Common/SelectModal.tsx
  apps/namadillo/src/App/Common/TabSelector.tsx
  apps/namadillo/src/App/Transfer/AssetCard.tsx
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/ChainCard.tsx
  apps/namadillo/src/App/Transfer/Example.tsx
  apps/namadillo/src/App/Transfer/IBCFromNamadaModule.tsx
  apps/namadillo/src/App/Transfer/IBCTransfers.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/SelectChainModal.tsx
  apps/namadillo/src/App/Transfer/SelectWalletModal.tsx
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/TransferArrow.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedAsset.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedChain.test.tsx
  apps/namadillo/src/App/Transfer/routes.ts
  apps/namadillo/src/integrations/assets/namada.svg
  apps/namadillo/src/integrations/index.ts
  apps/namadillo/src/registry/index.ts
  apps/namadillo/src/registry/namada-temp.json
  apps/namadillo/src/registry/namada.json
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding more tests
  apps/namadillo/src/App/Transfer/AssetCard.tsx
  apps/namadillo/src/App/Transfer/__mocks__/assets.tsx
  apps/namadillo/src/App/Transfer/__tests__/AssetCard.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/ChainCard.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectAssetModal.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedAsset.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update layout
  apps/namadillo/src/App/Transfer/MaspOverview.tsx
  apps/namadillo/src/App/Transfer/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Transfer/ShieldedEstimatedRewards.tsx
  apps/namadillo/src/App/Transfer/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Transfer/ShieldedNamIcon.tsx
  apps/namadillo/src/App/Transfer/assets/nam-balance-icon.png
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: expand ActionButton to use react-router Link for internal navigation (#1137)
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add base UI for masp overview (#1144)
  apps/namadillo/src/App/Icons/MASPIcon.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Transfer/MaspOverview.tsx
  apps/namadillo/src/App/Transfer/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Transfer/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Transfer/ShieldedNFTTable.tsx
  apps/namadillo/src/App/Transfer/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Transfer/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/assets/nam-balance-icon.png
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(namadillo): refactoring Currency component
  apps/extension/src/App/Common/NamCurrency.tsx
  apps/namadillo/src/App/AccountOverview/AccountBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Common/FiatCurrency.tsx
  apps/namadillo/src/App/Common/TokenCurrency.tsx
  apps/namadillo/src/App/Staking/BondingAmountOverview.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/AvailableAmountFooter.test.tsx
  packages/components/src/Currency.tsx
  storybook/src/stories/Currency.stories.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(namadillo): removing unused currency selector
  apps/namadillo/src/App/Common/CurrencySelector.tsx
  apps/namadillo/src/App/Settings/CurrencySelector.tsx
  apps/namadillo/src/App/Settings/CurrencySelectorEntry.tsx
  apps/namadillo/src/atoms/exchangeRates.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  packages/utils/src/currencies.ts
  packages/utils/src/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: validate length and checksum of fetched masp param
  apps/namadillo/src/hooks/useSdk.tsx
  packages/shared/lib/src/sdk/mod.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add masp param status to sdk context
  apps/namadillo/src/hooks/useSdk.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: code compiles
  packages/crypto/lib/rust-toolchain.toml
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/lib/src/crypto/zip32.rs
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/types/masp.rs
Due: cargo fmt --all -- --fix

feat: poc shielded sync
  packages/crypto/lib/Cargo.lock
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp/mod.rs
  packages/shared/lib/src/sdk/masp/sync.rs
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

feat: masp indexer url UI and rpc backup
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/types.d.ts
  packages/sdk/src/indexWeb.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/masp/sync.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: shielded context for nodejs feature
  apps/extension/src/background/sdk/service.ts
  packages/sdk/src/tests/signing.test.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup test code
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix

feat(namadillo): writing tests for SelectChainModal
  apps/namadillo/src/App/Transfer/SelectChainModal.tsx
  apps/namadillo/src/App/Transfer/__mocks__/chains.ts
  apps/namadillo/src/App/Transfer/__tests__/SelectChainModal.test.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): starting integration with keplr wallet
  apps/namadillo/src/App/Transfer/ConnectProviderButton.tsx
  apps/namadillo/src/App/Transfer/IBCFromNamadaModule.tsx
  apps/namadillo/src/App/Transfer/SelectProviderModal.tsx
  apps/namadillo/src/App/Transfer/SelectWalletModal.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/WalletCard.tsx
  apps/namadillo/src/App/Transfer/__mocks__/providers.ts
  apps/namadillo/src/App/Transfer/__tests__/SelectedChain.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedWallet.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/WalletCard.test.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/index.ts
  apps/namadillo/src/hooks/useExtensionConnect.ts
  apps/namadillo/src/integrations/assets/keplr.svg
  apps/namadillo/src/integrations/index.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.d.ts
  packages/integrations/src/hooks/useIntegration.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): disabling fields on transfer module
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding chain registry package and updating types and tests
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__mocks__/chains.ts
  apps/namadillo/src/App/Transfer/__tests__/SelectedAsset.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedChain.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
  package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: refactoring currency component
  .gitignore
  apps/extension/src/App/Common/NamCurrency.tsx
  apps/namadillo/src/App/AccountOverview/AccountBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Common/CurrencySelector.tsx
  apps/namadillo/src/App/Common/FiatCurrency.tsx
  apps/namadillo/src/App/Common/TokenCurrency.tsx
  apps/namadillo/src/App/Settings/CurrencySelector.tsx
  apps/namadillo/src/App/Settings/CurrencySelectorEntry.tsx
  apps/namadillo/src/App/Staking/BondingAmountOverview.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/AvailableAmountFooter.test.tsx
  apps/namadillo/src/atoms/exchangeRates.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  packages/components/src/Currency.tsx
  packages/utils/src/currencies.ts
  packages/utils/src/index.ts
  storybook/src/stories/Currency.stories.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: refactoring currency component (#1148)
  .gitignore
  apps/extension/src/App/Common/NamCurrency.tsx
  apps/namadillo/src/App/AccountOverview/AccountBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Common/CurrencySelector.tsx
  apps/namadillo/src/App/Common/FiatCurrency.tsx
  apps/namadillo/src/App/Common/TokenCurrency.tsx
  apps/namadillo/src/App/Settings/CurrencySelector.tsx
  apps/namadillo/src/App/Settings/CurrencySelectorEntry.tsx
  apps/namadillo/src/App/Staking/BondingAmountOverview.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/AvailableAmountFooter.test.tsx
  apps/namadillo/src/atoms/exchangeRates.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  packages/components/src/Currency.tsx
  packages/utils/src/currencies.ts
  packages/utils/src/index.ts
  storybook/src/stories/Currency.stories.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: export const routes
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/Governance.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/UpcomingProposals.tsx
  apps/namadillo/src/App/Governance/ViewJson.tsx
  apps/namadillo/src/App/Governance/routes.ts
  apps/namadillo/src/App/Ibc/routes.ts
  apps/namadillo/src/App/Layout/ActiveAccount.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  apps/namadillo/src/App/Settings/SettingsPanel.tsx
  apps/namadillo/src/App/Settings/routes.ts
  apps/namadillo/src/App/Setup/ChainLoader.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/SignMessages/routes.ts
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/AmountField.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Staking.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/__tests__/StakingRewardsPanel.test.tsx
  apps/namadillo/src/App/Staking/routes.ts
  apps/namadillo/src/App/SwitchAccount/routes.ts
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/routes.ts
  apps/namadillo/src/hooks/useProposalIdParam.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add not found route
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/NotFound.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add not found page
  apps/namadillo/src/App/Governance/Governance.tsx
  apps/namadillo/src/App/Staking/Staking.tsx
  apps/namadillo/src/App/Staking/routes.ts
  apps/namadillo/src/App/Transfer/Transfer.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move masp page
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Masp/Masp.tsx
  apps/namadillo/src/App/Masp/MaspOverview.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedNFTTable.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Masp/assets/nam-balance-icon.png
  apps/namadillo/src/App/Masp/assets/namada-shielded.svg
  apps/namadillo/src/App/Masp/routes.ts
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0
