Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add basic form for IBC transfers to Namada (#1106)
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/Navigation.tsx
  apps/namadillo/src/App/Ibc/Ibc.tsx
  apps/namadillo/src/App/Ibc/index.ts
  apps/namadillo/src/App/Ibc/routes.ts
  packages/integrations/package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): removing unused .env injection on Vite config
  apps/namadillo/vite.config.mjs
Due: none

feat(namadillo): fixing errors when extension is connected and user doesn't have an account (#1125)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/hooks/useUserHasAccount.ts
  apps/namadillo/src/theme.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add AppHeader
  apps/namadillo/src/App/Layout/AppHeader.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add page routes
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Transfer/Shield.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add flags
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: rename NamTransfer
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Transfer/NamTransfer.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: optimize svg
  apps/namadillo/src/App/Assets/ShieldedParty.svg
Due: none

fix: add processing state to submit vote button (#1073)
  apps/namadillo/src/App/Governance/SubmitVote.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add logic for fetching and storing MASP params
  apps/namadillo/src/atoms/masp/atoms.ts
  apps/namadillo/src/atoms/masp/functions.ts
  apps/namadillo/src/atoms/masp/index.ts
  apps/namadillo/src/atoms/masp/types.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move SessionKVStore into extension, so we can reuse other storage types in Namadillo
  apps/extension/src/background/index.ts
  apps/extension/src/extension/SessionKVStore.ts
  apps/extension/src/extension/index.ts
  apps/namadillo/src/atoms/masp/atoms.ts
  apps/namadillo/src/atoms/masp/functions.ts
  apps/namadillo/src/atoms/masp/types.ts
  apps/namadillo/src/atoms/utils.ts
  apps/namadillo/src/types.d.ts
  packages/storage/package.json
  packages/storage/src/store/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add static chains config
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/registry/cosmoshub.json
  apps/namadillo/src/registry/index.ts
  apps/namadillo/src/registry/namada.json
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: code review fixes
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/registry/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(namadillo): making claim rewards object clearer
  apps/namadillo/src/atoms/staking/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(namadillo): using account?.address as a dependency instead of account only
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): removing unused .env injection on Vite config (#1127)
  apps/namadillo/vite.config.mjs
Due: none

fix: docker nginx config, revert base url (#1112)
  apps/faucet/webpack.config.js
  docker/faucet/nginx.conf
  docker/namadillo/nginx.conf
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: addressing reviewing comments
  apps/namadillo/src/App/Transfer/IBCToNamadaModule.tsx
  apps/namadillo/src/App/Transfer/SelectAssetsModal.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: Optimistically updating staking rewards balance (#1115)
  apps/namadillo/src/atoms/staking/atoms.ts
  apps/namadillo/src/atoms/staking/services.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: first sketch on Transfer module (#1119)
  apps/namadillo/src/App/Common/SelectModal.tsx
  apps/namadillo/src/App/Common/TabSelector.tsx
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/ChainCard.tsx
  apps/namadillo/src/App/Transfer/ConnectProviderButton.tsx
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
  apps/namadillo/src/App/Transfer/EmptyResourceIcon.tsx
  apps/namadillo/src/App/Transfer/IBCFromNamadaModule.tsx
  apps/namadillo/src/App/Transfer/IBCTransfers.tsx
  apps/namadillo/src/App/Transfer/SelectAssetsModal.tsx
  apps/namadillo/src/App/Transfer/SelectChainModal.tsx
  apps/namadillo/src/App/Transfer/SelectProviderModal.tsx
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__mocks__/chains.ts
  apps/namadillo/src/App/Transfer/__mocks__/providers.ts
  apps/namadillo/src/App/Transfer/__tests__/AvailableAmountFooter.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedAsset.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedChain.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
  apps/namadillo/src/App/Transfer/assets/namada-shielded.svg
  apps/namadillo/src/App/Transfer/assets/namada-transparent.svg
  apps/namadillo/src/App/Transfer/routes.ts
  apps/namadillo/src/types.d.ts
  packages/components/src/AmountInput.tsx
  packages/components/src/Input.tsx
  packages/components/src/Modal.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add static chains config (#1103)
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/registry/cosmoshub.json
  apps/namadillo/src/registry/index.ts
  apps/namadillo/src/registry/namada.json
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Revert "feat: add static chains config (#1103)"
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/registry/cosmoshub.json
  apps/namadillo/src/registry/index.ts
  apps/namadillo/src/registry/namada.json
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: registry index check
  apps/namadillo/src/registry/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: registry index check (#1132)
  apps/namadillo/src/registry/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: Animate shield all banner (#1118)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Assets/ShieldedParty.svg
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move files
  apps/namadillo/src/App/Layout/ActiveAccount.tsx
  apps/namadillo/src/App/Layout/DisconnectAccountIcon.tsx
  apps/namadillo/src/App/Layout/SwitchAccountIcon.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add the transfer buttons to top navigation (#1128)
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Common/AppContainer.tsx
  apps/namadillo/src/App/Common/PageWithSidebar.tsx
  apps/namadillo/src/App/Common/TopNavigation.tsx
  apps/namadillo/src/App/Layout/ActiveAccount.tsx
  apps/namadillo/src/App/Layout/AppHeader.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Layout/BurgerButton.tsx
  apps/namadillo/src/App/Layout/DisconnectAccountIcon.tsx
  apps/namadillo/src/App/Layout/Logo.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Layout/SwitchAccountIcon.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Transfer/NamTransfer.tsx
  apps/namadillo/src/App/Transfer/Shield.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: additional tests around shielded keys
  packages/sdk/src/tests/data.ts
  packages/sdk/src/tests/keys.test.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add test for shielded from mnemonic seed
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/lib/src/crypto/zip32.rs
  packages/sdk/src/utils.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): disabling fields on transfer module
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): starting integration with keplr wallet
  apps/namadillo/src/App/Transfer/ConnectProviderButton.tsx
  apps/namadillo/src/App/Transfer/IBCFromNamadaModule.tsx
  apps/namadillo/src/App/Transfer/SelectProviderModal.tsx
  apps/namadillo/src/App/Transfer/SelectWalletModal.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/WalletCard.tsx
  apps/namadillo/src/App/Transfer/__mocks__/providers.ts
  apps/namadillo/src/App/Transfer/__tests__/SelectedChain.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedWallet.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/WalletCard.test.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/index.ts
  apps/namadillo/src/hooks/useExtensionConnect.ts
  apps/namadillo/src/integrations/assets/keplr.svg
  apps/namadillo/src/integrations/index.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.d.ts
  packages/integrations/src/hooks/useIntegration.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: expand action button
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update props
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add wip page
  apps/namadillo/src/App/Transfer/MaspOverview.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding chain registry package and updating types and tests
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__mocks__/chains.ts
  apps/namadillo/src/App/Transfer/__tests__/SelectedAsset.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedChain.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
  package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: enable menu item
  apps/namadillo/src/App/Icons/MASPIcon.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): writing tests for SelectChainModal
  apps/namadillo/src/App/Transfer/SelectChainModal.tsx
  apps/namadillo/src/App/Transfer/__mocks__/chains.ts
  apps/namadillo/src/App/Transfer/__tests__/SelectChainModal.test.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add base components
  apps/namadillo/src/App/Transfer/MaspOverview.tsx
  apps/namadillo/src/App/Transfer/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Transfer/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Transfer/ShieldedOverviewTable.tsx
  apps/namadillo/src/App/Transfer/ShieldedRewardsHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
