Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

feat: add extension & sdk versions to settings
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  packages/crypto/lib/src/crypto/zip32.rs
Due: cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding bip44 form
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix approvals service tests
  apps/extension/src/background/approvals/service.test.ts
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(namadillo): refactor transfer module
  apps/namadillo/src/App/Transfer/ChainCard.tsx
  apps/namadillo/src/App/Transfer/ConnectProviderButton.tsx
  apps/namadillo/src/App/Transfer/SelectWalletModal.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/ChainCard.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedWallet.test.tsx
  apps/namadillo/src/App/Transfer/assets/generic-asset.svg
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: begin integration of IBC with transfer module
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add generate ibc shielding memo to the sdk
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): improving how to handle testnets
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: setting up advanced options
  apps/extension/src/Setup/Common/AdvancedOptions.tsx
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  apps/extension/src/Setup/Common/Bip39PassphraseForm.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/index.ts
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add custom path support to Ledger Import
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use panel
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: moving things around
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/atoms/registry/atoms.ts
  apps/namadillo/src/atoms/registry/functions.ts
  apps/namadillo/src/atoms/registry/index.ts
  apps/namadillo/src/atoms/registry/services.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update to Bip44Path type, logic for unique shielded keys
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/storage/VaultStorage.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/utils.ts
  packages/types/src/account.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): loading asset and balance
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/registry/functions.ts
  apps/namadillo/src/atoms/registry/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add rough form for IBC withdrawals (#1133)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: shielded sync with multicore (#1153)
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  apps/namadillo/src/workers/index.ts
  apps/namadillo/vite.config.mjs
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp/sync.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: shield nam
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/atoms/api.ts
  apps/namadillo/src/atoms/staking/atoms.ts
  apps/namadillo/src/atoms/staking/services.ts
  apps/namadillo/src/lib/build.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/utils/sdk.ts
  apps/namadillo/src/workers/ShieldWorker.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/utils.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup part 1
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/staking/atoms.ts
  apps/namadillo/src/atoms/staking/services.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/lib/build.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/utils/sdk.ts
  apps/namadillo/src/workers/ShieldWorker.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/integrations/src/index.ts
  packages/integrations/src/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup part 2
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/atoms/api.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/workers/ShieldWorker.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/utils.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: use promise-worker
  apps/namadillo/package.json
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/workers/ShieldWorker.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: shielded sync worker to use comlink
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/workers/ShieldMessages.ts
  apps/namadillo/src/workers/ShieldWorker.ts
  apps/namadillo/src/workers/ShieldedSyncMessages.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/workers/ShieldMessages.ts
  apps/namadillo/src/workers/ShieldWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup worker test
  apps/namadillo/src/App/App.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: serialize big numbers
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/extension/ExtensionRouter.ts
  apps/namadillo/package.json
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/workers/ShieldMessages.ts
  apps/namadillo/src/workers/ShieldWorker.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  apps/namadillo/src/workers/utils.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/Cargo.toml
  packages/types/src/tx/schema/utils.ts
  packages/utils/src/helpers/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: after rebase
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/WorkerTest.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: render shielded balance
  apps/extension/src/provider/Signer.ts
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/atoms/masp/atoms.ts
  apps/namadillo/src/hooks/useBalances.ts
  packages/types/src/account.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding offscreen & web worker back to extension
  apps/extension/package.json
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/offscreen/index.ts
  apps/extension/src/background/offscreen/offscreen.html
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/offscreen/utils.ts
  apps/extension/src/background/web-workers/generate-proof-web-worker.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/types.ts
  apps/extension/src/manifest/v3/_base.json
  apps/extension/webpack.config.js
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

docs: add version, docs, and fix
  apps/namadillo/src/hooks/useSdk.tsx
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/sdk.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: connect with sync status
  apps/namadillo/src/atoms/syncStatus/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: version bump
  packages/sdk/package.json
  packages/sdk/src/sdk.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: rename totalShieldedAmount
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/hooks/useBalances.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/atoms/masp/atoms.ts
  apps/namadillo/src/hooks/useBalances.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update masp pie chart
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve loading
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update account overview page
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/hooks/useBalances.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add shield balance loading
  apps/namadillo/src/hooks/useBalances.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

wip: creating ibc transfer atom
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/atoms/registry/functions.ts
  apps/namadillo/src/utils/index.ts
  packages/types/src/account.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0
