Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: adding extension demo build workflow
  .github/workflows/build-extension-demo.yml
Due: none

chore: adding extension demo build workflow (#1597)
  .github/workflows/build-extension-demo.yml
Due: none

fix: empty reward storage
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump upload-artifact to v4
  .github/workflows/build-extension-demo.yml
Due: none

fix: fixing wrong sanitize function
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fee estimation will consider at least one transaction of a given type
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: refactoring ibc transfer update and check for timeout
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: empty reward storage (#1600)
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: create sidebar
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  apps/namadillo/src/App/Layout/Sidebar.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update indicator
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: replacing tuple for readability
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: check for ibc timeout if a response was not provided by the chain (#1592)
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: refactoring transactions and opening space to add events to multiple stages
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/staking/services.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding more stages to transaction button
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransfer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: improving readability
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: workaround to improve gas estimation
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/hooks/useTransactionFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: removing duplicate error notification
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing conflicts
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving masp transactions feedback for users and other gas estimation fixes (#1594)
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/staking/services.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove transition when goes to zero
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update shield sync indicator layout (#1601)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  apps/namadillo/src/App/Layout/Sidebar.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: adding back Docker build on release
  .github/workflows/docker.yml
Due: none

fix: adding back Docker build on release (#1603)
  .github/workflows/docker.yml
Due: none

feat: add shielded balance pulse
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix test
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix duplicated broadcast
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix duplicated broadcast (#1606)
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing gas estimate
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing gas asset on Namada transactions
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/common.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add shielded balance pulse animation (#1604)
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove the n/a message
  apps/namadillo/src/atoms/balance/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: map dollar to all tokens
  apps/namadillo/src/atoms/prices/functions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: don't subtract if tokens are different
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing gas estimate on IBC transfers (#1607)
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/common.ts
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing remaining amount calculation if gas token is different
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing remaining amount calculation if gas token is different (#1610)
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: save tx source and target
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: render chain name
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bump wasm bindgen rayon
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

feat: add optimistic response
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/hooks/useOptimisticTransferUpdate.tsx
  apps/namadillo/src/hooks/useTransfer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
