Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

fix: update memo, remove chain from persisted data
  apps/namada-interface/src/store/store.ts
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix

fix: unit test fix - mapped wrong directory for ledger-namada
  tsconfig.base.json
Due: none

fix: support for Ledger 0.30.2
  apps/extension/package.json
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/ledger/ledger.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/utils/index.ts
  packages/ledger-namada/LICENSE
  packages/ledger-namada/README.md
  packages/ledger-namada/dist/common.d.ts
  packages/ledger-namada/dist/common.js
  packages/ledger-namada/dist/common.js.map
  packages/ledger-namada/dist/config.d.ts
  packages/ledger-namada/dist/config.js
  packages/ledger-namada/dist/config.js.map
  packages/ledger-namada/dist/index.d.ts
  packages/ledger-namada/dist/index.js
  packages/ledger-namada/dist/index.js.map
  packages/ledger-namada/dist/namadaApp.d.ts
  packages/ledger-namada/dist/namadaApp.js
  packages/ledger-namada/dist/namadaApp.js.map
  packages/ledger-namada/dist/processResponses.d.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/ledger-namada/dist/types.d.ts
  packages/ledger-namada/dist/types.d.ts~
  packages/ledger-namada/dist/types.js
  packages/ledger-namada/dist/types.js.map
  packages/ledger-namada/package.json
  packages/shared/lib/src/sdk/mod.rs
  tsconfig.base.json
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

fix: set nativeToken for all Tx approvals
  apps/extension/package.json
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/ledger/ledger.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/utils/index.ts
  packages/ledger-namada/LICENSE
  packages/ledger-namada/README.md
  packages/ledger-namada/dist/common.d.ts
  packages/ledger-namada/dist/common.js
  packages/ledger-namada/dist/common.js.map
  packages/ledger-namada/dist/config.d.ts
  packages/ledger-namada/dist/config.js
  packages/ledger-namada/dist/config.js.map
  packages/ledger-namada/dist/index.d.ts
  packages/ledger-namada/dist/index.js
  packages/ledger-namada/dist/index.js.map
  packages/ledger-namada/dist/namadaApp.d.ts
  packages/ledger-namada/dist/namadaApp.js
  packages/ledger-namada/dist/namadaApp.js.map
  packages/ledger-namada/dist/processResponses.d.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/ledger-namada/dist/types.d.ts
  packages/ledger-namada/dist/types.d.ts~
  packages/ledger-namada/dist/types.js
  packages/ledger-namada/dist/types.js.map
  packages/ledger-namada/package.json
  packages/shared/lib/src/sdk/mod.rs
  tsconfig.base.json
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

fix: code review
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
Due: none

feat: catch rate limiting error code, provide specific message (#637)
  apps/faucet/src/utils/api.ts
  apps/faucet/src/utils/types.ts
Due: yarn run lint

bug: select active account and remove fiat currency (#632)
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Settings/SettingsWalletSettings/SettingsWalletSettings.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/fakeData.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  apps/namada-interface/src/slices/coins.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/store/mocks.ts
Due: yarn run lint

feat: staking gas fee improvements (#626)
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  apps/namada-interface/src/slices/fees.ts
  apps/namada-interface/src/slices/notifications/reducers.ts
  packages/components/src/AmountInput.tsx
Due: yarn run lint

test: approvals service test cd
  apps/extension/src/background/approvals/service.test.ts
Due: yarn run lint

feat/617 - ledger update to 0.31.x (#618)
  apps/extension/package.json
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/ledger/ledger.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/utils/index.ts
  apps/namada-interface/src/store/store.ts
  packages/shared/lib/src/sdk/tx.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: add cosmos ecosystem tokens for IBC chains
  packages/types/src/tokens/Cosmos.ts
  packages/types/src/tokens/Namada.ts
  packages/types/src/tokens/types.ts
Due: yarn run lint

feat: add osmosis to our configs, fix IBC page bug
  apps/namada-interface/.env.sample
  apps/namada-interface/scripts/startProxies.js
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/store/mocks.ts
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/osmosis.ts
  packages/chains/src/index.ts
  packages/chains/src/types.ts
  packages/types/src/chain.ts
Due: yarn run lint

fix: begin cleaning up token types
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/types/src/index.ts
  packages/types/src/tokens/Cosmos.ts
  packages/types/src/tokens/Namada.ts
  packages/types/src/tokens/index.ts
  packages/types/src/tokens/types.ts
  packages/types/src/tx/index.ts
  packages/types/src/tx/tokens/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

feat: data versioning
  apps/extension/src/background/keyring/schemas.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/vault-service.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/entities/Account.ts
  apps/extension/src/entities/Entity.ts
  apps/extension/src/entities/index.ts
  package.json
  yarn.lock
Due: yarn run lint

feat: adding more steps to confirm signature
  apps/extension/src/Approvals/ConfirmSignature.tsx
Due: none

chore: update namada to 0.31.6
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

tests: approvals tests (#628)
  apps/extension/package.json
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/messages.test.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  yarn.lock
Due: yarn run lint

test: fix unit tests missing native token
  apps/extension/src/background/approvals/service.test.ts
Due: yarn run lint

test: fix unit tests missing native token (#648)
  apps/extension/src/background/approvals/service.test.ts
Due: yarn run lint

feat: few more ui tweaks on extension
  apps/extension/src/Setup/AccountCreation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/Start.tsx
  packages/components/src/Input.tsx
  packages/components/src/LinkButton.tsx
Due: none

feat: adding cheatsheet to Storybook and Panel component
  packages/components/src/Panel.tsx
  packages/components/src/index.ts
  packages/components/src/theme.js
  storybook/.storybook/preview.tsx
  storybook/.yarn/install-state.gz
  storybook/package-lock.json
  storybook/package.json
  storybook/src/components/Cheatsheet.tsx
  storybook/src/components/Colour.tsx
  storybook/src/components/Section.tsx
  storybook/src/stories/Cheatsheet.stories.tsx
  storybook/tsconfig.json
  storybook/vite.config.ts
  storybook/yarn.lock
Due: yarn run lint

fix: removing package-lock.json
  storybook/package-lock.json
Due: none

feat: ui tweaks on setup Start page
  apps/extension/src/Setup/Common/ContainerHeader.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/Start.tsx
  packages/components/src/Container.tsx
Due: none

feat: improving approve connections ui
  apps/extension/src/Approvals/ApproveConnection.tsx
Due: none

feat: few components ui review
  apps/extension/src/App/Accounts/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/RenameAccount.tsx
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/App/Accounts/ViewMnemonic.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeader.tsx
  apps/extension/src/App/Common/PageHeader.tsx
  apps/extension/src/App/Login.tsx
  apps/extension/src/App/Settings/ChangePassword.tsx
  apps/extension/src/App/Settings/Network.tsx
  packages/components/src/Checkbox.tsx
  packages/components/src/Container.tsx
  packages/components/src/ContentMasker.tsx
  packages/components/src/DropdownMenu.tsx
  packages/components/src/KeyListItem.tsx
  packages/components/src/SeedPhraseInstructions.tsx
  packages/components/src/ViewKeys.tsx
Due: none

feat: opening setup tab if no password is defined
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/utils/index.ts
Due: yarn run lint

feat: fixing ledger forms alignment
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
Due: none

feat: refactoring the copyTextTo property to make it more generic
  apps/extension/src/App/Accounts/DeleteAccount.tsx
  packages/components/src/Input.tsx
  packages/components/src/ViewKeys.tsx
Due: none

feat: better alignment on signature popups
  apps/extension/src/Approvals/ApproveSignature.tsx
  apps/extension/src/Approvals/ConfirmSignature.tsx
Due: none

feat: fixing ledger import
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/Setup/Setup.tsx
Due: none

feat: renaming colour to color
  storybook/src/components/Cheatsheet.tsx
  storybook/src/components/Color.tsx
Due: none

feat: rolling back bip39 password input
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/routes.ts
Due: yarn run lint

feat: completing account creation flow review
  apps/extension/src/Setup/AccountCreation/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/Common/AccountAlias.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Common/ContainerHeader.tsx
  apps/extension/src/Setup/Common/CreateKeyForm.tsx
  apps/extension/src/Setup/Common/LedgerStep.tsx
  apps/extension/src/Setup/ImportAccount/ImportPassphrase.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/routes.ts
  packages/components/src/Input.tsx
Due: yarn run lint

feat: reviewing warning panel and start page
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Common/SeedPhraseListItem.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseSetup.tsx
  apps/extension/src/Setup/Setup.tsx
  packages/components/src/RadioGroup.tsx
Due: none

feat: adding div props to alert component
  apps/extension/src/Setup/AccountCreation/SeedPhraseWarning.tsx
  apps/extension/src/Setup/Common/ContainerHeader.tsx
  apps/extension/src/Setup/Common/WalletIcon.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/Start.tsx
  packages/components/src/ActionButton.tsx
  packages/components/src/Alert.tsx
  packages/components/src/Container.tsx
  packages/components/src/LinkButton.tsx
  packages/components/src/ProgressIndicator.tsx
  packages/components/src/SeedPhraseInstructions.tsx
  packages/components/src/theme.js
  storybook/src/stories/Container.stories.tsx
Due: yarn run lint

feat: truncating addresses on confirmation
  packages/components/src/Input.tsx
  packages/components/src/ViewKeys.tsx
Due: none

feat: improving connected sites ui
  apps/extension/src/App/Settings/ConnectedSites.tsx
Due: none

feat: finalizing seed creation review
  apps/extension/src/Setup/AccountCreation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/Start.tsx
  packages/components/src/FeedbackButton.tsx
  packages/components/src/Input.tsx
Due: none

feat: creating badge and feedback button components
  apps/extension/src/Setup/AccountCreation/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/SeedPhraseWarning.tsx
  apps/extension/src/Setup/Setup.tsx
  packages/components/src/Badge.tsx
  packages/components/src/Container.tsx
  packages/components/src/FeedbackButton.tsx
  packages/components/src/index.ts
  packages/components/src/theme.js
Due: yarn run lint

feat: tweaking button sizes and spacements
  packages/components/src/ActionButton.tsx
Due: none

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
