Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: cleanup token selector
  apps/namadillo/src/App/Transfer/SelectToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: add selector for all networks and keep it highlighted
  apps/namadillo/src/App/Transfer/SelectToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: linting
  apps/namadillo/src/App/Transfer/ShieldedTransferCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: increase session time from 5 to 30 minutes
  apps/extension/src/background/vault/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: Keychain - Increase session timeout from 5 to 30 minutes (#2122)
  apps/extension/src/background/vault/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bump that manifest version too
  .release-please-manifest.json
Due: prettier --write

fix: extend tables on Manage Tab (#2121)
  apps/namadillo/src/App/Layout/AppLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: filtering
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove log
  apps/namadillo/src/atoms/integrations/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup and use gas tokens
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/utils/assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: console
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove console
  apps/namadillo/src/utils/assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup filtering
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup log
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update notes
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add space between trace
  apps/namadillo/src/App/AccountOverview/EstimateShieldingRewardsCard.tsx
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update withdraw addy
  apps/namadillo/src/App/Common/WalletAddress.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update source to masp
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: restore mateusz old pr
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Common/WalletAddress.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/common.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove note
  apps/namadillo/src/App/Transfer/common.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update tooltip
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/common.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix super long tooltip (#2078)
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove z-index war
  apps/namadillo/src/App/AccountOverview/AssetsOverviewPanel.tsx
  apps/namadillo/src/App/AccountOverview/EstimateShieldingRewardsCard.tsx
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetsOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: filtering out non-native assets for auto-select on Transfer (#2125)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bump styled-components so faucet will build
  apps/faucet/package.json
  yarn.lock
Due: prettier --write

feat: this is just a test! DO NOT MERGE!
  apps/namadillo/package.json
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/utils/sdk.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  apps/namadillo/tsconfig.json
  packages/hooks/src/useSanitizedLocation.ts
  packages/hooks/src/useSanitizedParams.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bump styled-components so faucet app will build (#2127)
  apps/faucet/package.json
  yarn.lock
Due: prettier --write

fix: update txn amounts for shielding/unshielding transfers
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix amounts for staking and transfers
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add MASP calculator popup component on Claims card (#2072)
  apps/namadillo/src/App/AccountOverview/AssetsOverviewPanel.tsx
  apps/namadillo/src/App/AccountOverview/EstimateShieldingRewardsCard.tsx
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetsOverview.tsx
  apps/namadillo/src/App/Common/InactiveChannelWarning.tsx
  apps/namadillo/src/App/Common/ModalContainer.tsx
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectAssetModal.test.tsx
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/hooks/useIsChannelInactive.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove sidebar shield sync indicator (#2116)
  apps/namadillo/src/App/Layout/Sidebar.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update ternary
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update txn amounts for shielding/unshielding transfers (#2137)
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: wrapper hashes in the history and missing unbond txs
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: claim and stake notifications for ledger device
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update namadillo in release please manifest
  .release-please-manifest.json
Due: prettier --write

feat: add unstake to filter dropdown
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: use tx wrapper hashes in history and notification toasts for ledger (#2129)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update namadillo in release please manifest (#2138)
  .release-please-manifest.json
Due: prettier --write
