Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

fix: fix up IBC amount input (#1281)
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing amount conversion and timeline stage (#1292)
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransferTopHeader.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: conditionally highlight each phase on the roadmap (#1290)
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/App/Sidebars/RoadmapPhase.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: Withdraw Tweaks (#1287)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix token price
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: support other tokens
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve nam check
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix token price (#1300)
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix the import for proxy env
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add commit hash, link to revision
  apps/namadillo/package.json
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: handle nam as denominated amount
  apps/namadillo/jest.config.ts
  apps/namadillo/package.json
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  apps/namadillo/src/registry/namada-local.ts
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/utils/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: toml file instead of env
  apps/namadillo/.gitignore
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Setup/ChainLoader.tsx
  apps/namadillo/src/App/Transfer/AssetImage.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/registry/namada-local.ts
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update namada asset
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/AssetImage.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/registry/assets/namada-shielded.svg
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fix test
  apps/namadillo/src/App/Transfer/__tests__/AssetImage.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update gov ui
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/UpcomingProposals.tsx
  packages/components/src/Panel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fix vote highlight
  apps/namadillo/src/App/Governance/ProposalStatusSummary.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bump to namada v0.46.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix

feat: clean up, add to extension
  apps/extension/package.json
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/webpack.config.js
  apps/namadillo/package.json
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update active account
  apps/namadillo/src/App/Layout/ActiveAccount.tsx
  apps/namadillo/src/App/Layout/DisconnectAccountIcon.tsx
  apps/namadillo/src/App/Layout/SwitchAccountIcon.tsx
  apps/namadillo/src/App/Layout/assets/namada-wallet-icon.svg
  packages/components/src/CopyToClipboardControl.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update shield all buttons
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: hide nft overview
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedNFTTable.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update shield button
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add function do load from 032
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding memo to transactions
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: properly handling transfer events
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/hooks/useTransactionActions.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: unit tests
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/setupTests.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding events to shielded sync
  apps/namadillo/src/App/App.tsx
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.ts
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/events.rs
  packages/shared/lib/src/sdk/masp/sync.rs
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: poc display shieled sync progress
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/events.rs
  packages/shared/lib/src/sdk/masp/sync.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: use better typings
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/sdk/src/sdk.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/events.rs
  packages/shared/lib/src/sdk/masp/sync.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/events.rs
  packages/shared/lib/src/sdk/masp/sync.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: proper enum type
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/shared/lib/src/sdk/events.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: set batch size to 1 for masp ledger client
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix

feat/1304 - Namadillo: Add commit hash to Settings, link to revision (#1305)
  apps/extension/package.json
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/webpack.config.js
  apps/namadillo/package.json
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bump to namada v0.46.0 (#1309)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix

feat: visual tweaks (#1312)
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/ProposalStatusSummary.tsx
  apps/namadillo/src/App/Governance/UpcomingProposals.tsx
  apps/namadillo/src/App/Layout/ActiveAccount.tsx
  apps/namadillo/src/App/Layout/DisconnectAccountIcon.tsx
  apps/namadillo/src/App/Layout/SwitchAccountIcon.tsx
  apps/namadillo/src/App/Layout/assets/namada-wallet-icon.svg
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedNFTTable.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  packages/components/src/CopyToClipboardControl.tsx
  packages/components/src/Panel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix the import for proxy env (#1302)
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: code review and refetch shielded sync
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fix asset name
  apps/namadillo/package.json
  apps/namadillo/src/App/Transfer/__tests__/AssetImage.test.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: Transfer review and fixes (#1315)
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionActions.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup jest config
  apps/namadillo/jest.config.ts
  apps/namadillo/package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0
