Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

feat: create emitter singleton
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: build
  packages/shared/lib/Cargo.toml
Due: none

feat: indicate type of Transfer in extension approval
  apps/extension/src/Approvals/Commitment.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: update label, make shielded pool address a bit more flexible, just in case
  apps/extension/src/Approvals/Commitment.tsx
  apps/extension/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add semver
  apps/namadillo/package.json
  apps/namadillo/src/atoms/balance/atoms.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: more robust way of determining shielded target
  apps/extension/src/Approvals/Commitment.tsx
  apps/extension/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Extension: feat/1317 - Indicate type of Transfer in Tx approval (#1318)
  apps/extension/src/Approvals/Commitment.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: support viewing key for extension 0.3.2 (#1319)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/balance/atoms.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: rename isNamadaAsset
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): filtering zero values in order to avoid errors
  apps/namadillo/src/App/Staking/Unstake.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding events to shielded sync
  apps/namadillo/src/App/App.tsx
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.ts
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/events.rs
  packages/shared/lib/src/sdk/masp/sync.rs
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: poc display shieled sync progress
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/events.rs
  packages/shared/lib/src/sdk/masp/sync.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: use better typings
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/sdk/src/sdk.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/events.rs
  packages/shared/lib/src/sdk/masp/sync.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/events.rs
  packages/shared/lib/src/sdk/masp/sync.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: set batch size to 1 for masp ledger client
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix

feat: proper enum type
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/shared/lib/src/sdk/events.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: code review and refetch shielded sync
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/1206 - SDK: Adding events to shielded sync (#1212)
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.ts
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/events.rs
  packages/shared/lib/src/sdk/masp/sync.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: bump namada tx
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

chore: bump namada tx (#1322)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

fix: updating imports for consistency
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix broken governance page
  apps/namadillo/src/atoms/proposals/functions.ts
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use namada asset from chain-registry (#1308)
  apps/namadillo/package.json
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/AssetImage.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/registry/assets/namada-shielded.svg
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/utils/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve shielded sync indicator
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix ViewJson component
  apps/namadillo/src/App/Governance/ViewJson.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/atoms/proposals/functions.ts
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean-up
  apps/namadillo/src/atoms/proposals/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: add git revision var to build:only script
  apps/namadillo/package.json
Due: none

bug: Namadillo - Fix broken governance page (#1326)
  apps/namadillo/src/App/Governance/ViewJson.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/atoms/proposals/functions.ts
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: updating imports for consistency (#1325)
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): filtering zero values in order to avoid errors (#1320)
  apps/namadillo/src/App/Staking/Unstake.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing masp amount after change
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing units on popup and history after transfer
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/functions.ts
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: rolling back changes in units and make more clear which type of amount we're using
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: rolling back changes
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix type and add error to claim rewards toast (#1335)
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing bizarre scroll height
  apps/namadillo/src/App/Staking/StakingOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0
