Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

cleanup
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

get ibc shielding workin
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/utils.ts
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

update side menu
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/types.ts
  apps/namadillo/src/App/Transfer/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

various fixes
  apps/namadillo/src/App/Transfer/CurrentStatus.tsx
  apps/namadillo/src/App/Transfer/DestinationAddressModal.tsx
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update release please
  .release-please-manifest.json
  apps/namadillo/package.json
Due: prettier --write

chore: release please update
  .release-please-manifest.json
  apps/namadillo/package.json
Due: prettier --write

fix: revert namadillo version
  apps/namadillo/package.json
Due: prettier --write

Revert "chore: update release please"
  .release-please-manifest.json
  apps/namadillo/package.json
Due: prettier --write

fix: update version
  .release-please-manifest.json
Due: prettier --write

fix: update staked balance dollar amount
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update proper staked balaance
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update proper staked balance (#2252)
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove old ways extra funcs
  apps/namadillo/src/atoms/transactions/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: variables
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: types
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: simplify address dropdown
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: rebase
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

chore: update namada libs to v0.251.0 (#2247)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

fix: address dropdown
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
  apps/namadillo/src/App/Transfer/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: #2256 - fixed supported assets typo NYX to NYM
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: changed supported asset from NYX to NYM (#2257)
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: threshold fix
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: next epoch info WIP
  packages/sdk/NEXT_EPOCH_IMPLEMENTATION.md
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/shared/lib/src/query.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: wip 2
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix

fix: only show rewards for items in the rewards struct
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: icon yellow
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: threshold fix (#2258)
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
