Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: load shielded context before generating ibc shielding memo
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

feat: service worker fetch cache (#1644)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/sw.ts
  apps/namadillo/vite.config.mjs
  packages/shared/lib/src/query.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix duplicated notifications
  apps/namadillo/src/atoms/notifications/atoms.ts
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix time remaining fraction digits
  apps/namadillo/src/utils/dates.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: rename balance to value
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix time remaining fraction digits (#1668)
  apps/namadillo/src/utils/dates.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: hide shield nam button until phase 5
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: rename balance to value (#1669)
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: load shielded context before generating ibc shielding memo (#1666)
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

feat: add transaction fee to claiming modal
  apps/namadillo/src/App/Staking/StakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat/746 - Updates for Ledger HW (shielded keys) (#1471)
  apps/extension/package.json
  apps/extension/src/App/Accounts/UpdateRequired.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Common/LedgerApprovalStep.tsx
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/masp/index.ts
  packages/sdk/src/masp/masp.ts
  packages/sdk/src/masp/types.ts
  packages/sdk/src/tests/ledger.test.ts
  packages/shared/lib/src/types/masp.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat/extension-ledger-masp-accounts (#1458)
  packages/sdk/src/ledger.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: support shielded tx with ledger (#1562)
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/utils/index.ts
  apps/extension/webpack.config.js
  apps/namadillo/public/config.toml
  apps/namadillo/src/atoms/transfer/services.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/messages/index.ts
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump namada_sdk to 1.1.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

feat: disable submit button for masp tx when using disconnected ledger device (#1572)
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/ledger/atoms.ts
  apps/namadillo/src/atoms/ledger/index.ts
  apps/namadillo/src/types.ts
  packages/sdk/src/index.ts
  packages/sdk/src/ledger.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat/746 - Updates for Ledger HW (shielded keys) (#1471)
  apps/extension/package.json
  apps/extension/src/App/Accounts/UpdateRequired.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Common/LedgerApprovalStep.tsx
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/masp/index.ts
  packages/sdk/src/masp/masp.ts
  packages/sdk/src/masp/types.ts
  packages/sdk/src/tests/ledger.test.ts
  packages/shared/lib/src/types/masp.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat/extension-ledger-masp-accounts (#1458)
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  packages/sdk/src/ledger.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bump keychain compatibility
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: verifying of keychain version running in loop
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: Bump keychain compatibility for Namadillo (#1676)
  apps/namadillo/src/compatibility.json
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: hide shield nam button until phase 5 (#1671)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: fix docker image
  .github/workflows/docker.yml
Due: none

feat: blocking masp usage if extension is not compatible with modified-zip32
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/hooks/useKeychainVersion.tsx
  apps/namadillo/src/utils/compatibility.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: blocking masp usage if extension is not compatible with modified-zip32 (#1679)
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/hooks/useKeychainVersion.tsx
  apps/namadillo/src/utils/compatibility.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: revert keychain compatibility to 0.3.x
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: revert keychain compatibility to 0.3.x (#1680)
  apps/namadillo/src/compatibility.json
Due: prettier --write

chore: bumping indexer compatibility
  apps/namadillo/src/compatibility.json
Due: prettier --write

chore: bumping indexer compatibility (#1681)
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: bumping indexer version to 2.0.0
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: bumping indexer version to 2.0.0 (#1682)
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: remove trailing period on urls
  apps/namadillo/src/App/Governance/ProposalDescription.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add namadillo version
  apps/namadillo/src/App/Layout/Navigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
