Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: update gas claiming estimate (#2001)
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update Rust toolchain in Dockerfiles (#2002)
  docker/extension/Dockerfile
  docker/namadillo/Dockerfile
Due: none

fix: bump indexer to 2.5.4
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

fix: bump indexer to 3.0.1
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

fix: bump SDK docks, trigger release
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Keys.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/PhraseSize.md
  packages/sdk/docs/modules.md
Due: none

fix: yarn lock update
  yarn.lock
Due: none

fix: Bump indexer to 3.0.1 (#2007)
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

fix: update maintenance branch indexer (#2004)
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

fix: bump SDK docks, trigger release (#2008)
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Keys.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/PhraseSize.md
  packages/sdk/docs/modules.md
Due: none

fix: append changelog
  packages/sdk/CHANGELOG.md
Due: none

fix: fix changelogs
  apps/namadillo/CHANGELOG.md
Due: none

fix: prepare build action should have correct rust toolchain
  .github/actions/prepare-build/action.yml
Due: none

feat: update ibc chains and assets
  apps/namadillo/package.json
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/utils/assets.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix types
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add await back in broadcast and update namada indexer-client
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: Add await back to gas claiming and update indexer client (#2003)
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: Prepare build action should have correct rust toolchain (#2011)
  .github/actions/prepare-build/action.yml
Due: none

feat: update chain registry version
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

feat: update comment
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix new ibc tokens not showing (#2012)
  apps/namadillo/package.json
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/utils/assets.ts
  apps/namadillo/src/utils/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: starting point for historical txns
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransactionHistoryList.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update history fetching, list and cards
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update received type
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: types
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistoryList.tsx
  apps/namadillo/src/atoms/transactions/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove clickability of card
  apps/namadillo/src/App/Transactions/PendingTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/hooks/useTransactionActions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update types
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Transactions/TransactionDetails.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: test txn
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Transactions/TransactionDetails.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update to new design views
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionDetails.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransactionNotFoundPanel.tsx
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup pending txns
  apps/namadillo/src/App/Transactions/PendingTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: make it work as screen shrinks
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup[
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup pending txns
  apps/namadillo/src/hooks/useTransactionActions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update boldness of font
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: fix namadillo docker triggers (#1995)
  .github/workflows/docker.yml
Due: none

fix: title
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update Historical Transactions view (#1967)
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Transactions/PendingTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionDetails.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransactionHistoryList.tsx
  apps/namadillo/src/App/Transactions/TransactionNotFoundPanel.tsx
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/services.ts
  apps/namadillo/src/hooks/useTransactionActions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add lib for building file on Laconic
  build-webapp.sh
Due: none
