Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: reducing decimal places in a few spots
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/BondingAmountOverview.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: chain service only needs chain ID, don't fail if not in storage!
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/chain/constants.ts
  apps/extension/src/background/chain/handler.ts
  apps/extension/src/background/chain/index.ts
  apps/extension/src/background/chain/init.ts
  apps/extension/src/background/chain/messages.ts
  apps/extension/src/background/chain/service.ts
  apps/extension/src/background/chains/constants.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/test/init.ts
  packages/types/src/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: update legacy integrations
  apps/extension/src/background/approvals/types.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up
  apps/extension/src/background/sdk/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: add git revision var to build:only script (#1331)
  apps/namadillo/package.json
Due: none

bug/1329: Extension - Chain validation sometimes fails (#1336)
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/chain/constants.ts
  apps/extension/src/background/chain/handler.ts
  apps/extension/src/background/chain/index.ts
  apps/extension/src/background/chain/init.ts
  apps/extension/src/background/chain/messages.ts
  apps/extension/src/background/chain/service.ts
  apps/extension/src/background/chains/constants.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/test/init.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
  packages/types/src/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: fixing units on popup and history after transfer (#1323)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/functions.ts
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: Few Staking Tweaks (#1337)
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/BondingAmountOverview.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve shielded sync indicator (#1330)
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update copy
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing various style issues across Chrome && FF
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/index.tsx
  apps/extension/src/global.css
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: move advanced options above step 1 for Ledger Connect
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: better handling for Firefox width issue
  apps/extension/src/App/Accounts/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ViewMnemonic.tsx
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Settings/Warnings.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update copy (#1340)
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/1229: Extension style improvements - v0.3.3 (#1343)
  apps/extension/src/App/Accounts/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ViewMnemonic.tsx
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Settings/Warnings.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/index.tsx
  apps/extension/src/global.css
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: update index of extension Setup for React 18
  apps/extension/src/Setup/index.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: set back to strict mode, still debugging issue
  apps/extension/src/Setup/index.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: additional clean up for Ledger
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: only save accounts when initiated by onConfirm
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bump sdk version, docs
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/ProgressBarNames.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/SdkEvents.md
  packages/sdk/docs/modules.md
  packages/sdk/package.json
Due: none

feat: bump namada v0.46.1
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

BUG: Extension - Update index of Setup to fix errors & warnings (#1296)
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/index.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: Bump SDK version, regenerate docs, bump Namada (#1346)
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/ProgressBarNames.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/SdkEvents.md
  packages/sdk/docs/modules.md
  packages/sdk/package.json
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

feat: remove isShielded, update as needed
  apps/extension/src/utils/index.ts
  apps/faucet/src/App/Faucet.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/SwitchAccount/SwitchAccountPanel.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/integrations/NamadaKeychain.ts
  apps/namadillo/src/integrations/types.ts
  packages/types/src/account.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: begin porting Namada Keychain integration
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/integrations/NamadaKeychain.ts
  apps/namadillo/src/integrations/types.ts
  packages/integrations/src/Namada.ts
  packages/types/src/account.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: remove dependency on integrations package
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/App/Setup/ExtensionLoader.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/arbitraryMessages.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/hooks/useNamadaKeychain.ts
  apps/namadillo/src/lib/query.ts
  packages/types/src/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix tests
  apps/extension/src/background/approvals/service.test.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: tests and begin hooking up chainId
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: make specific hook for namada keychain
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useExtensionConnect.ts
  apps/namadillo/src/hooks/useNamadaKeychain.ts
  apps/namadillo/src/integrations/NamadaKeychain.ts
  apps/namadillo/src/integrations/types.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: hooking up new hook for namada keychain
  apps/extension/src/background/approvals/service.ts
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useExtensionConnect.ts
  apps/namadillo/src/hooks/useExtensionEvents.tsx
  apps/namadillo/src/hooks/useNamadaKeychain.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/integrations/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: provide chainId, allow approval to enable signing on chainId
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/namadillo/src/App/Setup/ExtensionLoader.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean-up
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/background/approvals/service.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/1295 - Update Namada Keychain integration (#1298)
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/utils/index.ts
  apps/faucet/src/App/Faucet.tsx
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Setup/ExtensionLoader.tsx
  apps/namadillo/src/App/SwitchAccount/SwitchAccountPanel.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/arbitraryMessages.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/hooks/useExtensionEvents.tsx
  apps/namadillo/src/hooks/useNamadaKeychain.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/integrations/types.ts
  apps/namadillo/src/lib/query.ts
  packages/integrations/src/Namada.ts
  packages/types/src/account.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove unneeded Firefox instruction
  apps/extension/FIREFOX_README.md
Due: none

fix(namadillo): displaying all validators
  apps/namadillo/src/atoms/validators/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): displaying all validators (#1348)
  apps/namadillo/src/atoms/validators/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding epoch information and making some tweaks
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: refactoring chain status and adding epoch information to the sidebar
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Sidebars/EpochInformation.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useChainStatus.tsx
  apps/namadillo/src/hooks/useServerSideEvents.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: handling errors in a better way
  apps/namadillo/src/App/Common/InlineError.tsx
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: displaying epoch on multiple places (#1353)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Sidebars/EpochInformation.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useChainStatus.tsx
  apps/namadillo/src/hooks/useServerSideEvents.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
