Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

Update to latest testnet
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

Update to latest testnet (#159)
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

feat: update namada to 0.11.0 (#158)
  apps/namada-interface/public/wasm/tx_ibc.13b28479e6dd07f91749fb782752c2c59e9a4e6720e22f5e77417f8e92152819.wasm
  apps/namada-interface/public/wasm/tx_ibc.24138bc1574c483e3472fe78b2da2fcce05310904d2cecd84f5156171dc96fbd.wasm
  apps/namada-interface/public/wasm/tx_init_account.471ba8fa277ba422bbfdddb513e7c7b97dcb3d278e31a2abb5ce4795bc7a869a.wasm
  apps/namada-interface/public/wasm/tx_init_account.e0a3d18ec8b373366a6c19bfd91784d011a076ba5acb13063c7644ae3881c1c4.wasm
  apps/namada-interface/public/wasm/tx_transfer.410f2e3d5d98815ce4d30e4895a8d2902087f370f9c24b20c575f4fcb4b6bbd0.wasm
  apps/namada-interface/public/wasm/tx_transfer.6abb9fa97316134671477fd980f109a1751a9cae4eaa245fdd9775d400943523.wasm
  apps/namada-interface/public/wasm/vp_masp.1a8cfe1811fd2842f374913611eadc6f0ba9c890ccdaabf0e7c2861e6db2ad7f.wasm
  apps/namada-interface/public/wasm/vp_masp.4e83d20336fb56650d7b7a6669b368864f1a0a70498ff4e1767edccf49a97392.wasm
  apps/namada-interface/public/wasm/vp_token.8f0ae2a307a883c25e73c77a0aac99b8a927d03682b9e88b75be3036eb7468de.wasm
  apps/namada-interface/public/wasm/vp_token.b8ab23243f793722bad4a627415e30a1ffeb5acdee6f8838b132af3bb09e1b59.wasm
  apps/namada-interface/public/wasm/vp_user.3e1a72d8c71c7befb2dadaa4215560e711b3e3f1ec612c3e10ae56658dc29f14.wasm
  apps/namada-interface/public/wasm/vp_user.eb918add9dd36797e6420affda3b1e768b6bc7f3f8a2610591213d5fc7154090.wasm
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/ibc_transfer.rs
  packages/shared/lib/src/transfer.rs
  packages/shared/lib/src/utils.rs
  packages/types/src/tx/wasm/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Hook namada-interface up to new chains config and type
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Settings/SettingsWalletSettings/SettingsWalletSettings.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/slices/settings.ts
  packages/chains/src/index.ts
Due: yarn run lint

Update integrations to incorporate new chain config
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Settings/SettingsWalletSettings/SettingsWalletSettings.tsx
  apps/namada-interface/src/slices/transfers.ts
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/types/index.ts
  packages/types/src/chain.ts
Due: yarn run lint

Update extension to utlize shared config properly
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/config/chains.ts
  apps/extension/src/config/index.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/test/init.ts
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/chains/osmosis.ts
  packages/types/src/chain.ts
Due: yarn run lint

Fix initialization of Anoma extension in context
  packages/integrations/src/Anoma.ts
Due: yarn run lint

Continue refactoring for new configs, removing old config
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenDetails.tsx
  apps/namada-interface/src/App/Token/TokenReceive/TokenReceive.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/Transfers/TransferDetails.tsx
  apps/namada-interface/src/config/chain.ts
  apps/namada-interface/src/config/index.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/balances.ts
  apps/namada-interface/src/slices/shieldedTransfer/utils.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/rpc/src/RpcClient.ts
  packages/rpc/src/RpcClientBase.ts
  packages/rpc/src/SocketClient.ts
  packages/rpc/src/types/index.ts
Due: yarn run lint

Provide .env variables to extension to override defaults
  apps/extension/package.json
  apps/extension/webpack.config.js
  yarn.lock
Due: yarn run lint

clean up, remove old IBC config, correctly pull chain config
  apps/namada-interface/src/config/ibc.ts
  apps/namada-interface/src/config/index.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/balances.ts
  apps/namada-interface/src/slices/shieldedTransfer/utils.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/rpc/src/config/index.ts
  packages/rpc/src/index.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint

Add common interface for integrations
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/index.ts
  packages/integrations/src/types/Integration.ts
Due: yarn run lint

Adding chain config types, and several default chain configs
  apps/extension/src/config/chains.ts
  apps/extension/src/provider/data.mock.ts
  packages/chains/package.json
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/chains/osmosis.ts
  packages/chains/src/index.ts
  packages/types/src/chain.ts
  yarn.lock
Due: yarn run lint

Finish extension config, continue integration with namada-interface
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/slices/transfers.ts
  packages/integrations/src/index.ts
  packages/integrations/src/types/index.ts
  packages/types/src/chain.ts
Due: yarn run lint

Minor adjustments to config
  apps/extension/package.json
  apps/extension/src/config/chains.ts
  apps/extension/src/provider/data.mock.ts
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/chains/osmosis.ts
  packages/types/src/chain.ts
Due: yarn run lint

Minor clean-up
  packages/chains/src/chains/cosmos.ts
  packages/integrations/src/Keplr.ts
Due: yarn run lint

Just adding some comments to webpack config
  apps/extension/webpack.config.js
Due: yarn run lint

Update defaults to real URLs in chain configs, comments
  apps/namada-interface/src/slices/balances.ts
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/chains/osmosis.ts
Due: yarn run lint

Add ability to override chain configs via .env
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
  apps/namada-interface/.env.sample
  apps/namada-interface/src/slices/transfers.ts
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/chains/osmosis.ts
  packages/integrations/src/Keplr.ts
Due: yarn run lint

Map Keplr accounts to our Account type to support state
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  packages/integrations/src/Keplr.ts
Due: yarn run lint

Updated webpack to fix issue with missing quotes in build
  apps/extension/webpack.config.js
Due: yarn run lint

Very minor fix
  apps/extension/webpack.config.js
Due: yarn run lint

feat: sign_inner flag added to the signer
  apps/namada-interface/src/slices/transfers.ts
  packages/shared/lib/src/types/transaction.rs
  packages/types/src/signer.ts
  packages/types/src/tx/schema/transaction.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

refactor: cleanup
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Anoma.test.ts
  packages/shared/lib/src/reveal_pk.rs
  packages/shared/lib/src/types/transaction.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: add reveal_pk message
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/reveal_pk.rs
  packages/types/src/anoma.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: reveal_pk before transfer
  apps/extension/src/background/keyring/init.ts
  apps/namada-interface/public/wasm/tx_reveal_pk.52b04ebea170a7f54d4521fc25ed67b780f3936024132cbe2a1c1b22470beb7e.wasm
  apps/namada-interface/src/slices/transfers.ts
  packages/rpc/src/RpcClient.ts
  packages/types/src/tx/wasm/index.ts
Due: yarn run lint

feat: add broadcast_tx_sync to the rpc client
  packages/rpc/src/RpcClient.ts
Due: yarn run lint

fix: make it work with multi chain support
  apps/extension/src/background/keyring/keyring.ts
  apps/namada-interface/src/slices/transfers.ts
Due: yarn run lint

refactor: change function name from snake case to camel case
  apps/namada-interface/src/slices/transfers.ts
  packages/rpc/src/RpcClient.ts
Due: yarn run lint

feat(138): reveal pk (#162)
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/public/wasm/tx_reveal_pk.52b04ebea170a7f54d4521fc25ed67b780f3936024132cbe2a1c1b22470beb7e.wasm
  apps/namada-interface/src/slices/transfers.ts
  packages/rpc/src/RpcClient.ts
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/reveal_pk.rs
  packages/shared/lib/src/types/transaction.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/transaction.ts
  packages/types/src/tx/types.ts
  packages/types/src/tx/wasm/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

* changed the call to validate that a Tx is applied to use the RPC client * increased the timeout for polling the response for checking for Tx getting applied
  apps/namada-interface/src/slices/transfers.ts
  packages/rpc/src/RpcClient.ts
Due: yarn run lint

feat: move integrations to the integrations service
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/services/index.ts
  apps/namada-interface/src/services/integrations.tsx
  apps/namada-interface/src/slices/transfers.ts
Due: yarn run lint

feat: add useWithIntegration
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/services/integrations.tsx
Due: none

feat: move integrations to the integrations service (#169)
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/services/index.ts
  apps/namada-interface/src/services/integrations.tsx
  apps/namada-interface/src/slices/transfers.ts
Due: yarn run lint

feat: bond and unbond tx
  apps/namada-interface/public/wasm/tx_bond.02c5b9fc07a44feb48c063f30a1e4e48d22a69693abe290c3c53783f22b9ce05.wasm
  apps/namada-interface/public/wasm/tx_bond.2b0966f01e4457893b9ca8129112fbbcf9cb6ed9e00d79d83bd44a33cf5fcf25.wasm
  apps/namada-interface/public/wasm/tx_unbond.1f9b180a62f0df9a85fe43e23288ca765ee3fb7e6bad7cbcc4a351e86948042b.wasm
  apps/namada-interface/public/wasm/tx_unbond.64171ad2a96324621aad11d936bd647747ddb6039d4784650c23d8a17e1be253.wasm
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/rpc/src/SocketClient.ts
  packages/types/src/tx/wasm/index.ts
Due: yarn run lint

feat: stake with specific account
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.components.ts
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/components/Select/Select.tsx
  apps/namada-interface/src/components/Table/Table.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
Due: yarn run lint

tests: rust bond and address tx
  packages/shared/lib/src/bond.rs
Due: cargo fmt --all -- --fix

style: prettier
  apps/extension/src/provider/Signer.ts
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/setupTests.ts
  apps/namada-interface/src/slices/notifications/reducers.ts
  apps/namada-interface/src/slices/notifications/slice.ts
Due: yarn run lint

style: cleanup
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  packages/shared/lib/src/rpc_client.rs
Due: cargo fmt --all -- --fix

feat: add NAM prefixes to the staked values
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
Due: none
