Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(components): adding props to content container
  packages/components/src/PieChart.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): refactoring and simplifying Modal component
  packages/components/src/Modal.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): removing legacy Toggle component
  packages/components/src/Toggle/index.ts
  packages/components/src/Toggle/toggle.components.ts
  packages/components/src/Toggle/toggle.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(utils): adding currencies object to @namada/utils
  packages/components/src/Currency.tsx
  packages/utils/src/currencies.ts
  packages/utils/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(components): adding the possibility to cast panel into tags different than divs
  packages/components/src/Panel.tsx
Due: prettier --write, eslint --fix --max-warnings=0

refactor(interface): removing test data
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
Due: prettier --write

feat(interface): implementing my validators table
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(interface): wip - implementing Staking UI and migrating state to jotai
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/currencies/index.ts
  apps/namada-interface/src/hooks/useExtensionConnect.ts
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: yarn run lint, prettier --write

feat(interface): wip - creating bonding page and modal utils
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/routes.ts
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/PieChart.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(components): marking events as optional props
  packages/components/src/PieChart.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): fixing line-height on xs ActionButton
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): removing black background from AmountSummaryCard
  packages/components/src/AmountSummaryCard.tsx
  storybook/src/stories/AmountSummaryCard.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): tweaking currency sign position
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
Due: prettier --write

feat(components): adding possibility of passing th props to StyledTable
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/index.tsx
  packages/components/src/StyledTable.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): making some progress on staking section: adding stake and unstake modules
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/routes.ts
  apps/namada-interface/src/hooks/useStakeModule.ts
  apps/namada-interface/src/slices/validators.ts
  packages/components/src/ActionButton.tsx
  packages/components/src/Alert.tsx
  packages/components/src/AmountInput.tsx
  packages/components/src/Input.tsx
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): implementing loaders and helper components
  apps/namada-interface/src/App/Common/TableRowLoading.tsx
  apps/namada-interface/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/slices/staking.ts
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/SkeletonLoading.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): handling amounts to stake
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/routes.ts
Due: yarn run lint, prettier --write

feat(interface): adding jotai-react-query and migrating atoms to new structure
  apps/namada-interface/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/hooks/useStakeModule.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/slices/validators.ts
  package.json
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: make react 18 peer dependency in packages
  packages/components/package.json
  packages/hooks/package.json
  yarn.lock
Due: prettier --write

feat: wire atoms into governance UI (WIP)
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/routes.ts
  apps/namada-interface/src/App/Governance/types.ts
  apps/namada-interface/src/slices/proposals.ts
Due: yarn run lint, prettier --write

feat: fixing merge and adding back decimalPlaces to formatPercentages
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write

feat: proposal and vote page (WIP)
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write

feat(interface): refactoring Bonding and reviewing functionality
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorAmountControl.tsx
  packages/components/src/AmountInput.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: proposals atoms reworked + query utils (WIP)
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/proposals/index.ts
  apps/namada-interface/src/slices/proposals/simplifiedQueryResult.ts
  apps/namada-interface/src/slices/proposals/types.ts
Due: yarn run lint, prettier --write

feat(shared): fixing merge and adding back tsc build
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/package.json
Due: cargo fmt --all -- --fix, prettier --write

fix: fix imports and table cell bug
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/StyledTableRow.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): tweaking table colors
  packages/components/src/StyledTableRow.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): keeping overview page under modals
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/routes.ts
Due: yarn run lint, prettier --write

feat(components): adding checkedClassName prop to override checked styles
  packages/components/src/Checkbox.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): fixing increment amount
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
Due: prettier --write

feat(components): moving things to their correct places
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/hooks/useStakeModule.ts
  packages/components/src/Modal.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): closing modals after pressing esc
  apps/namada-interface/src/App/Common/ModalContainer.tsx
Due: prettier --write

chore: readd webpack-dev-server alongside vite
  apps/namada-interface/package.json
Due: prettier --write

feat(interface): temp - not loading all validators twice, need a better / generic solution
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(interface): reusing ValidatorSearch component and tweaking its styles
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch.tsx
Due: prettier --write

fix: fix compilation errors
  apps/namada-interface/src/App/PublicGoodsFunding/PublicGoodsFunding.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/StakingAndGovernance/MainContainerNavigation/MainContainerNavigation.components.ts
  apps/namada-interface/src/App/StakingAndGovernance/MainContainerNavigation/MainContainerNavigation.tsx
  apps/namada-interface/src/App/StakingAndGovernance/MainContainerNavigation/index.ts
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/StakingAndGovernance/index.ts
  apps/namada-interface/src/App/TopNavigation/index.ts
  apps/namada-interface/src/App/TopNavigation/topNavigation.components.ts
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigationLoggedIn.components.ts
  apps/namada-interface/src/App/TopNavigation/topNavigationLoggedIn.tsx
  packages/components/src/PieChart.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): adding validations
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat(interface): applying orange color to decreased amounts
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): incrementing staking view panel
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorAmountControl.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(components): refactoring and improving StyledTable performance
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  packages/components/src/StyledTable.tsx
  packages/components/src/StyledTableHead.tsx
  packages/components/src/StyledTableRow.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  eslint --fix --max-warnings=0: (((any of: ./apps/**/src/*.{js,jsx,ts,tsx}) or (any of: ./packages/**/src/*.{js,jsx,ts,tsx})) or (any of: ./storybook/src/*.{js,jsx,ts,tsx})) or (any of: ./e2e/src/*.{js,jsx,ts,tsx})
