Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: remove shielding option on shielding txn
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: design overhaul
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: transfer resolver
  apps/namadillo/src/hooks/useTransferResolver.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: clean
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedWallet.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
  apps/namadillo/src/App/Transfer/types.ts
  apps/namadillo/src/App/Transfer/utils.ts
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: back to equilibrium
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/hooks/useTransferResolver.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: reveal pk for ibc withdraw
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: its a miracle
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/types.ts
  apps/namadillo/src/App/Transfer/utils.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/utils/etc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/SelectToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: handle notifications when reveal pk is a first inner tx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: history falsly filtering duplicates
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: ci not updating package list
  .github/actions/prepare-build/action.yml
  .github/workflows/verify-pull-request.yml
Due: none

fix: reveal pk for ibc withdraw (#2224)
  .github/actions/prepare-build/action.yml
  .github/workflows/verify-pull-request.yml
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add usdc back to select chain modal
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: loosen restrictions
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: use supported assets map
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: do not display refund target error for transparent ibc withdrawals (#2220)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: batch tx to pay fees when unshielding
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/lib/query.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: use supported assets map (#2231)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add usdc back to select chain modal (#2229)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: run txs in sequence
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types/events.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update release please manifest
  .release-please-manifest.json
Due: prettier --write

fix: update indexer
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

fix: do not reveal pk if ibc withdrawing from masp
  apps/namadillo/src/atoms/transfer/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: sign and build ibc unshielding
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: do not reveal pk if ibc withdrawing from masp (#2236)
  apps/namadillo/src/atoms/transfer/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add namada chain to supported chains regsitry find
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: shielded sync retry
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: transaction error when missing cached balances
  apps/namadillo/src/hooks/useOptimisticTransferUpdate.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: shielded sync retry (#2176)
  apps/namadillo/src/hooks/useOptimisticTransferUpdate.tsx
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: error notifications
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: error notifications (#2238)
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: assets in shielded rewards calculator
  apps/namadillo/src/atoms/chain/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: assets in shielded rewards calculator (#2239)
  apps/namadillo/src/atoms/chain/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update getRegistryByChainName
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

evert "fix: update getRegistryByChainName"
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add chain logo back to TransactionReceipt for transparent transfers (#2237)
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update release please manifest (#2234)
  .release-please-manifest.json
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

fix: update registry url to enable shielded rewards
  .release-please-manifest.json
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
