Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

feat: fix test
  apps/namadillo/src/App/Transfer/__tests__/SelectAssetModal.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: new version of claim rewards modal and updates on modals
  apps/namadillo/src/App/Common/BackButton.tsx
  apps/namadillo/src/App/Common/ModalContainer.tsx
  apps/namadillo/src/App/Common/SelectOptionModal.tsx
  apps/namadillo/src/App/Staking/ClaimRewardsPanel.tsx
  apps/namadillo/src/App/Staking/ClaimableStakingRewards.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/assets/claim-and-stake-rewards.svg
  apps/namadillo/src/App/Staking/assets/claim-rewards.svg
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: displaying shielded balances on modal fees for shielded transfers
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update staking chart hover state
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: renaming components
  apps/namadillo/src/App/Staking/ClaimRewardsPanel.tsx
  apps/namadillo/src/App/Staking/ClaimableStakingRewards.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update overview chart
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving loading states for rewards
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  packages/components/src/AmountSummaryCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: temp fix for rewards test
  apps/namadillo/jest.config.ts
  apps/namadillo/src/App/Staking/__tests__/StakingRewardsPanel.test.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: removing outdated tests
  apps/namadillo/src/App/Staking/__tests__/StakingRewards.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing broken tests
  apps/namadillo/src/App/Staking/__tests__/StakingRewardsPanel.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving color contrast
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: displaying shielded balances on modal fees for shielded transfers (#1872)
  apps/namadillo/jest.config.ts
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Staking/__tests__/StakingRewardsPanel.test.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding pro-mode control and hiding advanced panel
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing scroll on validators panel
  apps/namadillo/src/App/Staking/ClaimableStakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding underscore to selected item
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add tooltip
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding missing 'all' to button text
  apps/namadillo/src/App/Staking/ClaimableStakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: setting isSuccess on Amount Summary card
  apps/namadillo/src/App/Staking/StakingSummary.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: rename TokenCard
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TokenCard.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: changing tab and text colors on TabContainer (#1865)
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: creating a new version for Claim Rewards modal (#1874)
  apps/namadillo/src/App/Common/BackButton.tsx
  apps/namadillo/src/App/Common/ModalContainer.tsx
  apps/namadillo/src/App/Common/SelectOptionModal.tsx
  apps/namadillo/src/App/Staking/ClaimRewardsPanel.tsx
  apps/namadillo/src/App/Staking/ClaimableStakingRewards.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Staking/__tests__/StakingRewards.test.tsx
  apps/namadillo/src/App/Staking/__tests__/StakingRewardsPanel.test.tsx
  apps/namadillo/src/App/Staking/assets/claim-and-stake-rewards.svg
  apps/namadillo/src/App/Staking/assets/claim-rewards.svg
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  packages/components/src/AmountSummaryCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: refactoring ClaimRewards file names and fixing button texts
  apps/namadillo/src/App/Staking/ClaimRewardsSubmitModalStage.tsx
  apps/namadillo/src/App/Staking/ClaimableRewardsModalStage.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove framer-motion
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Common/OpacitySlides.tsx
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update overview and staking chart rollover state (#1871)
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Common/OpacitySlides.tsx
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add warning for tokens from inactive channel (#1868)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/InactiveChannelWarning.tsx
  apps/namadillo/src/App/Common/TokenCard.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Transfer/AssetCard.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/__tests__/AssetCard.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectAssetModal.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: renaming masp annual inflation table title
  apps/namadillo/src/App/Sidebars/MaspAssetRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: refactoring ClaimRewards file names and fixing button texts (#1878)
  apps/namadillo/src/App/Staking/ClaimRewardsSubmitModalStage.tsx
  apps/namadillo/src/App/Staking/ClaimableRewardsModalStage.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing tooltip
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: renaming masp annual inflation table title (#1877)
  apps/namadillo/src/App/Sidebars/MaspAssetRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding pro-mode control and hiding advanced settings panel (#1876)
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: set min masp version
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: set min masp version (#1879)
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add z-index to prevent address hiding in IBC transfer
  apps/namadillo/src/App/Layout/NamadaAccount.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: settings
  apps/namadillo/src/atoms/settings/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix(ibc-withdraw): fixing wallet address after selecting a new chain
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: check namadillo version to invalidate shielded context
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useInvalidateShieldedContext.ts
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: removes more warnings
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update masp version
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: making stable branch up to date on every release
  .github/actions/release-project/action.yml
Due: none

feat: use index as key
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
