Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

Updating CI to point to devnet
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

Updating CI to point to devnet (#212)
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

Remove automatic theme switching on Staking
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigationLoggedIn.tsx
Due: none

Remove automatic theme switching on Staking (#217)
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigationLoggedIn.tsx
Due: none

feat: unbound using sdk (#211)
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/shared/lib/src/bond.rs
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bonding.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: send ibc transfer using sdk
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

This fixes the build and dev commands for the extension
  apps/extension/package.json
Due: none

Fix start scripts
  apps/extension/package.json
Due: none

Bug/214 -Fix build command in extension (#215)
  apps/extension/package.json
Due: none

Set up basic types
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/types/Integration.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

Minor style adjustment
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.components.ts
Due: yarn run lint

Adding notes to address in next PR
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.components.ts
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
Due: yarn run lint

Fixed Keplr integration (for cosmos)
  packages/chains/src/chains/osmosis.ts
  packages/integrations/package.json
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
Due: yarn run lint

basic style, fixed key issue
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.components.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
Due: yarn run lint

Fix routes for dev server and Netlify (_redirects)
  apps/namada-interface/webpack.config.js
Due: yarn run lint

Simple accordion functionality to toggle token balance overview
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.components.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
Due: yarn run lint

Fix source-maps, nested-routes (react-router)
  apps/namada-interface/webpack.config.js
Due: yarn run lint

Clean up / begin organizing accounts view for multiple tokens
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.components.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
Due: yarn run lint

Fix cosmos chain ID to match extension, show all accounts & tokens regardless of balance
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  packages/chains/src/chains/cosmos.ts
Due: yarn run lint

Initialize active account to first account
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
Due: none

Fixed Keplr integration to load accounts
  packages/integrations/src/Keplr.ts
Due: yarn run lint

Keplr Integration - Display All Accounts (#209)
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.components.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/webpack.config.js
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/osmosis.ts
  packages/integrations/package.json
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/types/Integration.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

Move lock state to app-level
  apps/extension/src/App/Approvals/ApproveConnection.tsx
  apps/extension/src/App/Approvals/ApproveTx.tsx
Due: none

Setting up basic connection approval feature
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/messages.ts
Due: yarn run lint

Require password only if locked and adding an account
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Login/Login.tsx
Due: none

Clean up for consistency
  apps/extension/src/App/Approvals/ApproveConnection.tsx
  apps/extension/src/App/Approvals/ApproveTx.tsx
Due: none

Login can accept query to set redirect
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Login/Login.tsx
Due: none

Move reusable functions into hooks, add approve tx & conn
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Login/Login.tsx
Due: none

Initial placeholders for Integration functionality
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/types/Integration.ts
Due: yarn run lint

Initial placeholders for balance queries in Integration
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/types/Integration.ts
Due: yarn run lint

feat: balance into accounts slice
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenDetails.tsx
  apps/namada-interface/src/App/Token/TokenReceive/TokenReceive.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/Transfers/Transfers.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/balances.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
Due: yarn run lint

feat: move fetchBalances into accounts slice
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/balances.ts
Due: yarn run lint

feat: initial accounts state with chainIds
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/slices/accounts.ts
Due: yarn run lint

feat: router and autoconnect
  apps/namada-interface/package.json
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.components.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/services/integrations.tsx
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/store/index.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  yarn.lock
Due: yarn run lint

feat: fetch balances on every view
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/services/integrations.tsx
Due: none

feat: send ibc transfer using sdk (#213)
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: Anoma.ts Keplr.ts destructuring
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
Due: yarn run lint

feat: correct token type
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenDetails.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/AccountsNew/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/shieldedTransfer/types.ts
  packages/types/src/chain.ts
  packages/types/src/tx/tokens/index.ts
Due: yarn run lint

feat/move-balance-into-accounts-slice (#221)
  apps/namada-interface/package.json
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/App.components.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenDetails.tsx
  apps/namada-interface/src/App/Token/TokenReceive/TokenReceive.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/Transfers/Transfers.tsx
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/services/integrations.tsx
  apps/namada-interface/src/slices/AccountsNew/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/balances.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/slices/shieldedTransfer/types.ts
  apps/namada-interface/src/store/index.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/types/src/chain.ts
  packages/types/src/tx/tokens/index.ts
  yarn.lock
Due: yarn run lint

refactor: accounts naming
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenDetails.tsx
  apps/namada-interface/src/App/Token/TokenReceive/TokenReceive.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/Transfers/Transfers.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/store/mocks.ts
Due: yarn run lint
