Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

feat: bumping namada-indexer version (#1245)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/fees/services.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add base component
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspTopHeader.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/assets/arrow.svg
  apps/namadillo/src/App/Masp/assets/shielded-account.png
  apps/namadillo/src/App/Masp/assets/token.svg
  apps/namadillo/src/App/Masp/assets/transparent-account.png
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: resolve merge
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update MaspUnshield
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: make blob URLs links to fix WASM button (#1253)
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: enable IBC withdrawals for all tokens (#1243)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/balance/index.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/fees/functions.ts
  apps/namadillo/src/atoms/fees/services.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/types.d.ts
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/types/txKind.ts
  packages/integrations/src/Keplr.ts
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/types/src/tx/schema/ibcTransfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add components to shield and unshield (#1249)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspTopHeader.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/assets/arrow.svg
  apps/namadillo/src/App/Masp/assets/shielded-account.png
  apps/namadillo/src/App/Masp/assets/token.svg
  apps/namadillo/src/App/Masp/assets/transparent-account.png
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update chain lookup, add shielded rewards and failsafe config
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: lint - temporarily disable FeaturesCheckbox
  apps/namadillo/src/App/Settings/FeaturesCheckbox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fetch applications settings from registry
  apps/namadillo/scripts/proxies.json
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Settings/FeaturesCheckbox.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fix tests, revert unneeded changes, add hook
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Settings/FeaturesCheckbox.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/1251: Fetch applications feature flags from registry (#1255)
  apps/namadillo/scripts/proxies.json
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: refactoring TokenCurrency component to receive an asset symbol instead of Asset object
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/TokenCurrency.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/ShieldAllAssetList.tsx
  apps/namadillo/src/App/Ibc/ShieldAllProgress.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransactionTimeline.tsx
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/TransferTransactionFee.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/index.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionActions.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding and fixing types - renaming types.d.ts to types.ts
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransactionTransferTimeline.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/functions.ts
  apps/namadillo/src/hooks/useTransactionActions.ts
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: combine with previous call of useTransactionActions
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: removing unnecessary bignumber
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: improving code readability
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransactionActions.ts
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fixing warning
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: implementing transfer history page
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Common/assets/token.svg
  apps/namadillo/src/App/Ibc/IbcTopHeader.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/ShieldAllProgress.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionDetails.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransactionNotFoundPanel.tsx
  apps/namadillo/src/App/Transactions/TransactionTransferTimeline.tsx
  apps/namadillo/src/App/Transactions/TransferTimelineErrorEntry.tsx
  apps/namadillo/src/App/Transfer/AssetCard.tsx
  apps/namadillo/src/App/Transfer/AssetImage.tsx
  apps/namadillo/src/App/Transfer/common.ts
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/index.ts
  apps/namadillo/src/atoms/transactions/services.ts
  apps/namadillo/src/hooks/useTransactionActions.ts
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: renaming progressStatus to currentStep
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing unit tests
  apps/namadillo/src/App/Transfer/AssetImage.tsx
  apps/namadillo/src/App/Transfer/__tests__/AssetCard.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/AssetImage.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: improving readability
  apps/namadillo/src/hooks/useTransactionActions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: reusing findByHash
  apps/namadillo/src/App/Transactions/TransactionDetails.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing display amount
  apps/namadillo/src/App/Ibc/ShieldAllAssetList.tsx
  apps/namadillo/src/App/Transfer/TransferTransactionFee.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: upgrading code after rebase
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/ShieldAllAssetList.tsx
  apps/namadillo/src/App/Transfer/TransferTransactionFee.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: keeping code convention
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improving success screen
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionDetails.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransferTimelineErrorEntry.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/hooks/useTransactionActions.ts
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing staking types after renaming types.d.ts to types.ts
  apps/namadillo/src/atoms/validators/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: upgrading usage of TokenCurrency
  apps/namadillo/src/App/Transfer/TransferTransactionFee.tsx
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: improving types
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing merge conflicts
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: storing asset and using display amount everywhere
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: including idle state to filter
  apps/namadillo/src/hooks/useTransactionActions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: removing unused types
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: fixing merging conflicts
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding clear all button to transaction list
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransactionHistoryList.tsx
  apps/namadillo/src/hooks/useTransactionActions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: replacing theta network by provider
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useWalletManager.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0
