Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

Updated tokens to remove ERC20 for now, updated slip44 lib to get NAM
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  packages/integrations/src/Metamask.ts
  packages/types/package.json
  packages/types/src/tx/tokens/types/index.ts
  yarn.lock
Due: yarn run lint

Update to v0.26.0
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/types/src/tx/schema/tx.ts
Due: yarn run lint, cargo fmt --all -- --fix

Remove Address->secret, add Address->hash
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/types/address.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Updated shared to use new addresses, fix shared tests
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/types.ts
  apps/namada-interface/src/store/mocks.ts
  packages/chains/src/chains/namada.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Remove atest address from balance query - these are invalid
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix

Updating for Ledger app
  apps/extension/package.json
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/ledger.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/shared/lib/src/types/address.rs
  packages/utils/src/helpers/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: gitcoin support
  apps/airdrop/src/App/Claim/ClaimConfirmation.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/state.ts
  apps/airdrop/src/App/utils.ts
Due: yarn run lint

feat: conditional auth secret
  apps/airdrop/.env.sample
  apps/airdrop/src/App/Claim/ClaimConfirmation.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/TrustedSetup.tsx
  apps/airdrop/src/App/utils.ts
Due: yarn run lint

Updating for Ledger app (#448)
  apps/extension/package.json
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/ledger.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/shared/lib/src/types/address.rs
  packages/utils/src/helpers/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat/438 - Update to shortened addresses (#439)
  apps/extension/package.json
  apps/extension/src/App/Accounts/AccountListing.tsx
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/ledger.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/types.ts
  apps/namada-interface/src/store/mocks.ts
  packages/chains/src/chains/namada.ts
  packages/integrations/src/Metamask.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/types/package.json
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/utils/src/helpers/index.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat(extension,app): logging user out when all keys are deleted
  apps/extension/src/background/vault/handler.ts
  apps/extension/src/background/vault/init.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/context/VaultContext.tsx
Due: yarn run lint

feat(components): period in seed phrase instructions
  packages/components/src/SeedPhraseInstructions/SeedPhraseInstructions.tsx
Due: none

feat(extension): attempting to fix undefined reference error
  apps/extension/src/background/vault/service.ts
Due: yarn run lint

feat(extension, app): changing number of rows according to mnemonic size
  apps/extension/src/App/Accounts/ViewMnemonic/ViewMnemonic.tsx
Due: none

feat(components): animation on copy input value
  packages/components/src/Input/CopyToClipboardControl/CopyToClipboardControl.tsx
  packages/components/src/Input/input.tsx
Due: none

feat(extension): fixing undefined reference for password error
  packages/storage/src/store/SessionKVStore.ts
Due: yarn run lint

fix(extension,app): storing global password on ledger import
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.tsx
Due: none

fix(extension, app): resetting vault in a proper way
  apps/extension/src/background/vault/service.ts
Due: yarn run lint

feat(extension): adding icons to the extension
  apps/extension/src/manifest/v2/_base.json
  apps/extension/src/manifest/v3/_base.json
  apps/extension/src/public/icons/icon128.png
  apps/extension/src/public/icons/icon16.png
  apps/extension/src/public/icons/icon32.png
  apps/extension/src/public/icons/icon48.png
  apps/extension/webpack.config.js
Due: yarn run lint

feat(extension): use local fonts
  apps/extension/src/public/app.css
  apps/extension/src/public/fonts/SpaceGrotesk-Bold.woff
  apps/extension/src/public/fonts/SpaceGrotesk-Bold.woff2
  apps/extension/src/public/fonts/SpaceGrotesk-Light.woff
  apps/extension/src/public/fonts/SpaceGrotesk-Light.woff2
  apps/extension/src/public/fonts/SpaceGrotesk-Medium.woff
  apps/extension/src/public/fonts/SpaceGrotesk-Medium.woff2
  apps/extension/src/public/fonts/SpaceGrotesk-Regular.woff
  apps/extension/src/public/fonts/SpaceGrotesk-Regular.woff2
  apps/extension/src/public/fonts/SpaceGrotesk-SemiBold.woff
  apps/extension/src/public/fonts/SpaceGrotesk-SemiBold.woff2
  apps/extension/webpack.config.js
Due: yarn run lint

Another set of fixes for Extension (#451)
  apps/extension/src/App/Accounts/ViewMnemonic/ViewMnemonic.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.tsx
  apps/extension/src/background/vault/handler.ts
  apps/extension/src/background/vault/init.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/context/VaultContext.tsx
  apps/extension/src/manifest/v2/_base.json
  apps/extension/src/manifest/v3/_base.json
  apps/extension/src/public/app.css
  apps/extension/src/public/fonts/SpaceGrotesk-Bold.woff
  apps/extension/src/public/fonts/SpaceGrotesk-Bold.woff2
  apps/extension/src/public/fonts/SpaceGrotesk-Light.woff
  apps/extension/src/public/fonts/SpaceGrotesk-Light.woff2
  apps/extension/src/public/fonts/SpaceGrotesk-Medium.woff
  apps/extension/src/public/fonts/SpaceGrotesk-Medium.woff2
  apps/extension/src/public/fonts/SpaceGrotesk-Regular.woff
  apps/extension/src/public/fonts/SpaceGrotesk-Regular.woff2
  apps/extension/src/public/fonts/SpaceGrotesk-SemiBold.woff
  apps/extension/src/public/fonts/SpaceGrotesk-SemiBold.woff2
  apps/extension/src/public/icons/icon128.png
  apps/extension/src/public/icons/icon16.png
  apps/extension/src/public/icons/icon32.png
  apps/extension/src/public/icons/icon48.png
  apps/extension/webpack.config.js
  packages/components/src/Input/CopyToClipboardControl/CopyToClipboardControl.tsx
  packages/components/src/Input/input.tsx
  packages/components/src/SeedPhraseInstructions/SeedPhraseInstructions.tsx
  packages/storage/src/store/SessionKVStore.ts
Due: yarn run lint

Return tiny-bip39 errors to user
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  packages/crypto/lib/src/crypto/bip39.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: Add ability to import an account from a private key
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseSetup/SeedPhraseSetup.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint

feat: fetch err handling
  apps/airdrop/package.json
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/Claim/ClaimConfirmation.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/TrustedSetup.tsx
  apps/airdrop/src/App/utils.ts
  yarn.lock
Due: yarn run lint

feat: display correct wallet address/public key/username in claiming info
  apps/airdrop/src/App/Claim/ClaimInfo.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/eligibilityMap.ts
  apps/airdrop/src/App/state.ts
Due: yarn run lint

feat: Add ability to import an account from a private key (#446)
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseSetup/SeedPhraseSetup.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint

Return tiny-bip39 errors to user (#450)
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  packages/crypto/lib/src/crypto/bip39.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: eligible for
  apps/airdrop/src/App/Claim/ClaimInfo.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/eligibilityMap.ts
  apps/airdrop/src/App/state.ts
Due: yarn run lint

wip(airdrop): first iteration on styling homepage
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/Common/Modal/Modal.component.ts
  apps/airdrop/src/App/Common/Modal/Modal.tsx
  apps/airdrop/src/App/Common/Modal/index.ts
  apps/airdrop/src/App/Common/PageFooter/PageFooter.components.ts
  apps/airdrop/src/App/Common/PageFooter/PageFooter.tsx
  apps/airdrop/src/App/Common/PageFooter/index.ts
  apps/airdrop/src/App/Countdown.tsx
  apps/airdrop/src/App/Graphics/Book.tsx
  apps/airdrop/src/App/Graphics/Eye.tsx
  apps/airdrop/src/App/Graphics/Hive.tsx
  apps/airdrop/src/App/Graphics/Pool.tsx
  apps/airdrop/src/App/Graphics/PoolTopLayer.tsx
  apps/airdrop/src/App/Graphics/Rust.tsx
  apps/airdrop/src/App/Graphics/Shield.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/index.css
  packages/components/src/ActionButton/ActionButton.components.tsx
  packages/components/src/ActionButton/ActionButton.tsx
  packages/components/src/Modal/Modal.components.ts
  packages/utils/src/theme/theme.ts
Due: yarn run lint

chore: bump yarn to v4
  .gitattributes
  .github/workflows/release-wallet.yml
  .gitignore
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  apps/extension/README.md
  apps/extension/package.json
  apps/namada-interface/package.json
  apps/namada-interface/yarn.lock
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/crypto/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: none

Fixing typos and assets
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/public/icons/icon128.png
  apps/extension/src/public/icons/icon16.png
  apps/extension/src/public/icons/icon32.png
  apps/extension/src/public/icons/icon48.png
  packages/components/src/SeedPhraseInstructions/SeedPhraseInstructions.tsx
Due: none

feat: logout button
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/Claim/ClaimConfirmation.tsx
  apps/airdrop/src/App/Claim/ClaimInfo.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/state.ts
Due: yarn run lint

Fixing typos and assets (#459)
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/public/icons/icon128.png
  apps/extension/src/public/icons/icon16.png
  apps/extension/src/public/icons/icon32.png
  apps/extension/src/public/icons/icon48.png
  packages/components/src/SeedPhraseInstructions/SeedPhraseInstructions.tsx
Due: none

Filter private key prefix
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/utils/index.ts
Due: yarn run lint

Filter private key prefix (#458)
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/utils/index.ts
Due: yarn run lint

Add Ledger approval/rejection handling
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
  apps/extension/src/background/ledger/ledger.ts
Due: yarn run lint

feat: remove shared dep from types
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  packages/shared/src/index.ts
  packages/types/src/namada.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
