Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "./apps/**/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "./packages/**/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "./storybook/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "./e2e/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"]
}

feat(interface): temporarily commenting out unused code
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

feat: adding styles selectbox for currencies
  packages/components/src/StyledSelectBox.tsx
  storybook/.storybook/preview.tsx
  storybook/src/stories/StyledSelectBox.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

refactor(interface): removing dead code
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

feat(components): adding pie chart component
  packages/components/package.json
  packages/components/src/PieChart.tsx
  storybook/src/stories/PieChart.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): creating Sidebar component
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
Due: prettier --write

fix(interface): adding missing import to Intro/index.js
  apps/namada-interface/src/App/Common/Intro/index.ts
Due: yarn run lint, prettier --write

feat(components): creating StyledTable component
  packages/components/src/StyledTable.tsx
  packages/components/src/index.ts
  storybook/public/images/cosmostation.png
  storybook/public/images/everstake.png
  storybook/src/stories/StyledTable.stories.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: adding connect extension button component and initial dashboard for non-connected users
  apps/namada-interface/package.json
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.components.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/ConnectExtensionButton/ConnectExtensionButton.tsx
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Container/index.ts
  apps/namada-interface/src/App/Common/Intro/Intro.tsx
  apps/namada-interface/src/App/Common/Intro/index.ts
  apps/namada-interface/src/App/Common/Toast/index.ts
  apps/namada-interface/src/App/Common/Toast/toast.components.ts
  apps/namada-interface/src/App/Common/Toast/toast.tsx
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  apps/namada-interface/src/App/Common/TopNavigation/index.ts
  apps/namada-interface/src/App/TopNavigation/topNavigation.components.ts
  apps/namada-interface/src/hooks/useExtensionConnect.ts
  apps/namada-interface/src/tailwind.css
  apps/namada-interface/webpack.config.js
  yarn.lock
Due: yarn run lint, prettier --write

feat(components): updating panel component
  packages/components/src/Panel.tsx
  storybook/src/components/Cheatsheet.tsx
  storybook/src/components/Panel.tsx
  storybook/src/stories/Panel.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

refactor(staking): moving components out of folders and removing styled components
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.components.ts
  apps/namada-interface/src/App/Staking/NewBondingPosition/index.ts
  apps/namada-interface/src/App/Staking/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/index.ts
  apps/namada-interface/src/App/Staking/StakingOverview/MyValidatorsTable/index.ts
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/index.ts
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/index.ts
  apps/namada-interface/src/App/Staking/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition/UnbondPosition.components.ts
  apps/namada-interface/src/App/Staking/UnbondPosition/index.ts
  apps/namada-interface/src/App/Staking/ValidatorDetails.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.components.ts
  apps/namada-interface/src/App/Staking/ValidatorDetails/index.ts
  apps/namada-interface/src/App/Staking/ValidatorSearch.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch/index.ts
Due: yarn run lint, prettier --write

feat(interface): adding button component for connecting to extension
  apps/namada-interface/src/App/Common/ConnectExtensionButton/index.ts
Due: yarn run lint, prettier --write

feat(components): tweaking animation on StyledSelectBox component
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): separating connection methods in a hook
  apps/namada-interface/src/hooks/useExtensionConnect.ts
Due: yarn run lint, prettier --write

feat(interface): starting new navigation
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  yarn.lock
Due: prettier --write

feat(interface): migrating few more thunks and slices to jotai
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/reducers.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/exchangeRates.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(components): adding props to content container
  packages/components/src/PieChart.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: bonding validators table (WIP)
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
Due: prettier --write

feat(interface): adding total unbonded to piechart
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
Due: prettier --write

feat(interface): wip - implementing Staking UI and migrating state to jotai
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/currencies/index.ts
  apps/namada-interface/src/hooks/useExtensionConnect.ts
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: yarn run lint, prettier --write

refactor(interface): removing test data
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
Due: prettier --write

feat(components): fixing line-height on xs ActionButton
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): bumping React version to 18
  apps/namada-interface/package.json
  yarn.lock
Due: prettier --write

feat(interface): your staking distribution sidebar + tweaks on components
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/slices/validators.ts
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/PieChart.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(utils): adding currencies object to @namada/utils
  packages/components/src/Currency.tsx
  packages/utils/src/currencies.ts
  packages/utils/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(components): removing black background from AmountSummaryCard
  packages/components/src/AmountSummaryCard.tsx
  storybook/src/stories/AmountSummaryCard.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(storybook): fixing typo
  storybook/src/stories/StyledSelectBox.stories.tsx
Due: prettier --write

feat(components): marking events as optional props
  packages/components/src/PieChart.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): refactoring and simplifying Modal component
  packages/components/src/Modal.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): tweaking currency sign position
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
Due: prettier --write

feat(components): adding the possibility to cast panel into tags different than divs
  packages/components/src/Panel.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): implementing my validators table
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(components): removing legacy Toggle component
  packages/components/src/Toggle/index.ts
  packages/components/src/Toggle/toggle.components.ts
  packages/components/src/Toggle/toggle.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: handling async atoms
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/slices/validators.ts
  apps/namada-interface/src/store/hooks.ts
Due: yarn run lint, prettier --write

feat(interface): wip - creating bonding page and modal utils
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/routes.ts
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/PieChart.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(components): adding possibility of passing th props to StyledTable
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/index.tsx
  packages/components/src/StyledTable.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): refactoring and improving StyledTable performance
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  packages/components/src/StyledTable.tsx
  packages/components/src/StyledTableHead.tsx
  packages/components/src/StyledTableRow.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): initial re-delegate flow
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
Due: prettier --write

feat(interface): implementing loaders and helper components
  apps/namada-interface/src/App/Common/TableRowLoading.tsx
  apps/namada-interface/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/slices/staking.ts
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/SkeletonLoading.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): adding validations
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat(interface): handling amounts to stake
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/routes.ts
Due: yarn run lint, prettier --write
