Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(interface): fixing overview when not connected
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

fix: fix tests
  packages/sdk/src/tests/data.ts
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/masp/masp.node.js
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/package.json
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write

feat: add loading state for proposal summary
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
Due: prettier --write

feat: dispatch notification on atom error
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/store/utils.ts
Due: yarn run lint, prettier --write

fix: un-hardcode live governance voting data
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
Due: prettier --write

fix: make proposals table scroll
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
Due: prettier --write

feat(interface): fixing namadillo dev serve
  apps/namada-interface/package.json
  apps/namada-interface/src/hooks/useSdk.tsx
  apps/namada-interface/vite.config.js
  packages/sdk/src/initWeb.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix(interface): removing queries for shielded balance
  apps/namada-interface/src/slices/accounts.ts
Due: yarn run lint, prettier --write

feat(interface): fixing tailwind nesting warning
  apps/namada-interface/postcss.config.cjs
Due: none

chore: yarn.lock
  yarn.lock
Due: none

fix: fix linting errors
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/store/utils.ts
Due: yarn run lint, prettier --write

feat(interface_re-delegate): new version for re-delegate flow - wip
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateAssignStake.tsx
  apps/namada-interface/src/App/Staking/ReDelegateRemoveStake.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/hooks/useValidatorFilter.tsx
Due: prettier --write

chore: fix shared yarn scripts
  packages/shared/package.json
Due: prettier --write

chore: update namada to 0.36.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

chore: use local version of web-ext
  README.md
  apps/extension/package.json
Due: prettier --write

feat(interface): removing legacy events
  apps/namada-interface/src/types/events.ts
  packages/types/src/events.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: adding tsc on lintstaged, only for namada-interface
  .lintstagedrc.json
Due: prettier --write

feat(interface): removing unused channels file
  apps/namada-interface/src/slices/channels.ts
Due: yarn run lint, prettier --write

feat: hook up interface to SDK package, extension signing
  apps/namada-interface/src/hooks/useSdk.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/fees.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/types/environment.d.ts
  packages/sdk/package.json
  packages/sdk/src/initInline.ts
  packages/sdk/tsconfig.inline.json
  packages/types/src/signer.ts
  tsconfig.base.json
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): using default account
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/ActiveAccount.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/hooks/useStakeModule.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/accounts.ts
Due: yarn run lint, prettier --write

feat(interface): ripping off redux slices from chain settings
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/chain.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/store/store.ts
Due: yarn run lint, prettier --write

fix: get proposal status even when no indexer
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
Due: yarn run lint, prettier --write

feat(interface): fixing unstake grid
  apps/namada-interface/src/App/Staking/Unstake.tsx
Due: prettier --write

fix: building concurrent Tx works with this change
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

fix: reveal PK if needed, catch signing errors
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/staking.ts
Due: yarn run lint, prettier --write

chore: fix linting
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/slices/accounts.ts
Due: yarn run lint, prettier --write

feat: implement proposal filters and rework types
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/utils/index.ts
  packages/components/src/StyledSelectBox.tsx
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: load proposal table rows in parallel
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  packages/components/src/StyledTable.tsx
  packages/components/src/StyledTableRow.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fix: fix proposals table infinite render bug
  apps/namada-interface/src/slices/proposals/atoms.ts
Due: yarn run lint, prettier --write

fix: fix bug in perform vote call to signer
  apps/namada-interface/src/slices/proposals/functions.ts
Due: yarn run lint, prettier --write

feat(interface_redelegate): finalizing re-delegate flow
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateAssignStake.tsx
  apps/namada-interface/src/App/Staking/ReDelegateRemoveStake.tsx
  apps/namada-interface/src/config/api.ts
  apps/namada-interface/src/hooks/useValidatorFilter.tsx
  apps/namada-interface/src/lib/staking.ts
  apps/namada-interface/src/lib/tests/staking.test.ts
Due: yarn run lint, prettier --write

feat(interface): removing unused code
  apps/namada-interface/src/App/App.tsx
Due: prettier --write

feat(interface): handling notifications and refactoring transaction build
  apps/namada-interface/.eslintrc.cjs
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/hooks/useTransactionService.ts
  apps/namada-interface/src/lib/query.ts
  apps/namada-interface/src/slices/notifications.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/slices/transactions.ts
  apps/namada-interface/src/slices/validators.ts
  apps/namada-interface/tsconfig.json
Due: yarn run lint, prettier --write

chore: fix linting
  apps/namada-interface/src/slices/accounts.ts
Due: yarn run lint, prettier --write

feat(interface): refactor notification type
  apps/namada-interface/src/App/Common/Toast.tsx
  apps/namada-interface/src/hooks/useTransactionService.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/chain.ts
  apps/namada-interface/src/slices/notifications.ts
  apps/namada-interface/src/types/notifications.ts
Due: yarn run lint, prettier --write

fix: use native token from env in proposals
  apps/namada-interface/src/slices/proposals/functions.ts
Due: yarn run lint, prettier --write

chore: update namada to 0.36.0 (#776)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

feat(interface): obliterating redux and removing unused / legacy code
  apps/namada-interface/package.json
  apps/namada-interface/src/App/App.components.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/App/Bridge/Bridge.components.ts
  apps/namada-interface/src/App/Bridge/Bridge.tsx
  apps/namada-interface/src/App/Common/AnimatedTransition.tsx
  apps/namada-interface/src/App/Common/Navigation.tsx
  apps/namada-interface/src/App/PublicGoodsFunding/PublicGoodsFunding.components.ts
  apps/namada-interface/src/App/PublicGoodsFunding/PublicGoodsFunding.tsx
  apps/namada-interface/src/App/Sidebars/ProposalDiscord.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/config/api.ts
  apps/namada-interface/src/config/index.ts
  apps/namada-interface/src/hooks/useOnChainChanged.ts
  apps/namada-interface/src/hooks/useOnNamadaExtensionAttached.ts
  apps/namada-interface/src/hooks/useOnNamadaExtensionConnected.ts
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/store/hooks.ts
  apps/namada-interface/src/store/index.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  apps/namada-interface/src/tailwind.css
  apps/namada-interface/src/urls.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  eslint --fix --max-warnings=0: (((any of: ./apps/**/src/*.{js,jsx,ts,tsx}) or (any of: ./packages/**/src/*.{js,jsx,ts,tsx})) or (any of: ./storybook/src/*.{js,jsx,ts,tsx})) or (any of: ./e2e/src/*.{js,jsx,ts,tsx})
