Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use callback
  apps/namadillo/src/hooks/useValidateApiUrl.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move logic to atom setter
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useValidateApiUrl.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: updating yarn.lock file
  yarn.lock
Due: none

feat: adding namadillo logo
  apps/namadillo/src/App/Assets/LogoEyeClosed.svg
  apps/namadillo/src/App/Assets/LogoEyeOpen.svg
  apps/namadillo/src/App/Common/Container.tsx
  apps/namadillo/src/App/Common/Logo.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: add missing space in indexer error message (#913)
  apps/namadillo/src/App/AppSetup.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix padding in search input on Firefox (#913)
  apps/namadillo/src/App/Common/Search.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: reduce menu height to stop small scroll (#913)
  apps/namadillo/src/App/Common/Container.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: make side menu viewport height on mobile (#913)
  apps/namadillo/src/App/Common/Container.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding namadillo logo (#928)
  apps/namadillo/src/App/Assets/LogoEyeClosed.svg
  apps/namadillo/src/App/Assets/LogoEyeOpen.svg
  apps/namadillo/src/App/Common/Container.tsx
  apps/namadillo/src/App/Common/Logo.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add build:docs to types package, include generated docs
  packages/types/README.md
  packages/types/docs/.nojekyll
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
  packages/types/package.json
  yarn.lock
Due: none

Namadillo: Creating Docker setup (#927)
  .dockerignore
  apps/namadillo/package.json
  apps/namadillo/vite.config.mjs
  docker/namadillo.Dockerfile
  docker/namadillo.conf
  yarn.lock
Due: none

refactor: removing type from package.json
  packages/components/package.json
Due: none

refactor(components): ommiting noHover and outlined
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(components): removing casting
  packages/components/src/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add build:docs to types package, include generated docs (#918)
  packages/types/README.md
  packages/types/docs/.nojekyll
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
  packages/types/package.json
  yarn.lock
Due: none

feat(extension): refactoring and implementing signing layout
  apps/extension/src/App/Common/NamCurrency.tsx
  apps/extension/src/Approvals/ApprovalPanelHeader.tsx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveSignArbitrary.tsx
  apps/extension/src/Approvals/ApproveSignArbitraryDetails.tsx
  apps/extension/src/Approvals/ApproveSignTx.tsx
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTx.tsx
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTxDetails.tsx
  apps/extension/src/Approvals/ApproveSignTx/index.ts
  apps/extension/src/Approvals/Commitment.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/TransactionCard.tsx
  apps/extension/src/Approvals/TransactionDataPanel.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(extension): refactoring and implementing signing layout (#933)
  apps/extension/src/App/Common/NamCurrency.tsx
  apps/extension/src/Approvals/ApprovalPanelHeader.tsx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveSignArbitrary.tsx
  apps/extension/src/Approvals/ApproveSignArbitraryDetails.tsx
  apps/extension/src/Approvals/ApproveSignTx.tsx
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTx.tsx
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTxDetails.tsx
  apps/extension/src/Approvals/ApproveSignTx/index.ts
  apps/extension/src/Approvals/Commitment.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/TransactionCard.tsx
  apps/extension/src/Approvals/TransactionDataPanel.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use atom with mutation
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: replace checksums call
  apps/namadillo/package.json
  apps/namadillo/src/App/AppSetup.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/checksums/atoms.ts
  apps/namadillo/src/atoms/checksums/index.ts
  apps/namadillo/src/atoms/checksums/services.ts
  apps/namadillo/src/types.d.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: review
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add url validation (#925)
  apps/namadillo/src/App/AppSetup.tsx
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: update references of namada-interface to namadillo (#920)
  README.md
  e2e/setup-frontend.sh
  e2e/setup-namada.sh
Due: none

fix(extension): avoiding event being fired twice when selecting the active key
  packages/components/src/Checkbox.tsx
  packages/components/src/KeyListItem.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(extension): migrating root to react 18
  apps/extension/src/App/index.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: bump git-commit-msg-linter to get shebang fix (#539)
  package.json
  yarn.lock
Due: none

feat(extension): changing default popup height to 640px
  apps/extension/src/background/approvals/service.ts
  packages/components/src/Container.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: bump git-commit-msg-linter to get shebang fix (#539) (#539)
  package.json
  yarn.lock
Due: none

Extension: General fixes (#935)
  apps/extension/src/App/index.tsx
  apps/extension/src/background/approvals/service.ts
  packages/components/src/Checkbox.tsx
  packages/components/src/Container.tsx
  packages/components/src/KeyListItem.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move transfer to new args, update schema
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTx.tsx
  apps/extension/src/background/approvals/handler.test.ts
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/src/tests/tx.test.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bump Namada to 0.40.0
  apps/namadillo/src/atoms/checksums/services.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove TxType-dependent build functions
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTx.tsx
  apps/extension/src/Approvals/Commitment.tsx
  apps/namadillo/src/lib/query.ts
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixed transfers, added necessary schema and updated SDK
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTx.tsx
  apps/extension/src/background/approvals/handler.test.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/CommitmentMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/RevealPkMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/TransferDataMsgValue.md
  packages/types/docs/classes/TransferMsgValue.md
  packages/types/docs/classes/TransparentTransferDataMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxDetailsMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): adding config.toml to docker setup
  .gitignore
  docker/.namadillo.config.toml
  docker/namadillo-nginx.conf
  docker/namadillo.Dockerfile
Due: none

docs(namadillo): updating Namadillo docs
  README.md
  apps/namadillo/README.md
Due: none

fix: add proposals pagination, fix proposal counts (#929)
  apps/namadillo/package.json
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Staking/ValidatorsTable.tsx
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fetch all validators, not just first page (#929)
  apps/namadillo/src/atoms/validators/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
