Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: readjust location of loader
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add skeleton for better loading state
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: remove default value
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: take loading state out of component
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update for blinking sync and tooltip addy (#2059)
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectChainModal.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update syncing view
  apps/namadillo/src/App/Layout/Sidebar.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove tooltip
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove logs
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: change pro mode to dev mode
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add tooltip for transaction hash in history
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update spacing on transfer destination module for transfers
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: reinstate pulsing ring component
  apps/namadillo/src/App/Common/PulsingRing.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add loader icon instead of error in sync indicator
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

swaps wip
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/App/Sidebars/MaspAssetRewards.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: increase additional percentage for simulated ibc transfer gas fee
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: increase additional percentage for simulated ibc transfer gas fee (#2068)
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: Awa feedback UI fixes (#2067)
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup type
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update error messaging
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update syncing view (#2066)
  apps/namadillo/src/App/Common/PulsingRing.tsx
  apps/namadillo/src/App/Layout/Sidebar.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add simulatedShieldRewards fu
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup for review
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update simulateShieldingRewards location
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/staking/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: grab all relevant local data and add local storage card
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update txn
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/functions.ts
  apps/namadillo/src/hooks/useRequiresNewShieldedSync.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix up spacing and fitlering
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update type
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/hooks/useRequiresNewShieldedSync.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup for PR
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update validator row padding
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix for validators with images
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add "Failed" to history
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: types update
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update tooltip
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add warnign for local txns
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update amount to use toBaseAmount func
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add debounce
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add debounced fetch
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: change to match sdk pr https://github.com/anoma/namada-sdkjs/pull/3/files
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix
