Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

feat(namadillo): adding config.toml to docker setup (#936)
  .gitignore
  docker/.namadillo.config.toml
  docker/namadillo-nginx.conf
  docker/namadillo.Dockerfile
Due: none

feat(storybook): adding AmountInput stories
  storybook/src/stories/AmountInput.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(storybook): removing invalid property
  storybook/src/stories/ActionButton.stories.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: removing legacy Icon component
  packages/components/src/Icon.tsx
  packages/components/src/index.ts
  storybook/src/stories/Icon.stories.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(storybook): adding auto focus to component
  storybook/src/stories/AmountInput.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(storybook): adding badge component
  storybook/src/stories/Badge.stories.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(storybook): adding CopyToClipboardControl story
  storybook/src/stories/CopyToClipboardControl.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(storybook): adding FeedbackButton component
  storybook/src/stories/FeedbackButton.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(storybook): adding InsetLabel story
  storybook/src/stories/InsetLabel.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(storybook): adding RoundedLabel component
  storybook/src/stories/RoundedLabel.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(storybook): adding SegmentedBar story
  storybook/src/stories/SegmentedBar.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(storybook): adding SkeletonLoading stories
  storybook/src/stories/SkeletonLoading.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): improving documentation
  apps/namadillo/README.md
Due: none

Storybook: Adding missing Stories (#939)
  packages/components/src/Icon.tsx
  packages/components/src/index.ts
  storybook/src/stories/ActionButton.stories.ts
  storybook/src/stories/AmountInput.stories.tsx
  storybook/src/stories/Badge.stories.ts
  storybook/src/stories/CopyToClipboardControl.stories.tsx
  storybook/src/stories/FeedbackButton.stories.tsx
  storybook/src/stories/Icon.stories.tsx
  storybook/src/stories/InsetLabel.stories.tsx
  storybook/src/stories/RoundedLabel.stories.tsx
  storybook/src/stories/SegmentedBar.stories.tsx
  storybook/src/stories/SkeletonLoading.stories.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: Updating Docs (#937)
  README.md
  apps/namadillo/README.md
Due: none

fix: stop passing ActionButton props to DOM element (#938)
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move checksums to sign call, don't persist in extension
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/chains/handler.ts
  apps/extension/src/background/chains/init.ts
  apps/extension/src/background/chains/messages.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/atoms/checksums/atoms.ts
  apps/namadillo/src/atoms/checksums/services.ts
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/staking/atoms.ts
  apps/namadillo/src/atoms/staking/services.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.d.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: show real times, time remaining for proposals (#883)
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/ProposalLabels.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/utils/index.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: support claim rewards tx in SDK (#932)
  apps/extension/src/Approvals/Commitment.tsx
  packages/sdk/docs/classes/BuiltTx.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/PhraseSize.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
  packages/types/src/tx/schema/claimRewards.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: rename data.data to data.results
  apps/namadillo/package.json
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/validators/services.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: rename data.data to data.results (#943)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/validators/services.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: serialize bigints to fix vote proposal signing (#941)
  apps/extension/src/background/index.ts
  apps/namadillo/src/index.tsx
  packages/utils/src/bigint-to-json-polyfill.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix react errors and handle reject sign tx
  apps/extension/src/App/index.tsx
  apps/extension/src/Approvals/index.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

docs: update docs for types
  packages/shared/lib/src/sdk/mod.rs
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/CommitmentMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/RevealPkMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/TransferDataMsgValue.md
  packages/types/docs/classes/TransferMsgValue.md
  packages/types/docs/classes/TransparentTransferDataMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxDetailsMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
Due: cargo fmt --all -- --fix

feat: remove tx_type and wrapper_tx_msg from BuiltTx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/lib/query.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: hook up signing for Ledger HW wallet
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveSignArbitrary.tsx
  apps/extension/src/Approvals/ConfirmSignArbitrary.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update Ledger approval to handle multiple tx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namadillo/src/lib/query.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update to support v0.0.6 of zondax package
  apps/extension/package.json
  apps/extension/src/background/keyring/service.ts
  packages/sdk/package.json
  packages/sdk/src/ledger.ts
  packages/sdk/src/tests/ledger.test.ts
  packages/sdk/src/tx/tx.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixed issue with batching of Ledger signed Tx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/service.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: iterate properly through each Ledger signature
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update build folder
  apps/extension/README.md
Due: none

feat: add step buttons
  apps/extension/src/Approvals/ApproveIcon.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/LedgerIcon.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: remove unused IndexedDB proposal caching (#947)
  apps/namadillo/src/App/Governance/ProposalDescription.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/ProposalStatusSummary.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/atoms/proposals/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: show proposal activation time (#947)
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/atoms/proposals/functions.ts
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bump shared to namada 0.41.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/args.rs
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/ClaimRewardsMsgValue.md
  packages/types/docs/classes/CommitmentMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/RevealPkMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/TransferDataMsgValue.md
  packages/types/docs/classes/TransferMsgValue.md
  packages/types/docs/classes/TransparentTransferDataMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxDetailsMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
  packages/types/src/tx/schema/ibcTransfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0
