Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

chore: update namada to 0.29.0
  e2e/genesis/localnet/parameters.toml
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

fix: cr fixes
  package.json
  packages/crypto/package.json
  packages/shared/.release-it.json
  packages/shared/package.json
  packages/shared/src/borsh-schemas.ts
  packages/types/.release-it.json
  packages/types/package.json
  yarn.lock
Due: yarn run lint

fix: unwrap_or signing keys
  e2e/genesis/localnet/parameters.toml
  e2e/genesis/localnet/transactions.toml
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

feat: yarn publish (#571)
  package.json
  packages/crypto/package.json
  packages/shared/.release-it.json
  packages/shared/package.json
  packages/shared/scripts/build.js
  packages/shared/src/borsh-schemas.ts
  packages/types/.release-it.json
  packages/types/package.json
  yarn.lock
Due: yarn run lint

fix: publish
  apps/extension/jest.config.ts
  apps/extension/package.json
  apps/extension/tsconfig.json
  apps/extension/webpack.config.js
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridgeTransfer.tsx
  apps/namada-interface/tsconfig.json
  apps/namada-interface/webpack.config.js
  packages/integrations/jest.config.ts
  packages/integrations/tsconfig.json
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/scripts/build.js
  packages/shared/tsconfig.json
  packages/types/.gitignore
  packages/types/package.json
  packages/types/tsconfig.json
  packages/utils/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: yarn run lint

chore: update namada to 0.30.0 (#559)
  e2e/genesis/localnet/parameters.toml
  e2e/genesis/localnet/transactions.toml
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

fix: build order
  packages/shared/package.json
  packages/shared/scripts/build.js
Due: yarn run lint

fix: release
  packages/shared/.release-it.json
  packages/types/.release-it.json
Due: none

chore: release types v0.1.1
  packages/types/package.json
Due: none

chore: release types v0.1.1
  packages/shared/package.json
  packages/types/package.json
Due: none

chore: release shared v0.1.3
  packages/shared/package.json
Due: none

fix: publish (#573)
  apps/extension/jest.config.ts
  apps/extension/package.json
  apps/extension/tsconfig.json
  apps/extension/webpack.config.js
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridgeTransfer.tsx
  apps/namada-interface/tsconfig.json
  apps/namada-interface/webpack.config.js
  packages/integrations/jest.config.ts
  packages/integrations/tsconfig.json
  packages/shared/.gitignore
  packages/shared/package.json
  packages/shared/scripts/build.js
  packages/shared/tsconfig.json
  packages/types/.gitignore
  packages/types/package.json
  packages/types/tsconfig.json
  packages/utils/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: yarn run lint

chore: release shared v0.1.3
  apps/extension/package.json
  packages/chains/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/shared/package.json
  yarn.lock
Due: none

fix: build script
  packages/shared/package.json
  packages/shared/scripts/build.js
Due: yarn run lint

feat: release changelog
  packages/shared/.release-it.json
  packages/shared/package.json
  packages/types/.release-it.json
  packages/types/package.json
  yarn.lock
Due: none

feat: add newline
  packages/shared/.release-it.json
Due: none

feat: changelog for types
  packages/shared/.release-it.json
  packages/types/.release-it.json
Due: none

chore: release types v0.2.0
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: none

fix: make signing with imported secret key work
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

chore: release shared v0.3.0
  .release-it.json
  package.json
  packages/shared/.release-it.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/types/.release-it.json
  yarn.lock
Due: none

refactor: remove unused QR reader code (#576)
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.components.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
Due: yarn run lint

feat: calculate gas fees in token send form (#576)
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.components.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: changelog for types
  .release-it.json
  apps/extension/tsconfig.json
  package.json
  packages/chains/.gitignore
  packages/chains/.release-it.json
  packages/chains/package.json
  packages/chains/tsconfig.json
  packages/components/.gitignore
  packages/components/.release-it.json
  packages/components/package.json
  packages/components/tsconfig.json
  packages/crypto/.gitignore
  packages/crypto/.release-it.json
  packages/crypto/package.json
  packages/crypto/scripts/build.sh
  packages/crypto/tsconfig.json
  packages/storage/.gitignore
  packages/storage/.release-it.json
  packages/storage/package.json
  packages/storage/tsconfig.json
  packages/types/.release-it.json
  packages/types/tsconfig.json
  packages/utils/.gitignore
  packages/utils/.release-it.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: none

feat: release-it for root
  .release-it.json
  package.json
  packages/chains/.release-it.json
Due: none

fix: fix typos (#553)
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/utils/index.ts
  e2e/README.md
  packages/components/src/NavigationContainer/NavigationContainer.tsx
  packages/crypto/README.md
  packages/crypto/lib/Cargo.toml
  packages/hooks/README.md
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/io.rs
  packages/shared/src/index.ts
  packages/types/README.md
  specs/browser-extension/overview.md
  specs/browser-extension/security.md
  specs/interface/shielded-transfers.md
  specs/interface/transparent-transactions.md
  specs/packages/examples.md
  specs/packages/overview.md
Due: yarn run lint, cargo fmt --all -- --fix

fix: make signing with imported secret key work (#579)
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

fix: query account balances individually (#582)
  apps/namada-interface/src/slices/accounts.ts
Due: yarn run lint

fix: fix balances not displaying on initial connection (#581)
  apps/extension/src/background/index.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

fix: bump dependencies versions correctly with jq
  packages/chains/.release-it.json
  packages/components/.release-it.json
Due: none

chore: release v0.2.0
  package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/storage/CHANGELOG.md
  packages/storage/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

feat: hook up signArbitrary to approval flow
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveSignature.tsx
  apps/extension/src/Approvals/ConfirmSignature.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

fix: hook up the sign_arbitrary function in SDK wrapper
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: hook up sign-arbitrary funcitonality to extension
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: implement PR feedback
  apps/extension/src/Approvals/ConfirmSignature.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
Due: yarn run lint

Extension: Sign Arbitrary Data (#574)
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveSignature.tsx
  apps/extension/src/Approvals/ConfirmSignature.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: hook up staking to chain state
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
Due: none

fix: bump versions to 0.2.0
  apps/airdrop/package.json
  apps/extension/package.json
  apps/faucet/package.json
  apps/namada-interface/package.json
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/crypto/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: none

fix: index integrations and accounts by something other than chain ID
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/ledger/ledger.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/provider/data.mock.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/FaucetTransferForm.components.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/FaucetTransferForm.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridgeTransfer.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/index.ts
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenReceive/TokenReceive.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/index.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/chain.ts
  apps/namada-interface/src/slices/proposals.ts
  apps/namada-interface/src/store/mocks.ts
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/ethereum.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/index.ts
  packages/chains/src/types.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/types/src/chain.ts
Due: yarn run lint

fix: ibc updates
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/slices/channels.ts
  packages/integrations/src/hooks/useIntegration.ts
Due: yarn run lint

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
