Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

Testing yarn build with specified action version
  .github/workflows/deploy-wallet-at-merge-to-main.yml
Due: none

Update balance queries to return all balances for account (token-type + balance)
  apps/namada-interface/src/slices/accounts.ts
  packages/chains/src/chains/cosmos.ts
  packages/integrations/package.json
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/types/Integration.ts
  packages/types/src/tx/tokens/index.ts
  yarn.lock
Due: yarn run lint

Fix account selection bug
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
Due: none

Define bridge types in chain config, implement logic to support this
  apps/extension/src/provider/data.mock.ts
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/ethereum.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/chains/osmosis.ts
  packages/types/src/chain.ts
  yarn.lock
Due: yarn run lint

Persist channel data
  apps/namada-interface/src/store/store.ts
Due: yarn run lint

Update ci
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

Reworked transfer slice to account for both ETH Bridge & IBC transfer, moving SDK ibc transfer to integration
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/slices/transfers.ts
  apps/namada-interface/src/store/mocks.ts
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/types/Integration.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

Fix minor logic issue
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
Due: none

Simple fix to set balance to zero if any error occurs
  packages/rpc/src/RpcClient.ts
Due: yarn run lint

Update comments, clean out unused configs/token types
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/store/mocks.ts
  packages/chains/src/chains/osmosis.ts
  packages/chains/src/index.ts
  packages/integrations/src/Anoma.ts
  packages/types/src/tx/tokens/Cosmos.ts
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint

If no accounts linked, show input field
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
Due: none

Hook up signing client from Keplr for IBC
  packages/integrations/src/Keplr.test.ts
  packages/integrations/src/Keplr.ts
Due: yarn run lint

Fixing typos, removing erroneous paste
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/integrations/src/Anoma.ts
Due: yarn run lint

Clean up coingecko URL, show native token balances first
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/config/api.ts
  apps/namada-interface/src/slices/coins.ts
Due: yarn run lint

Fix amount sent via IBC (not micro), clean up
  apps/namada-interface/src/slices/transfers.ts
  packages/integrations/src/Keplr.ts
Due: yarn run lint

Rewrite in a way to facilitate testing other tokens
  packages/integrations/src/Anoma.ts
Due: yarn run lint

Only query balance for NAM for now (address other tokens later)
  packages/integrations/src/Anoma.ts
Due: yarn run lint

Update RpcClient to not reject promise when not finding a balance, return 0
  apps/namada-interface/src/slices/accounts.ts
  packages/integrations/src/Anoma.ts
  packages/rpc/src/RpcClient.ts
Due: yarn run lint

Update types in Keplr test
  packages/integrations/src/Anoma.ts
Due: yarn run lint

Add connect to extension functionality for destination chains in Bridge
  apps/extension/src/Setup/AccountCreation/Steps/Password/Password.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
Due: none

Fix minor discrepency issue post-rebase
  packages/integrations/src/Keplr.test.ts
  yarn.lock
Due: yarn run lint

Fix newly introduced issues
  apps/extension/webpack.config.js
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/integrations/src/Anoma.ts
Due: yarn run lint

Clean up
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
Due: none

Balance Query & IBC with Keplr Accounts (@cosmjs) (#225)
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/src/Setup/AccountCreation/Steps/Password/Password.tsx
  apps/extension/src/provider/data.mock.ts
  apps/extension/webpack.config.js
  apps/namada-interface/.env.sample
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/config/api.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/coins.ts
  apps/namada-interface/src/slices/transfers.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/ethereum.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/chains/osmosis.ts
  packages/chains/src/index.ts
  packages/integrations/package.json
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/types/Integration.ts
  packages/rpc/src/RpcClient.ts
  packages/types/src/chain.ts
  packages/types/src/tx/tokens/Cosmos.ts
  packages/types/src/tx/tokens/index.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/types/src/tx/types.ts
  yarn.lock
Due: yarn run lint

fix: anoma tests
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat: shielded transfers notifications
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/types.ts
  apps/extension/src/content/events.ts
  apps/namada-interface/src/App/Toast/toast.components.ts
  apps/namada-interface/src/App/Toast/toast.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/anoma.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/notifications/reducers.ts
  apps/namada-interface/src/slices/notifications/types.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/types/src/events.ts
Due: yarn run lint

feat: add msgId to the toast description
  apps/namada-interface/src/App/Toast/toast.components.ts
  apps/namada-interface/src/services/extensionEvents/handlers/anoma.ts
  apps/namada-interface/src/slices/transfers.ts
Due: yarn run lint

fix: notifications tests
  apps/namada-interface/src/slices/notifications/reducers.test.ts
Due: yarn run lint

feat: transfers from shielded addresses
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix

fix: support shielded transfers in FF
  apps/extension/src/App/App.tsx
  apps/extension/src/App/index.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/index.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/content/events.ts
  apps/extension/src/hooks/useRequester.tsx
  apps/extension/src/services/index.ts
  apps/extension/src/services/requester.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/anoma.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/shared/lib/Cargo.toml
Due: yarn run lint

refactor: fix unwraps
  apps/extension/package.json
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/utils.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: point namada to rev instead of branch
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: masp params fetch url
  packages/shared/lib/src/sdk/mod.js
Due: yarn run lint

Set up separate approvals app, add to extension
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Approvals/ApproveConnection.tsx
  apps/extension/src/App/Approvals/ApproveTx.tsx
  apps/extension/src/App/Approvals/index.ts
  apps/extension/src/Approvals/Approvals.components.tsx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveConnection/ApproveConnection.components.tsx
  apps/extension/src/Approvals/ApproveConnection/ApproveConnection.tsx
  apps/extension/src/Approvals/ApproveConnection/index.ts
  apps/extension/src/Approvals/ApproveTx/ApproveTx.components.tsx
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/index.ts
  apps/extension/src/Approvals/index.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/public/approvals.html
  apps/extension/webpack.config.js
Due: yarn run lint
