Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(interface): adding loading on AccountOverview
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

feat: real data on account overview
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: prettier --write

feat: rework proposal atoms
  apps/namada-interface/src/slices/proposals.ts
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/proposals/index.ts
  apps/namada-interface/src/slices/proposals/types.ts
Due: yarn run lint, prettier --write

feat(interface): showing message when no results were found
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat(components): adding custom validation to AmountInput
  packages/components/src/AmountInput.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): improving responsive
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Sidebars/ValidatorDiversification.tsx
Due: prettier --write

feat(interface): full height panel
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
Due: prettier --write

feat(interface): persisting selected currency on storage
  apps/namada-interface/src/slices/settings.ts
Due: yarn run lint, prettier --write

feat(interface): adding 'all'/'my validators' filter and refactor search
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsFilter.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/hooks/useValidatorFilter.tsx
  apps/namada-interface/src/slices/staking.ts
Due: yarn run lint, prettier --write

feat(interface): hiding balance feature and general currency refactory
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Common/FiatCurrency.tsx
  apps/namada-interface/src/App/Common/NamCurrency.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  apps/namada-interface/src/slices/settings.ts
  packages/components/src/Currency.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: fix lots of TypeScript errors after reworking proposals atoms
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/App/Governance/routes.ts
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Proposals/Proposals.components.ts
  apps/namada-interface/src/App/Proposals/Proposals.tsx
  apps/namada-interface/src/App/Proposals/index.ts
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/proposals/types.ts
  apps/namada-interface/src/store/store.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write

feat: new governance panels, adding proposals queries
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
  apps/namada-interface/src/App/Governance/ViewJson.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/App/Governance/routes.ts
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/components/src/ProgressBar.tsx
  packages/components/src/SegmentedBar.tsx
  packages/components/src/TickedRadioList.tsx
  packages/components/src/index.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/types/query.rs
  packages/shared/src/borsh-schemas.ts
  packages/shared/src/index.ts
  packages/types/src/index.ts
  packages/types/src/proposals.ts
  packages/utils/src/helpers/index.ts
  storybook/src/stories/TickedRadioList.stories.tsx
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat: removing deprecated content and fixing ts errors
  apps/namada-interface/src/App/Staking/ValidatorDetails.tsx
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
Due: yarn run lint, prettier --write

feat(interface): reviewing governance pages ui
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/App/Governance/types.ts
  apps/namada-interface/src/store/utils.ts
  packages/components/src/InsetLabel.tsx
  packages/components/src/RoundedLabel.tsx
  packages/components/src/SegmentedBar.tsx
  packages/components/src/theme.js
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): implementing re-delegation flow
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/hooks/useValidatorFilter.tsx
  apps/namada-interface/src/lib/staking.ts
  apps/namada-interface/src/lib/tests/staking.test.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/chain.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/types/staking.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): adding possibility of an empty value on AmountInput
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/hooks/useStakeModule.ts
  packages/components/src/AmountInput.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): removing Suspense from top navigation
  apps/namada-interface/src/App/Common/TopNavigation.tsx
Due: prettier --write

feat(interface): making validator alias font as medium, while other columns have normal fonts
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat(interface): displaying edited validators on 'My Validators' filter
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
Due: prettier --write

feat(interface): adding pagination formatting
  apps/namada-interface/src/App/Common/FormattedPaginator.module.css
  apps/namada-interface/src/App/Common/FormattedPaginator.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

fix: fix minor errors + TypeScript errors
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/proposals/index.ts
  apps/namada-interface/src/slices/proposals/types.ts
Due: yarn run lint, prettier --write

feat(interface): tweaking line breaks
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
Due: prettier --write

feat: continue governance, fix up vote summary, query for WASM code
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/components/src/PieChart.tsx
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/types/query.rs
  packages/shared/src/borsh-schemas.ts
  packages/types/src/proposals.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(interface): making some tweaks on proposals ui
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/App/Governance/ViewJson.tsx
  apps/namada-interface/src/store/utils.ts
  packages/components/src/TickedRadioList.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: fix division if total staked NAM is 0
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
Due: prettier --write

feat(interface): fixing giant thumb
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
Due: prettier --write

feat: adding quick access link to navigation
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsFilter.tsx
  apps/namada-interface/src/App/Staking/QuickAccessList.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
  apps/namada-interface/src/App/Staking/ValidatorThumb.tsx
Due: prettier --write

feat(interface): randomize button
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
  apps/namada-interface/src/hooks/useValidatorSorting.ts
Due: yarn run lint, prettier --write

feat(interface): removing = from the increment bonding
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
Due: prettier --write

feat(interface): replacing logo my Namadillo
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/Container.tsx
Due: prettier --write

feat(interface): reducing another big thumb
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
Due: prettier --write

feat(interface): controlled components on ReDelegateTable
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  packages/components/src/AmountInput.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): replacing IBC Bridge by Transfer
  apps/namada-interface/src/App/Common/Sidebar.tsx
Due: prettier --write

feat: get proposal WASM and display in JSON
  apps/namada-interface/src/App/Governance/ViewJson.tsx
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/shared/lib/src/query.rs
  packages/types/src/proposals.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat: upgrade namada to v0.35.1
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
Due: cargo fmt --all -- --fix

feat: add more proposal queries, voting now works
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
  apps/namada-interface/src/App/Governance/ViewJson.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/types.ts
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/proposals/types.ts
  packages/shared/lib/src/query.rs
  packages/types/src/proposals.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(components): adding overscroll behaviour to Styled Table
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  packages/components/src/StyledTable.tsx
Due: prettier --write, eslint --fix --max-warnings=0

refactor(interface): fixing eslint error messages
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/slices/proposals/functions.ts
Due: yarn run lint, prettier --write

feat: improve proposal JSON display
  apps/namada-interface/src/App/Governance/ViewJson.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: support proposal WASM download
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
Due: prettier --write

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  eslint --fix --max-warnings=0: (((any of: ./apps/**/src/*.{js,jsx,ts,tsx}) or (any of: ./packages/**/src/*.{js,jsx,ts,tsx})) or (any of: ./storybook/src/*.{js,jsx,ts,tsx})) or (any of: ./e2e/src/*.{js,jsx,ts,tsx})
