Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: update
  yarn.lock
Due: none

feat: recieve card built
  apps/namadillo/src/App/Assets/NamadaLogo.svg
  apps/namadillo/src/App/Transfer/RecieveCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup tab structure on Move assets
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Layout/MoveAssets.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Transfer/ReceiveCard.tsx
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup side nav
  apps/namadillo/src/App/Layout/Navigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove debug
  apps/namadillo/.vscode/launch.json
Due: prettier --write

fix: update qr for shielded colors
  apps/namadillo/src/App/Assets/NamadaLogoYellow.svg
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Transfer/ReceiveCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup styling
  apps/namadillo/src/App/Layout/MoveAssets.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup styling
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup for review
  apps/namadillo/src/App/Layout/MoveAssets.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Transfer/ReceiveCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update to prper iocon
  apps/namadillo/src/App/Icons/ReceiveIcon.tsx
  apps/namadillo/src/App/Icons/ShieldIcon.tsx
  apps/namadillo/src/App/Icons/ShieldedSendIcon.tsx
  apps/namadillo/src/App/Icons/UnshieldedTransferIcon.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix broken tests
  apps/namadillo/src/App/Layout/MoveAssets.tsx
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: disposable accounts extension UI
  apps/extension/src/App/Accounts/DisposableAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/storage/schemas/VaultSchemaV1.ts
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
  apps/extension/src/storage/schemas/index.ts
  apps/extension/src/storage/schemas/migrations.ts
  packages/components/src/KeyListItem.tsx
  packages/types/src/account.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: reveal private key UI
  apps/extension/src/App/Accounts/DisposableAccount.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/context/AccountContext.tsx
  packages/components/src/ContentMasker.tsx
  packages/components/src/Input.tsx
  packages/components/src/ViewKeys.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: ibc unshielding
  apps/extension/src/Approvals/ApproveSignTx.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/types.ts
  apps/namadillo/src/App/Common/UnshieldAssetsModal.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
  packages/types/src/tx/schema/bparams.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: disposable signers for refund target
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  packages/sdk/src/index.ts
  packages/shared/lib/src/sdk/args.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: clearing disposable refund targets - wip
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/storage/LocalStorage.ts
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransfer.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: vks check
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: minor fixes
  apps/extension/src/App/Accounts/DisposableAccount.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/context/SettingsContext.tsx
  apps/extension/src/storage/LocalStorage.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: disposable accounts toggle
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/Advanced.tsx
  apps/extension/src/App/Settings/index.ts
  apps/extension/src/App/index.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/context/SettingsContext.tsx
  apps/extension/src/context/index.ts
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: hide masp sync cover for disposable addresses
  apps/namadillo/src/App/Common/MaspContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: cleanup
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/types/masp.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: after rebase
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: move refund targets toggle
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/index.ts
  apps/extension/src/App/routes.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/context/SettingsContext.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: two step disposable accounts deletion
  apps/extension/src/App/Accounts/BurnDisposableAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ViewDisposableAccount.tsx
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Settings/Advanced.tsx
  apps/extension/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Update apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: tab spacing on top
  apps/namadillo/src/App/AccountOverview/AssetsOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update key
  apps/namadillo/src/App/Layout/Navigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: restore deps table
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: namadillo v2 feedback (#1973)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/AssetsOverviewPanel.tsx
  apps/namadillo/src/App/AccountOverview/EstimateShieldingRewardsCard.tsx
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceCard.tsx
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
  apps/namadillo/src/App/Governance/ProposalAndVote.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Sidebars/JoinDiscord.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

WIP: feat/v2-transfer-flow (#1975)
  apps/namadillo/package.json
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Assets/NamadaLogo.svg
  apps/namadillo/src/App/Assets/NamadaLogoYellow.svg
  apps/namadillo/src/App/Icons/ReceiveIcon.tsx
  apps/namadillo/src/App/Icons/ShieldIcon.tsx
  apps/namadillo/src/App/Icons/ShieldedSendIcon.tsx
  apps/namadillo/src/App/Icons/UnshieldedTransferIcon.tsx
  apps/namadillo/src/App/Layout/MoveAssets.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/ReceiveCard.tsx
  apps/namadillo/src/App/routes.ts
  packages/components/src/TabContainer.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove screen issue
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improve gasLimit error
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/utils/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: extra safety checks for persisting/clearing disposable accounts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: Namadillo - Improve gasLimit error (#1977)
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/utils/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update apr and table height
  apps/namadillo/src/App/AccountOverview/StakeSidebar.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update apr and table height (#1978)
  apps/namadillo/src/App/AccountOverview/StakeSidebar.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: osmosis swap messages
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/osmosisSwap.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update all css
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/AssetsOverviewPanel.tsx
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetsOverview.tsx
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove table prop
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
