Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: its a miracle
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/types.ts
  apps/namadillo/src/App/Transfer/utils.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/utils/etc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: yo
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/utils.ts
  apps/namadillo/src/hooks/useTransferResolver.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: checkpoint
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/common.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: slog
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/types.ts
  apps/namadillo/src/App/Transfer/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

cleanup
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/hooks/useTransactionResolver.tsx
  apps/namadillo/src/integrations/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

cleanup
  apps/namadillo/src/App/Transfer/DestinationAddressModal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: transaction melding chaos
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/types.ts
  apps/namadillo/src/App/Transfer/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleaning up the chaos
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/transactions/functions.ts
  apps/namadillo/src/hooks/useTransactionResolver.tsx
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

cleanup
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: address dropdown and such
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
  apps/namadillo/src/App/Transfer/DestinationAddressModal.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

cleanup
  apps/namadillo/package.json
  apps/namadillo/src/App/Transfer/DestinationAddressModal.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

add keplr addy in top logo tooltip
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

major cleanup
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/types.ts
  apps/namadillo/src/App/Transfer/utils.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
  apps/namadillo/src/hooks/useTransactionResolver.tsx
  apps/namadillo/src/hooks/useTransferResolver.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

clean
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fixes
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/hooks/useTransactionResolver.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

EXPERIMENTAL CHECKPOINT
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

i did it holy smokes
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

absolutely cooking with gas folks
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

clean up of Namada Transfer
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

mega cleanup all components done
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

cleanup tweaks
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSwitcher.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/hooks/useTransactionResolver.tsx
  apps/namadillo/src/hooks/useTransferResolver.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

cleanup
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

new architecture
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSwitcher.tsx
  apps/namadillo/src/App/Transfer/common.ts
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

what a frikkin miracle
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

core base
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
  apps/namadillo/src/App/Transfer/TransferSwitcher.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: yarn lock
  yarn.lock
Due: none

fix: add back spacing
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup sidebar nav
  apps/namadillo/src/App/Common/SidebarMenuItem.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

cleanup
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup components and organize
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

cleanup token select
  apps/namadillo/src/App/Transfer/SelectToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: goofy select token fix,dk how I feel about it
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

revert
  apps/namadillo/src/App/Transfer/SelectToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: reference commit hash instead of branch for namada_sdk import
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix

chore: update namada libs to v0.251.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

chore: manifest update
  .release-please-manifest.json
Due: prettier --write

fix: reference commit hash instead of branch for namada_sdk import (#2248)
  .release-please-manifest.json
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix, prettier --write

fix: cleanup
  apps/namadillo/src/App/AccountOverview/common.ts
  apps/namadillo/src/App/Common/UnshieldAssetsModal.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
  apps/namadillo/src/App/Transfer/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix and keplr wallet manager sharing
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
