Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

Namadillo: Sign Arbitrary Messages (#907)
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/ModalContainer.tsx
  apps/namadillo/src/App/Common/TopNavigation.tsx
  apps/namadillo/src/App/Settings/SettingsPanel.tsx
  apps/namadillo/src/App/SignMessages/SignMessages.tsx
  apps/namadillo/src/App/SignMessages/routes.ts
  apps/namadillo/src/atoms/arbitraryMessages.ts
  apps/namadillo/src/hooks/useModalCloseEvent.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): querying all validators
  apps/namadillo/package.json
  apps/namadillo/src/atoms/validators/services.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove web vitals from namadillo (#894)
  apps/namadillo/src/index.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: add namadillo release configuration (#894)
  .github/workflows/release-namadillo.yml
  apps/namadillo/.release-it.cjs
  apps/namadillo/CHANGELOG.md
  apps/namadillo/README-dist.md
  apps/namadillo/RELEASE.md
  apps/namadillo/package.json
  apps/namadillo/scripts/package.sh
  yarn.lock
Due: none

fix: fix AmountInput bugs (#908)
  apps/namadillo/src/App/Staking/ReDelegateRemoveStake.tsx
  packages/components/src/AmountInput.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: mainnet phases link
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Sidebars/ProposalDiscord.tsx
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: mainnet phases link (#915)
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Sidebars/ProposalDiscord.tsx
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add abiltity to deserialize tx into json
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add ability to retrieve tx-specific props from tx data
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/transparentTransfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: hook up deserialized props to the sdk deserialize method
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: query tx details from extension, add wrapper tx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/test/init.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/query.rs
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/schema/txDetails.ts
  packages/types/src/tx/schema/wrapperTx.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up interface after adding revealPk to batch
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/staking/atoms.ts
  apps/namadillo/src/atoms/staking/services.ts
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: display details in extension
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTx.tsx
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTxDetails.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/chains/handler.ts
  apps/extension/src/background/chains/init.ts
  apps/extension/src/background/chains/messages.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  apps/namadillo/src/atoms/fees/services.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/lib/query.ts
  packages/integrations/src/Namada.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/revealPk.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: added sign-arbitrary details
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveSignArbitrary.tsx
  apps/extension/src/Approvals/ApproveSignArbitraryDetails.tsx
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTx.tsx
  apps/extension/src/Approvals/ApproveSignTx/ApproveSignTxDetails.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/namadillo/src/lib/query.ts
  packages/sdk/docs/classes/BuiltTx.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: move wasm fetch code into hook
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/atoms/fees/services.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/hooks/useWasmHashes.tsx
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/txDetails.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: update docs references of namada-interface
  README.md
  e2e/setup-frontend.sh
  e2e/setup-namada.sh
Due: none

feat: update error message
  apps/namadillo/src/App/AppSetup.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: validate indexer url
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/hooks/useUpdateIndexerUrl.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: refactoring theme and exporting each property
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: removing unused components and styled components
  packages/components/package.json
  packages/components/src/NavigationContainer/NavigationContainer.components.ts
  packages/components/src/NavigationContainer/NavigationContainer.tsx
  packages/components/src/NavigationContainer/index.ts
  packages/components/src/Table/Table.components.ts
  packages/components/src/Table/Table.tsx
  packages/components/src/Table/index.ts
  packages/components/src/Table/types.ts
  packages/components/src/TabsGroup/TabsGroup.components.tsx
  packages/components/src/TabsGroup/index.ts
  packages/components/src/index.ts
  packages/components/src/theme.js
  packages/components/src/types.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fixing hairline and standardize component colors
  apps/extension/src/App/Accounts/DeleteAccount.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/App/Sidebars/ProposalDiscord.tsx
  apps/namadillo/src/App/Sidebars/ValidatorDiversification.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegateRemoveStake.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/tailwind.css
  packages/components/src/ActionButton.tsx
  packages/components/src/ViewKeys.tsx
  packages/components/src/theme.js
  packages/components/src/types.ts
  packages/components/src/utils.ts
  storybook/src/stories/AmountSummaryCard.stories.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(components): renaming ActionButton props names
  apps/extension/src/Setup/Start.tsx
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/App/Sidebars/ProposalDiscord.tsx
  apps/namadillo/src/App/Sidebars/ValidatorDiversification.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/MyValidatorsFilter.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/ReDelegateAssignStake.tsx
  apps/namadillo/src/App/Staking/ReDelegateRemoveStake.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/ValidatorFilterNav.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  packages/components/src/ActionButton.tsx
  packages/components/src/ViewKeys.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: updating storybook button stories
  storybook/src/stories/ActionButton.stories.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): updating buttons
  apps/extension/src/App/Accounts/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Login.tsx
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/Approvals/ApproveSignArbitrary.tsx
  apps/extension/src/Approvals/ConfirmSignArbitrary.tsx
  apps/extension/src/Setup/Start.tsx
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/Common/Intro.tsx
  apps/namadillo/src/App/Common/RouteErrorBoundary.tsx
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/App/Sidebars/ValidatorDiversification.tsx
  apps/namadillo/src/App/SignMessages/SignMessages.tsx
  apps/namadillo/src/App/Staking/MyValidatorsFilter.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/ReDelegateRemoveStake.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  packages/components/package.json
  packages/components/src/ActionButton.tsx
  packages/components/src/types.ts
  packages/components/src/utils.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: renaming eslinrc to cjs
  packages/components/.eslintrc.cjs
Due: none

fix: move checksum fetching into atom
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/AppSetup.tsx
  apps/namadillo/src/atoms/checksums/atoms.ts
  apps/namadillo/src/atoms/checksums/index.ts
  apps/namadillo/src/atoms/checksums/services.ts
  apps/namadillo/src/hooks/useWasmHashes.tsx
  packages/sdk/src/tx/tx.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add info to broadcast tx response
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/batchTxResult.ts
  packages/types/src/tx/schema/txResponse.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add info to broadcast tx response (#919)
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/batchTxResult.ts
  packages/types/src/tx/schema/txResponse.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: validate rpc url
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/hooks/useUpdateRpcUrl.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add rpc alive check
  apps/namadillo/src/atoms/settings/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use a common api validation
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/hooks/useUpdateIndexerUrl.ts
  apps/namadillo/src/hooks/useUpdateRpcUrl.ts
  apps/namadillo/src/hooks/useValidateApiUrl.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/App/Settings/Advanced.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: improving code readability
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: renaming to .mjs
  apps/namadillo/vite.config.mjs
Due: none

feat(namadillo): namadillo docker setup
  docker/namadillo.Dockerfile
  docker/namadillo.conf
Due: none

fix: adding missing dependency
  apps/namadillo/package.json
Due: none

feat: adding dockerignore file
  .dockerignore
Due: none

feat: improving caching layers
  docker/namadillo.Dockerfile
Due: none

feat: update instructions
  README.md
Due: none
