Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

feat: check namadillo version to invalidate shielded context (#1887)
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useInvalidateShieldedContext.ts
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: tokens sometimes not rendering correctly after refreshing masp page
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improve sync indicator error log
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing unshield, shield and other transactions
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransfer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: rolling back changes on unshield
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing unshield, shield and other transactions (#1893)
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/hooks/useTransfer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix notification toast
  apps/namadillo/src/atoms/notifications/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update to 2.4.1 indexer client
  apps/namadillo/package.json
Due: prettier --write

chore: update to 2.4.1 indexer client
  yarn.lock
Due: none

feat: update UI
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/Masp/ShieldedRewardsBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup and merge
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing transaction receipt details not appearing for shielding transfers
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Transfer/common.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing transaction receipt details not appearing for shielding transfers (#1897)
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Transfer/common.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improve sync indicator error message (#1892)
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix notification toast pending (#1894)
  apps/namadillo/src/atoms/notifications/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: unshielding fees
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/api.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: reenable service worker cache
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: use masp epoch instead of epoch
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: cache per epoch
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
  packages/sdk/src/rpc/rpc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: make sure we can construct the cache key before saving to it
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: handling new proposal types
  apps/namadillo/package.json
  apps/namadillo/src/atoms/proposals/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: handling new proposal types (#1899)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/proposals/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: adding missing bash property
  .github/actions/release-project/action.yml
Due: none

ci: adding missing bash property (#1901)
  .github/actions/release-project/action.yml
Due: none

chore: cleanup after review
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: deploy to Laconic Network (#1333)
  build-webapp.sh
Due: none

fix: cleanup connect button functionality (#1757)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: tweaking black color on all apps (#1784)
  apps/extension/src/App/Accounts/UpdateRequired.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/SelectModal.tsx
  apps/namadillo/src/App/Common/SelectOptionModal.tsx
  apps/namadillo/src/App/Layout/KeplrAccount.tsx
  apps/namadillo/src/App/Layout/NamadaAccount.tsx
  apps/namadillo/src/App/Settings/SettingsPanel.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Staking/ValidatorInfoPanel.tsx
  apps/namadillo/src/App/SwitchAccount/SwitchAccountPanel.tsx
  packages/components/src/InsetLabel.tsx
  packages/components/src/Modal.tsx
  packages/components/src/Panel.tsx
  packages/components/src/StyledSelectBox.tsx
  packages/components/src/StyledTableRow.tsx
  packages/components/src/ToggleButton.tsx
  packages/components/src/Tooltip.tsx
  packages/components/src/theme.ts
  storybook/src/stories/AmountSummaryCard.stories.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: fix up connect panel text hierarchy when not connected (#1758)
  apps/namadillo/src/App/Common/ConnectPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: show validators outside consensus and update tooltip icon (#1686)
  apps/namadillo/src/App/Staking/AmountField.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update transparent balance after transfer (#1731)
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bumping indexer versioning (#1782)
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: move stake button when transfer's locked (#1770)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: filter only enabled assets (#1753)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: allow predefining transparent source for transfers (#1762)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: increasing additional gas to avoid some ibc transactions failing (#1768)
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: hide shielded keys on switch account panel (#1781)
  apps/namadillo/src/App/SwitchAccount/SwitchAccountPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: changing indexer compatibility message to redirect users to Namada Apps (#1779)
  apps/namadillo/src/utils/compatibility.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: limit ibc withdrawal of assets only for the same chain (#1783)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update token sorting logic (#1687)
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
