Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

feat: ibc unshield with single core
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix

fix: validate private key min length
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/utils/index.ts
Due: yarn run lint

fix: validate pk before submit
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
Due: none

feat: adding basic crypto test and exports
  packages/sdk/src/crypto.ts
  packages/sdk/src/index.ts
  packages/sdk/src/tests/crypto.test.ts
Due: yarn run lint

feat: adding crypto functions to sdk package
  packages/sdk/src/crypto.ts
  packages/sdk/src/sdk.ts
Due: yarn run lint

style: improve validation error message
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
Due: none

feat: begin hooking up vault to SDK js
  apps/extension/src/background/index.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/test/init.ts
  packages/sdk/src/crypto/crypto.ts
  packages/sdk/src/crypto/index.ts
  packages/sdk/src/crypto/types.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/tests/crypto.test.ts
Due: yarn run lint

fix(interface): adding missing import to Intro/index.js
  apps/namada-interface/src/App/Common/Intro/index.ts
Due: yarn run lint

feat(storybook): adding white variant to ActionButton
  storybook/src/stories/ActionButton.stories.ts
Due: yarn run lint

fix: unit test for vault service
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  packages/sdk/src/crypto/crypto.ts
  packages/sdk/src/crypto/types.ts
  packages/sdk/src/tests/crypto.test.ts
Due: yarn run lint

feat(components): removing unused prop
  packages/components/src/ToggleButton.tsx
Due: none

feat: removing pie-chart dependency
  packages/components/package.json
  yarn.lock
Due: none

refactor(interface): removing dead code
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: none

fix: new crypto lib must support existing storage
  packages/sdk/src/crypto/crypto.ts
  packages/sdk/src/crypto/types.ts
  packages/sdk/src/tests/crypto.test.ts
Due: yarn run lint

feat: finish hooking up crypto sdk in vault
  apps/extension/src/background/vault/crypto.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/crypto.test.ts
  packages/sdk/src/index.ts
Due: yarn run lint

docs: regenerated docs for all classes
  packages/sdk/docs/README.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/modules.md
  packages/sdk/examples/queryBalance.ts
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/src/index.ts
  packages/sdk/src/tests/crypto.test.ts
  packages/sdk/src/tests/data.ts
Due: yarn run lint

refactor: migrating dev server to Vite
  apps/namada-interface/.eslintrc.cjs
  apps/namada-interface/index.html
  apps/namada-interface/package.json
  apps/namada-interface/postcss.config.cjs
  apps/namada-interface/tailwind.config.cjs
  apps/namada-interface/vite.config.js
  packages/components/src/base.css
  packages/crypto/src/init-inline.ts
  packages/hooks/package.json
  packages/hooks/src/useSanitizedLocation.ts
  packages/hooks/src/useSanitizedParams.ts
  packages/shared/src/init-inline.ts
  yarn.lock
Due: yarn run lint

feat: test workaround
  packages/shared/.gitignore
  packages/shared/lib/src/rpc_client.ts
  packages/shared/lib/src/sdk/mod.ts
  packages/shared/package.json
  packages/shared/tsconfig.node.json
  packages/shared/tsconfig.web.json
Due: yarn run lint

refactor(interface): removing unnecessary webpack scripts
  apps/namada-interface/package.json
Due: none

feat(interface): loading actual .env variables and keep compatibility
  apps/namada-interface/vite.config.js
Due: yarn run lint

refactor(shared): converting exports on shared module
  packages/shared/lib/src/rpc_client.js
  packages/shared/lib/src/sdk/mod.js
Due: yarn run lint

feat(components): generic Currency component
  packages/components/src/Currency.tsx
  storybook/.yarn/install-state.gz
  storybook/src/stories/Currency.stories.tsx
Due: none

feat(interface): overview panel without real data
  apps/namada-interface/src/App/AccountOverview/AccountOverview.components.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  packages/components/src/index.ts
Due: yarn run lint

feat(interface): adding disabled menu entries to sidebar
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
  apps/namada-interface/src/App/Common/SidebarMenuItem/SidebarMenuItem.tsx
  apps/namada-interface/src/App/Icons/MASPIcon.tsx
  apps/namada-interface/src/App/Icons/SwapIcon.tsx
Due: none

feat(interface): creating mainnet roadmap sidebar
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Sidebars/MainnetRoadmap.tsx
Due: none

feat: support-notification when ibc transfer from cosmos
  apps/namada-interface/src/services/extensionEvents/handlers/keplr.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  packages/integrations/src/Keplr.ts
  packages/types/src/events.ts
Due: yarn run lint

feat: add txh display in toast notification
  apps/namada-interface/src/App/Toast/toast.components.ts
  apps/namada-interface/src/App/Toast/toast.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/slices/notifications/reducers.ts
  apps/namada-interface/src/slices/notifications/types.ts
Due: yarn run lint

fix: change save latest block from browser to extension local storage
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/storage/LocalStorage.ts
  apps/namada-interface/src/slices/accounts.ts
  packages/integrations/src/Namada.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/types/src/namada.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: clean code
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/accounts.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
Due: yarn run lint

fix: remove redundant code
  apps/extension/src/background/keyring/handler.ts
  apps/namada-interface/src/slices/accounts.ts
  packages/integrations/src/types/Integration.ts
Due: yarn run lint

Overview screen UI updates (#723)
  apps/namada-interface/src/App/AccountOverview/AccountOverview.components.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
  apps/namada-interface/src/App/Common/SidebarMenuItem/SidebarMenuItem.tsx
  apps/namada-interface/src/App/Icons/MASPIcon.tsx
  apps/namada-interface/src/App/Icons/SwapIcon.tsx
  apps/namada-interface/src/App/Sidebars/MainnetRoadmap.tsx
  packages/components/src/Currency.tsx
  packages/components/src/index.ts
  storybook/.yarn/install-state.gz
  storybook/src/stories/Currency.stories.tsx
Due: yarn run lint

feat(components): improving StyledSelectBox component, adding backgrounds, hovers, etc
  apps/namada-interface/src/App/Common/CurrencySelector/CurrencySelector.tsx
  apps/namada-interface/src/App/Common/CurrencySelector/index.ts
  packages/components/src/StyledSelectBox.tsx
Due: yarn run lint

feat(interface): adding new slices and atoms to store
  apps/namada-interface/src/slices/exchangeRates.ts
  apps/namada-interface/src/slices/settings.ts
Due: yarn run lint

feat(components): tweaking easings on ToggleButton
  packages/components/src/ToggleButton.tsx
Due: none

feat(interface): adding active account name
  apps/namada-interface/src/App/Common/ActiveAccount/ActiveAccount.tsx
  apps/namada-interface/src/App/Common/ActiveAccount/index.ts
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  packages/components/src/CopyToClipboardControl.tsx
Due: yarn run lint

feat(components): adding components to TopNavigation
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  apps/namada-interface/src/currencies/index.ts
Due: yarn run lint

feat(components): tweaking click area of StyledSelectBox list items
  packages/components/src/StyledSelectBox.tsx
Due: none
