Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fix test
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove compatibility checks for namadillo extension and indexers versions
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/compatibility.json
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
  apps/namadillo/src/utils/compatibility.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: typo on sidebar (#1844)
  apps/namadillo/src/App/NamadaTransfer/LearnAboutTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: filter out tokens that does not exist on chain
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: reenable service worker cache
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update transaction fee button (#1843)
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: filter out tokens that does not exist on chain (#1849)
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: falling back to other fee tokens if user has no nams
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: invalidate shielded context based on indexer version
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Settings/SettingsMASP.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useInvalidateShieldedContext.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix transaction fee layout
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: cache per epoch
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
  packages/sdk/src/rpc/rpc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: no epoch for now
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove compatibility checks for namadillo extension and indexers versions (#1840)
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/compatibility.json
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
  apps/namadillo/src/utils/compatibility.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add withdrawal modal checkpoint
  apps/namadillo/src/App/Staking/WithdrawRewards.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/App/Staking/WithdrawalModal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: invalidate shielded context based on indexer version (#1853)
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Settings/SettingsMASP.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useInvalidateShieldedContext.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix transaction fee layout (#1855)
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix link for ibc asset withdraw
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/hooks/useUrlState.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add support for amino signer (Keplr)
  packages/integrations/src/Keplr.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: support amino signer for Ledger
  apps/namadillo/src/atoms/integrations/services.ts
  packages/integrations/src/Keplr.test.ts
  packages/integrations/src/Keplr.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixed failing test
  packages/integrations/src/Keplr.test.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: Fix Keplr signing when source is Ledger HW Wallet (#1838)
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving token selection modal
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Staking/StakingWithdrawModal.tsx
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: if account is Ledger, don't show sign arbitrary button
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: picking the cheapest token
  apps/namadillo/src/hooks/useTransactionFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: if account is Ledger, don't show sign arbitrary button (#1860)
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add masp indexer version
  apps/namadillo/src/App/Common/BugReport.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/hooks/useInvalidateShieldedContext.ts
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: use masp epoch instead of epoch
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: falling back to other fee tokens if user has no nams (#1852)
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add masp indexer version (#1861)
  apps/namadillo/src/App/Common/BugReport.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/hooks/useInvalidateShieldedContext.ts
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix link for ibc asset withdraw (#1858)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/hooks/useUrlState.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving token selection modal (#1859)
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Staking/StakingWithdrawModal.tsx
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: starting the advanced mode feature on Namadillo
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Sidebars/EpochInformation.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: starting the advanced mode feature on Namadillo (#1864)
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Sidebars/EpochInformation.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: changing tab and text colors on TabContainer
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing rounded corners on tabs and containers
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add button to copy shielded address
  apps/namadillo/src/App/Layout/AccountIconButton.tsx
  apps/namadillo/src/App/Layout/NamadaAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add button to copy shielded address (#1866)
  apps/namadillo/src/App/Layout/AccountIconButton.tsx
  apps/namadillo/src/App/Layout/NamadaAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add warning for tokens from inactive channel
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/InactiveChannelWarning.tsx
  apps/namadillo/src/App/Common/TokenLabel.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update select asset modal
  apps/namadillo/src/App/Transfer/AssetCard.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/__tests__/AssetCard.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove asset card
  apps/namadillo/src/App/Common/TokenLabel.tsx
  apps/namadillo/src/App/Transfer/AssetCard.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/__tests__/AssetCard.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
