Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(shared): fixing merge and adding back tsc build
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/package.json
Due: cargo fmt --all -- --fix, prettier --write

feat(interface): adding info icon to titles
  apps/namada-interface/src/App/Common/Info.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
Due: prettier --write

feat: wire atoms into governance UI (WIP)
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/routes.ts
  apps/namada-interface/src/App/Governance/types.ts
  apps/namada-interface/src/slices/proposals.ts
Due: yarn run lint, prettier --write

feat: proposal and vote page (WIP)
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write

feat(interface): refactoring Bonding and reviewing functionality
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorAmountControl.tsx
  packages/components/src/AmountInput.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): adding jotai-react-query and migrating atoms to new structure
  apps/namada-interface/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/hooks/useStakeModule.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/slices/validators.ts
  package.json
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(components): tweaking table colors
  packages/components/src/StyledTableRow.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): making the validators table occupy the full height
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
Due: prettier --write

feat: proposals atoms reworked + query utils (WIP)
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/proposals/index.ts
  apps/namada-interface/src/slices/proposals/simplifiedQueryResult.ts
  apps/namada-interface/src/slices/proposals/types.ts
Due: yarn run lint, prettier --write

feat(interface): making some progress on staking section: adding stake and unstake modules
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/routes.ts
  apps/namada-interface/src/hooks/useStakeModule.ts
  apps/namada-interface/src/slices/validators.ts
  packages/components/src/ActionButton.tsx
  packages/components/src/Alert.tsx
  packages/components/src/AmountInput.tsx
  packages/components/src/Input.tsx
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

chore: readd webpack-dev-server alongside vite
  apps/namada-interface/package.json
Due: prettier --write

feat(components): moving things to their correct places
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/hooks/useStakeModule.ts
  packages/components/src/Modal.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): reusing ValidatorSearch component and tweaking its styles
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch.tsx
Due: prettier --write

feat(extension): bumping react version to 18
  apps/extension/package.json
Due: prettier --write

fix: make react 18 peer dependency in packages
  packages/components/package.json
  packages/hooks/package.json
  yarn.lock
Due: prettier --write

feat(interface): closing modals after pressing esc
  apps/namada-interface/src/App/Common/ModalContainer.tsx
Due: prettier --write

fix: fix imports and table cell bug
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/StyledTableRow.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): keeping overview page under modals
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/routes.ts
Due: yarn run lint, prettier --write

feat(interface): incrementing staking view panel
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorAmountControl.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(interface): reusing Validators table
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  packages/components/src/StyledTable.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): applying orange color to decreased amounts
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(components): adding checkedClassName prop to override checked styles
  packages/components/src/Checkbox.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fix: fix compilation errors
  apps/namada-interface/src/App/PublicGoodsFunding/PublicGoodsFunding.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/StakingAndGovernance/MainContainerNavigation/MainContainerNavigation.components.ts
  apps/namada-interface/src/App/StakingAndGovernance/MainContainerNavigation/MainContainerNavigation.tsx
  apps/namada-interface/src/App/StakingAndGovernance/MainContainerNavigation/index.ts
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/StakingAndGovernance/index.ts
  apps/namada-interface/src/App/TopNavigation/index.ts
  apps/namada-interface/src/App/TopNavigation/topNavigation.components.ts
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigationLoggedIn.components.ts
  apps/namada-interface/src/App/TopNavigation/topNavigationLoggedIn.tsx
  packages/components/src/PieChart.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: governance UI (WIP)
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/App/Common/Sidebar.tsx
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/index.ts
  apps/namada-interface/src/App/Governance/routes.ts
  apps/namada-interface/src/slices/proposals.ts
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: continue governance pages UI (WIP)
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/types.ts
  packages/components/src/InsetLabel.tsx
  packages/components/src/Panel.tsx
  packages/components/src/ProgressBar.tsx
  packages/components/src/RoundedLabel.tsx
  packages/components/src/SegmentedBar.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: fixing merge and adding back decimalPlaces to formatPercentages
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write

feat(interface): fixing increment amount
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
Due: prettier --write

feat(interface): temp - not loading all validators twice, need a better / generic solution
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(interface): refactoring Toast notification manager and removing it from Redux
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/Toast.tsx
  apps/namada-interface/src/App/Common/Toast/index.ts
  apps/namada-interface/src/App/Common/Toast/toast.components.ts
  apps/namada-interface/src/App/Common/Toast/toast.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/ValidatorAmountControl.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/hooks/useStakeModule.ts
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/fees.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/notifications.ts
  apps/namada-interface/src/slices/notifications/index.ts
  apps/namada-interface/src/slices/notifications/reducers.test.ts
  apps/namada-interface/src/slices/notifications/reducers.ts
  apps/namada-interface/src/slices/notifications/slice.ts
  apps/namada-interface/src/slices/notifications/types.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/slices/validators.ts
  apps/namada-interface/src/store/store.ts
  apps/namada-interface/src/types/fees.ts
  apps/namada-interface/src/types/notifications.ts
  apps/namada-interface/src/types/staking.ts
  apps/namada-interface/src/types/validators.ts
  package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): managing staking toast notifications
  apps/namada-interface/src/App/Common/NamCurrency.tsx
  apps/namada-interface/src/App/Common/Toast.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/slices/notifications.ts
  packages/components/src/Currency.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): refactoring some important events for staking and migrating them to jotai
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/notifications.ts
Due: yarn run lint, prettier --write

feat: migrating few other things to jotai
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/hooks/useExtensionConnect.ts
  apps/namada-interface/src/hooks/useStakeModule.ts
  apps/namada-interface/src/services/extensionEvents/handlers/index.ts
  apps/namada-interface/src/services/extensionEvents/handlers/keplr.ts
  apps/namada-interface/src/services/extensionEvents/handlers/metamask.ts
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/store/store.ts
Due: yarn run lint, prettier --write

feat(components): keeping spacements only if labels or errors are visible
  packages/components/src/Input.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): adding loading on AccountOverview
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

feat(interface): adding staking button
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
Due: prettier --write

feat: real data on account overview
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: prettier --write

feat(interface): applying more validations to unstake
  apps/namada-interface/src/App/Staking/Unstake.tsx
Due: prettier --write

feat(interface): removing old stake files
  apps/namada-interface/src/App/Staking/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
Due: prettier --write

feat(components): adding custom validation to AmountInput
  packages/components/src/AmountInput.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): formatting validators table for real data
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/ValidatorInfoPanel.tsx
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/tailwind.css
  yarn.lock
Due: prettier --write

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  eslint --fix --max-warnings=0: (((any of: ./apps/**/src/*.{js,jsx,ts,tsx}) or (any of: ./packages/**/src/*.{js,jsx,ts,tsx})) or (any of: ./storybook/src/*.{js,jsx,ts,tsx})) or (any of: ./e2e/src/*.{js,jsx,ts,tsx})
