Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

feat: removing styled-components from extension and components
  apps/extension/package.json
  apps/extension/src/App/index.tsx
  apps/extension/webpack.config.js
  storybook/package.json
  storybook/src/StoryWrapper.tsx
Due: yarn run lint

feat: updating Readme with Storybook information
  README.md
Due: none

feat: configuring tailwind on Namada interface
  apps/namada-interface/package.json
  apps/namada-interface/postcss.config.js
  apps/namada-interface/src/index.css
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/tailwind.css
  apps/namada-interface/tailwind.config.js
  apps/namada-interface/webpack.config.js
  yarn.lock
Due: yarn run lint

feat(extension): adding tailwind styles to Approval
  apps/extension/src/Approvals/index.tsx
Due: none

fix: updating netlify SiteId
  .github/workflows/release-storybook.yml
Due: none

feat(components): fixing selectbox height
  packages/components/src/Select.tsx
Due: none

feat: add postcss-loader to the namada interface
  apps/namada-interface/package.json
Due: none

chore: fixing conflicts with main
  apps/extension/src/Setup/Common/SeedPhraseList.tsx
  apps/extension/src/Setup/Common/SeedPhraseList/SeedPhraseList.tsx
  packages/components/src/Input.tsx
  packages/components/src/Input/input.tsx
  yarn.lock
Due: none

feat(interface): fixing colors on transactions
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
Due: none

feat(extension): quick temporary fix for address overflowing
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
Due: none

maybe this works
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
Due: none

fix: adding minimum amount for Keplr claims
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
Due: none

Revert "Small fixes for Airdrop page"
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
Due: none

fix: amounts cleanup
  apps/airdrop/src/App/AirdropConfirmation.tsx
Due: none

fix: total value
  apps/airdrop/src/App/AirdropConfirmation.tsx
  apps/airdrop/src/App/hooks.ts
Due: yarn run lint

Remove content script console.log
  apps/extension/src/extension/ExtensionRouter.ts
Due: yarn run lint

fix(extension): fixing firefox extension modal
  apps/extension/src/App/App.tsx
Due: none

feat: multicore
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/webpack.config.js
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/lib.rs
  packages/shared/package.json
  packages/shared/src/init-mt.ts
  packages/shared/src/init.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

test(e2e): transfers
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseSetup.tsx
  apps/extension/src/Setup/Start.tsx
  e2e/src/index.test.ts
  e2e/src/partial/approvals.ts
  e2e/src/partial/setup.ts
  e2e/src/utils/values.ts
Due: yarn run lint

chore: cleanup
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/webpack.config.js
  packages/shared/package.json
  packages/shared/scripts/build.sh
  packages/shared/src/init-mt.ts
  packages/shared/src/init.ts
  yarn.lock
Due: yarn run lint

feat: pass chain ID to integration connect()
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  packages/integrations/src/Namada.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/integrations/src/types/Integration.ts
  packages/types/src/namada.ts
Due: yarn run lint

feat: initialize SDK inside of keyring, hook up chains
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/chains/handler.ts
  apps/extension/src/background/chains/index.ts
  apps/extension/src/background/chains/init.ts
  apps/extension/src/background/chains/messages.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  packages/chains/src/chains/namada.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/types/src/namada.ts
Due: yarn run lint

feat: added update chain form, getChain integration, sdk service
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/ConnectedSites.tsx
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/App/Settings/index.ts
  apps/extension/src/App/routes.ts
  apps/extension/src/background/chains/handler.ts
  apps/extension/src/background/chains/index.ts
  apps/extension/src/background/chains/init.ts
  apps/extension/src/background/chains/messages.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/sdk/index.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  packages/chains/src/chains/namada.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
  packages/types/src/namada.ts
Due: yarn run lint

feat: sanitize inputs, add events for network change
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  packages/types/src/events.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint

feat: hook up new chain in interface
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/slices/chain.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
Due: yarn run lint

test(e2e): transfers
  apps/extension/webpack.config.js
  apps/namada-interface/package.json
  apps/namada-interface/webpack.config.js
  e2e/genesis/localnet/parameters.toml
  e2e/package.json
  e2e/src/index.test.ts
  e2e/src/partial/transfer.ts
  e2e/src/utils/helpers.ts
  e2e/start-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/masp.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: ff multicore support
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/package.json
  apps/extension/scripts/build.js
  apps/extension/scripts/build.sh
  apps/namada-interface/package.json
  apps/namada-interface/scripts/build.js
  apps/namada-interface/scripts/build.sh
  apps/namada-interface/webpack.config.js
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/utils.rs
  packages/shared/package.json
  packages/shared/scripts/build.js
  packages/shared/scripts/build.sh
Due: yarn run lint, cargo fmt --all -- --fix

chore: update namada to 0.29.0
  e2e/genesis/localnet/parameters.toml
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

fix: bump extension version 0.1.0 -> 0.2.0
  apps/extension/package.json
Due: none

feat/550 - Fix chain ID issues in Extension (#551)
  apps/extension/package.json
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/ConnectedSites.tsx
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/App/Settings/index.ts
  apps/extension/src/App/routes.ts
  apps/extension/src/background/chains/handler.ts
  apps/extension/src/background/chains/index.ts
  apps/extension/src/background/chains/init.ts
  apps/extension/src/background/chains/messages.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/sdk/index.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/chain.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  packages/chains/src/chains/namada.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
  packages/types/src/events.ts
  packages/types/src/namada.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint

fix: update manifest permissions, fix approve tx auth
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/manifest/v3/_base.json
Due: yarn run lint

fix: update manifest permissions, fix approve tx auth (#557)
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/manifest/v3/_base.json
Due: yarn run lint

test(e2e): pos tests reenabled
  e2e/.gitignore
  e2e/genesis/parameters/default_parameters.toml
  e2e/genesis/parameters/pos_parameters.toml
  e2e/setup-namada.sh
  e2e/src/index.test.ts
  e2e/src/partial/setup.ts
  e2e/src/utils/helpers.ts
Due: yarn run lint

fix: multicore namada ff and e2e timeouts
  e2e/src/index.test.ts
  e2e/src/utils/helpers.ts
  packages/shared/lib/Cargo.toml
Due: yarn run lint

feat: multicore (#549)
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/package.json
  apps/extension/scripts/build.js
  apps/extension/scripts/build.sh
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseSetup.tsx
  apps/extension/src/Setup/Start.tsx
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/webpack.config.js
  apps/namada-interface/package.json
  apps/namada-interface/scripts/build.js
  apps/namada-interface/scripts/build.sh
  apps/namada-interface/webpack.config.js
  e2e/genesis/localnet/parameters.toml
  e2e/package.json
  e2e/src/index.test.ts
  e2e/src/partial/approvals.ts
  e2e/src/partial/setup.ts
  e2e/src/partial/transfer.ts
  e2e/src/utils/helpers.ts
  e2e/src/utils/values.ts
  e2e/start-namada.sh
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/utils.rs
  packages/shared/package.json
  packages/shared/scripts/build.js
  packages/shared/scripts/build.sh
  packages/shared/src/init.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

fix: add amount input component to fix input bugs (#540)
  apps/faucet/src/App/Faucet.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  packages/components/src/AmountInput.tsx
  packages/components/src/index.ts
Due: yarn run lint

feat: yarn release
  packages/shared/package.json
  packages/shared/scripts/build.js
  packages/types/package.json
  yarn.lock
Due: yarn run lint

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
