Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

refactor: improvements from the CR
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/storage/RevealPKStorage.ts
  apps/extension/src/storage/VaultStorage.ts
Due: yarn run lint

fix: rebase with main
  apps/extension/src/background/approvals/service.test.ts
  yarn.lock
Due: yarn run lint

fix: add missing awaits
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/storage/VaultStorage.test.ts
  apps/extension/src/storage/VaultStorage.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

fix: code review
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

Storage refactor (#644)
  apps/extension/package.json
  apps/extension/src/App/Settings/ConnectedSites.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/index.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/utils.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/utils.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/content/index.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/extension/src/extension/ExtensionRouter.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/Proxy.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/services/requester.tsx
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/storage/RevealPKStorage.ts
  apps/extension/src/storage/Storage.ts
  apps/extension/src/storage/VaultStorage.test.ts
  apps/extension/src/storage/VaultStorage.ts
  apps/extension/src/storage/index.ts
  apps/extension/src/test/init.ts
  e2e/genesis/localnet/src/pre-genesis/validator-0/wallet.toml
  packages/storage/src/store/ExtensionKVStore.ts
  yarn.lock
Due: yarn run lint

Few extension UI tweaks (#654)
  apps/extension/src/Setup/AccountCreation/SeedPhraseWarning.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Common/Password.tsx
  apps/extension/src/Setup/Common/SeedPhraseListItem.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/utils/index.ts
  packages/components/src/FeedbackButton.tsx
Due: yarn run lint

fix: stop yellow leaking in progress indicator (#653)
  packages/components/src/ProgressIndicator.tsx
Due: none

fix: make enter key submit form on import keys page (#653)
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
Due: none

chore: make seed phrase warning fast in development (#653)
  apps/extension/src/Setup/AccountCreation/SeedPhraseWarning.tsx
Due: none

fix: capitalize seed phrase confirmation message (#653)
  apps/extension/src/Setup/AccountCreation/SeedPhraseConfirmation.tsx
Due: none

feat: adding more steps to confirm signature (#646)
  apps/extension/src/Approvals/ConfirmSignature.tsx
Due: none

fix: unshiedling
  apps/extension/src/Setup/AccountCreation/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/AccountCreation/SeedPhraseWarning.tsx
  apps/extension/src/Setup/Common/CreateKeyForm.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/accounts.ts
  e2e/setup-namada.sh
  e2e/src/partial/setup.ts
  packages/components/src/FeedbackButton.tsx
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/integrations/src/types/Integration.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/shared/src/index.ts
  packages/types/src/namada.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: no floating promises in extension
  apps/extension/.eslintrc.js
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/ConnectedSites.tsx
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/App/Setup.tsx
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/Approvals/ConfirmSignature.tsx
  apps/extension/src/Setup/AccountCreation/SeedPhrase.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/context/VaultContext.tsx
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/extension/src/hooks/useCloseTabOnExtensionLock.ts
  apps/extension/src/hooks/usePasswordInitialized.ts
  apps/extension/src/hooks/useSystemLock.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/services/requester.tsx
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/storage/RevealPKStorage.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint

docs: eslint for jsdoc added
  packages/sdk/.eslintrc.js
  packages/sdk/docs/api.md
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/initAsync.ts
  packages/sdk/src/initSync.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/masp.ts
  packages/sdk/src/mnemonic.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tx/tx.ts
  yarn.lock
Due: yarn run lint

Wait for tx promise to resolve/reject + refactoring
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint

fix: action button fill
  packages/components/src/ActionButton.tsx
  packages/components/src/theme.js
Due: yarn run lint

forgot await
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint

refactor: refactored service.ts and error handling
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint

fix: make publicKey required
  packages/types/src/tx/schema/tx.ts
Due: yarn run lint

fix: reject tx/signatures when the user closes the window
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/utils/index.ts
Due: yarn run lint

docs: changed comments
  apps/extension/src/Approvals/Approvals.tsx
Due: none

test: sdk example
  packages/sdk/examples/simple.ts
  packages/sdk/package.json
  packages/sdk/tsconfig.json
  yarn.lock
Due: yarn run lint

refactor: separated popup window creation from resolver attaching
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint

feat: reintroduced isResolver in both reject functions
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint

feat: no floating promises in extension (#657)
  apps/extension/.eslintrc.js
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/ConnectedSites.tsx
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/App/Setup.tsx
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/Approvals/ConfirmSignature.tsx
  apps/extension/src/Setup/AccountCreation/SeedPhrase.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/context/VaultContext.tsx
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/extension/src/hooks/useCloseTabOnExtensionLock.ts
  apps/extension/src/hooks/usePasswordInitialized.ts
  apps/extension/src/hooks/useSystemLock.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/services/requester.tsx
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/storage/RevealPKStorage.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint

fix: cr comments
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/accounts.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
Due: yarn run lint

fix: unshiedling (#656)
  apps/extension/src/Setup/AccountCreation/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/AccountCreation/SeedPhraseWarning.tsx
  apps/extension/src/Setup/Common/CreateKeyForm.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/accounts.ts
  e2e/setup-namada.sh
  e2e/src/partial/setup.ts
  packages/components/src/FeedbackButton.tsx
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/integrations/src/types/Integration.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/shared/src/index.ts
  packages/types/src/namada.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: hovercolor variant; transition; background position
  packages/components/src/ActionButton.tsx
  packages/components/src/base.css
  packages/components/src/theme.js
Due: yarn run lint

feat: setting up sdk package
  packages/sdk/.eslintrc.js
  packages/sdk/.gitignore
  packages/sdk/.release-it.cjs
  packages/sdk/README.md
  packages/sdk/babel.config.js
  packages/sdk/jest.config.ts
  packages/sdk/package.json
  packages/sdk/scripts/build-node.sh
  packages/sdk/scripts/build.js
  packages/sdk/src/index.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/tx.ts
  packages/sdk/src/types.ts
  packages/sdk/tsconfig.json
  tsconfig.base.json
Due: yarn run lint

feat: adding type for tx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Signer.ts
  packages/sdk/README.md
  packages/sdk/src/index.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/tx.ts
  packages/sdk/src/tx/index.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
  packages/sdk/src/types.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/schema/voteProposal.ts
  packages/types/src/tx/schema/withdraw.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

feat: adding keys and mnemonic from crypto lib
  apps/extension/src/background/keyring/keyring.ts
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/zip32.rs
  packages/sdk/package.json
  packages/sdk/src/keys/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/keys/types.ts
  packages/sdk/src/mnemonic.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: additional tx, added signing & ledger
  apps/extension/src/provider/Signer.ts
  apps/extension/src/utils/index.ts
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/integrations/src/Keplr.ts
  packages/integrations/src/types/Integration.ts
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/mnemonic.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tx/tx.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/ethBridgeTransfer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

feat: added remaining Staking queries and types
  packages/sdk/README.md
  packages/sdk/src/index.ts
  packages/sdk/src/keys/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/keys/types.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/rpc/index.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/sdk/src/tx/index.ts
Due: yarn run lint

feat: additional JsDoc
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/mnemonic.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
Due: yarn run lint

feat: adding proposals query
  packages/sdk/src/index.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: add api docs and tests
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/utils/index.ts
  package.json
  packages/sdk/README.md
  packages/sdk/docs/api.md
  packages/sdk/docs/specs.md
  packages/sdk/jest.config.ts
  packages/sdk/jsdoc2md.json
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/init.ts
  packages/sdk/src/keys/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/masp.ts
  packages/sdk/src/rpc/index.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tests/data.ts
  packages/sdk/src/tests/initSdk.ts
  packages/sdk/src/tests/keys.test.ts
  packages/sdk/src/tests/mnemonic.test.ts
  packages/sdk/src/tests/sdk.test.ts
  packages/sdk/src/tests/signing.test.ts
  packages/sdk/src/tests/tx.test.ts
  packages/sdk/src/tx/index.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: set up docs toc, better init function definitions, clean up
  packages/sdk/docs/api.md
  packages/sdk/docs/specs.md
  packages/sdk/src/index.ts
  packages/sdk/src/initAsync.ts
  packages/sdk/src/initSync.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/tests/data.ts
  packages/sdk/src/tests/initSdk.ts
  packages/sdk/src/tests/keys.test.ts
  packages/sdk/src/tests/mnemonic.test.ts
  packages/sdk/src/tests/sdk.test.ts
  packages/sdk/src/tests/signing.test.ts
  packages/sdk/src/tests/tx.test.ts
Due: yarn run lint

docs: eslint for jsdoc added
  packages/sdk/.eslintrc.js
  packages/sdk/docs/api.md
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/initAsync.ts
  packages/sdk/src/initSync.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/masp.ts
  packages/sdk/src/mnemonic.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tx/tx.ts
Due: yarn run lint

chore: examples README.md
  packages/sdk/examples/README.md
  packages/sdk/examples/index.ts
Due: yarn run lint

chore: simple nodejs examples
  apps/extension/src/background/ledger/service.ts
  packages/sdk/examples/args.ts
  packages/sdk/examples/index.ts
  packages/sdk/examples/queryBalance.ts
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/package.json
  packages/sdk/src/tx/tx.ts
  packages/sdk/tsconfig.json
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/utils.rs
  packages/shared/scripts/build-test.sh
Due: yarn run lint, cargo fmt --all -- --fix

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
