Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

Organize, add Query examples
  specs/packages/examples.md
Due: none

Add docs for Ledger HW wallet
  specs/browser-extension/integration.md
  specs/packages/examples.md
Due: none

Additional notes on extension API
  packages/types/src/events.ts
  specs/browser-extension/integration.md
Due: yarn run lint

Add SDK examples
  specs/packages/examples.md
  specs/packages/sdk.md
Due: none

Fix typo
  specs/browser-extension/integration.md
Due: none

Fixing small discrepency
  specs/packages/examples.md
Due: none

Update Ledger signing for multisig changes (#388)
  apps/extension/src/background/ledger/ledger.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/utils/index.ts
  packages/ledger-namada/dist/common.d.ts
  packages/ledger-namada/dist/common.js.map
  packages/ledger-namada/dist/config.d.ts
  packages/ledger-namada/dist/config.js
  packages/ledger-namada/dist/config.js.map
  packages/ledger-namada/dist/namadaApp.d.ts
  packages/ledger-namada/dist/namadaApp.js
  packages/ledger-namada/dist/namadaApp.js.map
  packages/ledger-namada/dist/processResponses.d.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/ledger-namada/dist/types.d.ts
  packages/ledger-namada/dist/types.js
  packages/ledger-namada/dist/types.js.map
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/types/src/tx/schema/signature.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: e2e tests
  e2e/genesis.toml
  e2e/setup-namada.sh
  e2e/src/index.test.ts
  e2e/src/partial/setup.ts
Due: yarn run lint

chore: update namada to 0.23.0 (#398)
  e2e/genesis.toml
  e2e/setup-namada.sh
  e2e/src/index.test.ts
  e2e/src/partial/setup.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: strict storage durablity
  packages/storage/src/store/IndexedDBKVStore.ts
Due: yarn run lint

specs - Add SDK examples (#395)
  packages/types/src/events.ts
  specs/browser-extension/integration.md
  specs/packages/examples.md
  specs/packages/sdk.md
Due: yarn run lint

Fix validation with non-NAM tokens
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/integrations/src/Keplr.ts
  packages/types/src/tx/tokens/Cosmos.ts
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint

Remove temp token definitions, only show atom for now
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  packages/integrations/src/Keplr.ts
  packages/types/src/tx/tokens/Cosmos.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

Pass token as TokenInfo to integrations, as different values are needed
  apps/extension/src/provider/Signer.ts
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/types.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Namada.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

Re-enable IBC, catch error if signing fails on Ledger
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/background/keyring/service.ts
  packages/integrations/src/Keplr.ts
Due: yarn run lint

use feeAmount from tx
  packages/integrations/src/Keplr.ts
  packages/types/src/tx/schema/ibcTransfer.ts
Due: yarn run lint

Fix Keplr IBC send (wrong denom)
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/integrations/src/Keplr.ts
  packages/types/src/tx/tokens/Cosmos.ts
  packages/types/src/tx/tokens/index.ts
Due: yarn run lint

feat: make storage durable
  apps/extension/src/App/App.components.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  packages/storage/src/store/IndexedDBKVStore.ts
Due: yarn run lint

test(e2e): transfer from transparent to shielded address
  e2e/src/index.test.ts
  e2e/src/partial/index.ts
  e2e/src/partial/transfer.ts
  e2e/src/utils/index.ts
  e2e/src/utils/values.ts
Due: yarn run lint

feat: implement web io
  packages/crypto/lib/rust-toolchain.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

feat: implement web io (#402)
  packages/crypto/lib/rust-toolchain.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

feat: strict storage durablity (#399)
  apps/extension/src/App/App.components.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  packages/storage/src/store/IndexedDBKVStore.ts
Due: yarn run lint

feat/380 - IBC Updates (#383)
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Signer.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/types.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Namada.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/tokens/Cosmos.ts
  packages/types/src/tx/tokens/index.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

Docs
  apps/faucet/README.md
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/index.ts
Due: yarn run lint

Handle ReadableStream output on API error, display to user
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/index.ts
Due: yarn run lint

Fix proxy, fix solution
  apps/faucet/scripts/startProxies.js
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/index.ts
Due: yarn run lint

Validate target, display response
  apps/faucet/package.json
  apps/faucet/src/App/Faucet.components.ts
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/index.ts
  yarn.lock
Due: yarn run lint

Adding basic faucet app
  apps/faucet/.env.sample
  apps/faucet/.eslintignore
  apps/faucet/.eslintrc
  apps/faucet/.gitignore
  apps/faucet/.prettierignore
  apps/faucet/.prettierrc
  apps/faucet/README.md
  apps/faucet/babel.config.json
  apps/faucet/package.json
  apps/faucet/public/_redirects
  apps/faucet/public/apple-touch-icon.png
  apps/faucet/public/favicon-16x16.png
  apps/faucet/public/favicon-32x32.png
  apps/faucet/public/index.html
  apps/faucet/public/manifest.json
  apps/faucet/public/robots.txt
  apps/faucet/scripts/start-proxy.sh
  apps/faucet/scripts/startProxies.js
  apps/faucet/src/App/App.components.ts
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.components.ts
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/App/index.ts
  apps/faucet/src/config/index.ts
  apps/faucet/src/config/tokens.ts
  apps/faucet/src/custom.d.ts
  apps/faucet/src/index.css
  apps/faucet/src/index.tsx
  apps/faucet/src/styled.d.ts
  apps/faucet/src/utils/index.ts
  apps/faucet/tsconfig.json
  apps/faucet/tsconfig.webpack.json
  apps/faucet/webpack.config.js
  packages/components/src/Input/input.tsx
  packages/utils/src/theme/theme.ts
  yarn.lock
Due: yarn run lint

Add banner with live date, disable form if not live
  apps/faucet/src/App/App.components.ts
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
Due: yarn run lint

feat/400 - Set up basic Faucet form App (#401)
  apps/faucet/.env.sample
  apps/faucet/.eslintignore
  apps/faucet/.eslintrc
  apps/faucet/.gitignore
  apps/faucet/.prettierignore
  apps/faucet/.prettierrc
  apps/faucet/README.md
  apps/faucet/babel.config.json
  apps/faucet/package.json
  apps/faucet/public/_redirects
  apps/faucet/public/apple-touch-icon.png
  apps/faucet/public/favicon-16x16.png
  apps/faucet/public/favicon-32x32.png
  apps/faucet/public/index.html
  apps/faucet/public/manifest.json
  apps/faucet/public/robots.txt
  apps/faucet/scripts/start-proxy.sh
  apps/faucet/scripts/startProxies.js
  apps/faucet/src/App/App.components.ts
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.components.ts
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/App/index.ts
  apps/faucet/src/config/index.ts
  apps/faucet/src/config/tokens.ts
  apps/faucet/src/custom.d.ts
  apps/faucet/src/index.css
  apps/faucet/src/index.tsx
  apps/faucet/src/styled.d.ts
  apps/faucet/src/utils/index.ts
  apps/faucet/tsconfig.json
  apps/faucet/tsconfig.webpack.json
  apps/faucet/webpack.config.js
  packages/components/src/Input/input.tsx
  packages/utils/src/theme/theme.ts
  yarn.lock
Due: yarn run lint

test(e2e): add transfer to eth bridge pool
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  e2e/genesis.toml
  e2e/src/index.test.ts
  e2e/src/utils/values.ts
Due: yarn run lint

test(e2e): withdraw, masp params fetch and pasting optimizations
  e2e/genesis.toml
  e2e/setup-frontend.sh
  e2e/setup-namada.sh
  e2e/src/index.test.ts
  e2e/src/partial/setup.ts
  e2e/src/partial/transfer.ts
  e2e/src/utils/helpers.ts
  packages/shared/lib/src/sdk/mod.js
Due: yarn run lint

test(e2e): bond and unbond
  e2e/setup-namada.sh
  e2e/src/index.test.ts
  e2e/src/partial/approvals.ts
  e2e/src/partial/index.ts
  e2e/src/partial/transfer.ts
  e2e/src/utils/helpers.ts
  e2e/src/utils/index.ts
Due: yarn run lint

test(e2e): withdraw info dialog
  e2e/src/index.test.ts
Due: yarn run lint

refactor: remove dropdown and replace all the chains with namada one
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Settings/SettingsWalletSettings/SettingsWalletSettings.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/services/index.ts
  apps/namada-interface/src/services/integrations/index.ts
  apps/namada-interface/src/services/integrations/provider.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/store/store.ts
  packages/chains/src/index.ts
  packages/hooks/src/useIntegration.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/index.ts
Due: yarn run lint

test(e2e): transfer from transparent to shielded address (#403)
  e2e/src/index.test.ts
  e2e/src/partial/index.ts
  e2e/src/partial/transfer.ts
  e2e/src/utils/index.ts
  e2e/src/utils/values.ts
Due: yarn run lint

test(e2e): bond, unbond, withdraw, add to bridge pool (#404)
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  e2e/genesis.toml
  e2e/setup-frontend.sh
  e2e/setup-namada.sh
  e2e/src/index.test.ts
  e2e/src/partial/approvals.ts
  e2e/src/partial/index.ts
  e2e/src/partial/setup.ts
  e2e/src/partial/transfer.ts
  e2e/src/utils/helpers.ts
  e2e/src/utils/index.ts
  e2e/src/utils/values.ts
  packages/shared/lib/src/sdk/mod.js
Due: yarn run lint

chore: fix web-ext failing to install on CI
  .github/workflows/release-wallet.yml
Due: none

chore: fix web-ext failing to install on CI (#409)
  .github/workflows/release-wallet.yml
Due: none

Update release action
  .github/workflows/release-wallet.yml
  packages/types/src/chain.ts
Due: yarn run lint
