Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

feat: gas fee and token send form improvements (#428)
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.components.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/types.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/components/src/Input/BigNumberInput.tsx
  packages/components/src/Input/index.ts
  packages/integrations/src/Keplr.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/tx.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat(extension): check if sdk store can be decoded
  apps/extension/src/background/index.ts
Due: yarn run lint

feat(extension): returning an empty array instead of throwing an error
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint

feat(extension,app): fixing redirect error on delete
  apps/extension/src/App/App.tsx
  apps/extension/src/Setup/Common/ContainerHeader/ContainerHeader.components.ts
Due: yarn run lint

Update e2e namada version
  e2e/setup-namada.sh
Due: none

refactor: fixing lint warnings
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/Accounts/DeleteAccount/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  packages/components/src/ActionButton/ActionButton.components.tsx
  packages/components/src/DropdownMenu/DropdownMenu.components.ts
  packages/components/src/KeyListItem/KeyListItem.tsx
Due: yarn run lint

feat(extension,app): removing password lock
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
Due: none

refactor: fixing import to uppercase
  apps/extension/src/Setup/Start/Start.tsx
Due: none

feat: claim with github
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
Due: yarn run lint

refactor: removing unused import
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
Due: none

feat(extension,app): rolling back password feature for ledger
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.tsx
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/messages.ts
Due: yarn run lint

feat: cleanup
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/GithubClaim.tsx
  apps/airdrop/src/App/KeplrClaim.tsx
  apps/airdrop/src/App/NamadaAddress.tsx
  apps/airdrop/src/App/state.ts
  apps/airdrop/src/App/types.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
Due: yarn run lint

Update to 0.25.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

Update Mnemonic to use tiny-bip39
  apps/extension/src/background/keyring/keyring.ts
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/src/index.ts
  packages/shared/lib/src/types/address.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Update private key derivation to slip10_ed25519
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/data.mock.ts
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/crypto/bip32.rs
  packages/types/src/account.ts
Due: yarn run lint, cargo fmt --all -- --fix

Fix tests
  apps/extension/src/background/keyring/keyring.ts
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/src/__tests__/crypto.test.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat/182 - Private key derivation updates (#434)
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/data.mock.ts
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/src/__tests__/crypto.test.ts
  packages/crypto/src/index.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/types/address.rs
  packages/shared/src/index.ts
  packages/types/src/account.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat(extension): decoupling vault from keyring in order to have a master password for the extension
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/App/Common/LockKey/LockKey.tsx
  apps/extension/src/App/LockWrapper/LockWrapper.tsx
  apps/extension/src/App/Login/Login.tsx
  apps/extension/src/App/Settings/ExtraSettings/ResetPassword/ResetPassword.tsx
  apps/extension/src/App/Settings/ExtraSettings/ResetPassword/index.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/index.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/vault/constants.ts
  apps/extension/src/background/vault/crypto.ts
  apps/extension/src/background/vault/handler.ts
  apps/extension/src/background/vault/index.ts
  apps/extension/src/background/vault/init.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/hooks/useAuth.tsx
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint

feat(extension): adding lock functionality + big refactory on App
  apps/extension/src/App/Accounts/DeleteAccount/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/LockKey/LockKey.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseConfirmation/SeedPhraseConfirmation.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/hooks/useAccount.ts
  apps/extension/src/hooks/useCloseTabOnExtensionLock.ts
  packages/components/src/KeyListItem/KeyListItem.tsx
Due: yarn run lint

feat(extension,setup): optional password field, if master password is already set-up
  apps/extension/src/App/App.tsx
  apps/extension/src/App/LockWrapper/LockWrapper.components.ts
  apps/extension/src/App/LockWrapper/LockWrapper.tsx
  apps/extension/src/App/LockWrapper/index.ts
  apps/extension/src/App/Login/Login.components.ts
  apps/extension/src/App/Login/Login.tsx
  apps/extension/src/App/Login/index.ts
  apps/extension/src/App/index.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseConfirmation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/Common/AccountAlias/AccountAlias.tsx
  apps/extension/src/Setup/Common/AccountAlias/index.ts
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/Common/Password/Password.tsx
  apps/extension/src/Setup/Common/index.ts
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseSetup/SeedPhraseSetup.tsx
  apps/extension/src/Setup/ImportAccount/index.ts
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConfirmation/LedgerConfirmation.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/content/events.ts
  apps/extension/src/hooks/useCloseTabOnExtensionLock.tsx
  apps/extension/src/hooks/usePasswordInitialized.ts
  apps/extension/src/provider/Namada.test.ts
Due: yarn run lint

feat(extension): adding lock extension message to ExtensionBroadcaster
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  packages/types/src/events.ts
  specs/browser-extension/integration.md
Due: yarn run lint

feat(extension,tests): improving vault tests
  apps/extension/src/background/vault/tests/service.test.ts
Due: yarn run lint

feat(components): tweaking spacements and sizing
  apps/extension/src/App/Accounts/DeleteAccount/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.components.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/App/App.components.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeader/AppHeader.components.ts
  apps/extension/src/App/Login/Login.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseConfirmation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseWarning/SeedPhraseWarning.tsx
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseSetup/SeedPhraseSetup.tsx
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConfirmation/LedgerConfirmation.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.tsx
  apps/extension/src/Setup/Start/Start.tsx
  packages/components/src/ActionButton/ActionButton.components.tsx
  packages/components/src/Checkbox/Checkbox.components.ts
  packages/components/src/Container/Container.components.ts
  packages/components/src/DropdownMenu/DropdownMenu.components.ts
  packages/components/src/Heading/Heading.tsx
  packages/components/src/Heading/heading.components.ts
  packages/components/src/KeyListItem/KeyListItem.components.ts
  packages/components/src/Stack/Stack.tsx
  packages/components/src/Stack/index.ts
  packages/components/src/ViewKeys/ViewKeys.tsx
  packages/utils/src/theme/theme.ts
Due: yarn run lint

feat(extension, app): change password screen with a temporary location
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Settings/ChangePassword/ChangePassword.tsx
  apps/extension/src/App/Settings/ChangePassword/index.ts
  apps/extension/src/App/Settings/ExtraSettings/ResetPassword/ResetPassword.components.ts
  apps/extension/src/App/Settings/ExtraSettings/ResetPassword/ResetPassword.tsx
  apps/extension/src/App/Settings/ExtraSettings/ResetPassword/index.ts
  apps/extension/src/App/types.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/vault/service.ts
Due: yarn run lint

feat(components): adding basic button hover
  apps/extension/src/Setup/Setup.components.ts
  apps/extension/src/public/app.css
  packages/components/src/ActionButton/ActionButton.components.tsx
  packages/components/src/ActionButton/ActionButton.tsx
Due: yarn run lint

feat(extension, app): adding a few tests for vault
  apps/extension/src/background/vault/handler.ts
  apps/extension/src/background/vault/index.ts
  apps/extension/src/background/vault/init.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/crypto.test.ts
  apps/extension/src/background/vault/tests/service.test.ts
Due: yarn run lint

feat(extension): fixing some bugs on app locking and some refactory
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/LockWrapper/LockWrapper.tsx
  apps/extension/src/App/LockWrapper/index.ts
  apps/extension/src/App/Login/Login.tsx
  apps/extension/src/App/types.ts
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/hooks/useSystemLock.ts
  packages/components/src/Container/Container.components.ts
  packages/components/src/LinkButton/LinkButton.components.ts
  packages/components/src/LinkButton/LinkButton.tsx
Due: yarn run lint

feat(extension, app): unifying ledger accounts in the keyring + necessary changes
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConfirmation/LedgerConfirmation.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.tsx
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/init.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  packages/components/src/Loading/Loading.components.ts
Due: yarn run lint

feat(tests): updating unit tests
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat(extension, app): updating login text
  apps/extension/src/App/Login/Login.tsx
Due: none

feat(extension, app): fixing lint warnings
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat(extension): using React context to manage state
  apps/extension/src/App/Accounts/DeleteAccount/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/index.tsx
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/context/index.ts
Due: yarn run lint

refactor(extension): removing unused component
  apps/extension/src/App/Common/LockKey/LockKey.tsx
  apps/extension/src/App/Common/LockKey/index.ts
Due: yarn run lint

refactor(extension, app): refactoring route management
  apps/extension/src/App/Accounts/DeleteAccount/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
Due: yarn run lint

feat(extension, app): adding Vault context
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Settings/ChangePassword/ChangePassword.tsx
  apps/extension/src/App/index.tsx
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/context/VaultContext.tsx
  apps/extension/src/context/index.ts
Due: yarn run lint

feat(extension): creating view mnemonic page
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ViewMnemonic/ViewMnemonic.tsx
  apps/extension/src/App/Accounts/ViewMnemonic/index.ts
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/context/AccountContext.tsx
  packages/components/src/KeyListItem/KeyListItem.tsx
  packages/components/src/SeedPhraseInstructions/SeedPhraseInstructions.components.tsx
  packages/components/src/SeedPhraseInstructions/SeedPhraseInstructions.tsx
  packages/components/src/SeedPhraseInstructions/index.ts
  packages/components/src/index.ts
Due: yarn run lint

feat(extension, setup): reflecting changes on SeedPhraseInstructions and reusing a few components
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseConfirmation/SeedPhraseConfirmation.components.ts
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseConfirmation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseWarning/SeedPhraseWarning.components.ts
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseWarning/SeedPhraseWarning.tsx
  apps/extension/src/Setup/Common/index.ts
Due: yarn run lint

feat(extension): fixing inital loading state
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Setup/Setup.components.ts
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/context/VaultContext.tsx
Due: yarn run lint

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
