Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat: fixing process is not defined error
  storybook/.storybook/main.ts
Due: yarn run lint, prettier --write

feat(components): tweaking animation on StyledSelectBox component
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): separating Staking from Governance and starting new page structure
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/App/Common/ConnectBanner/ConnectBanner.tsx
  apps/namada-interface/src/App/Common/ConnectBanner/index.ts
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
  apps/namada-interface/src/App/Sidebars/ValidatorDiversification.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.components.ts
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/App/Staking/routes.ts
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.components.ts
  packages/components/src/Input.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(components): adding white version for action button
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): adding pie chart component
  packages/components/package.json
  packages/components/src/PieChart.tsx
  storybook/src/stories/PieChart.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: adding sidebar navigation
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
  apps/namada-interface/src/App/Common/Sidebar/index.ts
  apps/namada-interface/src/App/Common/SidebarMenuItem/SidebarMenuItem.tsx
  apps/namada-interface/src/App/Common/SidebarMenuItem/index.ts
Due: yarn run lint, prettier --write

refactor(interface): refactoring Common component folder structure
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Common/ActiveAccount.tsx
  apps/namada-interface/src/App/Common/ActiveAccount/index.ts
  apps/namada-interface/src/App/Common/ConnectBanner.tsx
  apps/namada-interface/src/App/Common/ConnectBanner/index.ts
  apps/namada-interface/src/App/Common/ConnectExtensionButton.tsx
  apps/namada-interface/src/App/Common/ConnectExtensionButton/index.ts
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Common/Container/index.ts
  apps/namada-interface/src/App/Common/CurrencySelector.tsx
  apps/namada-interface/src/App/Common/CurrencySelector/index.ts
  apps/namada-interface/src/App/Common/FormattedPaginator.tsx
  apps/namada-interface/src/App/Common/FormattedPaginator/index.ts
  apps/namada-interface/src/App/Common/Intro.tsx
  apps/namada-interface/src/App/Common/Intro/index.ts
  apps/namada-interface/src/App/Common/Sidebar.tsx
  apps/namada-interface/src/App/Common/Sidebar/index.ts
  apps/namada-interface/src/App/Common/SidebarMenuItem.tsx
  apps/namada-interface/src/App/Common/SidebarMenuItem/index.ts
  apps/namada-interface/src/App/Common/TopNavigation.tsx
  apps/namada-interface/src/App/Common/TopNavigation/index.ts
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
Due: yarn run lint, prettier --write

feat(components): removing unused prop
  packages/components/src/ToggleButton.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: adding connect extension button component and initial dashboard for non-connected users
  apps/namada-interface/package.json
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.components.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/ConnectExtensionButton/ConnectExtensionButton.tsx
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Container/index.ts
  apps/namada-interface/src/App/Common/Intro/Intro.tsx
  apps/namada-interface/src/App/Common/Intro/index.ts
  apps/namada-interface/src/App/Common/Toast/index.ts
  apps/namada-interface/src/App/Common/Toast/toast.components.ts
  apps/namada-interface/src/App/Common/Toast/toast.tsx
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  apps/namada-interface/src/App/Common/TopNavigation/index.ts
  apps/namada-interface/src/App/TopNavigation/topNavigation.components.ts
  apps/namada-interface/src/hooks/useExtensionConnect.ts
  apps/namada-interface/src/tailwind.css
  apps/namada-interface/webpack.config.js
  yarn.lock
Due: yarn run lint, prettier --write

feat(interface): adding Validator Diversification sidebar
  apps/namada-interface/src/App/Sidebars/ValidatorDiversification.tsx
  apps/namada-interface/src/App/Sidebars/assets/staking-info.png
Due: prettier --write

feat(interface): refactoring AllValidatorsTable, migrating to jotai and applying new UI
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Common/FormattedPaginator/FormattedPaginator.tsx
  apps/namada-interface/src/App/Common/FormattedPaginator/index.ts
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch/ValidatorSearch.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch/index.ts
  apps/namada-interface/src/slices/validators.ts
  packages/components/src/Panel.tsx
  packages/components/src/StyledTable.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): migrating few more thunks and slices to jotai
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/fakeData.ts
  apps/namada-interface/src/slices/StakingAndGovernance/index.ts
  apps/namada-interface/src/slices/StakingAndGovernance/reducers.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/exchangeRates.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat: bonding validators table (WIP)
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
Due: prettier --write

feat(components): adding the possibility to cast panel into tags different than divs
  packages/components/src/Panel.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): wip - implementing Staking UI and migrating state to jotai
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/currencies/index.ts
  apps/namada-interface/src/hooks/useExtensionConnect.ts
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: yarn run lint, prettier --write

feat(components): removing legacy Toggle component
  packages/components/src/Toggle/index.ts
  packages/components/src/Toggle/toggle.components.ts
  packages/components/src/Toggle/toggle.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

refactor(interface): removing test data
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
Due: prettier --write

feat(components): marking events as optional props
  packages/components/src/PieChart.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(utils): adding currencies object to @namada/utils
  packages/components/src/Currency.tsx
  packages/utils/src/currencies.ts
  packages/utils/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(storybook): fixing typo
  storybook/src/stories/StyledSelectBox.stories.tsx
Due: prettier --write

feat(interface): your staking distribution sidebar + tweaks on components
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/slices/validators.ts
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/PieChart.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(components): removing black background from AmountSummaryCard
  packages/components/src/AmountSummaryCard.tsx
  storybook/src/stories/AmountSummaryCard.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): fixing line-height on xs ActionButton
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): wip - creating bonding page and modal utils
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/routes.ts
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/PieChart.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): tweaking currency sign position
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
Due: prettier --write

feat: handling async atoms
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/slices/validators.ts
  apps/namada-interface/src/store/hooks.ts
Due: yarn run lint, prettier --write

feat(interface): bumping React version to 18
  apps/namada-interface/package.json
  yarn.lock
Due: prettier --write

feat(interface): adding total unbonded to piechart
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
Due: prettier --write

feat(components): refactoring and simplifying Modal component
  packages/components/src/Modal.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): implementing my validators table
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(components): adding props to content container
  packages/components/src/PieChart.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): adding possibility of passing th props to StyledTable
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/index.tsx
  packages/components/src/StyledTable.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: continue governance pages UI (WIP)
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/types.ts
  packages/components/src/InsetLabel.tsx
  packages/components/src/Panel.tsx
  packages/components/src/ProgressBar.tsx
  packages/components/src/RoundedLabel.tsx
  packages/components/src/SegmentedBar.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): incrementing staking view panel
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorAmountControl.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(interface): refactoring Bonding and reviewing functionality
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorAmountControl.tsx
  packages/components/src/AmountInput.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): initial re-delegate flow
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
Due: prettier --write

fix: make react 18 peer dependency in packages
  packages/components/package.json
  packages/hooks/package.json
  yarn.lock
Due: prettier --write

feat(interface): reusing Validators table
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  packages/components/src/StyledTable.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: governance UI (WIP)
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/App/Common/Sidebar.tsx
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/index.ts
  apps/namada-interface/src/App/Governance/routes.ts
  apps/namada-interface/src/slices/proposals.ts
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  eslint --fix --max-warnings=0: (((any of: ./apps/**/src/*.{js,jsx,ts,tsx}) or (any of: ./packages/**/src/*.{js,jsx,ts,tsx})) or (any of: ./storybook/src/*.{js,jsx,ts,tsx})) or (any of: ./e2e/src/*.{js,jsx,ts,tsx})
