Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: error' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

fix: use NamCurrency component in VoteInfoCards (#803)
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat: update to support v0.0.6 of zondax package
  apps/extension/package.json
  apps/extension/src/background/keyring/service.ts
  packages/sdk/package.json
  packages/sdk/src/ledger.ts
  packages/sdk/src/tests/ledger.test.ts
  packages/sdk/src/tx/tx.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): first version of the gas usage selection modal
  apps/namadillo/src/App/Common/GasFeeOption.tsx
  apps/namadillo/src/App/Common/GasUsageModal.tsx
  apps/namadillo/src/App/Common/TransactionFees.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/slices/settings.ts
  apps/namadillo/src/types/fees.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): showing yellow box only on step 2
  apps/namadillo/src/App/Staking/ReDelegate.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): small animation on pending notification
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/tailwind.config.cjs
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): tweaking colors on settings page
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Settings/CurrencySelectorEntry.tsx
  apps/namadillo/src/App/Settings/SettingsPanelMenuItem.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

fix(namadillo): fixing favicon path
  apps/namadillo/index.html
Due: none

feat: removing duplicate index and changing title
  apps/namadillo/index.html
  apps/namadillo/public/index.html
Due: none

feat(components): tweaking black background color
  packages/components/src/Panel.tsx
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): moving burger and navigation menu to the left
  apps/namadillo/src/App/Common/Container.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

chore: use local version of web-ext (#781)
  README.md
  apps/extension/package.json
Due: none

feat(namadillo): tweaking responsive on AccountOverview
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Common/PageWithSidebar.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): blocking usage for small screens
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Common/SmallScreenBlocking.tsx
  apps/namadillo/src/hooks/useIsSmallScren.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): firing events and refactoring notifications
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransactionService.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/slices/transactions.ts
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): dismissing pending transactions
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

refactor(namadillo): refactoring event subscription
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

refactor: removing unused functions
  apps/namadillo/src/slices/accounts.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): temp solution to poll the latest updated values
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/slices/accounts.ts
  apps/namadillo/src/slices/etc.ts
  apps/namadillo/src/slices/validators.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo_re-delegate): adding comma for clarity
  apps/namadillo/src/App/Staking/ReDelegate.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

Set of UI updates / tweaks (#833)
  apps/namadillo/index.html
  apps/namadillo/public/index.html
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Common/Container.tsx
  apps/namadillo/src/App/Common/PageWithSidebar.tsx
  apps/namadillo/src/App/Common/SmallScreenBlocking.tsx
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Settings/CurrencySelectorEntry.tsx
  apps/namadillo/src/App/Settings/SettingsPanelMenuItem.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/hooks/useIsSmallScren.ts
  apps/namadillo/tailwind.config.cjs
  packages/components/src/Panel.tsx
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

refactor(namadillo_notification): renaming shouldUpdateAmountAtom to shouldUpdateBalanceAtom
  apps/namadillo/src/slices/accounts.ts
  apps/namadillo/src/slices/etc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

Refactor Notifications and adding polling (#838)
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransactionService.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/slices/accounts.ts
  apps/namadillo/src/slices/etc.ts
  apps/namadillo/src/slices/transactions.ts
  apps/namadillo/src/slices/validators.ts
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

fix: updating references for shouldUpdateBalanceAmount
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/slices/validators.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

fix: updating references for shouldUpdateBalanceAmount (#842)
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/slices/validators.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat: adding a lint exception to console.error and console.warn
  .lintstagedrc.json
Due: none

Checking for console.log (#816)
  .lintstagedrc.json
  apps/namadillo/src/slices/validators.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo_staking): adding derived atoms for staked, unbonded and withdrawal amounts
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/slices/staking.ts
  apps/namadillo/src/slices/validators.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo_staking): adding withdraw transaction build
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo_staking): basic withdrawal structure
  apps/namadillo/src/App/Staking/UnbondingAmountsTable.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo_staking): adding unbonding table
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/UnbondingAmountsTable.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo_withdraw): finalizing withdrawal flow and dispatching notifications
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/slices/staking.ts
  apps/namadillo/src/slices/validators.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

fix(namadillo_staking): throwing errors if tx doesnt succeed
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/slices/staking.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo_staking): fixing typo
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

Namadillo: Staking > Withdraw (#846)
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/UnbondingAmountsTable.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/slices/staking.ts
  apps/namadillo/src/slices/validators.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): refactoring accounts store and updating all references
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Common/ActiveAccount.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Staking.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/hooks/useExtensionConnect.ts
  apps/namadillo/src/hooks/useOnChainChanged.ts
  apps/namadillo/src/hooks/useOnNamadaExtensionConnected.ts
  apps/namadillo/src/hooks/useStakeModule.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/services/extensionEvents/provider.tsx
  apps/namadillo/src/slices/accounts.ts
  apps/namadillo/src/slices/accounts/atoms.ts
  apps/namadillo/src/slices/accounts/index.ts
  apps/namadillo/src/slices/accounts/services.ts
  apps/namadillo/src/slices/fees.ts
  apps/namadillo/src/slices/proposals/atoms.ts
  apps/namadillo/src/slices/validators.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): removing legacy alias on Account type
  apps/namadillo/src/slices/accounts/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): dropping undefined type in account list
  apps/namadillo/src/slices/accounts/atoms.ts
  apps/namadillo/src/slices/accounts/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

feat(namadillo): improving error message
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

fix(namadillo): fixing flickering
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0

refactor: using property shorthand
  apps/namadillo/src/App/Staking/ReDelegate.tsx
Due: prettier --write, eslint --rule 'no-console: error' --fix --max-warnings=0
