Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

fix: remove one of the same variables
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
Due: none

fix: remove unused hint
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
Due: none

feat: add refresh info to the hints
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
Due: none

Airdrop: Terms and Conditions (#506)
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.components.ts
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
  apps/airdrop/src/App/Common/AcceptTermsCheckbox/AcceptTermsCheckbox.components.ts
  apps/airdrop/src/App/Common/AcceptTermsCheckbox/AcceptTermsCheckbox.tsx
  apps/airdrop/src/App/TermsOfService.tsx
Due: yarn run lint

feat: privacy policy into privacy notice
  apps/airdrop/src/App/TermsOfService.tsx
Due: none

feat: privacy policy into privacy notice (#507)
  apps/airdrop/src/App/TermsOfService.tsx
Due: none

valid tag a
  apps/airdrop/src/App/Common/AcceptTermsCheckbox/AcceptTermsCheckbox.tsx
Due: none

fix: make ppl sign with metamask
  apps/airdrop/src/App/AnotherWays.tsx
  apps/airdrop/src/App/Buttons/MetamaskButton.tsx
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/types.ts
  apps/airdrop/src/App/utils.ts
Due: yarn run lint

fix: make ppl sign with metamask (#511)
  apps/airdrop/src/App/AnotherWays.tsx
  apps/airdrop/src/App/Buttons/MetamaskButton.tsx
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/types.ts
  apps/airdrop/src/App/utils.ts
Due: yarn run lint

fix: conditional hook
  apps/airdrop/src/App/Buttons/MetamaskButton.tsx
Due: none

fix: conditional hook (#512)
  apps/airdrop/src/App/Buttons/MetamaskButton.tsx
Due: none

fix: when `window.ethereum.isMetaMask` is `undefined`
  apps/airdrop/src/App/utils.ts
Due: yarn run lint

fix: eth check
  apps/airdrop/src/App/utils.ts
Due: yarn run lint

fix: eth check (#513)
  apps/airdrop/src/App/utils.ts
Due: yarn run lint

chore: fix faucet yarn scripts after yarn v4 upgrade (#493)
  apps/faucet/package.json
Due: none

chore: move eslint dependencies to per package (#493)
  apps/extension/package.json
  apps/faucet/package.json
  apps/namada-interface/package.json
  e2e/.eslintrc
  e2e/package.json
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: none

chore: rename @namada/eslint-config to @namada/config (#493)
  apps/airdrop/.eslintrc
  apps/airdrop/.eslintrc.js
  apps/extension/.eslintrc
  apps/extension/.eslintrc.js
  apps/extension/package.json
  apps/faucet/.eslintrc
  apps/faucet/.eslintrc.js
  apps/faucet/package.json
  apps/namada-interface/.eslintrc
  apps/namada-interface/.eslintrc.js
  apps/namada-interface/package.json
  e2e/.eslintrc
  e2e/.eslintrc.js
  packages/chains/.eslintrc
  packages/chains/.eslintrc.js
  packages/chains/package.json
  packages/components/.eslintrc
  packages/components/.eslintrc.js
  packages/components/package.json
  packages/config/eslint/index.js
  packages/config/eslint/react.js
  packages/config/package.json
  packages/hooks/.eslintrc
  packages/hooks/.eslintrc.js
  packages/hooks/package.json
  packages/integrations/.eslintrc
  packages/integrations/.eslintrc.js
  packages/integrations/package.json
  packages/storage/.eslintrc
  packages/storage/.eslintrc.js
  packages/storage/package.json
  packages/types/.eslintrc
  packages/types/.eslintrc.js
  packages/types/package.json
  packages/utils/.eslintrc
  packages/utils/.eslintrc.js
  packages/utils/package.json
  yarn.lock
Due: yarn run lint

fix: prefix environment variables (#493)
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
  .github/workflows/release-wallet.yml
  README.md
  apps/airdrop/.env.sample
  apps/airdrop/README.md
  apps/airdrop/package.json
  apps/airdrop/scripts/startProxies.js
  apps/airdrop/src/App/Buttons/GithubButton.tsx
  apps/airdrop/src/App/Claim/ClaimConfirmation/ClaimConfirmation.tsx
  apps/airdrop/src/App/claimService.ts
  apps/airdrop/src/App/utils.ts
  apps/airdrop/src/index.tsx
  apps/extension/package.json
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/faucet/.env.sample
  apps/faucet/README.md
  apps/faucet/package.json
  apps/faucet/scripts/startProxies.js
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/config/tokens.ts
  apps/namada-interface/.env.sample
  apps/namada-interface/README.md
  apps/namada-interface/package.json
  apps/namada-interface/scripts/startProxies.js
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/FaucetTransferForm.tsx
  apps/namada-interface/src/config/api.ts
  apps/namada-interface/src/store/store.ts
  apps/namada-interface/src/types/environment.d.ts
  e2e/setup-frontend.sh
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/ethereum.ts
  packages/chains/src/chains/namada.ts
  packages/integrations/src/Metamask.ts
  packages/shared/lib/src/sdk/mod.js
  packages/types/src/chain.ts
Due: yarn run lint

fix: only add specified env vars to bundle (#493)
  apps/airdrop/webpack.config.js
  apps/extension/webpack.config.js
  apps/faucet/webpack.config.js
  apps/namada-interface/webpack.config.js
  packages/config/webpack.js
Due: yarn run lint

test: airdrop countdown
  apps/airdrop/src/App/Main.tsx
Due: none

feat: use enhanced faucet design (#491)
  apps/faucet/public/bg-dots.svg
  apps/faucet/public/incline-arrow-black.svg
  apps/faucet/public/incline-arrow-yellow.svg
  apps/faucet/public/index.html
  apps/faucet/public/plus-icon.svg
  apps/faucet/src/App/App.components.ts
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/CallToActionCard.tsx
  apps/faucet/src/App/Card.components.tsx
  apps/faucet/src/App/Faq.components.tsx
  apps/faucet/src/App/Faq.tsx
  apps/faucet/src/App/FaqDropdown.tsx
  apps/faucet/src/App/Faucet.components.ts
  apps/faucet/src/App/Faucet.tsx
Due: yarn run lint

Refactor sdkStore
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/ledger.ts
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

Remove parentId for Ledger
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint

Pass stored signing_key to sign_tx function to fix signing issues
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Clean up spending key storage
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

Remove SDK store from background
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/test/init.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

Remove password from SDK calls
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ethBridgeTransfer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/schema/withdraw.ts
Due: yarn run lint, cargo fmt --all -- --fix

Upgrade to official zondax ledger package
  apps/extension/package.json
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
  apps/extension/src/background/ledger/ledger.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/utils/index.ts
  packages/ledger-namada/LICENSE
  packages/ledger-namada/README.md
  packages/ledger-namada/dist/common.d.ts
  packages/ledger-namada/dist/common.js
  packages/ledger-namada/dist/common.js.map
  packages/ledger-namada/dist/config.d.ts
  packages/ledger-namada/dist/config.js
  packages/ledger-namada/dist/config.js.map
  packages/ledger-namada/dist/index.d.ts
  packages/ledger-namada/dist/index.js
  packages/ledger-namada/dist/index.js.map
  packages/ledger-namada/dist/namadaApp.d.ts
  packages/ledger-namada/dist/namadaApp.js
  packages/ledger-namada/dist/namadaApp.js.map
  packages/ledger-namada/dist/processResponses.d.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/ledger-namada/dist/types.d.ts
  packages/ledger-namada/dist/types.js
  packages/ledger-namada/dist/types.js.map
  packages/ledger-namada/package.json
  packages/types/package.json
  yarn.lock
Due: yarn run lint

Add spendingKey back as stringified object for compatiblity
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

Logic to handle xsk or private key
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

Fix bad dependency
  specs/packages/examples.md
Due: none

fix: yellow borders on action button
  packages/components/src/ActionButton/ActionButton.components.tsx
  packages/components/src/ActionButton/ActionButton.tsx
Due: none

feat: setting up Husky + LintStaged + Prettier
  .eslintignore
  .eslintrc
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  README.md
  apps/airdrop/.prettierrc
  apps/airdrop/src/App/App.tsx
  apps/extension/.prettierignore
  apps/extension/.prettierrc
  apps/faucet/.prettierignore
  apps/faucet/.prettierrc
  apps/namada-interface/.prettierignore
  apps/namada-interface/.prettierrc
  e2e/.prettierignore
  e2e/.prettierrc
  package.json
  packages/chains/.prettierignore
  packages/chains/.prettierrc
  packages/components/.prettierignore
  packages/components/.prettierrc
  packages/integrations/.prettierignore
  packages/integrations/.prettierrc
  packages/storage/.prettierignore
  packages/storage/.prettierrc
  packages/types/.prettierignore
  packages/types/.prettierrc
  packages/utils/.prettierignore
  packages/utils/.prettierrc
  yarn.lock
Due: none

feat: setting up Husky + LintStaged + Prettier (#500)
  .eslintignore
  .eslintrc
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  README.md
  apps/airdrop/.prettierrc
  apps/airdrop/src/App/App.tsx
  apps/extension/.prettierignore
  apps/extension/.prettierrc
  apps/faucet/.prettierignore
  apps/faucet/.prettierrc
  apps/namada-interface/.prettierignore
  apps/namada-interface/.prettierrc
  e2e/.prettierignore
  e2e/.prettierrc
  package.json
  packages/chains/.prettierignore
  packages/chains/.prettierrc
  packages/components/.prettierignore
  packages/components/.prettierrc
  packages/integrations/.prettierignore
  packages/integrations/.prettierrc
  packages/storage/.prettierignore
  packages/storage/.prettierrc
  packages/types/.prettierignore
  packages/types/.prettierrc
  packages/utils/.prettierignore
  packages/utils/.prettierrc
  yarn.lock
Due: none

chore: update namada to 0.28.0 wip
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

feat: reduce bundle size #1
  apps/extension/package.json
  apps/extension/webpack.config.js
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/services/integrations/provider.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  packages/crypto/lib/Cargo.toml
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/integrations/package.json
  packages/integrations/src/Metamask.ts
  packages/integrations/src/hooks/index.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/integrations/src/index.ts
  packages/shared/lib/Cargo.toml
  yarn.lock
Due: yarn run lint

feat: reduce bundle size #2
  apps/extension/src/background/index.ts
Due: yarn run lint
