Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: fix claim and stake NaN issue (#1957)
  apps/namadillo/src/App/Staking/ClaimRewardsSubmitModalStage.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update storybook dependencies (#1955)
  storybook/yarn.lock
Due: none

feat: SDK - Add lookup for TxResponse result codes (#1946)
  apps/namadillo/src/lib/query.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/errors.ts
  packages/types/src/index.ts
  packages/types/src/tx/schema/txResponse.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: disable shielded key import for nano S
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  packages/sdk/src/index.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/tests/ledger.test.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: mark disposable accounts for removal
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/transfer/services.ts
  packages/components/src/KeyListItem.tsx
  packages/types/src/account.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

bug: Keychain - Disable shielded key import for nano S (#1953)
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  packages/sdk/src/index.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/tests/ledger.test.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix z index
  apps/namadillo/src/App/Common/MaspSyncCover.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  packages/components/src/Panel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove log
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add validation for transfers too
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove comments
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: pending notification not being removed on IBC Withdraw (#1906)
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: updating stable branch name
  .github/actions/release-project/action.yml
  .github/workflows/docker.yml
Due: none

fix: update logic for ibc transfers from NAM (#1959)
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: starting point for historical txns
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transactions/TransactionHistoryList.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add chain name lookup by chain ID
  apps/extension/src/Approvals/ApproveConnection.tsx
  packages/types/src/chain.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: updating stable branch name (#1963)
  .github/actions/release-project/action.yml
  .github/workflows/docker.yml
Due: none

feat: add origin/chainId to signing approvals and network form
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveSignArbitrary.tsx
  apps/extension/src/Approvals/ApproveSignTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add toolitp
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: Overview Dashboard v2 (#1951)
  apps/namadillo/src/App/AccountOverview/AccountBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/AssetsOverviewPanel.tsx
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/AccountOverview/EstimateShieldingRewardsCard.tsx
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/StakeSidebar.tsx
  apps/namadillo/src/App/AccountOverview/StakeYourNamCard.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceCard.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetsOverview.tsx
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/MaspSyncCover.tsx
  apps/namadillo/src/App/Common/PulsingRing.tsx
  apps/namadillo/src/App/Common/ShieldAssetsModal.tsx
  apps/namadillo/src/App/Common/TokensAnimation.tsx
  apps/namadillo/src/App/Icons/ShieldedTransferIcon.tsx
  apps/namadillo/src/App/Icons/UnshieldedTransferIcon.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/hooks/useAmountsInFiat.tsx
  apps/namadillo/src/hooks/useRequiresNewShieldedSync.tsx
  packages/components/src/TabContainer.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update tooltip possition
  apps/namadillo/src/App/Layout/NamadaAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: Rollover Namada address in the top right is cut of when the keplr logo is not present (#1970)
  apps/namadillo/src/App/Layout/NamadaAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: Keychain - Display chain name for known chains (#1968)
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/Approvals/ApproveSignArbitrary.tsx
  apps/extension/src/Approvals/ApproveSignTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  packages/types/src/chain.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix z index (#1962)
  apps/namadillo/src/App/Common/MaspSyncCover.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  packages/components/src/Panel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: ui fixes
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/EstimateShieldingRewardsCard.tsx
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
  apps/namadillo/src/App/Governance/ProposalAndVote.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Sidebars/JoinDiscord.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove icons
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: lint error
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: footer sticky
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update nam exclusion tezxt
  apps/namadillo/src/App/AccountOverview/TotalBalanceCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: reenable service worker cache
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: make sure we can construct the cache key before saving to it
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: cache per epoch
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
  packages/sdk/src/rpc/rpc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: use masp epoch instead of epoch
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: clear old caches
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: return masp epoch as bigint
  apps/namadillo/src/atoms/chain/atoms.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update side menus
  apps/namadillo/src/App/Layout/Navigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update receieve card
  apps/namadillo/.vscode/launch.json
  apps/namadillo/package.json
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Assets/NamadaLogo.svg
  apps/namadillo/src/App/Layout/MoveAssets.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/RecieveCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
