Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

feat: some refactor improvements
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/hooks/useIbcTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Namadillo: IBC withdrawal improvements (#1446)
  apps/namadillo/package.json
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Ibc/IbcShieldAll.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Ibc/ShieldAllProgress.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
  packages/utils/src/helpers/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: vks birthdays (#1415)
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/storage/VaultStorage.test.ts
  apps/extension/src/storage/VaultStorage.ts
  apps/extension/src/storage/index.ts
  apps/extension/src/storage/schemas/VaultSchemaV1.ts
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
  apps/extension/src/storage/schemas/index.ts
  apps/extension/src/storage/schemas/migrations.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/package.json
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/ShieldedSyncMessages.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/types/masp.rs
  packages/types/src/account.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: enable shielded transfers
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/shield/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: passing empty vks
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: enable shielded transfers (#1433)
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/shield/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: 100 concurrent fetches
  apps/namadillo/src/atoms/balance/services.ts
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: store shielded context by chain id
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Settings/SettingsMASP.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/workers/MaspTxWorker.ts
  apps/namadillo/src/workers/ShieldedSyncMessages.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/sdk/src/masp.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/package.json
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cr comments
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/setupTests.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: shielded sync improvements (#1441)
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Settings/SettingsMASP.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/setupTests.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  apps/namadillo/src/workers/ShieldedSyncMessages.ts
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/sdk/src/masp.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/package.json
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: checks for indexer and keychain compatibility
  apps/namadillo/src/App/Common/FixedWarningBanner.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/compatibility.json
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/compatibility.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: decoupling code a bit
  apps/namadillo/src/App/Common/FixedWarningBanner.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: refactoring ibc transfer and withdraw to redirect to timeline page
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/hooks/useIbcTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving code readability
  apps/namadillo/src/utils/compatibility.tsx
  apps/namadillo/src/utils/etc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Namadillo: Checks for indexer and keychain compatibility (#1449)
  apps/namadillo/src/App/Common/FixedWarningBanner.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/compatibility.json
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/compatibility.tsx
  apps/namadillo/src/utils/etc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: refactoring ibc transfer and withdraw to redirect to timeline page (#1451)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/hooks/useIbcTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding animejs
  package.json
  yarn.lock
Due: prettier --write

feat: first animation version
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/hooks/useScope.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: notify about needed account re import
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/UpdateRequired.tsx
  apps/extension/src/App/Accounts/assets/update-required.png
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/react-app.env.d.ts
  apps/extension/webpack.config.js
  packages/components/src/KeyListItem.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: first step - refactoring accounts and tokens
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/lib/accounts.ts
  apps/namadillo/src/lib/tokens.ts
  apps/namadillo/src/services/accounts.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: first try on animation
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/hooks/useScope.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: starting to remove framer-motion
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: re-enable wallet popup
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fixing error state
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Transactions/TransferTimelineErrorEntry.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: re-enable wallet popup (#1455)
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add useTransfer
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/shield/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/utils/index.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/shared/lib/src/types/masp.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fix test
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump version
  apps/namadillo/package.json
Due: prettier --write

refactor: removing unused code
  apps/namadillo/src/App/Common/Timeline.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: moving animejs deps to the right package.json
  apps/namadillo/package.json
  package.json
  yarn.lock
Due: prettier --write

feat: unify internal transfer transactions (#1456)
  apps/namadillo/package.json
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/shield/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/utils/index.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/shared/lib/src/types/masp.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding pending transactions spinner
  apps/namadillo/src/App/Common/TransactionInProgressSpinner.tsx
  apps/namadillo/src/App/Common/assets/spinner.svg
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix tooltip placement
  packages/components/src/Tooltip.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: removing unused spinner
  apps/namadillo/src/App/Common/assets/spinner.svg
Due: none

Namadillo: timeline animations (#1454)
  apps/namadillo/package.json
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namadillo/src/App/Transactions/TransferTimelineErrorEntry.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/hooks/useScope.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Namadillo: Creating top spinner (#1457)
  apps/namadillo/src/App/Common/TransactionInProgressSpinner.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  packages/components/src/Tooltip.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: kind of working masp ledger
  apps/extension/package.json
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/namadillo/public/config.toml
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  packages/sdk/package.json
  packages/sdk/src/ledger.ts
  packages/sdk/src/sdk.ts
  packages/shared/lib/src/types/masp.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: redirect to tx page
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: bump version
  apps/namadillo/package.json
Due: prettier --write

feat: transfer error notification
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
