Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: adjust amount type and fraction digits
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update numbers
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: move function to proper local to prevent sdk blocking
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/transactions/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update decimal places
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update debounce and styling
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update table name
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove isreceived arg
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: show 0 rewards when clearing input
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update title
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: add Shielding/Unshielding transactions to History (#2060)
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/functions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update debounce so you can use on first try
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: masp reward calculator (#2033)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/atoms/staking/services.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: removing stable branch integration
  .github/actions/release-project/action.yml
Due: none

ci: removing stable branch integration (#2069)
  .github/actions/release-project/action.yml
Due: none

fix: add warning
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update copy
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix copy
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove lcoal storage tooltip
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add warning on Transaction History table for MASP txns (#2070)
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding inactive token warning on the dropdown
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat(nginx): redirect masp-spend.params
  docker/namadillo/nginx.conf
Due: none

feat: adding the possibility to integrate with Fathom
  apps/namadillo/package.json
  apps/namadillo/public/config.toml
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/hooks/useFathomTracker.tsx
  apps/namadillo/src/types.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add address to rewards call to simplify component
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add inactive channel placeholder
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: refacor InactiveChannelWarning component
  apps/namadillo/src/App/Common/InactiveChannelWarning.tsx
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
  apps/namadillo/src/atoms/chain/functions.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/hooks/useIsChannelInactive.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/hooks/useIsChannelInactive.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove inactive func
  apps/namadillo/src/atoms/chain/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: sdk bs
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
Due: cargo fmt --all -- --fix

feat: creating fathom tracker hook
  apps/namadillo/public/config.toml
  apps/namadillo/src/hooks/useFathomTracker.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: tracking events on transfers
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/hooks/useCurrentRoute.tsx
  apps/namadillo/src/hooks/useFathomTracker.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: resetting config.toml
  apps/namadillo/public/config.toml
Due: none

feat: account for changes in SDK
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

fix: react components keys using asset base
  apps/namadillo/src/App/Sidebars/MaspAssetRewards.tsx
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

feat: Account for changes in SDK libs v0.150.1 (#2075)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

fix: fix super long tooltip
  apps/namadillo/src/App/Common/WalletAddress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update bond to stake
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update spacing per chris h's request
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update padding
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
