Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

feat: filtering assets with zero amount in it (#1702)
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/utils/assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: fixing working_dir property
  .github/workflows/release.yml
Due: none

ci: fixing working_dir property (#1703)
  .github/workflows/release.yml
Due: none

ci: fixing invalid 'run' prop
  .github/workflows/release.yml
Due: none

ci: fixing invalid property 'run'
  .github/workflows/release.yml
Due: none

ci: fixing invalid property 'run' (#1704)
  .github/workflows/release.yml
Due: none

feat: filtering for non-zero transparent tokens
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: reducing modal zindex to avoid conflicts with notification badges
  packages/components/src/Modal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: reducing modal zindex to avoid conflicts with notification badges (#1706)
  packages/components/src/Modal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: filtering for non-zero transparent tokens (#1705)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: improve transp balance check
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bumping indexer version to 2.1.x
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: update dependency
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bumping indexer version to 2.1.x (#1708)
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: update to show settings with connect button
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update pgf retro data
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Revert "fix: update pgf retro data"
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update vote info card
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update retro card
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add indexer version and rearrange order
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update mismatched data
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/atoms/proposals/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update viewing key language
  apps/extension/src/App/Accounts/ViewingKey.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: proposals checksums and data download
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/ViewJson.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  packages/types/src/proposals.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix for accounts with all tokens with balance zero (#1707)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: show namadillo version when disconnected from keychain (#1685)
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update retro card (#1712)
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add shield assets modal on sidebar banner
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: unregister buggy service worker
  apps/extension/src/utils/index.ts
  apps/namadillo/src/index.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add educational content
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Governance/LearnAboutGovernance.tsx
  apps/namadillo/src/App/Governance/assets/learn-about-governance.png
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  apps/namadillo/src/App/Ibc/LearnAboutIbc.tsx
  apps/namadillo/src/App/Ibc/assets/learn-about-ibc.svg
  apps/namadillo/src/App/Masp/LearnAboutMasp.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Masp/assets/learn-about-masp.png
  apps/namadillo/src/App/NamadaTransfer/LearnAboutTransfer.tsx
  apps/namadillo/src/App/NamadaTransfer/assets/learn-about-transfer.png
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding alpha warning
  apps/namadillo/src/App/Common/AlphaVersionTopHeader.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: fix docker image
  .github/workflows/docker.yml
Due: none

feat: add educational content (#1726)
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Governance/LearnAboutGovernance.tsx
  apps/namadillo/src/App/Governance/assets/learn-about-governance.png
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  apps/namadillo/src/App/Ibc/LearnAboutIbc.tsx
  apps/namadillo/src/App/Ibc/assets/learn-about-ibc.svg
  apps/namadillo/src/App/Masp/LearnAboutMasp.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Masp/assets/learn-about-masp.png
  apps/namadillo/src/App/NamadaTransfer/LearnAboutTransfer.tsx
  apps/namadillo/src/App/NamadaTransfer/assets/learn-about-transfer.png
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: proposals checksums and data download (#1721)
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/ViewJson.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  packages/types/src/proposals.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: unregister buggy service worker (#1725)
  apps/extension/src/utils/index.ts
  apps/namadillo/src/index.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding alpha warning (#1727)
  apps/namadillo/src/App/Common/AlphaVersionTopHeader.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add shield assets modal on sidebar banner (#1724)
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update transparent balance after transfer
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix claim rewards fee button
  apps/namadillo/src/App/Staking/StakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: updating alpha banner text
  apps/namadillo/src/App/Common/AlphaVersionTopHeader.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update language
  apps/extension/src/App/Accounts/ViewingKey.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
