Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(interface_stake): adding transaction fee to staking panels
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Common/NamCurrency.tsx
  apps/namada-interface/src/App/Common/TransactionFees.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/hooks/useGasEstimate.ts
Due: yarn run lint, prettier --write

chore: fix interface CI build
  .github/workflows/deploy-wallet-at-pr.yml
  apps/namada-interface/package.json
Due: prettier --write

fix: make proposals table scroll
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
Due: prettier --write

feat(interface_proposals): handling notifications - wip
  apps/namada-interface/src/App/Common/Toast.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: yarn run lint, prettier --write

feat(interface): tweaking label width
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
Due: prettier --write

feat(components): refactoring component and adding label
  packages/components/src/ToggleButton.tsx
  storybook/src/stories/ToggleButton.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: adding styles selectbox for currencies
  packages/components/src/StyledSelectBox.tsx
  storybook/.storybook/preview.tsx
  storybook/src/stories/StyledSelectBox.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): removing unused prop
  packages/components/src/ToggleButton.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): starting new navigation
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  yarn.lock
Due: prettier --write

refactor(interface): removing dead code
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

feat(interface): adding button component for connecting to extension
  apps/namada-interface/src/App/Common/ConnectExtensionButton/index.ts
Due: yarn run lint, prettier --write

feat(interface): separating connection methods in a hook
  apps/namada-interface/src/hooks/useExtensionConnect.ts
Due: yarn run lint, prettier --write

feat(components): downgrading bignumber version
  packages/components/package.json
  yarn.lock
Due: prettier --write

feat(components): updating panel component
  packages/components/src/Panel.tsx
  storybook/src/components/Cheatsheet.tsx
  storybook/src/components/Panel.tsx
  storybook/src/stories/Panel.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fix(interface): adding missing import to Intro/index.js
  apps/namada-interface/src/App/Common/Intro/index.ts
Due: yarn run lint, prettier --write

feat(interface): temporarily commenting out unused code
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

feat(components): adding AmountSummaryCard component
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/index.ts
  storybook/src/stories/AmountSummaryCard.stories.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): refactoring AllValidatorsTable, migrating to jotai and applying new UI
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Common/FormattedPaginator/FormattedPaginator.tsx
  apps/namada-interface/src/App/Common/FormattedPaginator/index.ts
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch/ValidatorSearch.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch/index.ts
  apps/namada-interface/src/slices/validators.ts
  packages/components/src/Panel.tsx
  packages/components/src/StyledTable.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: adding sidebar navigation
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
  apps/namada-interface/src/App/Common/Sidebar/index.ts
  apps/namada-interface/src/App/Common/SidebarMenuItem/SidebarMenuItem.tsx
  apps/namada-interface/src/App/Common/SidebarMenuItem/index.ts
Due: yarn run lint, prettier --write

feat: fixing process is not defined error
  storybook/.storybook/main.ts
Due: yarn run lint, prettier --write

feat(interface): creating Sidebar component
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
Due: prettier --write

feat(components): creating StyledTable component
  packages/components/src/StyledTable.tsx
  packages/components/src/index.ts
  storybook/public/images/cosmostation.png
  storybook/public/images/everstake.png
  storybook/src/stories/StyledTable.stories.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(storybook): adding white variant to ActionButton
  storybook/src/stories/ActionButton.stories.ts
Due: yarn run lint, prettier --write

feat(components): adding pie chart component
  packages/components/package.json
  packages/components/src/PieChart.tsx
  storybook/src/stories/PieChart.stories.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): tweaking animation on StyledSelectBox component
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(components): adding white version for action button
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --fix --max-warnings=0

refactor(interface): refactoring Common component folder structure
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Common/ActiveAccount.tsx
  apps/namada-interface/src/App/Common/ActiveAccount/index.ts
  apps/namada-interface/src/App/Common/ConnectBanner.tsx
  apps/namada-interface/src/App/Common/ConnectBanner/index.ts
  apps/namada-interface/src/App/Common/ConnectExtensionButton.tsx
  apps/namada-interface/src/App/Common/ConnectExtensionButton/index.ts
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Common/Container/index.ts
  apps/namada-interface/src/App/Common/CurrencySelector.tsx
  apps/namada-interface/src/App/Common/CurrencySelector/index.ts
  apps/namada-interface/src/App/Common/FormattedPaginator.tsx
  apps/namada-interface/src/App/Common/FormattedPaginator/index.ts
  apps/namada-interface/src/App/Common/Intro.tsx
  apps/namada-interface/src/App/Common/Intro/index.ts
  apps/namada-interface/src/App/Common/Sidebar.tsx
  apps/namada-interface/src/App/Common/Sidebar/index.ts
  apps/namada-interface/src/App/Common/SidebarMenuItem.tsx
  apps/namada-interface/src/App/Common/SidebarMenuItem/index.ts
  apps/namada-interface/src/App/Common/TopNavigation.tsx
  apps/namada-interface/src/App/Common/TopNavigation/index.ts
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
Due: yarn run lint, prettier --write

feat: adding connect extension button component and initial dashboard for non-connected users
  apps/namada-interface/package.json
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.components.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/ConnectExtensionButton/ConnectExtensionButton.tsx
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Container/index.ts
  apps/namada-interface/src/App/Common/Intro/Intro.tsx
  apps/namada-interface/src/App/Common/Intro/index.ts
  apps/namada-interface/src/App/Common/Toast/index.ts
  apps/namada-interface/src/App/Common/Toast/toast.components.ts
  apps/namada-interface/src/App/Common/Toast/toast.tsx
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  apps/namada-interface/src/App/Common/TopNavigation/index.ts
  apps/namada-interface/src/App/TopNavigation/topNavigation.components.ts
  apps/namada-interface/src/hooks/useExtensionConnect.ts
  apps/namada-interface/src/tailwind.css
  apps/namada-interface/webpack.config.js
  yarn.lock
Due: yarn run lint, prettier --write

feat(interface): adding Validator Diversification sidebar
  apps/namada-interface/src/App/Sidebars/ValidatorDiversification.tsx
  apps/namada-interface/src/App/Sidebars/assets/staking-info.png
Due: prettier --write

feat(interface): separating Staking from Governance and starting new page structure
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/App/Common/ConnectBanner/ConnectBanner.tsx
  apps/namada-interface/src/App/Common/ConnectBanner/index.ts
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
  apps/namada-interface/src/App/Sidebars/ValidatorDiversification.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.components.ts
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/App/Staking/routes.ts
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.components.ts
  packages/components/src/Input.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

refactor(staking): moving components out of folders and removing styled components
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.components.ts
  apps/namada-interface/src/App/Staking/NewBondingPosition/index.ts
  apps/namada-interface/src/App/Staking/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/index.ts
  apps/namada-interface/src/App/Staking/StakingOverview/MyValidatorsTable/index.ts
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/index.ts
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/index.ts
  apps/namada-interface/src/App/Staking/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition/UnbondPosition.components.ts
  apps/namada-interface/src/App/Staking/UnbondPosition/index.ts
  apps/namada-interface/src/App/Staking/ValidatorDetails.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.components.ts
  apps/namada-interface/src/App/Staking/ValidatorDetails/index.ts
  apps/namada-interface/src/App/Staking/ValidatorSearch.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch/index.ts
Due: yarn run lint, prettier --write

feat: removing pie-chart dependency
  packages/components/package.json
  yarn.lock
Due: prettier --write

feat(interface): migrating few more thunks and slices to jotai
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/reducers.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/exchangeRates.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(interface): your staking distribution sidebar + tweaks on components
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/slices/validators.ts
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/PieChart.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): adding total unbonded to piechart
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
Due: prettier --write

feat: handling async atoms
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/slices/validators.ts
  apps/namada-interface/src/store/hooks.ts
Due: yarn run lint, prettier --write

feat: bonding validators table (WIP)
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
Due: prettier --write

feat(interface): bumping React version to 18
  apps/namada-interface/package.json
  yarn.lock
Due: prettier --write

feat(storybook): fixing typo
  storybook/src/stories/StyledSelectBox.stories.tsx
Due: prettier --write

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  eslint --fix --max-warnings=0: (((any of: ./apps/**/src/*.{js,jsx,ts,tsx}) or (any of: ./packages/**/src/*.{js,jsx,ts,tsx})) or (any of: ./storybook/src/*.{js,jsx,ts,tsx})) or (any of: ./e2e/src/*.{js,jsx,ts,tsx})
