Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update tooltip positioning
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add isLoading var
  apps/namadillo/src/App/Common/GasFeeModal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove aria label
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: Add loader to gas fee modal that waits for shielded data (#2042)
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update re-routing after modal close
  apps/namadillo/src/App/Staking/StakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: transferring TIA was displaying 0 on notifications and summary
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: adjust gas for ibc deposits and terminate workers to free up memory
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: transferring TIA was displaying 0 on notifications and summary (#2048)
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: adjust gas for ibc deposits and terminate workers to free up memory (#2049)
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update re-routing after modal close for Staking Rewards Claiming (#2047)
  apps/namadillo/src/App/Staking/StakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update according to design review
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update syncing light (#2043)
  apps/namadillo/src/App/Common/PulsingRing.tsx
  apps/namadillo/src/App/Layout/Sidebar.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: added missing type dependency
  packages/sdk/package.json
  yarn.lock
Due: prettier --write

fix: fix sync indicator
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fix sync indicator (#2051)
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update history table
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: Add missing Ledger dependency (#2050)
  packages/sdk/package.json
  yarn.lock
Due: prettier --write

chore: update history table icons (#2053)
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: reenable service worker cache
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: cache per epoch
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
  packages/sdk/src/rpc/rpc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: make sure we can construct the cache key before saving to it
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: use masp epoch instead of epoch
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/hooks/useServiceWorker.ts
  apps/namadillo/src/sw.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: clear old caches
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: change maspEpochAtom query key
  apps/namadillo/src/atoms/chain/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: return masp epoch as bigint
  apps/namadillo/src/atoms/chain/atoms.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/MaspSyncCover.tsx
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: reinstate the reward amount
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: pass masp_epoch and split balance queries
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: query balance example
  packages/sdk/examples/queryBalance.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update for blinking sync and tooltip addy
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix test
  apps/namadillo/src/App/Transfer/__tests__/SelectChainModal.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: grab all relevant local data and add local storage card
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update txn
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/functions.ts
  apps/namadillo/src/hooks/useRequiresNewShieldedSync.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/hooks/useRequiresNewShieldedSync.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: types update
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove stable-interface thingz
  .github/actions/release-project/action.yml
  .github/workflows/docker.yml
Due: none

fix: fix up spacing and fitlering
  apps/namadillo/src/App/Transactions/LocalStorageTransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup for PR
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update type
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
