Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

Begin setting up webpack build for sharing components
  apps/namada-interface/craco.config.js
  apps/namada-interface/package.json
  apps/namada-interface/webpack.config.js
  yarn.lock
Due: yarn run lint

Fixed GlobalStyles
  apps/namada-interface/src/App/App.components.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/styled.d.ts
Due: yarn run lint

More errors resolved
  apps/namada-interface/tsconfig.json
  apps/namada-interface/tsconfig.webpack.json
  apps/namada-interface/webpack.config.js
Due: yarn run lint

Fix error with styled-components, remove compression on dev-server source for easier debugging
  apps/namada-interface/.env.sample
  apps/namada-interface/webpack.config.js
Due: yarn run lint

Update Cargo package for wasm-bindgen
  packages/crypto/lib/Cargo.lock
  packages/shared/lib/Cargo.lock
Due: none

Fix env var issue, clean up both webpack configs
  apps/extension/webpack.config.js
  apps/namada-interface/package.json
  apps/namada-interface/webpack.config.js
  yarn.lock
Due: yarn run lint

Update wasm-bindgen in Cargo.toml
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.toml
Due: none

feat: use sdk for transparent transfer tx
  apps/extension/babel.config.json
  apps/extension/package.json
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk.rs
  packages/shared/lib/src/signer.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: remove api.rs
  packages/shared/lib/src/api.rs
Due: cargo fmt --all -- --fix

fix: some of the error handling
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: Change SubmitBondMsg to take single msg argument
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/shared/lib/src/sdk.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: test sdk extension
  apps/extension/src/background/keyring/service.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/types/mod.rs
  packages/shared/lib/src/types/store.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: store first created accounts in the sdk storage
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

fix: store to presist spending keys
  apps/extension/src/background/keyring/keyring.ts
  packages/chains/.eslintrc
  packages/chains/.prettierignore
  packages/chains/.prettierrc
  packages/shared/lib/src/sdk.rs
  packages/shared/lib/src/types/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: WIP bond tx with wasm
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/bond.rs
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk.rs
  packages/shared/lib/src/types/mod.rs
  packages/shared/lib/src/types/store.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: my validators to only get non shielded addresses
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: cleanup extern fetch call
  packages/shared/lib/src/rpc.js
  packages/shared/lib/src/rpc_client.js
  packages/shared/lib/src/rpc_client.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: reset transfer masp changes
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/src/transfer.rs
Due: yarn run lint, cargo fmt --all -- --fix

fix: fetch using sdk
  apps/extension/src/background/index.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: temporary remove masp stuff
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/transfer.rs
  packages/shared/lib/src/types/mod.rs
Due: cargo fmt --all -- --fix

fix: submitBond return value
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
Due: yarn run lint

feat: bond tx using sdk
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/rpc.js
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk.rs
  packages/types/src/tx/schema/bond.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: get ledger address from the env
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/src/transfer.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: use sdk for transparent transfer tx (#204)
  apps/extension/babel.config.json
  apps/extension/package.json
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk.rs
  packages/shared/lib/src/signer.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

refactor: use amountToMicro
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
Due: yarn run lint

feat: pass password to add_keys and add_secret_key
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/src/sdk.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: Sdk integration (#198)
  apps/extension/babel.config.json
  apps/extension/package.json
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/chains/.eslintrc
  packages/chains/.prettierignore
  packages/chains/.prettierrc
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/api.rs
  packages/shared/lib/src/bond.rs
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.js
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk.rs
  packages/shared/lib/src/signer.rs
  packages/shared/lib/src/transfer.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: add validation for address alias
  apps/extension/src/App/Accounts/AddAccount.components.ts
  apps/extension/src/App/Accounts/AddAccount.tsx
Due: yarn run lint

feat: add validation for address alias (#207)
  apps/extension/src/App/Accounts/AddAccount.components.ts
  apps/extension/src/App/Accounts/AddAccount.tsx
Due: yarn run lint

fix: remove todos
  apps/extension/src/background/index.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

refactor: improve sdk error handling
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/shared/lib/src/utils.rs
Due: cargo fmt --all -- --fix

chore: rpc error map comment
  packages/shared/lib/src/rpc_client.rs
Due: cargo fmt --all -- --fix

refactor: rename add_keys to add_key
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

refactor: split sdk
  packages/shared/lib/src/sdk.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: cargo fmt --all -- --fix

refactor: remove unused expect msg const
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

refactor/sdk-cleanup (#210)
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/test/init.ts
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/shared/lib/src/utils.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: unbound using sdk
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/shared/lib/src/bond.rs
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bonding.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix
