Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

feat(extension): adding rename page
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/RenameAccount/RenameAccount.tsx
  apps/extension/src/App/Accounts/RenameAccount/index.ts
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/context/AccountContext.tsx
  packages/components/src/KeyListItem/KeyListItem.tsx
Due: yarn run lint

feat(extension): adding navigation menu
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Common/AppHeader/AppHeader.components.ts
  apps/extension/src/App/Common/AppHeader/AppHeader.tsx
  apps/extension/src/App/Common/AppHeaderNavigation/AppHeaderNavigation.components.ts
  apps/extension/src/App/Common/AppHeaderNavigation/AppHeaderNavigation.tsx
  apps/extension/src/App/Common/AppHeaderNavigation/index.ts
  packages/components/src/Icon/assets/discord.svg
  packages/components/src/Icon/assets/question.svg
  packages/components/src/Icon/assets/twitter.svg
  packages/components/src/Icon/icon.tsx
  packages/components/src/Icon/types.ts
Due: yarn run lint

feat(extension): handling passwords with session storage
  apps/extension/package.json
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  packages/storage/src/store/SessionKVStore.ts
  packages/storage/src/store/index.ts
  packages/storage/types.d.ts
  yarn.lock
Due: yarn run lint

feat(extension): storing hashed password in session storage
  apps/extension/package.json
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/webpack.config.js
  packages/storage/src/store/SessionKVStore.ts
  yarn.lock
Due: yarn run lint

feat(extension,app): adding back some global styles
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Common/GlobalStyles/GlobalStyles.tsx
  apps/extension/src/App/Common/GlobalStyles/index.ts
Due: yarn run lint

refactor(extension, app): making ViewAccount code clearer
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
Due: none

fix(extension,app): fixing 404 route
  apps/extension/src/App/AppContent.tsx
Due: none

feat: cleanup
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/GithubClaim.tsx
  apps/airdrop/src/App/KeplrClaim.tsx
  apps/airdrop/src/App/NamadaAddress.tsx
  apps/airdrop/src/App/state.ts
  apps/airdrop/src/App/types.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
Due: yarn run lint

feat: claim with github
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
Due: yarn run lint

feat: new flow
  apps/airdrop/package.json
  apps/airdrop/src/App/AirdropConfirmation.tsx
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/GithubEligible.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/state.ts
  apps/airdrop/src/App/types.ts
  yarn.lock
Due: yarn run lint

feat: login with github
  apps/airdrop/.env.sample
  apps/airdrop/.eslintignore
  apps/airdrop/.eslintrc
  apps/airdrop/.gitignore
  apps/airdrop/.prettierignore
  apps/airdrop/.prettierrc
  apps/airdrop/README.md
  apps/airdrop/babel.config.json
  apps/airdrop/package.json
  apps/airdrop/public/_redirects
  apps/airdrop/public/apple-touch-icon.png
  apps/airdrop/public/favicon-16x16.png
  apps/airdrop/public/favicon-32x32.png
  apps/airdrop/public/index.html
  apps/airdrop/public/manifest.json
  apps/airdrop/public/robots.txt
  apps/airdrop/scripts/start-proxy.sh
  apps/airdrop/scripts/startProxies.js
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/index.ts
  apps/airdrop/src/custom.d.ts
  apps/airdrop/src/index.css
  apps/airdrop/src/index.tsx
  apps/airdrop/src/styled.d.ts
  apps/airdrop/tsconfig.json
  apps/airdrop/tsconfig.webpack.json
  apps/airdrop/webpack.config.js
Due: yarn run lint

feat: init
  apps/airdrop/.env.sample
  apps/airdrop/package.json
  apps/airdrop/public/index.html
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/index.tsx
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
Due: yarn run lint

feat: post check navigation
  apps/airdrop/src/App/Main.tsx
Due: none

feat: cosmos/osmosis support
  apps/airdrop/src/App/GithubEligible.tsx
  apps/airdrop/src/App/KeplrClaim.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/state.ts
  apps/airdrop/src/index.tsx
Due: yarn run lint

feat: update to new backend
  apps/airdrop/src/App/GithubEligible.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/TSEligibility.tsx
  apps/airdrop/src/App/state.ts
Due: yarn run lint

feat: TS flow
  apps/airdrop/src/App/AirdropConfirmation.tsx
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/GithubClaim.tsx
  apps/airdrop/src/App/GithubEligible.tsx
  apps/airdrop/src/App/KeplrClaim.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/NamadaAddress.tsx
  apps/airdrop/src/App/TSEligibility.tsx
  apps/airdrop/src/App/state.ts
  e2e/src/utils/values.ts
Due: yarn run lint

feat: cosmos with keplr
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/GithubEligible.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/state.ts
Due: yarn run lint

fix: main rebase
  apps/airdrop/.env.sample
  apps/airdrop/src/App/AirdropConfirmation.tsx
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/GithubEligible.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/TSEligibility.tsx
Due: yarn run lint

feat: guarded routes
  apps/airdrop/src/App/AirdropConfirmation.tsx
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/state.ts
Due: yarn run lint

feat: already claimed route
  apps/airdrop/src/App/AirdropConfirmation.tsx
  apps/airdrop/src/App/GithubEligible.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/NonEligible.tsx
  apps/airdrop/src/App/TSEligibility.tsx
Due: none

feat: use Navigate component
  apps/airdrop/src/App/AirdropConfirmation.tsx
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/TSEligibility.tsx
Due: none

feat: non eligible WIP
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/GithubEligible.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/NonEligible.tsx
Due: yarn run lint

feat: countdown component
  apps/airdrop/src/App/Countdown.tsx
  apps/airdrop/src/App/Main.tsx
Due: none

feat: move bbackend url to the env
  apps/airdrop/.env.sample
  apps/airdrop/src/App/Claim/ClaimConfirmation.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/TrustedSetup.tsx
Due: none

feat: claim subrouting
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/Claim.tsx
  apps/airdrop/src/App/Claim/ClaimConfirmation.tsx
  apps/airdrop/src/App/Claim/ClaimInfo.tsx
  apps/airdrop/src/App/GithubEligible.tsx
  apps/airdrop/src/App/Main.tsx
Due: none

chore: cleanup
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/Claim/ClaimConfirmation.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/NonEligible.tsx
  apps/airdrop/src/App/TrustedSetup.tsx
  apps/airdrop/src/App/state.ts
  apps/airdrop/src/App/types.ts
  apps/airdrop/src/App/utils.ts
  apps/airdrop/src/index.tsx
Due: yarn run lint

feat: fallbacks for missing extensions
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/Claim/ClaimConfirmation.tsx
  apps/airdrop/src/App/Countdown.tsx
  apps/airdrop/src/App/Main.tsx
Due: yarn run lint

feat: main view styling
  apps/airdrop/src/App/App.components.ts
  apps/airdrop/src/App/App.tsx
  apps/airdrop/src/App/Main.tsx
  packages/utils/src/theme/theme.ts
Due: yarn run lint

feat(extension): improving app first loading
  apps/extension/src/App/App.tsx
  apps/extension/src/App/index.tsx
  apps/extension/src/public/app.css
  packages/components/src/Container/Container.components.ts
Due: yarn run lint

feat(extension,app): adding scrollbar styles
  apps/extension/src/App/Common/GlobalStyles/GlobalStyles.tsx
Due: none

feat: badkids/stargaze support
  apps/airdrop/src/App/Claim/ClaimConfirmation.tsx
  apps/airdrop/src/App/Countdown.tsx
  apps/airdrop/src/App/Main.tsx
  apps/airdrop/src/App/state.ts
Due: yarn run lint

Styling a few elements (#442)
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Common/GlobalStyles/GlobalStyles.tsx
  apps/extension/src/App/index.tsx
  apps/extension/src/public/app.css
  packages/components/src/Container/Container.components.ts
Due: yarn run lint

fix(extension, setup): removing return button from last step and deleting seed phrase from the state
  apps/extension/src/Setup/Common/ContainerHeader/ContainerHeader.tsx
  apps/extension/src/Setup/Setup.tsx
Due: none

fix(extension,setup): properly displaying validation messages
  apps/extension/src/App/Settings/ChangePassword/ChangePassword.tsx
  apps/extension/src/Setup/Common/Password/Password.tsx
  packages/components/src/Input/types.ts
Due: yarn run lint

fix(extension,setup): properly displaying validation messages (#444)
  apps/extension/src/App/Settings/ChangePassword/ChangePassword.tsx
  apps/extension/src/Setup/Common/Password/Password.tsx
  packages/components/src/Input/types.ts
Due: yarn run lint

fix(extension, setup): removing return button from last step and deleting seed phrase from the state (#443)
  apps/extension/src/Setup/Common/ContainerHeader/ContainerHeader.tsx
  apps/extension/src/Setup/Setup.tsx
Due: none

Update commit, fix helper
  apps/extension/src/App/Accounts/AccountListing.tsx
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/utils/src/helpers/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Update private key derivation to slip10_ed25519
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
