Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

feat(extension, setup): displaying shielded account and transparent account + changing message return type
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint

feat(components): making container expandable
  packages/components/src/Container/Container.components.ts
Due: yarn run lint

feat(extension,setup): adding private key and presenting 24-words list in 4 columns
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/Common/SeedPhraseList/SeedPhraseList.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
Due: none

feat(components): moving Loading to components package
  apps/extension/src/App/Loading/Loading.components.ts
  apps/extension/src/App/Loading/Loading.tsx
  apps/extension/src/App/Loading/index.ts
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/Common/index.ts
  packages/components/src/Loading/Loading.components.ts
  packages/components/src/Loading/Loading.tsx
  packages/components/src/Loading/index.ts
  packages/components/src/index.ts
Due: yarn run lint

feat(extension,app): completing deleting account flow
  apps/extension/src/App/Accounts/DeleteAccount/DeleteAccount.tsx
  apps/extension/src/App/App.tsx
Due: none

feat(extension,app): fixing connected sites route
  apps/extension/src/App/Accounts/ParentAccounts.tsx
Due: none

feat(app, extension): separating AppHeader and display return button
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/App.components.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Common/AppHeader/AppHeader.components.ts
  apps/extension/src/App/Common/AppHeader/AppHeader.tsx
  apps/extension/src/App/Common/AppHeader/index.ts
Due: yarn run lint

feat(extension, app): cleaning up ParentAccounts styled components
  apps/extension/src/App/Accounts/ParentAccounts.components.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Settings/index.ts
Due: yarn run lint

feat(components): moving keys list into a different component
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  packages/components/src/ViewKeys/ViewKeys.components.ts
  packages/components/src/ViewKeys/ViewKeys.tsx
  packages/components/src/ViewKeys/index.ts
  packages/components/src/index.ts
Due: yarn run lint

feat(extension,app): allowing querying by id
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/messages.ts
Due: yarn run lint

feat(extension, app): regenerating seed if tab is changed
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
Due: none

feat(extension,app): moving components into new folders and creating ViewAccount component
  apps/extension/src/App/Accounts/DeleteAccount/DeleteAccount.tsx
  apps/extension/src/App/Accounts/DeleteAccount/index.ts
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.components.ts
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/App/Accounts/ViewAccount/index.ts
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/App/types.ts
Due: yarn run lint

Update to 0.25.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

feat(extension): storing public key
  apps/extension/src/background/keyring/crypto.ts
Due: yarn run lint

feat(extension,app): displaying public key and changing order of fields
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.components.ts
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  packages/components/src/LinkButton/LinkButton.components.ts
  packages/components/src/LinkButton/LinkButton.tsx
  packages/components/src/LinkButton/index.ts
  packages/components/src/ViewKeys/ViewKeys.tsx
  packages/components/src/index.ts
Due: yarn run lint

Fix unit test
  packages/shared/lib/src/types/address.rs
Due: cargo fmt --all -- --fix

feat(extension): changing QueryAccountsMsg params structure
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/ledger/ledger.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
Due: yarn run lint

feat(components): making address fields optional
  packages/components/src/ViewKeys/ViewKeys.tsx
Due: none

feat(extension,app): changing ledger structure
  apps/extension/src/Setup/Ledger/Steps/Confirmation/Confirmation.components.ts
  apps/extension/src/Setup/Ledger/Steps/Confirmation/Confirmation.tsx
  apps/extension/src/Setup/Ledger/Steps/Confirmation/index.ts
  apps/extension/src/Setup/Ledger/Steps/Connect/LedgerConnect.components.ts
  apps/extension/src/Setup/Ledger/Steps/Connect/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/Steps/Connect/index.ts
  apps/extension/src/Setup/Ledger/Steps/Import/LedgerImport.components.ts
  apps/extension/src/Setup/Ledger/Steps/Import/LedgerImport.tsx
  apps/extension/src/Setup/Ledger/Steps/Import/index.ts
  apps/extension/src/Setup/Ledger/index.ts
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/Start/Start.tsx
  apps/extension/src/Setup/types.ts
  packages/components/src/ActionButton/ActionButton.components.tsx
Due: yarn run lint

feat(extension,setup): renaming ledger components and finalizing import flow
  apps/extension/src/Setup/Ledger/Steps/Confirmation/Confirmation.tsx
  apps/extension/src/Setup/Ledger/Steps/Confirmation/index.ts
  apps/extension/src/Setup/Ledger/Steps/Import/LedgerImport.components.ts
  apps/extension/src/Setup/Ledger/Steps/LedgerConfirmation/LedgerConfirmation.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConfirmation/index.ts
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.components.ts
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/index.ts
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.components.ts
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/index.ts
  apps/extension/src/Setup/Ledger/index.ts
  apps/extension/src/Setup/Setup.components.ts
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/types.ts
Due: yarn run lint

feat(extension, app): preventing default on form submission
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.tsx
Due: none

feat(extension, app): fixing type issue on ledger account viewing
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/App/types.ts
Due: yarn run lint

feat(extension, app): temporarily removing rename key feature
  packages/components/src/KeyListItem/KeyListItem.tsx
Due: none

feat(extension, app): removing login route
  apps/extension/src/App/App.tsx
Due: none

feat(extension,app): displaying durability info warning
  apps/extension/src/App/App.tsx
Due: none

feat(extension,app): adding error and masp warning panels
  apps/extension/src/App/App.components.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/Setup/Common/Password/Password.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
Due: yarn run lint

feat(extension,app): renaming view route
  apps/extension/src/App/types.ts
Due: yarn run lint

refactor(extension,app): organizing states and functions
  apps/extension/src/App/App.tsx
Due: none

feat(extension,setup): redirecting with no params have been passed
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerImport/LedgerImport.components.ts
Due: yarn run lint

feat(components): adding more padding right to inputs that have icons
  packages/components/src/Input/input.components.ts
  packages/components/src/Input/input.tsx
Due: yarn run lint

feat(extension, setup): adding copy to clipboard for everyone
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.components.ts
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
Due: yarn run lint

refactor(extension): preferring useRequester over passing requester as param
  apps/extension/src/App/Accounts/Accounts.tsx
  apps/extension/src/App/Accounts/DeleteAccount/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport/SeedPhraseImport.tsx
  apps/extension/src/Setup/Setup.tsx
Due: none

feat(extension,app): displaying ledger errors in a nicer way
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
Due: none

refactor(extension,app): removing unused component
  apps/extension/src/App/Accounts/Accounts.components.ts
  apps/extension/src/App/Accounts/Accounts.tsx
  apps/extension/src/App/Accounts/index.ts
Due: yarn run lint

refactor: remove unused faucet form (#428)
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/FaucetTransferForm.components.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/FaucetTransferForm.tsx
Due: yarn run lint

feat(extension, app): changing return arrow color
  apps/extension/src/App/Common/AppHeader/AppHeader.components.ts
  apps/extension/src/App/Common/AppHeader/AppHeader.tsx
Due: yarn run lint

feat(extension,app): fixing match location
  apps/extension/src/App/App.tsx
Due: none

feat(components): conditional height for Container popups
  packages/components/src/Container/Container.components.ts
Due: yarn run lint

feat(extension, app): verifying key password
  apps/extension/src/App/Accounts/ViewAccount/ViewAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Common/LockKey/LockKey.tsx
  apps/extension/src/App/Common/LockKey/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint

refactor(extension): removing unused vars
  apps/extension/src/App/App.tsx
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
  apps/extension/src/Setup/Setup.tsx
Due: none
