Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

feat: reducing sizes for seed phrase list
  apps/extension/src/Setup/AccountCreation/SeedPhrase.tsx
  apps/extension/src/Setup/Common/SeedPhraseList.tsx
  apps/extension/src/Setup/Common/SeedPhraseListItem.tsx
  packages/components/src/RadioGroup.tsx
  packages/components/src/SeedPhraseInstructions.tsx
  packages/components/src/theme.js
Due: yarn run lint

feat: setting up sdk package
  packages/sdk/.eslintrc.js
  packages/sdk/.gitignore
  packages/sdk/.release-it.cjs
  packages/sdk/README.md
  packages/sdk/babel.config.js
  packages/sdk/jest.config.ts
  packages/sdk/package.json
  packages/sdk/scripts/build-node.sh
  packages/sdk/scripts/build.js
  packages/sdk/src/index.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/tx.ts
  packages/sdk/src/types.ts
  packages/sdk/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: yarn run lint

feat: adding type for tx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Signer.ts
  packages/sdk/README.md
  packages/sdk/src/index.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/tx.ts
  packages/sdk/src/tx/index.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
  packages/sdk/src/types.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/schema/voteProposal.ts
  packages/types/src/tx/schema/withdraw.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

feat: adding keys and mnemonic from crypto lib
  apps/extension/src/background/keyring/keyring.ts
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/zip32.rs
  packages/sdk/package.json
  packages/sdk/src/keys/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/keys/types.ts
  packages/sdk/src/mnemonic.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: additional tx, added signing & ledger
  apps/extension/src/provider/Signer.ts
  apps/extension/src/utils/index.ts
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/integrations/src/Keplr.ts
  packages/integrations/src/types/Integration.ts
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/mnemonic.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tx/tx.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/ethBridgeTransfer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/types.ts
  yarn.lock
Due: yarn run lint

feat: additional JsDoc
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/mnemonic.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
Due: yarn run lint

feat: added remaining Staking queries and types
  packages/sdk/README.md
  packages/sdk/src/index.ts
  packages/sdk/src/keys/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/keys/types.ts
  packages/sdk/src/rpc.ts
  packages/sdk/src/rpc/index.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/sdk/src/tx/index.ts
Due: yarn run lint

feat: adding proposals query
  packages/sdk/src/index.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: add api docs and tests
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/utils/index.ts
  package.json
  packages/sdk/README.md
  packages/sdk/docs/api.md
  packages/sdk/docs/specs.md
  packages/sdk/jest.config.ts
  packages/sdk/jsdoc2md.json
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/init.ts
  packages/sdk/src/keys/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/masp.ts
  packages/sdk/src/rpc/index.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tests/data.ts
  packages/sdk/src/tests/initSdk.ts
  packages/sdk/src/tests/keys.test.ts
  packages/sdk/src/tests/mnemonic.test.ts
  packages/sdk/src/tests/sdk.test.ts
  packages/sdk/src/tests/signing.test.ts
  packages/sdk/src/tests/tx.test.ts
  packages/sdk/src/tx/index.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/index.ts
  packages/types/src/tx/types.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

chore: update namada to 0.31.6 (#647)
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: set up docs toc, better init function definitions, clean up
  packages/sdk/docs/api.md
  packages/sdk/docs/specs.md
  packages/sdk/src/index.ts
  packages/sdk/src/initAsync.ts
  packages/sdk/src/initSync.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/tests/data.ts
  packages/sdk/src/tests/initSdk.ts
  packages/sdk/src/tests/keys.test.ts
  packages/sdk/src/tests/mnemonic.test.ts
  packages/sdk/src/tests/sdk.test.ts
  packages/sdk/src/tests/signing.test.ts
  packages/sdk/src/tests/tx.test.ts
Due: yarn run lint

Update package.json
  packages/utils/package.json
Due: none

Update package.json
  packages/components/package.json
Due: none

Update package.json
  apps/airdrop/package.json
Due: none

Update package.json
  apps/faucet/package.json
Due: none

Update package.json
  apps/namada-interface/package.json
Due: none

feat: fixing import error when changing from 12 to 24 words
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/utils/index.ts
Due: yarn run lint

feat: tweaking import elements
  apps/extension/src/Setup/Common/SeedPhraseListItem.tsx
  packages/components/src/FeedbackButton.tsx
Due: none

feat: changing call to action from 'Close this page' to 'Finish Setup'
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Ledger/LedgerConfirmation.tsx
Due: none

feat(extension): tweak to make index page with the same height than 'create new keys' page
  apps/extension/src/Setup/AccountCreation/SeedPhraseWarning.tsx
Due: none

feat: improving errors on confirm password input field
  apps/extension/src/Setup/Common/Password.tsx
Due: none

fix: fix balances race condition (#641)
  apps/namada-interface/src/slices/accounts.ts
Due: yarn run lint

fix: remove unneeded optional chaining (#641)
  packages/integrations/src/hooks/useIntegration.ts
Due: yarn run lint

fix: wait for shared to init before rendering app (#641)
  apps/namada-interface/src/index.tsx
Due: none

feat: add isConnected method and revoke event (#641)
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Proxy.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  packages/integrations/src/Namada.ts
  packages/types/src/events.ts
  packages/types/src/namada.ts
Due: yarn run lint

fix: add fetch effects and improve fetch behaviour (#641)
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/fees.ts
  apps/namada-interface/src/slices/settings.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useEffectSkipFirstRender.ts
Due: yarn run lint

feat: word index should be dark gray
  apps/extension/src/Setup/Common/SeedPhraseListItem.tsx
Due: none

feat: add local storage abstraction to the extension
  apps/extension/package.json
  apps/extension/src/App/Settings/ConnectedSites.tsx
  apps/extension/src/background/LocalStorage.ts
  apps/extension/src/background/approvals/index.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/utils.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/utils.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/content/index.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/extension/src/extension/ExtensionRouter.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/provider/Proxy.ts
  apps/extension/src/services/requester.tsx
  apps/extension/src/test/init.ts
  packages/storage/src/store/ExtensionKVStore.ts
Due: yarn run lint

feat: vault storage types refactor
  apps/extension/src/background/LocalStorage.ts
  apps/extension/src/background/VaultStorage.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/data.mock.ts
Due: yarn run lint

feat: vault storage
  apps/extension/src/background/RevealPKStorage.ts
  apps/extension/src/background/VaultStorage.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

refactor: storage abstraction
  apps/extension/src/background/LocalStorage.ts
  apps/extension/src/background/RevealPKStorage.ts
  apps/extension/src/background/Storage.ts
  apps/extension/src/background/VaultStorage.ts
Due: yarn run lint

feat: remove string ! cast
  apps/extension/src/background/VaultStorage.ts
Due: yarn run lint

feat: generics cleanup
  apps/extension/src/background/VaultStorage.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

refactor: simplify types
  apps/extension/src/background/LocalStorage.ts
  apps/extension/src/background/RevealPKStorage.ts
  apps/extension/src/background/VaultStorage.ts
Due: yarn run lint

fix: unit tests
  apps/extension/src/background/VaultStorage.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  e2e/genesis/localnet/src/pre-genesis/validator-0/wallet.toml
Due: yarn run lint

chore: remove todos
  apps/extension/src/background/LocalStorage.ts
  apps/extension/src/background/RevealPKStorage.ts
Due: yarn run lint

chore: cleanup types
  apps/extension/src/background/vault/types.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

refactor: move storage
  apps/extension/src/App/Settings/ConnectedSites.tsx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/utils.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/content/index.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/extension/src/extension/ExtensionRouter.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/provider/Proxy.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/services/requester.tsx
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/storage/RevealPKStorage.ts
  apps/extension/src/storage/Storage.ts
  apps/extension/src/storage/VaultStorage.ts
  apps/extension/src/storage/index.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat: replace t.any with Sensitive type
  apps/extension/src/storage/VaultStorage.ts
Due: yarn run lint

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
