Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: show nam from mainnet instead of housefire (#2187)
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/temp-assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump version
  .release-please-manifest.json
Due: prettier --write

fix: update unshield button with proper route
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update ranking on shielded fungibel table and transparent table
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update scrolling
  apps/namadillo/src/App/Transfer/SelectToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/ShieldedTransferCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: ibc shielded deposits with nam
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/SelectChainModal.tsx
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectChainModal.test.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/utils/assets.ts
  apps/namadillo/src/utils/index.ts
  package.json
  packages/shared/lib/src/sdk/mod.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove blocker to loading asstes
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove background color from assets selector
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: ibc shielded deposits with nam (#2191)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/SelectChainModal.tsx
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectChainModal.test.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/utils/assets.ts
  apps/namadillo/src/utils/index.ts
  package.json
  packages/shared/lib/src/sdk/mod.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleaup
  apps/namadillo/src/App/Transfer/ShieldedTransferCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup transfer destination and update left side panel
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/Shield.tsx
  apps/namadillo/src/App/Transfer/ShieldLayout.tsx
  apps/namadillo/src/App/Transfer/ShieldedPropertiesTooltip.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/assets/shielded-eye.svg
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: complete siderb ar
  apps/namadillo/src/App/Layout/Navigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update indexer-client
  apps/namadillo/package.json
Due: prettier --write

fix: update indexer versin
  yarn.lock
Due: none

fix: update unshield button with proper route (#2189)
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update indexer client (#2197)
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

fix: remove blocker to loading assets (#2192)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: create shared table function
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/AccountOverview/common.ts
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: use info from chain registry directly
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Ibc/ShieldAllAssetList.tsx
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Setup/ChainLoader.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useAssetAmount.tsx
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useIsChannelInactive.tsx
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/lib/chain.ts
  apps/namadillo/src/registry/cosmoshub.json
  apps/namadillo/src/registry/index.ts
  apps/namadillo/src/registry/namada-temp.json
  apps/namadillo/src/registry/namada.json
  apps/namadillo/src/utils/gas.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: asset types
  apps/namadillo/src/App/AccountOverview/TotalStakeBanner.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Ibc/ShieldAllAssetList.tsx
  apps/namadillo/src/App/Ibc/ShieldAllIntro.tsx
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__mocks__/assets.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectAssetModal.test.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useAssetAmount.tsx
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
  apps/namadillo/src/hooks/useWalletManager.tsx
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: do not import namadaRegistry directly
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: re-export chain registry Asset, add NamadaAsset
  apps/namadillo/src/App/AccountOverview/TotalStakeBanner.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TokenCard.tsx
  apps/namadillo/src/App/Ibc/IbcShieldAll.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Ibc/ShieldAllAssetList.tsx
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Sidebars/MaspAssetRewards.tsx
  apps/namadillo/src/App/Transfer/AssetImage.tsx
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
  apps/namadillo/src/App/Transfer/SuccessAnimation.tsx
  apps/namadillo/src/App/Transfer/TokenAmountCard.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__mocks__/assets.tsx
  apps/namadillo/src/App/Transfer/__tests__/AssetImage.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/AvailableAmountFooter.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedAsset.test.tsx
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useAssetAmount.tsx
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/assets.ts
  apps/namadillo/src/utils/gas.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: add getNamadaChainAssetsMap to the itegrations functions
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: pass isIbcTransfer to asset select modal
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: remove getChainNameByNamadaAssetDenom
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: simplify enabled assets logic for IbcTransfer(deposits)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/utils/assets.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: housefire nam on osmo
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: housefire support
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useIsChannelInactive.tsx
  apps/namadillo/src/types.ts
  apps/namadillo/src/urls.ts
  apps/namadillo/src/utils/gas.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: move ibc channels type to types
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: rebase
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update pagination on staking tables (#2147)
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update ranking on shielded fungible table and transparent table (#2190)
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/AccountOverview/common.ts
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove deposit and withdraw tabs on completion
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: restore
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add same for ibc withdraw
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: housefire tokens and type import
  apps/namadillo/src/App/AccountOverview/common.ts
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: housefire tokens and type import (#2203)
  apps/namadillo/src/App/AccountOverview/common.ts
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
