Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

Pass stored signing_key to sign_tx function to fix signing issues
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Remove password from SDK calls
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ethBridgeTransfer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/schema/withdraw.ts
Due: yarn run lint, cargo fmt --all -- --fix

Remove SDK store from background
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/test/init.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

Upgrade to official zondax ledger package
  apps/extension/package.json
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Setup/Ledger/Steps/LedgerConnect/LedgerConnect.tsx
  apps/extension/src/background/ledger/ledger.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/utils/index.ts
  packages/ledger-namada/LICENSE
  packages/ledger-namada/README.md
  packages/ledger-namada/dist/common.d.ts
  packages/ledger-namada/dist/common.js
  packages/ledger-namada/dist/common.js.map
  packages/ledger-namada/dist/config.d.ts
  packages/ledger-namada/dist/config.js
  packages/ledger-namada/dist/config.js.map
  packages/ledger-namada/dist/index.d.ts
  packages/ledger-namada/dist/index.js
  packages/ledger-namada/dist/index.js.map
  packages/ledger-namada/dist/namadaApp.d.ts
  packages/ledger-namada/dist/namadaApp.js
  packages/ledger-namada/dist/namadaApp.js.map
  packages/ledger-namada/dist/processResponses.d.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/ledger-namada/dist/types.d.ts
  packages/ledger-namada/dist/types.js
  packages/ledger-namada/dist/types.js.map
  packages/ledger-namada/package.json
  packages/types/package.json
  yarn.lock
Due: yarn run lint

Add spendingKey back as stringified object for compatiblity
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

Logic to handle xsk or private key
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

Fix bad dependency
  specs/packages/examples.md
Due: none

Update to 0.28.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: reduce bundle size #3
  apps/extension/src/background/index.ts
  apps/extension/webpack.config.js
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.toml
  yarn.lock
Due: yarn run lint

feat: transfers and bond working
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: reveal pk
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

WIP: Namada v0.28.0 code with T->T transfers working
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

fix: update to support unbond tx, clean up
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

Namada v0.28.0 T->T transfers (#521)
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

fix: Correct spelling of GitHub
  apps/airdrop/src/App/AirdropConfirmation.tsx
Due: none

chore: add faucet release CI workflow (#484)
  .github/actions/print-workflow-inputs/action.yml
  .github/workflows/release-faucet.yml
  .github/workflows/release-wallet.yml
Due: none

feat: use launch date from settings response
  apps/faucet/src/App/App.tsx
Due: none

feat: add call to retrieve settings
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/index.ts
Due: yarn run lint

fix: addressing PR feedback
  apps/faucet/package.json
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.components.ts
  apps/faucet/src/App/Faucet.tsx
  yarn.lock
Due: yarn run lint

fix: format date properly
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
Due: none

fix: fix form validation
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/config/index.ts
  apps/faucet/src/config/tokens.ts
Due: yarn run lint

fix: add better error handling to settings
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/index.ts
Due: yarn run lint

feat: update address in state
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/config/tokens.ts
Due: yarn run lint

feat/516 - Faucet App Updates (#520)
  apps/faucet/package.json
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.components.ts
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/config/index.ts
  apps/faucet/src/config/tokens.ts
  apps/faucet/src/utils/index.ts
  yarn.lock
Due: yarn run lint

Clean up spending key storage
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

Refactor sdkStore
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/ledger.ts
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

Remove parentId for Ledger
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint

fix: bump namada version to 0.28.1, fix ledger save event
  apps/extension/src/background/keyring/service.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: yarn run lint

feat: basic styles for the tx approval screens
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
Due: none

Feat/0.28.0 signing without wallet (#522)
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

fix: remove console.log
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
