Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

feat: update collapsible descriptions
  apps/namadillo/src/App/Governance/ProposalDescription.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: format links
  apps/namadillo/src/App/Governance/ProposalDescription.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: bump version
  apps/namadillo/package.json
Due: prettier --write

feat: refactoring ibc transfer
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: wip vks birthdays
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/storage/VaultStorage.test.ts
  apps/extension/src/storage/VaultStorage.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/types/src/account.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: pass dated viewing keys
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/ShieldedSyncMessages.ts
  packages/sdk/src/rpc/rpc.ts
  packages/types/src/account.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: integrate with backend
  apps/namadillo/package.json
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/types/masp.rs
  packages/types/src/account.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: vault migrations
  apps/extension/src/background/vault/service.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/storage/VaultStorage.test.ts
  apps/extension/src/storage/VaultStorage.ts
  apps/extension/src/storage/index.ts
  apps/extension/src/storage/schemas/VaultSchemaV1.ts
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
  apps/extension/src/storage/schemas/index.ts
  apps/extension/src/storage/schemas/migrations.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

docs: update firefox readme (#1423)
  apps/extension/FIREFOX_README.md
Due: none

fix: cr commnets, store timestamp 0 for imported accounts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/storage/schemas/migrations.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove source from returned transparent account
  apps/extension/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add target blank
  apps/namadillo/src/App/Governance/ProposalDescription.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update proposal description (#1425)
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/ProposalDescription.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix outline on disabled button
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump version
  apps/namadillo/package.json
Due: prettier --write

fix: fix outline on disabled button (#1431)
  apps/namadillo/package.json
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: localize time
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/utils/dates.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: add a todo comment
  apps/namadillo/src/utils/dates.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Update nginx port to 7551
  docker/namadillo/nginx.conf
Due: none

feat: enable shielded transfers
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/shield/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/lib/transactions.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: passing empty vks
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update for new housefire
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: finalizing changes
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

feat: bump namadillo version
  apps/namadillo/package.json
Due: prettier --write

feat: add remaining time
  apps/namadillo/src/utils/dates.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: lowercase remaining
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: Namadillo - Update for new housefire (#1434)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update top buttons
  apps/namadillo/src/App/Ibc/assets/IbcLogo.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update table buttons
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add time title helper (#1432)
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/utils/dates.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: ibc improvements wip
  apps/namadillo/package.json
  apps/namadillo/src/App/Ibc/IbcShieldAll.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Ibc/ShieldAllProgress.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/types.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: ibc withdraw working sometimes
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: showing warning for top validators on staking
  apps/namadillo/src/App/Common/IconTooltip.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/lib/staking.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update buttons for phase 3 (#1436)
  apps/namadillo/package.json
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Ibc/assets/IbcLogo.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: showing warning for top validators on staking (#1448)
  apps/namadillo/src/App/Common/IconTooltip.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/lib/staking.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
