Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: reviewing transaction timelines
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: post-release bumps, changelogs
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  yarn.lock
Due: none

feat: if ibc channels are not defined, display the text field
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: point to latest namadahousefire registry
  apps/namadillo/package.json
  yarn.lock
Due: none

feat: post-release bumps, changelogs (#1364)
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  yarn.lock
Due: none

chore: comment out localnet_enabled flag
  apps/namadillo/public/config.toml
Due: none

chore: some after merge cleanups
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/types/masp.rs
Due: cargo fmt --all -- --fix

fix: increasing decimal places on redelegation
  apps/namadillo/src/App/Staking/BondingAmountOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: increasing decimal places on redelegation (#1366)
  apps/namadillo/src/App/Staking/BondingAmountOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update copy approximate (#1359)
  apps/namadillo/src/App/Staking/ValidatorInfoPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: listen for extension connect (#1362)
  apps/namadillo/src/App/Setup/ExtensionLoader.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: unshielding and shielded transfers with imported private key
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: Reviewing transaction timelines and fixing a few things (#1365)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: preparing cpos link
  apps/namadillo/src/App/Sidebars/ValidatorDiversification.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: wire unshielding into UI
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/atoms/shield/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup WorkerTest component
  apps/namadillo/src/App/App.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: preparing cpos link (#1368)
  apps/namadillo/src/App/Sidebars/ValidatorDiversification.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update for mainnet
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/utils/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: reverting override on package.json, pulling from main now
  apps/namadillo/package.json
  yarn.lock
Due: none

fix: map registry features properly
  apps/namadillo/package.json
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove commit hash from package.json
  apps/namadillo/package.json
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: use mainnet assets in utils
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: force bond in the claim and stake flow
  apps/namadillo/src/atoms/staking/services.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/wrapperTx.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Registry update for Namada mainnet (#1369)
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  apps/namadillo/src/utils/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: bump repo + namadillo -> 1.0.0
  apps/namadillo/package.json
  package.json
Due: none

fix: bump repo + namadillo -> 1.0.0 (#1372)
  apps/namadillo/package.json
  package.json
Due: none

fix: fixes issue where 0 enabled features returns ALL features
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: bumping
  apps/namadillo/package.json
  package.json
Due: none

BUG - Namadillo: Fix issue where 0 enabled features returns ALL features (#1373)
  apps/namadillo/package.json
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
  package.json
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: force bond in the claim and stake flow (#1370)
  apps/namadillo/src/atoms/staking/services.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/wrapperTx.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: sdk and extension should use the same ledger-namada package
  packages/sdk/package.json
  yarn.lock
Due: none

fix: remove unused function
  apps/extension/package.json
  packages/sdk/src/ledger.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: SDK and extension should use the same ledger-namada package (#1376)
  apps/extension/package.json
  packages/sdk/package.json
  packages/sdk/src/ledger.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: move optional value to end of schema, no empty memo
  apps/namadillo/package.json
  apps/namadillo/src/lib/query.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/txDetails.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: move optional value to end of schema, no empty memo (#1379)
  apps/namadillo/package.json
  apps/namadillo/src/lib/query.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/txDetails.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bump to 0.13.0
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

feat: bump to 0.13.0 (#1380)
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

fix: ibc transfer should also not have an empty string memo
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: ibc transfer should also not have an empty string memo (#1381)
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: do not use empty string memos by default - in transfers
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
