Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: improve performance when building namadillo on Laconic (#1911)
  build-webapp.sh
Due: none

feat: adding withdraw shielded changes
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update claim section text
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add forgot password section
  apps/extension/src/App/Login.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update native balance
  apps/namadillo/src/App/Common/BalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add marginal amount for pie chart
  apps/namadillo/src/App/Common/BalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update password checker
  apps/extension/src/Setup/Common/Password.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update native balance to be 0 in staking panel (#1919)
  apps/namadillo/src/App/Common/BalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: support deadline in broadcast Tx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: don't display approve connection form if approved
  apps/extension/src/Approvals/ApproveConnection.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: ibc unshielding
  apps/extension/src/Approvals/ApproveSignTx.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/types.ts
  apps/namadillo/src/App/Common/UnshieldAssetsModal.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
  packages/types/src/tx/schema/bparams.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transfer.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

SDK: Support deadline in broadcast Tx (#1926)
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update password checker when second input is used first (#1921)
  apps/extension/src/Setup/Common/Password.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add forgot password section on Extension (#1917)
  apps/extension/src/App/Login.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: fix clippy warnings
  packages/crypto/lib/.cargo/config.toml
  packages/crypto/lib/src/crypto/aes.rs
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/pointer_types.rs
  packages/crypto/lib/src/crypto/zip32.rs
  packages/crypto/package.json
  packages/shared/lib/.cargo/config.toml
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/package.json
  packages/shared/scripts/build.js
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: cargo fmt
  packages/shared/lib/src/types/masp.rs
  packages/shared/lib/src/types/query.rs
Due: cargo fmt --all -- --fix

fix: pass --no-default-features for test-wasm:ci
  packages/shared/package.json
Due: prettier --write

chore: fix clippy warnings (#1928)
  packages/crypto/lib/.cargo/config.toml
  packages/crypto/lib/src/crypto/aes.rs
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/pointer_types.rs
  packages/crypto/lib/src/crypto/zip32.rs
  packages/crypto/package.json
  packages/shared/lib/.cargo/config.toml
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/lib/src/types/query.rs
  packages/shared/package.json
  packages/shared/scripts/build.js
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

FIX: Keychain - Don't display approve connection form if already approved (#1927)
  apps/extension/src/Approvals/ApproveConnection.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: begin implementing sequential payment address gen
  packages/sdk/src/keys/keys.ts
  packages/shared/lib/src/types/masp.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding gen payment address functionality
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: hook up event broadcasting, fixing issues
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/extension/ExtensionRequester.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding diversifier index to schema
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
  apps/extension/src/utils/index.ts
  packages/shared/lib/src/types/masp.rs
  packages/types/src/account.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: removing unused files
  apps/namadillo/src/registry/cosmoshub.json
  apps/namadillo/src/registry/index.ts
  apps/namadillo/src/registry/namada-temp.json
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: wip pay fees for masp with transparent balance
  apps/extension/src/background/keyring/keyring.ts
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
  apps/namadillo/src/hooks/useTransfer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: enable gas source switch only for unshielding and shielded transfers
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: creating class structure
  apps/namadillo/src/lib/ibc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: fixing missing step on CI
  .github/actions/release-project/action.yml
Due: none

ci: fetching ci before checking to stable
  .github/actions/release-project/action.yml
Due: none

chore: update indexer height checker
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: tnam znam address validation in the transfer module
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore!: support for indexer 3.0.0
  apps/namadillo/package.json
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: ibc unshielding
  apps/extension/src/Approvals/ApproveSignTx.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/types.ts
  apps/namadillo/src/App/Common/UnshieldAssetsModal.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
  packages/types/src/tx/schema/bparams.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: disposable signers for refund target
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  packages/sdk/src/index.ts
  packages/shared/lib/src/sdk/args.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: upgrading dompurify library
  apps/extension/package.json
  apps/faucet/package.json
  packages/hooks/package.json
  yarn.lock
Due: prettier --write

ci: fetching ci before checking to stable (#1930)
  .github/actions/release-project/action.yml
Due: none

Feat: add Est. Rewards to staking dash (#1913)
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: refetch balances after transfres
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update gas calculations
  apps/namadillo/src/atoms/fees/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: disposable accounts extension UI
  apps/extension/src/App/Accounts/DisposableAccount.tsx
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/storage/schemas/VaultSchemaV1.ts
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
  apps/extension/src/storage/schemas/index.ts
  apps/extension/src/storage/schemas/migrations.ts
  packages/components/src/KeyListItem.tsx
  packages/types/src/account.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
