Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move calculation to a dedicated function
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): removing selection from table header (#1039)
  packages/components/src/StyledTableHead.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update copy
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: handle validators when unbonding all tokens
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/atoms/validators/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix fees and redelegating to same validator (#1043)
  apps/namadillo/src/App/Common/TransactionFees.tsx
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/ReDelegateAssignStake.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: support all existing Tx
  apps/namadillo/src/lib/query.ts
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/src/index.ts
  packages/sdk/src/tests/tx.test.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve signing & broadcast API
  apps/namadillo/src/lib/query.ts
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/src/index.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/tests/tx.test.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: continue hooking up new Tx type
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types/events.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tx/tx.ts
  packages/sdk/src/tx/types.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add Tx schema and type for inspecting transactions from SDK
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: serialize and deserialize properly
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/tx.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add update method to extension
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  packages/types/src/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add update atom
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/namadillo/src/App/Common/ActiveAccount.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(staking): using optional chaining instead of a condition
  apps/namadillo/src/App/Staking/StakingOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(namadillo): making the property names clearer
  apps/namadillo/src/App/Staking/UnbondingAmountsTable.tsx
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(namadillo): removing unnecessary !
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(namadillo): making structure a bit clearer and more compatible to the indexer responses
  apps/namadillo/src/App/Staking/UnbondingAmountsTable.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: Refactoring Unbonding and Withdraw, moving them to MyValidator type (#1037)
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Staking/UnbondingAmountsTable.tsx
  apps/namadillo/src/App/Staking/UnstakeBondingTable.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/atoms/validators/atoms.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/atoms/validators/services.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: start toast timeout when toast type changes (#1049)
  apps/namadillo/src/App/Common/Toast.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: set default timeout for success/error toasts (#1049)
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: don't flash lock screen when opening extension (#1050)
  apps/extension/src/App/App.tsx
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/context/VaultContext.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: use new api client
  apps/namadillo/package.json
  apps/namadillo/src/atoms/api.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/settings/services.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use maxBlockTime to calculate unbonding period
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: properly disable vote button and poll proposal changes
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/ProposalStatusSummary.tsx
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/atoms/etc.ts
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: fix PR comments
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

bug: governance and unbonding fixes (#1044)
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/ProposalStatusSummary.tsx
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/atoms/api.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/etc.ts
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/types.d.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update calculation
  apps/namadillo/src/atoms/chain/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: deploy Namadillo and extension on main merge (#1053)
  .github/workflows/deploy-wallet-at-merge-to-main.yml
Due: none

feat: chain status hook
  apps/namadillo/src/App/Common/SyncIndicator.tsx
  apps/namadillo/src/hooks/useChainStatus.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useSSE.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: hook up settings modal
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Common/AppHeader.components.ts
  apps/faucet/src/App/Common/AppHeader.tsx
  apps/faucet/src/App/SettingsForm.tsx
  apps/faucet/src/utils/api.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up, fix faucet form UI issue
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Common/AppBanner.tsx
  apps/faucet/src/App/Common/AppHeader.tsx
  apps/faucet/src/App/Common/Banner.components.ts
  apps/faucet/src/App/Common/CallToActionCard.tsx
  apps/faucet/src/App/Common/Card.components.tsx
  apps/faucet/src/App/Common/Faq.components.tsx
  apps/faucet/src/App/Common/Faq.tsx
  apps/faucet/src/App/Common/FaqDropdown.tsx
  apps/faucet/src/App/Common/index.ts
  apps/faucet/src/App/Faucet.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve forms & components
  apps/faucet/src/App/App.components.ts
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.components.ts
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/App/SettingsForm.tsx
  apps/faucet/src/utils/api.ts
  apps/faucet/src/utils/helpers.ts
  apps/faucet/src/utils/index.ts
  apps/faucet/src/utils/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: touch up styles
  apps/faucet/src/App/App.components.ts
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Common/AppHeader.components.ts
  apps/faucet/src/App/Common/AppHeader.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/1055 - Faucet settings (#1056)
  apps/faucet/src/App/App.components.ts
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Common/AppBanner.tsx
  apps/faucet/src/App/Common/AppHeader.components.ts
  apps/faucet/src/App/Common/AppHeader.tsx
  apps/faucet/src/App/Common/Banner.components.ts
  apps/faucet/src/App/Common/CallToActionCard.tsx
  apps/faucet/src/App/Common/Card.components.tsx
  apps/faucet/src/App/Common/Faq.components.tsx
  apps/faucet/src/App/Common/Faq.tsx
  apps/faucet/src/App/Common/FaqDropdown.tsx
  apps/faucet/src/App/Common/index.ts
  apps/faucet/src/App/Faucet.components.ts
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/App/SettingsForm.tsx
  apps/faucet/src/utils/api.ts
  apps/faucet/src/utils/helpers.ts
  apps/faucet/src/utils/index.ts
  apps/faucet/src/utils/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update unbonding period calculation (#1034)
  apps/extension/tsconfig.json
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/functions.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/validators/atoms.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/atoms/validators/services.ts
  apps/namadillo/src/types.d.ts
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/src/signing.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up formatting, unused env vars
  apps/faucet/.env.sample
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/App/index.ts
  apps/faucet/src/utils/api.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: chain status hook (#1058)
  apps/namadillo/src/App/Common/SyncIndicator.tsx
  apps/namadillo/src/hooks/useChainStatus.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/useSSE.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: wrong redelegation tx type
  apps/namadillo/src/App/Staking/ReDelegate.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: wrong redelegation tx type (#1063)
  apps/namadillo/src/App/Staking/ReDelegate.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
