Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

fix: styling for action button
  packages/components/src/ActionButton/ActionButton.components.tsx
Due: none

fix: addressing pr feedback
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
Due: yarn run lint

feat: support additional testnet tokens
  apps/extension/src/background/keyring/keyring.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/store/mocks.ts
  packages/shared/lib/src/query.rs
  packages/types/src/chain.ts
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: add missing rel attribute to anchor (#508)
  apps/airdrop/src/App/Common/AcceptTermsCheckbox/AcceptTermsCheckbox.tsx
Due: none

chore: make e2e tests work with 0.28.0
  apps/extension/src/App/Setup/Setup.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseConfirmation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseWarning/SeedPhraseWarning.tsx
  apps/extension/src/Setup/Common/AccountAlias/AccountAlias.tsx
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/Common/Password/Password.tsx
  apps/extension/src/Setup/Common/SeedPhraseList/SeedPhraseList.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseSetup/SeedPhraseSetup.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/Start/Start.tsx
  e2e/genesis.toml
  e2e/genesis/localnet/balances.toml
  e2e/genesis/localnet/parameters.toml
  e2e/genesis/localnet/src/pre-genesis/bond/bond-tx-albert.toml
  e2e/genesis/localnet/src/pre-genesis/established/established-account-tx-albert.toml
  e2e/genesis/localnet/src/pre-genesis/established/established-account-tx-bertha.toml
  e2e/genesis/localnet/src/pre-genesis/established/established-account-tx-christel.toml
  e2e/genesis/localnet/src/pre-genesis/signed-transactions.toml
  e2e/genesis/localnet/src/pre-genesis/unsigned-transactions.toml
  e2e/genesis/localnet/src/pre-genesis/validator-0/signed-transactions.toml
  e2e/genesis/localnet/src/pre-genesis/validator-0/unsigned-transactions.toml
  e2e/genesis/localnet/src/pre-genesis/validator-0/validator-wallet.toml
  e2e/genesis/localnet/src/pre-genesis/wallet.toml
  e2e/genesis/localnet/tokens.toml
  e2e/genesis/localnet/transactions.toml
  e2e/genesis/localnet/validity-predicates.toml
  e2e/package.json
  e2e/setup-frontend.sh
  e2e/setup-namada.sh
  e2e/src/index.test.ts
  e2e/src/partial/setup.ts
  e2e/src/utils/helpers.ts
  e2e/start-namada.sh
  packages/components/src/Input/input.tsx
  yarn.lock
Due: yarn run lint

feat: support additional testnet tokens (#529)
  apps/extension/src/background/keyring/keyring.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/store/mocks.ts
  packages/shared/lib/src/query.rs
  packages/types/src/chain.ts
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: masp source issues
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
Due: yarn run lint

feat: now we need to hardcode timestamp
  apps/faucet/.env.sample
  apps/faucet/src/App/App.tsx
Due: none

fix: disabled button color & rollback animation
  packages/components/src/ActionButton/ActionButton.components.tsx
Due: none

fix: use transparent address to sign shielded transfers
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

feat: now we need to hardcode timestamp (#532)
  apps/faucet/.env.sample
  apps/faucet/src/App/App.tsx
Due: none

feat: improvements to IBC form
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Settings/SettingsWalletSettings/SettingsWalletSettings.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenReceive/TokenReceive.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/proposals.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  packages/chains/src/index.ts
  packages/integrations/src/Keplr.ts
  packages/types/src/tx/tokens/Cosmos.ts
Due: yarn run lint

feat: disable bridge form view, update navigation
  apps/namada-interface/src/App/Bridge/Bridge.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
Due: none

fix: cr fixes for setup
  apps/extension/package.json
  apps/namada-interface/package.json
  e2e/package.json
  e2e/setup-frontend.sh
  e2e/setup-namada.sh
  yarn.lock
Due: none

fix: pr feedback addressed
  apps/namada-interface/.env.sample
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  packages/types/src/tx/tokens/Cosmos.ts
Due: yarn run lint

feat/531: Namada Interface - Public Testnet updates (#533)
  apps/namada-interface/.env.sample
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Bridge/Bridge.tsx
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Settings/SettingsWalletSettings/SettingsWalletSettings.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenReceive/TokenReceive.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/proposals.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  packages/chains/src/index.ts
  packages/integrations/src/Keplr.ts
  packages/types/src/tx/tokens/Cosmos.ts
Due: yarn run lint

feat: reduce bundle size #1
  apps/extension/package.json
  apps/extension/webpack.config.js
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/services/integrations/provider.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  packages/crypto/lib/Cargo.toml
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/integrations/package.json
  packages/integrations/src/Metamask.ts
  packages/integrations/src/hooks/index.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/integrations/src/index.ts
  packages/shared/lib/Cargo.toml
Due: yarn run lint

feat: reduce bundle size #2
  apps/extension/src/background/index.ts
Due: yarn run lint

chore: cleanup
  apps/extension/package.json
  apps/extension/src/background/index.ts
  apps/extension/webpack.config.js
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/webpack.config.js
  packages/integrations/src/Metamask.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  yarn.lock
Due: yarn run lint

fix: remove shared entry
  apps/extension/webpack.config.js
Due: yarn run lint

feat: fetch wasms
  apps/extension/src/background/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/webpack.config.js
  apps/namada-interface/src/index.tsx
  packages/crypto/lib/Cargo.toml
  packages/crypto/src/init-inline.ts
  packages/crypto/src/init.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/src/init-inline.ts
  packages/shared/src/init.ts
Due: yarn run lint

feat: reduce bundle size #3
  apps/extension/src/background/index.ts
  apps/extension/webpack.config.js
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.toml
Due: yarn run lint

fix: rebase
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
Due: none

feat: masp with disposable key
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/types.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/tx.ts
Due: yarn run lint, cargo fmt --all -- --fix

chore: cleanup
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: cr comments
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
Due: yarn run lint

chore: make e2e tests work with 0.28.0 (#527)
  apps/extension/package.json
  apps/extension/src/App/Setup/Setup.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseConfirmation/SeedPhraseConfirmation.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhraseWarning/SeedPhraseWarning.tsx
  apps/extension/src/Setup/Common/AccountAlias/AccountAlias.tsx
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/Common/Password/Password.tsx
  apps/extension/src/Setup/Common/SeedPhraseList/SeedPhraseList.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseSetup/SeedPhraseSetup.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/Start/Start.tsx
  apps/namada-interface/package.json
  e2e/genesis.toml
  e2e/genesis/localnet/balances.toml
  e2e/genesis/localnet/parameters.toml
  e2e/genesis/localnet/src/pre-genesis/bond/bond-tx-albert.toml
  e2e/genesis/localnet/src/pre-genesis/established/established-account-tx-albert.toml
  e2e/genesis/localnet/src/pre-genesis/established/established-account-tx-bertha.toml
  e2e/genesis/localnet/src/pre-genesis/established/established-account-tx-christel.toml
  e2e/genesis/localnet/src/pre-genesis/signed-transactions.toml
  e2e/genesis/localnet/src/pre-genesis/unsigned-transactions.toml
  e2e/genesis/localnet/src/pre-genesis/validator-0/signed-transactions.toml
  e2e/genesis/localnet/src/pre-genesis/validator-0/unsigned-transactions.toml
  e2e/genesis/localnet/src/pre-genesis/validator-0/validator-wallet.toml
  e2e/genesis/localnet/src/pre-genesis/wallet.toml
  e2e/genesis/localnet/tokens.toml
  e2e/genesis/localnet/transactions.toml
  e2e/genesis/localnet/validity-predicates.toml
  e2e/setup-frontend.sh
  e2e/setup-namada.sh
  e2e/src/index.test.ts
  e2e/src/partial/setup.ts
  e2e/src/utils/helpers.ts
  e2e/start-namada.sh
  packages/components/src/Input/input.tsx
Due: yarn run lint

feat: airdrop extended time
  apps/airdrop/src/App/Main.tsx
Due: none

feat: reduce bundle size (#530)
  apps/extension/package.json
  apps/extension/src/background/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/webpack.config.js
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/services/integrations/provider.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/webpack.config.js
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/src/init-inline.ts
  packages/crypto/src/init.ts
  packages/hooks/package.json
  packages/hooks/src/index.ts
  packages/integrations/package.json
  packages/integrations/src/Metamask.ts
  packages/integrations/src/hooks/index.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/integrations/src/index.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/src/init-inline.ts
  packages/shared/src/init.ts
  yarn.lock
Due: yarn run lint

feat: masp with disposable key (#538)
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/types.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/index.ts
  packages/types/src/tx/schema/tx.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: installing tailwind
  packages/components/package.json
  packages/components/postcss.config.js
  packages/components/src/index.ts
  packages/components/src/tailwind.css
  packages/components/tailwind.config.js
Due: yarn run lint

feat(components): decoupling react-router-dom from components
  packages/components/src/Container/Container.tsx
Due: none

feat: decoupling process.env from types
  packages/types/src/chain.ts
Due: yarn run lint

temp: removing tailwind temporarily
  packages/components/package.json
  packages/components/src/tailwind.css
Due: none

feat(storybook): cleaning up stories
  storybook/.storybook/preview.ts
  storybook/.storybook/preview.tsx
  storybook/.yarn/install-state.gz
  storybook/index.html
  storybook/package.json
  storybook/src/App.css
  storybook/src/App.tsx
  storybook/src/StoryWrapper.tsx
  storybook/src/assets/react.svg
  storybook/src/index.css
  storybook/src/main.tsx
  storybook/src/stories/ActionButton.stories.ts
  storybook/src/stories/Button.stories.ts
  storybook/src/stories/Button.tsx
  storybook/src/stories/Configure.mdx
  storybook/src/stories/Header.stories.ts
  storybook/src/stories/Header.tsx
  storybook/src/stories/Page.stories.ts
  storybook/src/stories/Page.tsx
  storybook/src/stories/assets/accessibility.png
  storybook/src/stories/assets/accessibility.svg
  storybook/src/stories/assets/addon-library.png
  storybook/src/stories/assets/assets.png
  storybook/src/stories/assets/avif-test-image.avif
  storybook/src/stories/assets/context.png
  storybook/src/stories/assets/discord.svg
  storybook/src/stories/assets/docs.png
  storybook/src/stories/assets/figma-plugin.png
  storybook/src/stories/assets/github.svg
  storybook/src/stories/assets/share.png
  storybook/src/stories/assets/styling.png
  storybook/src/stories/assets/testing.png
  storybook/src/stories/assets/theming.png
  storybook/src/stories/assets/tutorials.svg
  storybook/src/stories/assets/youtube.svg
  storybook/src/stories/button.css
  storybook/src/stories/header.css
  storybook/src/stories/page.css
  storybook/tsconfig.json
  storybook/yarn.lock
Due: yarn run lint
