Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

feat: display all validators
  apps/namada-interface/src/config/chain.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/transfers.ts
  apps/namada-interface/src/types/environment.d.ts
  packages/rpc/src/RpcClient.ts
  packages/rpc/src/SocketClient.ts
  packages/rpc/src/enums/index.ts
  packages/rpc/src/utils/encoding/index.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/pos.rs
Due: yarn run lint, cargo fmt --all -- --fix

Minor updates to support 0.9.0
  apps/namada-interface/src/slices/balances.ts
  packages/rpc/src/RpcClient.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: yarn run lint

Minor cleanup
  apps/extension/src/provider/InjectedAnoma.ts
  packages/rpc/src/SocketClient.ts
Due: yarn run lint

Remove session
  apps/extension/src/App/Accounts/Accounts.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/session/handler.ts
  apps/extension/src/background/session/index.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/extension/index.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/router/types/router.ts
Due: yarn run lint

Removing unused Session.ts
  apps/extension/src/extension/Session.ts
Due: yarn run lint

Clean up unused imports in namada-interface
  apps/namada-interface/src/App/Settings/SettingsWalletSettings/SettingsWalletSettings.tsx
  apps/namada-interface/src/App/Token/TokenDetails.tsx
  apps/namada-interface/src/App/Token/Transfers/Transfers.tsx
  apps/namada-interface/src/slices/transfers.ts
Due: yarn run lint

Go ahead and hook up IBC msg
  apps/namada-interface/src/slices/transfers.ts
Due: yarn run lint

feat/95 - Extension address encoding, type improvements (#114)
  apps/extension/src/App/Accounts/AccountListing.components.ts
  apps/extension/src/App/Accounts/AccountListing.tsx
  apps/extension/src/App/Accounts/Accounts.tsx
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Login/Login.tsx
  apps/extension/src/background/chains/handler.ts
  apps/extension/src/background/chains/init.ts
  apps/extension/src/background/chains/messages.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/index.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/router/types/router.ts
  packages/components/src/Input/input.tsx
  packages/shared/lib/src/types/address.rs
  packages/shared/src/__tests__/shared.test.ts
  packages/storage/src/store/ExtensionKVStore.ts
  packages/storage/src/store/IndexedDBKVStore.ts
  packages/storage/src/store/LocalKVStore.ts
  packages/storage/src/store/Store.ts
  packages/storage/src/store/types.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Add base permissions service
  apps/extension/src/background/permissions/constants.ts
  apps/extension/src/background/permissions/handler.ts
  apps/extension/src/background/permissions/index.ts
  apps/extension/src/background/permissions/init.ts
  apps/extension/src/background/permissions/messages.ts
  apps/extension/src/background/permissions/service.ts
Due: yarn run lint

Add message registration for permissions, storage updates
  apps/extension/src/background/index.ts
  apps/extension/src/background/permissions/index.ts
  apps/extension/src/background/permissions/init.ts
  apps/extension/src/background/permissions/messages.ts
  apps/extension/src/background/permissions/service.ts
  apps/extension/src/background/permissions/types.ts
Due: yarn run lint

Temporarily use defaultChainId until configuration updates are in place
  apps/namada-interface/src/slices/accounts.ts
Due: yarn run lint

Initial reworking of chain configs
  apps/extension/src/config/chains.ts
  packages/chains/package.json
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/chains/osmosis.ts
  packages/chains/src/index.ts
  packages/types/src/chain.ts
Due: yarn run lint

Update default test prefix
  packages/chains/src/chains/namada.ts
Due: yarn run lint

Remove wasm:build script from namada-interface
  apps/namada-interface/README.md
  apps/namada-interface/package.json
Due: none

Add dependencies for chains
  apps/extension/package.json
  apps/namada-interface/package.json
Due: none

Update dependencies
  apps/namada-interface/package.json
  packages/tx/package.json
Due: none

Remove @anoma/tx, moved remaining types into @anoma/types
  apps/namada-interface/package.json
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenDetails.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/Transfers/Transfers.tsx
  apps/namada-interface/src/slices/AccountsNew/actions.ts
  apps/namada-interface/src/slices/balances.ts
  apps/namada-interface/src/slices/coins.ts
  apps/namada-interface/src/slices/shieldedTransfer/types.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/integrations/package.json
  packages/integrations/src/Keplr.ts
  packages/tx/.eslintrc
  packages/tx/.prettierignore
  packages/tx/.prettierrc
  packages/tx/README.md
  packages/tx/jest.config.ts
  packages/tx/package.json
  packages/tx/src/index.ts
  packages/tx/tsconfig.json
  packages/types/package.json
  packages/types/src/tx/index.ts
  packages/types/src/tx/tokens/index.ts
  packages/types/src/tx/wasm/index.ts
  yarn.lock
Due: yarn run lint

Update common build scripts for wasm, remove wasm build from integrations
  packages/integrations/package.json
  scripts/build-test.sh
  scripts/build.sh
Due: none

Adding back the .env.sample file for reference
  apps/namada-interface/.env.sample
Due: none

feat/118 - Support zip32 derivation (#120)
  apps/extension/src/App/Accounts/AccountListing.tsx
  apps/extension/src/App/Accounts/AddAccount.components.ts
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/background/keyring/crypto.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/config/argon2.ts
  apps/extension/src/config/index.ts
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/mod.rs
  packages/crypto/lib/src/crypto/zip32.rs
  packages/crypto/src/__tests__/crypto.test.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/account.rs
  packages/shared/lib/src/ibc_transfer.rs
  packages/shared/lib/src/transfer.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/lib/src/types/mod.rs
  packages/shared/lib/src/utils.rs
  packages/shared/src/__tests__/shared.test.ts
  packages/types/package.json
  packages/types/src/account.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/shielded.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/types.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: refactor and messsage test
  apps/extension/jest.config.ts
  apps/extension/package.json
  apps/extension/src/App/App.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/content/index.ts
  apps/extension/src/extension/ExtensionMessenger.ts
  apps/extension/src/extension/ExtensionMessengerMock.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/extension/ExtensionRouter.ts
  apps/extension/src/extension/index.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/init_test.ts
  apps/extension/src/setupTests.ts
  apps/extension/src/test/init.ts
  packages/storage/src/store/ExtensionKVStore.ts
  packages/storage/src/store/IndexedDBKVStore.ts
  packages/storage/src/store/LocalKVStore.ts
  packages/storage/src/store/Store.ts
  packages/storage/src/store/types.ts
  yarn.lock
Due: yarn run lint

style: cleanup
  apps/extension/scripts/build-node.sh
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/extension/ExtensionRouter.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat: separate init from functionality in shared and crypto
  apps/extension/jest.config.ts
  apps/extension/package.json
  apps/extension/scripts/build-node.sh
  apps/extension/src/App/App.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/extension/ExtensionMessenger.ts
  apps/extension/src/provider/init_test.ts
  packages/crypto/src/index.ts
  packages/crypto/src/init.ts
  packages/shared/src/index.ts
  packages/shared/src/init.ts
Due: yarn run lint

feat(144): add test for extension message passing system (#149)
  apps/extension/jest.config.ts
  apps/extension/package.json
  apps/extension/scripts/build-node.sh
  apps/extension/src/App/App.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/content/index.ts
  apps/extension/src/extension/ExtensionMessenger.ts
  apps/extension/src/extension/ExtensionMessengerMock.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/extension/ExtensionRouter.ts
  apps/extension/src/extension/index.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/setupTests.ts
  apps/extension/src/test/init.ts
  packages/crypto/src/index.ts
  packages/crypto/src/init.ts
  packages/shared/src/index.ts
  packages/shared/src/init.ts
  packages/storage/src/store/ExtensionKVStore.ts
  packages/storage/src/store/IndexedDBKVStore.ts
  packages/storage/src/store/LocalKVStore.ts
  packages/storage/src/store/Store.ts
  packages/storage/src/store/types.ts
  yarn.lock
Due: yarn run lint

fix: linting issues
  apps/extension/src/extension/ExtensionMessenger.ts
  apps/extension/src/extension/ExtensionMessengerMock.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/router/types/router.ts
  apps/extension/src/setupTests.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

Updating CI workflows to point app to current testnet
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

Fix app alias
  .github/workflows/deploy-wallet-at-merge-to-main.yml
Due: none

fix: linting issues (#151)
  apps/extension/src/extension/ExtensionMessenger.ts
  apps/extension/src/extension/ExtensionMessengerMock.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/router/types/router.ts
  apps/extension/src/setupTests.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat/155 - Updating CI workflows to point app to current testnet (#156)
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

Add slip44 dependency to @anoma/types
  packages/integrations/package.json
  packages/types/package.json
  yarn.lock
Due: none

tests: query messages in the extension
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/data.mock.ts
Due: yarn run lint

tests: integrations tests for Anoma.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

fix: shared build
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/ibc_transfer.rs
  packages/shared/lib/src/transfer.rs
  packages/shared/lib/src/utils.rs
Due: cargo fmt --all -- --fix

test: add missing tests for extension messages (#157)
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat: update wasms
  apps/namada-interface/public/wasm/tx_ibc.13b28479e6dd07f91749fb782752c2c59e9a4e6720e22f5e77417f8e92152819.wasm
  apps/namada-interface/public/wasm/tx_ibc.24138bc1574c483e3472fe78b2da2fcce05310904d2cecd84f5156171dc96fbd.wasm
  apps/namada-interface/public/wasm/tx_init_account.471ba8fa277ba422bbfdddb513e7c7b97dcb3d278e31a2abb5ce4795bc7a869a.wasm
  apps/namada-interface/public/wasm/tx_init_account.e0a3d18ec8b373366a6c19bfd91784d011a076ba5acb13063c7644ae3881c1c4.wasm
  apps/namada-interface/public/wasm/tx_transfer.410f2e3d5d98815ce4d30e4895a8d2902087f370f9c24b20c575f4fcb4b6bbd0.wasm
  apps/namada-interface/public/wasm/tx_transfer.6abb9fa97316134671477fd980f109a1751a9cae4eaa245fdd9775d400943523.wasm
  apps/namada-interface/public/wasm/vp_masp.1a8cfe1811fd2842f374913611eadc6f0ba9c890ccdaabf0e7c2861e6db2ad7f.wasm
  apps/namada-interface/public/wasm/vp_masp.4e83d20336fb56650d7b7a6669b368864f1a0a70498ff4e1767edccf49a97392.wasm
  apps/namada-interface/public/wasm/vp_token.8f0ae2a307a883c25e73c77a0aac99b8a927d03682b9e88b75be3036eb7468de.wasm
  apps/namada-interface/public/wasm/vp_token.b8ab23243f793722bad4a627415e30a1ffeb5acdee6f8838b132af3bb09e1b59.wasm
  apps/namada-interface/public/wasm/vp_user.3e1a72d8c71c7befb2dadaa4215560e711b3e3f1ec612c3e10ae56658dc29f14.wasm
  apps/namada-interface/public/wasm/vp_user.eb918add9dd36797e6420affda3b1e768b6bc7f3f8a2610591213d5fc7154090.wasm
  packages/types/src/tx/wasm/index.ts
Due: yarn run lint

refactor: cleanup
  packages/shared/lib/Cargo.toml
Due: none

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
