Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

fix: increase timeout
  e2e/src/index.test.ts
  e2e/src/utils/helpers.ts
Due: yarn run lint

test: derive transparent and derive shielded address e2e tests (#377)
  e2e/src/index.test.ts
  e2e/src/partial/setup.ts
  e2e/src/utils/helpers.ts
  e2e/src/utils/values.ts
Due: yarn run lint

feat: display erc20 and nuterc20
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  packages/shared/lib/src/query.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: simple eth bridge form
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Bridge/Bridge.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.components.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/index.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.components.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/index.ts
  packages/components/src/TabsGroup/TabsGroup.components.tsx
  packages/components/src/TabsGroup/index.ts
  packages/components/src/index.ts
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint

feat: eth bridge transfer approvals
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/types.ts
  packages/integrations/src/Metamask.ts
  packages/integrations/src/Namada.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/src/types.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/ethBridgeTransfer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: wire in eth bridge pool sdk logic
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

Fix for IBC args
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

Adding Ledger updates for 0.21.1
  apps/extension/src/utils/index.ts
  packages/ledger-namada/dist/namadaApp.d.ts
  packages/ledger-namada/dist/namadaApp.js
  packages/ledger-namada/dist/namadaApp.js.map
  packages/ledger-namada/dist/processResponses.d.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/ledger-namada/dist/types.d.ts
  packages/ledger-namada/dist/types.js
  packages/ledger-namada/dist/types.js.map
  packages/ledger-namada/package.json
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/types/package.json
  packages/types/src/tx/schema/signature.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

Fix serialization issues
  apps/extension/src/utils/index.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/types/src/tx/schema/signature.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: basic transfer using interface
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: suuport NUT transfers
  apps/extension/src/background/keyring/service.ts
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint

feat: eth bridge form validation
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
Due: none

chore: cleanup
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: add pending transfers
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.components.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  packages/shared/lib/src/query.rs
  packages/shared/src/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

Update for ledger-namada multisig changes (v0.22.0)
  apps/extension/src/utils/index.ts
  packages/ledger-namada/dist/namadaApp.d.ts
  packages/ledger-namada/dist/namadaApp.js
  packages/ledger-namada/dist/namadaApp.js.map
  packages/ledger-namada/dist/processResponses.d.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/ledger-namada/dist/types.d.ts
  packages/ledger-namada/dist/types.js
  packages/ledger-namada/dist/types.js.map
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/types/package.json
  packages/types/src/tx/schema/signature.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

docs: sdk usage
  specs/packages/sdk.md
Due: none

docs: improvements for the docs
  specs/packages/sdk.md
Due: none

docs: sdk usage (#387)
  specs/packages/sdk.md
Due: none

Update for ledger-namada multisig changes (v0.22.0) (#384)
  apps/extension/src/utils/index.ts
  packages/ledger-namada/dist/namadaApp.d.ts
  packages/ledger-namada/dist/namadaApp.js
  packages/ledger-namada/dist/namadaApp.js.map
  packages/ledger-namada/dist/processResponses.d.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/ledger-namada/dist/types.d.ts
  packages/ledger-namada/dist/types.js
  packages/ledger-namada/dist/types.js.map
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/types/package.json
  packages/types/src/tx/schema/signature.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: transfers from eth using metamask
  apps/extension/src/background/keyring/keyring.ts
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.components.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridgeTransfer.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridgeTransfers.components.tsx
  packages/integrations/src/Metamask.ts
  yarn.lock
Due: yarn run lint

feat: contract env and ABIs
  apps/namada-interface/.env.sample
  packages/integrations/src/Metamask.ts
  packages/integrations/src/abi/erc20.ts
  packages/integrations/src/abi/ethereumBridge.ts
  packages/integrations/src/abi/index.ts
Due: yarn run lint

feat: add ability to approve and revoke connections
  apps/extension/src/App/Settings/ExtraSettings/ConnectedSites/ConnectedSites.components.ts
  apps/extension/src/App/Settings/ExtraSettings/ConnectedSites/ConnectedSites.tsx
  apps/extension/src/App/Settings/ExtraSettings/ConnectedSites/index.ts
  apps/extension/src/App/Settings/ExtraSettings/ExtraSettings.tsx
  apps/extension/src/App/Settings/ExtraSettings/types.ts
  apps/extension/src/App/Settings/Settings.tsx
  apps/extension/src/Approvals/ApproveConnection/ApproveConnection.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/index.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/approvals/utils.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/content/index.ts
  apps/extension/src/content/injected.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Proxy.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  packages/integrations/src/Namada.ts
Due: yarn run lint

feat: update balance correctly
  apps/namada-interface/src/services/extensionEvents/handlers/metamask.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  packages/integrations/src/Metamask.ts
  packages/types/src/events.ts
Due: yarn run lint

fix: do not display NUTs in send transfer form
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
Due: none

fix: linter and linter issues
  apps/extension/package.json
  apps/extension/src/App/Settings/ExtraSettings/ResetPassword/ResetPassword.tsx
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Redirect.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/App/types.ts
  e2e/package.json
  package.json
  packages/components/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn run lint

fix: linter and linter issues (#392)
  apps/extension/package.json
  apps/extension/src/App/Settings/ExtraSettings/ResetPassword/ResetPassword.tsx
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Redirect.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/App/types.ts
  e2e/package.json
  package.json
  packages/components/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn run lint

Add scripts to start proxy, update Cosmos env for consistency
  apps/namada-interface/.env.sample
  apps/namada-interface/package.json
  apps/namada-interface/scripts/start-proxies.sh
  apps/namada-interface/scripts/startProxies.js
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/ethereum.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/types.ts
Due: yarn run lint

Add proxy env to extension, update README.md
  apps/extension/README.md
  apps/extension/package.json
  apps/namada-interface/README.md
  apps/namada-interface/package.json
  yarn.lock
Due: none

SDK & Query must also use proxy if specified
  apps/extension/src/background/index.ts
  packages/chains/src/index.ts
Due: yarn run lint

feat/393 - Add scripts to start local CORS proxies (#394)
  apps/extension/README.md
  apps/extension/package.json
  apps/extension/src/background/index.ts
  apps/namada-interface/.env.sample
  apps/namada-interface/README.md
  apps/namada-interface/package.json
  apps/namada-interface/scripts/start-proxies.sh
  apps/namada-interface/scripts/startProxies.js
  packages/chains/src/chains/cosmos.ts
  packages/chains/src/chains/ethereum.ts
  packages/chains/src/chains/namada.ts
  packages/chains/src/index.ts
  packages/chains/src/types.ts
  yarn.lock
Due: yarn run lint

feat: add ability to approve and revoke connections
  apps/extension/src/App/Settings/ExtraSettings/ConnectedSites/ConnectedSites.components.ts
  apps/extension/src/App/Settings/ExtraSettings/ConnectedSites/ConnectedSites.tsx
  apps/extension/src/App/Settings/ExtraSettings/ConnectedSites/index.ts
  apps/extension/src/App/Settings/ExtraSettings/ExtraSettings.tsx
  apps/extension/src/App/Settings/ExtraSettings/types.ts
  apps/extension/src/App/Settings/Settings.tsx
  apps/extension/src/Approvals/ApproveConnection/ApproveConnection.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/index.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/approvals/utils.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/content/index.ts
  apps/extension/src/content/injected.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Proxy.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  packages/eslint-config/index.js
  packages/integrations/src/Namada.ts
Due: yarn run lint

feat: UI
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Tokens/AddTokens.tsx
  apps/extension/src/App/Tokens/Tokens.components.tsx
  apps/extension/src/App/Tokens/Tokens.tsx
  apps/extension/src/App/Tokens/index.ts
  apps/extension/src/App/types.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/store/mocks.ts
  packages/integrations/src/Metamask.ts
  packages/shared/lib/src/types/address.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: persist imported tokens
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Tokens/AddTokens.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
Due: yarn run lint

feat: display imported tokens in the extension
  apps/extension/src/App/Accounts/AddAccount.components.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Tokens/AddTokens.tsx
  apps/extension/src/App/Tokens/Tokens.components.tsx
  apps/extension/src/App/Tokens/Tokens.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
Due: yarn run lint

feat: display balances for registered tokens
  apps/extension/src/background/keyring/keyring.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/slices/accounts.ts
  packages/integrations/src/Namada.ts
  packages/shared/lib/src/query.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

WIP: display balances with alias
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint

chore: update namada to 0.23.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: cargo fmt --all -- --fix

Update Ledger signing for multisig fixes
  apps/extension/src/background/ledger/ledger.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/utils/index.ts
  packages/ledger-namada/dist/common.d.ts
  packages/ledger-namada/dist/common.js.map
  packages/ledger-namada/dist/config.d.ts
  packages/ledger-namada/dist/config.js
  packages/ledger-namada/dist/config.js.map
  packages/ledger-namada/dist/namadaApp.d.ts
  packages/ledger-namada/dist/namadaApp.js
  packages/ledger-namada/dist/namadaApp.js.map
  packages/ledger-namada/dist/processResponses.d.ts
  packages/ledger-namada/dist/processResponses.js
  packages/ledger-namada/dist/processResponses.js.map
  packages/ledger-namada/dist/types.d.ts
  packages/ledger-namada/dist/types.js
  packages/ledger-namada/dist/types.js.map
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/types/src/tx/schema/signature.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

Enable IBC now that it can be parsed
  apps/extension/src/background/ledger/service.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
