Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix uncaught error in proposal time remaining (#998)
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: show proposal id and vote tx details in Firefox (#998)
  apps/extension/src/Approvals/Commitment.tsx
  apps/extension/src/Approvals/index.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: remove hide balances feature
  apps/faucet/src/utils/api.ts
  apps/namadillo/src/App/Common/AppContainer.tsx
  apps/namadillo/src/App/Common/FiatCurrency.tsx
  apps/namadillo/src/App/Common/NamCurrency.tsx
  apps/namadillo/src/App/Common/TopNavigation.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: remove hide balances feature (#1010)
  apps/faucet/src/utils/api.ts
  apps/namadillo/src/App/Common/AppContainer.tsx
  apps/namadillo/src/App/Common/FiatCurrency.tsx
  apps/namadillo/src/App/Common/NamCurrency.tsx
  apps/namadillo/src/App/Common/TopNavigation.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add dynamic unbound period (#990)
  apps/namadillo/src/App/Staking/Unstake.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: start the checker ui minimized (#1005)
  apps/namadillo/vite.config.mjs
Due: none

feat: reload on update url
  apps/namadillo/src/App/Settings/Advanced.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add heartbeat
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: reload on try again
  apps/namadillo/src/App/Setup/ChainLoader.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): temporarily removing animation
  apps/namadillo/package.json
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Staking/Staking.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update error height
  apps/namadillo/src/App/Setup/ChainLoader.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): temporarily removing animation (#1013)
  apps/namadillo/package.json
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Staking/Staking.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add chain id
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  apps/namadillo/src/App/Settings/SettingsPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: render chain id (#1017)
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  apps/namadillo/src/App/Settings/SettingsPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove unneeded vars, move .env to extension app
  .github/workflows/release-wallet.yml
  apps/extension/.env.sample
  apps/extension/.gitignore
  apps/extension/README.md
  apps/extension/webpack.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update copy
  apps/namadillo/src/App/Setup/ChainLoader.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update favicon
  apps/namadillo/public/favicon/android-chrome-192x192.png
  apps/namadillo/public/favicon/android-chrome-512x512.png
  apps/namadillo/public/favicon/apple-touch-icon.png
  apps/namadillo/public/favicon/favicon-16x16.png
  apps/namadillo/public/favicon/favicon-32x32.png
  apps/namadillo/public/favicon/favicon.ico
Due: none

feat: move chain error to page scope (#1014)
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/AppSetup.tsx
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Setup/ChainLoader.tsx
  apps/namadillo/src/App/Setup/ExtensionLoader.tsx
  apps/namadillo/src/App/Setup/IndexerLoader.tsx
  apps/namadillo/src/App/Setup/TomlConfigLoader.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/index.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove extension chain query, only use indexer chain ID
  apps/namadillo/src/atoms/chain/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: lengthen keys in ViewKeys component
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  packages/components/src/ViewKeys.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: switch to use namada_sdk instead of namada
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/sdk/wallet/wallet_node.rs
  packages/shared/lib/src/sdk/wallet/wallet_web.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/lib/src/types/query.rs
Due: cargo fmt --all -- --fix

feat: centralize unbonding calculation
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/atoms/validators/services.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: bump namada_sdk to 0.43.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
Due: cargo fmt --all -- --fix

fix: import DispatcherCache for Node
  packages/shared/lib/src/sdk/masp/masp_node.rs
Due: cargo fmt --all -- --fix

chore: bump namada_sdk to 0.43.0 (#1029)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
Due: cargo fmt --all -- --fix

chore: switch to use namada_sdk instead of namada (#890)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/transaction.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/sdk/wallet/wallet_node.rs
  packages/shared/lib/src/sdk/wallet/wallet_web.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/lib/src/types/query.rs
Due: cargo fmt --all -- --fix

Extension - address feedback (#1016)
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  packages/components/src/ViewKeys.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove unneeded vars, move .env to extension app (#1018)
  .github/workflows/release-wallet.yml
  apps/extension/.env.sample
  apps/extension/.gitignore
  apps/extension/README.md
  apps/extension/webpack.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add icon
  apps/namadillo/src/App/Common/ActiveAccount.tsx
  apps/namadillo/src/App/Common/SwitchAccountIcon.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add account tooltip
  apps/namadillo/src/App/Common/ActiveAccount.tsx
  apps/namadillo/src/App/Common/SyncIndicator.tsx
  packages/components/src/Tooltip.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/App/Common/WalletAddress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: resolve forceBalanceDisplay warning
  apps/namadillo/src/App/Common/NamCurrency.tsx
  apps/namadillo/src/App/Common/TransactionFees.tsx
  apps/namadillo/src/App/Governance/ProposalStatusSummary.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegateTable.tsx
  apps/namadillo/src/App/Staking/UnstakeBondingTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update tsconfig
  packages/config/eslint/react.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update classname
  apps/namadillo/src/App/Common/ActiveAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: moving withdraw and unbonding to MyValidator correctly
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Staking/UnbondingAmountsTable.tsx
  apps/namadillo/src/App/Staking/UnstakeBondingTable.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/atoms/validators/atoms.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/atoms/validators/services.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): removing selection from table header
  packages/components/src/StyledTableHead.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add account address tooltip (#1035)
  apps/namadillo/src/App/Common/ActiveAccount.tsx
  apps/namadillo/src/App/Common/SyncIndicator.tsx
  apps/namadillo/src/App/Common/WalletAddress.tsx
  packages/components/src/Tooltip.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: resolve forceBalanceDisplay warning (#1036)
  apps/namadillo/src/App/Common/NamCurrency.tsx
  apps/namadillo/src/App/Common/TransactionFees.tsx
  apps/namadillo/src/App/Governance/ProposalStatusSummary.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegateTable.tsx
  apps/namadillo/src/App/Staking/UnstakeBondingTable.tsx
  packages/config/eslint/react.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update favicon (#1028)
  apps/namadillo/public/favicon/android-chrome-192x192.png
  apps/namadillo/public/favicon/android-chrome-512x512.png
  apps/namadillo/public/favicon/apple-touch-icon.png
  apps/namadillo/public/favicon/favicon-16x16.png
  apps/namadillo/public/favicon/favicon-32x32.png
  apps/namadillo/public/favicon/favicon.ico
Due: none

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
