Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: setting up advanced options
  apps/extension/src/Setup/Common/AdvancedOptions.tsx
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  apps/extension/src/Setup/Common/Bip39PassphraseForm.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/index.ts
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: additional markup/styles
  apps/extension/src/Setup/Common/AdvancedOptions.tsx
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  apps/extension/src/Setup/Common/Bip39PassphraseForm.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add custom path support to Ledger Import
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add extension & sdk versions to settings
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: if custom paths were used, show path in view keys
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/utils/index.ts
  packages/components/src/ViewKeys.tsx
  packages/sdk/src/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix SDK tests
  apps/extension/src/Setup/Common/AdvancedOptions.tsx
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  packages/sdk/src/tests/data.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add derive shielded keys from sk
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/storage/VaultStorage.ts
  packages/crypto/lib/src/crypto/zip32.rs
  packages/sdk/src/keys/keys.ts
  packages/types/src/account.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update view viewing key UI
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
  packages/components/src/Input.tsx
  packages/sdk/src/ledger.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: typo
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/utils/registry.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/944 - Extension updates - BIP44/Zip32/Ledger/Masp (#1155)
  apps/extension/package.json
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Setup/Common/AdvancedOptions.tsx
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  apps/extension/src/Setup/Common/Bip39PassphraseForm.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/Common/index.ts
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/storage/VaultStorage.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  packages/components/src/Input.tsx
  packages/components/src/ViewKeys.tsx
  packages/crypto/lib/src/crypto/zip32.rs
  packages/crypto/src/__tests__/crypto.test.ts
  packages/sdk/src/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/tests/data.ts
  packages/sdk/src/utils.ts
  packages/types/src/account.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use sqs osmosis api
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: upgrade balance queries
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fix loading state
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/utils/registry.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: render dollar values (#1227)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/BalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Common/FiatCurrency.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/masp/atoms.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/hooks/useBalances.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use latest registry to update osmosis-testnet
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use latest registry to update osmosis-testnet (#1233)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: sort coin price endpoint
  apps/namadillo/src/atoms/balance/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add transparent table
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: decode IBC assets sent over multiple channels (#1228)
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: derive default shielded keys from all Bip44 derived private keys
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up, force account of 0 for pk import
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: private key should always use default path
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: derive default shielded keys from private key import
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add kpi box
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add masp banner
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/AccountOverview/assets/masp-bg.png
  apps/namadillo/src/App/Common/FiatCurrency.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: disposable gas payer
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  packages/crypto/lib/src/crypto/bip32.rs
  packages/sdk/src/keys/keys.ts
  packages/shared/lib/src/sdk/args.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: pass masp indexer
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/workers/ShieldMessages.ts
  apps/namadillo/src/workers/ShieldWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/1231: Extension - Generate shielded keys from private key import (#1232)
  apps/extension/src/App/Accounts/ViewingKey.tsx
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: persist disposable signer in a local storage and clear after interval
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/test/init.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: review
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Common/FiatCurrency.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  packages/components/src/Currency.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add transparent assets table (#1234)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/AccountOverview/assets/masp-bg.png
  apps/namadillo/src/App/Common/FiatCurrency.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/atoms/balance/services.ts
  packages/components/src/Currency.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: unify asset decoding for Namada and Cosmos (#1235)
  apps/namadillo/src/App/Ibc/ShieldAllAssetList.tsx
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useAssetAmount.tsx
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/registry/unknownAsset.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: namada bump to 0.45.1
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Staking/ValidatorRank.tsx
  apps/namadillo/src/App/Staking/ValidatorThumb.tsx
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/api.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/functions.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/fees/services.ts
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/atoms/staking/atoms.ts
  apps/namadillo/src/atoms/staking/services.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/atoms/validators/services.ts
  apps/namadillo/src/hooks/useValidatorFilter.tsx
  apps/namadillo/src/types.d.ts
  apps/namadillo/src/workers/ShieldWorker.ts
  packages/sdk/docs/README.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/PhraseSize.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/types/src/tx/schema/transfer.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use namada registry + IBC decoding fixes (#1240)
  apps/namadillo/package.json
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Ibc/ShieldAllAssetList.tsx
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferTransactionFee.tsx
  apps/namadillo/src/App/Transfer/__mocks__/assets.tsx
  apps/namadillo/src/App/Transfer/__tests__/AssetCard.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectAssetModal.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useAssetAmount.tsx
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/types.d.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: namada bump to 0.45.1 (#1237)
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Staking/ValidatorRank.tsx
  apps/namadillo/src/App/Staking/ValidatorThumb.tsx
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/api.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/functions.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/fees/services.ts
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/atoms/staking/atoms.ts
  apps/namadillo/src/atoms/staking/services.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/atoms/validators/services.ts
  apps/namadillo/src/hooks/useValidatorFilter.tsx
  apps/namadillo/src/types.d.ts
  apps/namadillo/src/workers/ShieldWorker.ts
  packages/sdk/docs/README.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/PhraseSize.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/types/src/tx/schema/transfer.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bumping namada-indexer version
  apps/namadillo/package.json
  apps/namadillo/src/atoms/fees/services.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
