Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

feat: add other masp pages
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/Masp.tsx
  apps/namadillo/src/App/Masp/Shield.tsx
  apps/namadillo/src/App/Masp/Unshield.tsx
  apps/namadillo/src/App/Masp/routes.ts
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/assets/nam-balance-icon.png
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: use namada_sdk version with masp indexer fix
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

feat: move to ReactQuery, update comments
  apps/namadillo/src/hooks/useSdk.tsx
  packages/shared/lib/src/sdk/mod.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/592: Validate length and checksum of fetched masp param (#1143)
  apps/namadillo/src/hooks/useSdk.tsx
  packages/shared/lib/src/sdk/mod.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add ibc routes
  apps/namadillo/src/App/Ibc/Ibc.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/ShieldAll.tsx
  apps/namadillo/src/App/Ibc/Withdraw.tsx
  apps/namadillo/src/App/Ibc/routes.ts
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

docs: add additional instructions for Firefox
  apps/extension/FIREFOX_README.md
  apps/extension/package.json
Due: none

feat: add transfer routes
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Transfer/NamTransfer.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update app routes
  apps/namadillo/src/App/AppRoutes.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: flat routes
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Ibc/Ibc.tsx
  apps/namadillo/src/App/Ibc/IbcLayout.tsx
  apps/namadillo/src/App/Ibc/IbcShieldAll.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Ibc/ShieldAll.tsx
  apps/namadillo/src/App/Ibc/Withdraw.tsx
  apps/namadillo/src/App/Ibc/index.ts
  apps/namadillo/src/App/Ibc/routes.ts
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/Masp.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Masp/MaspOverview.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Masp/Shield.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/Unshield.tsx
  apps/namadillo/src/App/Masp/routes.ts
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/Transfer/NamTransfer.tsx
  apps/namadillo/src/App/Transfer/Transfer.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
  apps/namadillo/src/App/Transfer/routes.ts
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: flat staking and governance
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/Governance.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/UpcomingProposals.tsx
  apps/namadillo/src/App/Governance/ViewJson.tsx
  apps/namadillo/src/App/Governance/index.ts
  apps/namadillo/src/App/Governance/routes.ts
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/AmountField.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/Staking.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/__tests__/StakingRewardsPanel.test.tsx
  apps/namadillo/src/App/Staking/index.ts
  apps/namadillo/src/App/Staking/routes.ts
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/hooks/useProposalIdParam.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: flat modal routes
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Layout/ActiveAccount.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
  apps/namadillo/src/App/Settings/SettingsPanel.tsx
  apps/namadillo/src/App/Settings/routes.ts
  apps/namadillo/src/App/Setup/ChainLoader.tsx
  apps/namadillo/src/App/SignMessages/routes.ts
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/SwitchAccount/routes.ts
  apps/namadillo/src/App/Transfer/index.ts
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/App/Ibc/IbcLayout.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add root route
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Layout/AppHeader.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/SignMessages/SignMessages.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/hooks/useModalCloseEvent.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: make sync job blocking
  packages/shared/lib/src/sdk/masp/sync.rs
Due: cargo fmt --all -- --fix

refactor(namadillo): changing TransferModule params structure
  apps/namadillo/src/App/Transfer/Example.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): implementing custom address
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
  apps/namadillo/src/App/Transfer/ExampleFromNamada.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/common.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: Transfer Module - Part 3 (#1152)
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
  apps/namadillo/src/App/Transfer/ExampleFromNamada.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/common.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: additional dependencies needed on arm64
  apps/extension/FIREFOX_README.md
Due: none

feat: add masp empty state
  apps/namadillo/src/App/Masp/MaspOverview.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: create connect gate
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/Common/ConnectGate.tsx
  apps/namadillo/src/App/Ibc/IbcShieldAll.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/Transfer/NamTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: upgrade connect banner
  apps/namadillo/src/App/Common/ConnectBanner.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Masp/MaspOverview.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

MASP indexer integration (#1120)
  apps/extension/src/background/sdk/service.ts
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/types.d.ts
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/rust-toolchain.toml
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/lib/src/crypto/zip32.rs
  packages/sdk/src/indexWeb.ts
  packages/sdk/src/tests/signing.test.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/masp/mod.rs
  packages/shared/lib/src/sdk/masp/sync.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/types/masp.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: shielded sync with multicore
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/worker.ts
  apps/namadillo/vite.config.mjs
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp/sync.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  apps/namadillo/src/workers/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve namadillo docker image to include masp indexer url as env. var
  apps/namadillo/README.md
  apps/namadillo/public/config.toml
  docker/namadillo/.config.toml
  docker/namadillo/Dockerfile
  docker/namadillo/bootstrap_config.sh
Due: none

feat: rename ConnectPanel
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Common/ConnectPanel.tsx
  apps/namadillo/src/App/Ibc/IbcShieldAll.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Transfer/NamTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: revert file
  packages/shared/lib/src/sdk/mod.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: create isAuthenticated
  apps/namadillo/src/App/Common/ConnectBanner.tsx
  apps/namadillo/src/App/Common/ConnectPanel.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/hooks/useIsAuthenticated.ts
  apps/namadillo/src/hooks/useUserHasAccount.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: create useAuthenticatedStatus
  apps/namadillo/src/App/Common/ConnectBanner.tsx
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/App/Common/ConnectPanel.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/hooks/useAuthenticatedStatus.ts
  apps/namadillo/src/hooks/useIsAuthenticated.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update extension loader
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/App/Setup/ExtensionLoader.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useAuthenticatedStatus.ts
  apps/namadillo/src/hooks/useOnNamadaExtensionAttached.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useEffectSkipFirstRender.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/App/Ibc/IbcLayout.tsx
  apps/namadillo/src/App/Ibc/IbcShieldAll.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/Transfer/NamTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve namadillo docker image to include masp indexer url as env. var (#1158)
  apps/namadillo/README.md
  apps/namadillo/public/config.toml
  docker/namadillo/.config.toml
  docker/namadillo/Dockerfile
  docker/namadillo/bootstrap_config.sh
Due: none

feat: update components text
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Common/ConnectBanner.tsx
  apps/namadillo/src/App/Common/ConnectPanel.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Ibc/IbcLayout.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Masp/MaspOverview.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
  apps/namadillo/src/hooks/useAuthenticatedStatus.ts
  apps/namadillo/src/hooks/useConnectText.ts
  apps/namadillo/src/hooks/useIsAuthenticated.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor(namadillo): refactor transfer module
  apps/namadillo/src/App/Transfer/ChainCard.tsx
  apps/namadillo/src/App/Transfer/ConnectProviderButton.tsx
  apps/namadillo/src/App/Transfer/SelectWalletModal.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/ChainCard.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectedWallet.test.tsx
  apps/namadillo/src/App/Transfer/assets/generic-asset.svg
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: begin integration of IBC with transfer module
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Firefox - 0.3.3 updates (#1149)
  apps/extension/FIREFOX_README.md
  apps/extension/package.json
Due: none
