Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

chore: convert nam to ibc assets for searching price on osmosis
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/prices/atoms.ts
  apps/namadillo/src/atoms/prices/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/atoms/prices/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/atoms/prices/atoms.ts
  apps/namadillo/src/atoms/prices/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove deposit and withdraw tabs for transaction animation (#2202)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Masp/MaspInternalShield.tsx
  apps/namadillo/src/App/Masp/MaspInternalUnshield.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/Shield.tsx
  apps/namadillo/src/utils/etc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update icons on source
  apps/namadillo/src/App/Transfer/SelectedAsset.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: styling in source module
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/Shield.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove token example
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
  apps/namadillo/src/App/Transfer/ShieldedTransferCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: mild cleanup
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: clear amount input
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: pick gas fee token with enough balance
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/hooks/index.ts
  apps/namadillo/src/hooks/useOptimisticTransferUpdate.tsx
  apps/namadillo/src/hooks/useTransactionFee/index.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.test.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/index.ts
  apps/namadillo/src/hooks/useTransactionFee/useTransactionFee.ts
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: token prices on housefire
  apps/namadillo/package.json
  apps/namadillo/src/App/AccountOverview/TotalStakeBanner.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/prices/atoms.ts
  apps/namadillo/src/atoms/prices/functions.ts
  apps/namadillo/src/hooks/useTransactionFee.ts
  apps/namadillo/src/utils/assets.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: convert nam to ibc assets for searching price on osmosis (#2204)
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/prices/atoms.ts
  apps/namadillo/src/atoms/prices/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: separate types
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/types.ts
  apps/namadillo/src/App/Transfer/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferSource.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: more cleanup
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: abstract away and cleanup
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/Transfer/types.ts
  apps/namadillo/src/App/Transfer/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: various cleanups
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Ibc/IbcShieldAll.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/ShieldAllIntro.tsx
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Transfer/ConnectedWalletInfo.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/SelectChainModal.tsx
  apps/namadillo/src/App/Transfer/SelectedChain.tsx
  apps/namadillo/src/App/Transfer/SelectedWallet.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectAssetModal.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectChainModal.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: reinstate
  apps/namadillo/src/App/AppRoutes.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: get wallet dropdown working
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: mega cleanup
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Transfer/AddressDropdown.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: pick gas fee token with enough balance (#2206)
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/hooks/index.ts
  apps/namadillo/src/hooks/useOptimisticTransferUpdate.tsx
  apps/namadillo/src/hooks/useTransactionFee/index.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.test.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/index.ts
  apps/namadillo/src/hooks/useTransactionFee/useTransactionFee.ts
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: red toast for partially successful transfers
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fees in ibc deposits
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
  apps/namadillo/src/hooks/useTransactionFee/useTransactionFee.ts
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

bullshit code
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
  apps/namadillo/src/hooks/useTransactionFee/useTransactionFee.ts
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Revert "feat: pick gas fee token with enough balance (#2206)"
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/hooks/index.ts
  apps/namadillo/src/hooks/useOptimisticTransferUpdate.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
  apps/namadillo/src/hooks/useTransactionFee/index.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.test.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/index.ts
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Revert "feat: pick gas fee token with enough balance" (#2213)
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/hooks/index.ts
  apps/namadillo/src/hooks/useOptimisticTransferUpdate.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
  apps/namadillo/src/hooks/useTransactionFee/index.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.test.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/index.ts
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: red toast for partially successful transfers (#2210)
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bonded amount dollar value
  apps/namadillo/src/App/AccountOverview/TotalStakeBanner.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bonded amount dollar value (#2214)
  apps/namadillo/src/App/AccountOverview/TotalStakeBanner.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: pick fee token with enough balance
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/hooks/index.ts
  apps/namadillo/src/hooks/useTransactionFee/index.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.test.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/index.ts
  apps/namadillo/src/hooks/useTransactionFee/useTransactionFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: batch tx to pay fees when unshielding
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/lib/query.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: do not display refund target error for transparent ibc withdrawals
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: pick fee token with enough balance (#2217)
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/hooks/index.ts
  apps/namadillo/src/hooks/useTransactionFee/index.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.test.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/findCheapestToken.ts
  apps/namadillo/src/hooks/useTransactionFee/internal/index.ts
  apps/namadillo/src/hooks/useTransactionFee/useTransactionFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
