Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

feat: update border radius
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Extension: Approval UI updates (#956)
  apps/extension/README.md
  apps/extension/src/Approvals/ApproveIcon.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/LedgerIcon.tsx
  apps/extension/src/Approvals/StatusBox.tsx
  apps/extension/src/background/approvals/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: make faucet app work again
  apps/faucet/package.json
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/index.tsx
  apps/faucet/src/utils/api.ts
  apps/faucet/webpack.config.js
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: enable Ledger account, remove unused values from types
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix - Update faucet app (#957)
  apps/faucet/package.json
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/index.tsx
  apps/faucet/src/utils/api.ts
  apps/faucet/src/utils/types.ts
  apps/faucet/webpack.config.js
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix transaction event listener
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: support sending BigNumber messages in Firefox (#954)
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/extension/ExtensionRouter.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add types to global window
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix notifications were not being removed (#958)
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: bump extension to 0.3.0
  apps/extension/package.json
Due: none

fix: fix console warning of p descendant
  apps/namadillo/src/App/Common/Toast.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move voting power column
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: fix CI timeouts + various CI improvements (#959)
  .github/actions/rust-cache/action.yml
  .github/actions/yarn-cache/action.yml
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

chore: bump extension to 0.3.0 (#962)
  apps/extension/package.json
Due: none

fix: fix console warning of p descendant (#963)
  apps/namadillo/src/App/Common/Toast.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move voting power column (#964)
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix broken "Back Up My Wallet" extension link (#961)
  apps/extension/src/App/Accounts/DeleteAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve canWithdraw logic
  apps/namadillo/package.json
  apps/namadillo/src/atoms/validators/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add option to update the indexer url on error
  apps/namadillo/src/App/AppSetup.tsx
  apps/namadillo/src/App/Common/ErrorBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: enable try again button
  apps/namadillo/src/App/AppSetup.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(components): adding sorting capability to StyledTableHeader
  packages/components/src/StyledTable.tsx
  packages/components/src/StyledTableHead.tsx
  storybook/src/stories/StyledTable.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: implementing sortable headers
  apps/namadillo/public/config.toml
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/types.d.ts
  apps/namadillo/src/utils/sorting.ts
  packages/components/src/StyledTableHead.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): adding sorting to headers
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegateTable.tsx
  apps/namadillo/src/App/Staking/UnstakeBondingTable.tsx
  apps/namadillo/src/hooks/useValidatorTableSorting.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: ops. rolling back changes on config.toml
  apps/namadillo/public/config.toml
Due: none

refactor(namadillo): reusing hook instead of a custom function
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/utils/sorting.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: display withdraw epoch instead of "n/a"
  apps/namadillo/src/atoms/validators/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: improve canWithdraw logic (#982)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/validators/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add option to update the indexer url on error (#983)
  apps/namadillo/src/App/AppSetup.tsx
  apps/namadillo/src/App/Common/ErrorBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add discord url
  apps/namadillo/src/App/Common/Intro.tsx
  apps/namadillo/src/App/Common/Navigation.tsx
  apps/namadillo/src/App/Sidebars/ProposalDiscord.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update margins
  apps/namadillo/src/App/Common/Container.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update page display
  apps/namadillo/src/App/Common/PageWithSidebar.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(components): enabling third state for sortable table headers
  apps/namadillo/src/hooks/useValidatorTableSorting.tsx
  packages/components/src/StyledTableHead.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: Adding sortable headers to tables (#986)
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegateTable.tsx
  apps/namadillo/src/App/Staking/UnstakeBondingTable.tsx
  apps/namadillo/src/hooks/useValidatorTableSorting.tsx
  apps/namadillo/src/types.d.ts
  apps/namadillo/src/utils/sorting.ts
  packages/components/src/StyledTable.tsx
  packages/components/src/StyledTableHead.tsx
  storybook/src/stories/StyledTable.stories.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update overview animation
  apps/namadillo/src/App/AccountOverview/AccountBalanceContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: make "Learn about CPoS" link open in new tab (#980)
  apps/namadillo/src/App/Sidebars/ValidatorDiversification.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: show tx detail gas limit in gas units, not NAM (#981)
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

fix: show gas price, not total fees, in tx details (#981)
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

fix: fix up Namadillo text spelling/grammar
  apps/extension/src/Approvals/Commitment.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Settings/SettingsSignArbitrary.tsx
  apps/namadillo/src/App/Sidebars/ProposalDiscord.tsx
  apps/namadillo/src/App/Sidebars/ValidatorDiversification.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/BondingAmountOverview.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/MyValidatorsTable.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/ReDelegateAssignStake.tsx
  apps/namadillo/src/App/Staking/ReDelegateRemoveStake.tsx
  apps/namadillo/src/App/Staking/ReDelegateTable.tsx
  apps/namadillo/src/App/Staking/UnbondingAmountsTable.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Staking/UnstakeBondingTable.tsx
  apps/namadillo/src/App/Staking/ValidatorFilterNav.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  storybook/src/stories/StyledTable.stories.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update rel attribute
  apps/namadillo/src/App/Common/Intro.tsx
  apps/namadillo/src/App/Common/Navigation.tsx
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Sidebars/ProposalDiscord.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0
