Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat: continue governance pages UI (WIP)
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/types.ts
  packages/components/src/InsetLabel.tsx
  packages/components/src/Panel.tsx
  packages/components/src/ProgressBar.tsx
  packages/components/src/RoundedLabel.tsx
  packages/components/src/SegmentedBar.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): adding info icon to titles
  apps/namada-interface/src/App/Common/Info.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
Due: prettier --write

feat: governance UI (WIP)
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/App/Common/Sidebar.tsx
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalStatus.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/index.ts
  apps/namada-interface/src/App/Governance/routes.ts
  apps/namada-interface/src/slices/proposals.ts
  packages/components/src/theme.js
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): making the validators table occupy the full height
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
Due: prettier --write

feat(interface): initial re-delegate flow
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
Due: prettier --write

feat(interface): reusing Validators table
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  packages/components/src/StyledTable.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(extension): bumping react version to 18
  apps/extension/package.json
Due: prettier --write

feat(interface): refactoring Toast notification manager and removing it from Redux
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/Toast.tsx
  apps/namada-interface/src/App/Common/Toast/index.ts
  apps/namada-interface/src/App/Common/Toast/toast.components.ts
  apps/namada-interface/src/App/Common/Toast/toast.tsx
  apps/namada-interface/src/App/Staking/Bonding.tsx
  apps/namada-interface/src/App/Staking/BondingValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/ValidatorAmountControl.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/hooks/useStakeModule.ts
  apps/namada-interface/src/index.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/fees.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/notifications.ts
  apps/namada-interface/src/slices/notifications/index.ts
  apps/namada-interface/src/slices/notifications/reducers.test.ts
  apps/namada-interface/src/slices/notifications/reducers.ts
  apps/namada-interface/src/slices/notifications/slice.ts
  apps/namada-interface/src/slices/notifications/types.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/slices/validators.ts
  apps/namada-interface/src/store/store.ts
  apps/namada-interface/src/types/fees.ts
  apps/namada-interface/src/types/notifications.ts
  apps/namada-interface/src/types/staking.ts
  apps/namada-interface/src/types/validators.ts
  package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): refactoring some important events for staking and migrating them to jotai
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/notifications.ts
Due: yarn run lint, prettier --write

feat(interface): managing staking toast notifications
  apps/namada-interface/src/App/Common/NamCurrency.tsx
  apps/namada-interface/src/App/Common/Toast.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/slices/notifications.ts
  packages/components/src/Currency.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: migrating few other things to jotai
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/hooks/useExtensionConnect.ts
  apps/namada-interface/src/hooks/useStakeModule.ts
  apps/namada-interface/src/services/extensionEvents/handlers/index.ts
  apps/namada-interface/src/services/extensionEvents/handlers/keplr.ts
  apps/namada-interface/src/services/extensionEvents/handlers/metamask.ts
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/settings.ts
  apps/namada-interface/src/store/store.ts
Due: yarn run lint, prettier --write

feat(interface): adding validator info panel
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
  apps/namada-interface/src/App/Staking/ValidatorInfoPanel.tsx
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/slices/validators.ts
Due: yarn run lint, prettier --write

feat(interface): persisting selected currency on storage
  apps/namada-interface/src/slices/settings.ts
Due: yarn run lint, prettier --write

feat(interface): improving responsive
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Sidebars/ValidatorDiversification.tsx
Due: prettier --write

feat(interface): formatting validators table for real data
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/ValidatorInfoPanel.tsx
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/tailwind.css
  yarn.lock
Due: prettier --write

feat(interface): adding 'all'/'my validators' filter and refactor search
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsFilter.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
  apps/namada-interface/src/App/Staking/ValidatorSearch.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
  apps/namada-interface/src/hooks/useValidatorFilter.tsx
  apps/namada-interface/src/slices/staking.ts
Due: yarn run lint, prettier --write

feat(components): adding custom validation to AmountInput
  packages/components/src/AmountInput.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): hiding balance feature and general currency refactory
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Common/FiatCurrency.tsx
  apps/namada-interface/src/App/Common/NamCurrency.tsx
  apps/namada-interface/src/App/Staking/BondingAmountOverview.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  apps/namada-interface/src/slices/settings.ts
  packages/components/src/Currency.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): removing old stake files
  apps/namada-interface/src/App/Staking/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
Due: prettier --write

feat(interface): fixing invariant import and completing unstaking flow
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  yarn.lock
Due: prettier --write

feat: rework proposal atoms
  apps/namada-interface/src/slices/proposals.ts
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/proposals/index.ts
  apps/namada-interface/src/slices/proposals/types.ts
Due: yarn run lint, prettier --write

feat(interface): adding staking button
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
Due: prettier --write

feat(components): keeping spacements only if labels or errors are visible
  packages/components/src/Input.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: real data on account overview
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: prettier --write

feat(interface): handling empty data on total staked balance pie chart
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
Due: prettier --write

feat(interface): full height panel
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
Due: prettier --write

feat(interface): adding loading on AccountOverview
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

feat(interface): applying more validations to unstake
  apps/namada-interface/src/App/Staking/Unstake.tsx
Due: prettier --write

feat(components): fixing styled select
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat(interface): showing message when no results were found
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat(components): fixing outlined buttons sizing
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fix: fix lots of TypeScript errors after reworking proposals atoms
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/App/Governance/routes.ts
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Proposals/Proposals.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  apps/namada-interface/src/slices/proposals/types.ts
  apps/namada-interface/src/store/store.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write

feat(interface): reviewing governance pages ui
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/VoteBreakdown.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/App/Governance/types.ts
  apps/namada-interface/src/store/utils.ts
  packages/components/src/InsetLabel.tsx
  packages/components/src/RoundedLabel.tsx
  packages/components/src/SegmentedBar.tsx
  packages/components/src/theme.js
  yarn.lock
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: removing deprecated content and fixing ts errors
  apps/namada-interface/src/App/Staking/ValidatorDetails.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/fakeData.ts
  apps/namada-interface/src/slices/StakingAndGovernance/index.ts
  apps/namada-interface/src/slices/StakingAndGovernance/reducers.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
Due: yarn run lint, prettier --write

feat: new governance panels, adding proposals queries
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/ProposalDescription.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalLabels.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/ProposalsSummary.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
  apps/namada-interface/src/App/Governance/ViewJson.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/App/Governance/routes.ts
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/components/src/ProgressBar.tsx
  packages/components/src/SegmentedBar.tsx
  packages/components/src/TickedRadioList.tsx
  packages/components/src/index.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/types/query.rs
  packages/shared/src/borsh-schemas.ts
  packages/shared/src/index.ts
  packages/types/src/index.ts
  packages/types/src/proposals.ts
  packages/utils/src/helpers/index.ts
  storybook/src/stories/TickedRadioList.stories.tsx
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(interface): implementing re-delegation flow
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/hooks/useValidatorFilter.tsx
  apps/namada-interface/src/lib/staking.ts
  apps/namada-interface/src/lib/tests/staking.test.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/chain.ts
  apps/namada-interface/src/slices/staking.ts
  apps/namada-interface/src/types/staking.ts
Due: yarn run lint, prettier --write

feat(interface): randomize button
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
  apps/namada-interface/src/hooks/useValidatorSorting.ts
Due: yarn run lint, prettier --write

feat(interface): optimizing validators table performance
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat(interface): adding possibility of an empty value on AmountInput
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/hooks/useStakeModule.ts
  packages/components/src/AmountInput.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): replacing IBC Bridge by Transfer
  apps/namada-interface/src/App/Common/Sidebar.tsx
Due: prettier --write

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  eslint --fix --max-warnings=0: (((any of: ./apps/**/src/*.{js,jsx,ts,tsx}) or (any of: ./packages/**/src/*.{js,jsx,ts,tsx})) or (any of: ./storybook/src/*.{js,jsx,ts,tsx})) or (any of: ./e2e/src/*.{js,jsx,ts,tsx})
