Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

wip wip
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/webpack.config.js
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/messages/index.ts
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: redirect to tx page (#1459)
  apps/namadillo/package.json
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump version
  apps/namadillo/package.json
Due: prettier --write

feat: transfer error notification (#1460)
  apps/namadillo/package.json
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix ibc button url
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: notify about needed account re import (#1452)
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/UpdateRequired.tsx
  apps/extension/src/App/Accounts/assets/update-required.png
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/react-app.env.d.ts
  apps/extension/webpack.config.js
  packages/components/src/KeyListItem.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update balances disclaimer
  apps/namadillo/package.json
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump extension version
  apps/extension/package.json
Due: prettier --write

feat: adding ibc notifications
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add panel label
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding ibc notifications (#1467)
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump extension version (#1466)
  apps/extension/package.json
Due: prettier --write

feat: update balances disclaimer (#1465)
  apps/namadillo/package.json
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix ibc button url (#1462)
  apps/namadillo/package.json
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: bump SDK and update changelog
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: prettier --write

feat: bump SDK and update changelog (#1473)
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: prettier --write

fix: workflow needed to be updated to read new revision variable
  .github/workflows/release-wallet.yml
Due: none

fix: workflow needed to be updated to read new revision variable (#1474)
  .github/workflows/release-wallet.yml
Due: none

feat(namadillo): top navigation modal components
  apps/namadillo/src/App/Common/AssetsModalCard.tsx
  apps/namadillo/src/App/Common/ModalContainer.tsx
  apps/namadillo/src/App/Common/SelectOptionModal.tsx
  apps/namadillo/src/App/Common/ShieldAssetsModal.tsx
  apps/namadillo/src/App/Common/UnshieldAssetsModal.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/integrations/assets/keplr.svg
  packages/components/src/Modal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat(namadillo): adding copy to clipboard feature to tx hash
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

docs: update docs, remove problematic flag from Dockerfile
  apps/extension/FIREFOX_README.md
  docker/extension/Dockerfile
Due: none

fix: add dependency to fix wasm-opt error during docker build
  docker/extension/Dockerfile
Due: none

feat(namadillo): improving start animation
  apps/namadillo/src/App/Common/Timeline.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat(namadillo): querying next rpc if the previous one fails
  apps/namadillo/src/App/Common/QueryProvider.tsx
  apps/namadillo/src/App/Common/StorageProvider.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat(namadillo): improving start animation (#1478)
  apps/namadillo/src/App/Common/Timeline.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: don't export wasm-bindgen mnemonic size enum
  packages/crypto/lib/src/crypto/bip39.rs
  packages/sdk/src/mnemonic.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix(namadillo): fixing nam balance container height overflow
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix tests
  packages/crypto/src/__tests__/crypto.test.ts
  packages/sdk/src/tests/mnemonic.test.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: revert minification setting
  apps/extension/webpack.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix transfer balance
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: validate recipient address
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat(namadillo): querying next rpc if the previous one fails (#1479)
  apps/namadillo/src/App/Common/QueryProvider.tsx
  apps/namadillo/src/App/Common/StorageProvider.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Namadillo: Top Navigation improvements (#1475)
  apps/namadillo/src/App/Common/AssetsModalCard.tsx
  apps/namadillo/src/App/Common/ModalContainer.tsx
  apps/namadillo/src/App/Common/SelectOptionModal.tsx
  apps/namadillo/src/App/Common/ShieldAssetsModal.tsx
  apps/namadillo/src/App/Common/UnshieldAssetsModal.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/integrations/assets/keplr.svg
  packages/components/src/Modal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat(namadillo): refactoring ibc transactions to have more stages described
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/utils/address.ts
  apps/namadillo/src/utils/ibc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
