Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: service worker fetch cache
  apps/namadillo/package.json
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/index.tsx
  apps/namadillo/src/sw.ts
  apps/namadillo/vite.config.mjs
  packages/shared/lib/src/query.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove unnecessary return
  apps/namadillo/src/sw.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: refactoring transaction events and refreshing balance after ibc transfer
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/utils/http.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: temporarily remove concurrency
  .github/workflows/docker.yml
Due: none

fix: temporarily remove concurrency (#1646)
  .github/workflows/docker.yml
Due: none

fix: increasing gas usage based on max value provided by indexer
  apps/namadillo/src/atoms/fees/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: increasing gas usage based on max value provided by indexer (#1647)
  apps/namadillo/src/atoms/fees/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: asd asdasd a
  apps/extension/src/background/keyring/keyring.ts
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
  apps/namadillo/src/hooks/useTransfer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: begin updating for new modified-zip32
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/utils/index.ts
  packages/crypto/lib/src/crypto/zip32.rs
  packages/sdk/src/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/keys/types.ts
  packages/types/src/account.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: display parent account even if it doesn't have shielded
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/Zip32Form.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: clean up custom path components
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/CustomPathForm.tsx
  apps/extension/src/Setup/Common/Zip32Form.tsx
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: hook up custom zip32 derivation
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: begin implementing zip32 form, fix account persistence
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  apps/extension/src/Setup/Common/Zip32Form.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: sdk tests
  packages/sdk/package.json
  packages/sdk/src/tests/data.ts
  packages/sdk/src/tests/keys.test.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: only return shielded account if it's not outdated
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/provider/Namada.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix failing test
  apps/extension/src/provider/data.mock.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update stored value for indicating modified-zip32 derivation
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: wip pay fees for masp with transparent balance
  apps/extension/src/background/keyring/keyring.ts
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
  apps/namadillo/src/hooks/useTransfer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: avoiding loading fonts from google servers
  apps/faucet/src/index.css
  packages/components/package.json
  packages/components/src/base.css
  yarn.lock
Due: prettier --write

feat: adding namadillo bug report form
  .github/ISSUE_TEMPLATE/namadillo.yml
Due: none

feat: adding bug report button
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/urls.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing issue template
  .github/ISSUE_TEMPLATE/namadillo.yml
Due: none

fix: avoiding loading fonts from google servers (#1655)
  apps/faucet/src/index.css
  packages/components/package.json
  packages/components/src/base.css
  yarn.lock
Due: prettier --write

fix: fixing action button z-index
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing action button z-index (#1657)
  packages/components/src/ActionButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding bug report button and template (#1656)
  .github/ISSUE_TEMPLATE/namadillo.yml
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/urls.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: sorting assets on transfer module
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: making title of the bug report form a bit clearer
  .github/ISSUE_TEMPLATE/namadillo.yml
Due: none

fix: adding correct url to bug report button
  apps/namadillo/src/urls.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: linking bug report button to the right url (#1659)
  .github/ISSUE_TEMPLATE/namadillo.yml
  apps/namadillo/src/urls.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: sorting assets on transfer module (#1658)
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: refactoring transaction events and refreshing balance after ibc transfer (#1643)
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/utils/http.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: pending transactions
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add token address as html title
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: make maspIndexerUrl optional
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: Update Keychain for new modified-zip32 (#1624)
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/Setup/Common/AdvancedOptionsMenu.tsx
  apps/extension/src/Setup/Common/Bip44Form.tsx
  apps/extension/src/Setup/Common/CustomPathForm.tsx
  apps/extension/src/Setup/Common/Zip32Form.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/storage/schemas/VaultSchemaV2.ts
  apps/extension/src/utils/index.ts
  packages/crypto/lib/src/crypto/zip32.rs
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/keys/types.ts
  packages/sdk/src/tests/data.ts
  packages/sdk/src/tests/keys.test.ts
  packages/types/src/account.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: pending transactions (#1662)
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add token address as html title (#1663)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: enable gas source switch only for unshielding and shielded transfers
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

docs: clean up changelog
  apps/extension/CHANGELOG.md
Due: none

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
