Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: set asset path to relative (#1074)
  apps/faucet/webpack.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: fixing dependencies again
  apps/extension/package.json
  apps/faucet/package.json
  apps/namadillo/package.json
  apps/namadillo/src/env.d.ts
  apps/namadillo/src/types.d.ts
  e2e/package.json
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/config/package.json
  packages/crypto/.eslintrc.js
  packages/crypto/package.json
  packages/crypto/src/init-inline.ts
  packages/hooks/package.json
  packages/integrations/package.json
  packages/sdk/package.json
  packages/shared/.eslintrc.js
  packages/shared/package.json
  packages/shared/src/init-inline.ts
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

docs: added the chain ID that is needed for this release
  apps/extension/FIREFOX_README.md
Due: none

chore: fixing dependencies again (#1075)
  apps/extension/package.json
  apps/faucet/package.json
  apps/namadillo/package.json
  apps/namadillo/src/env.d.ts
  apps/namadillo/src/types.d.ts
  e2e/package.json
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/config/package.json
  packages/crypto/.eslintrc.js
  packages/crypto/package.json
  packages/crypto/src/init-inline.ts
  packages/hooks/package.json
  packages/integrations/package.json
  packages/sdk/package.json
  packages/shared/.eslintrc.js
  packages/shared/package.json
  packages/shared/src/init-inline.ts
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

wip: adding select box for validators filter
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/MyValidatorsFilter.tsx
  apps/namadillo/src/App/Staking/ReDelegateAssignStake.tsx
  apps/namadillo/src/App/Staking/ValidatorFilterNav.tsx
  apps/namadillo/src/App/Staking/__tests__/MyValidatorsFilters.test.tsx
  apps/namadillo/src/hooks/useValidatorFilter.tsx
  apps/namadillo/src/types.d.ts
  packages/components/src/StyledSelectBox.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

docs: Add Firefox-specific README for add-on reviewers (#1069)
  README.md
  apps/extension/FIREFOX_README.md
  apps/extension/README.md
Due: none

chore: bump extension to 0.3.1
  apps/extension/package.json
Due: none

chore: bump extension to 0.3.1 (#1077)
  apps/extension/package.json
Due: none

feat(namadillo): adding validator filter
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/MyValidatorsFilter.tsx
  apps/namadillo/src/App/Staking/ReDelegateAssignStake.tsx
  apps/namadillo/src/App/Staking/__tests__/MyValidatorsFilters.test.tsx
  apps/namadillo/src/hooks/__tests__/useValidatorFilter.test.ts
  apps/namadillo/src/hooks/useValidatorFilter.tsx
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: prevent default submit behavior
  apps/faucet/src/App/Faucet.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: prevent default submit behavior (#1083)
  apps/faucet/src/App/Faucet.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): adding AmountField component and showing warnings when validator is jailed/inactive
  apps/namadillo/src/App/Common/NamInput.tsx
  apps/namadillo/src/App/Staking/AmountField.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/__tests__/AmountField.test.tsx
  apps/namadillo/src/test-utils.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): adding AmountField to Redelegate and unstake
  apps/namadillo/src/App/Staking/AmountField.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/ReDelegateRemoveStake.tsx
  apps/namadillo/src/App/Staking/ReDelegateTable.tsx
  apps/namadillo/src/App/Staking/UnstakeBondingTable.tsx
  apps/namadillo/src/App/Staking/__tests__/AmountField.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: renaming tests and adding new test case
  apps/namadillo/src/App/Staking/__tests__/AmountField.test.tsx
  apps/namadillo/src/App/Staking/__tests__/MyValidatorsFilters.test.tsx
  apps/namadillo/src/App/Staking/__tests__/ValidatorCard.test.tsx
  apps/namadillo/src/App/Staking/__tests__/ValidatorRank.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): adding different colors and states for ValidatorCard and thumb
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/ValidatorCard.tsx
  apps/namadillo/src/App/Staking/ValidatorThumb.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): proposal on how to handle features on Namadillo
  apps/namadillo/src/atoms/settings/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): adding settings panel for feature flags
  apps/namadillo/src/App/Settings/EnableFeatures.tsx
  apps/namadillo/src/App/Settings/FeaturesCheckbox.tsx
  apps/namadillo/src/App/Settings/SettingsPanel.tsx
  apps/namadillo/src/App/Settings/routes.ts
  apps/namadillo/src/atoms/settings/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update extension name in manifest.json
  apps/extension/src/manifest/_base.json
Due: none

feat: enable polling for vote labels (#1057)
  apps/namadillo/src/atoms/proposals/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add vote type to voted label (#1057)
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namadillo/src/App/Governance/ProposalHeader.tsx
  apps/namadillo/src/App/Governance/ProposalLabels.tsx
  apps/namadillo/src/atoms/proposals/atoms.ts
  apps/namadillo/src/atoms/proposals/functions.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  packages/components/src/theme.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bump version
  apps/extension/package.json
Due: none

feat: allow to activate a private key account
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add the switch account button (#1051)
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/ActiveAccount.tsx
  apps/namadillo/src/App/Common/SwitchAccountIcon.tsx
  apps/namadillo/src/App/Common/TopNavigation.tsx
  apps/namadillo/src/App/SwitchAccount/SwitchAccountModal.tsx
  apps/namadillo/src/App/SwitchAccount/routes.ts
  apps/namadillo/src/atoms/accounts/atoms.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Rename Extension in manifest (#1087)
  apps/extension/package.json
  apps/extension/src/manifest/_base.json
Due: none

feat(namadillo): adding missing feature option
  apps/namadillo/src/App/Settings/EnableFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: proposal on how to handle features on Namadillo (#1086)
  apps/namadillo/src/App/Settings/EnableFeatures.tsx
  apps/namadillo/src/App/Settings/FeaturesCheckbox.tsx
  apps/namadillo/src/App/Settings/SettingsPanel.tsx
  apps/namadillo/src/App/Settings/routes.ts
  apps/namadillo/src/atoms/settings/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: ci should reflect extension name change
  .github/workflows/release-wallet.yml
Due: none

fix: ci should reflect extension name change (#1088)
  .github/workflows/release-wallet.yml
Due: none

fix: merge to main should point to correct extensionassets
  .github/workflows/deploy-wallet-at-merge-to-main.yml
Due: none

fix: merge to main should point to correct extensionassets (#1090)
  .github/workflows/deploy-wallet-at-merge-to-main.yml
Due: none

Namadillo: Adding Staking filters and different states (#1085)
  apps/namadillo/src/App/Common/NamInput.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/AmountField.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/MyValidatorsFilter.tsx
  apps/namadillo/src/App/Staking/ReDelegateAssignStake.tsx
  apps/namadillo/src/App/Staking/ReDelegateRemoveStake.tsx
  apps/namadillo/src/App/Staking/ReDelegateTable.tsx
  apps/namadillo/src/App/Staking/UnstakeBondingTable.tsx
  apps/namadillo/src/App/Staking/ValidatorCard.tsx
  apps/namadillo/src/App/Staking/ValidatorFilterNav.tsx
  apps/namadillo/src/App/Staking/ValidatorThumb.tsx
  apps/namadillo/src/App/Staking/__tests__/AmountField.test.tsx
  apps/namadillo/src/App/Staking/__tests__/MyValidatorsFilters.test.tsx
  apps/namadillo/src/App/Staking/__tests__/ValidatorCard.test.tsx
  apps/namadillo/src/App/Staking/__tests__/ValidatorRank.test.tsx
  apps/namadillo/src/hooks/__tests__/useValidatorFilter.test.ts
  apps/namadillo/src/hooks/useValidatorFilter.tsx
  apps/namadillo/src/test-utils.tsx
  apps/namadillo/src/types.d.ts
  packages/components/src/StyledSelectBox.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: pass failed description, styles
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.d.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: show details for errors as well
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: updated toast (in progress)
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.d.ts
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: return correct inner Tx hash
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

fix: return individual batch results to user
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

feat: check applied status
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: additional partial success listeners
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add success + failed info to toast - Needs work
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.d.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.d.ts
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
