Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update button name
  apps/namadillo/src/App/Staking/UnclaimedRewardsCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove
  apps/namadillo/src/App/Transfer/SelectNetworkTokenUsageExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update token
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Transfer/SelectNetworkToken.tsx
  apps/namadillo/src/App/Transfer/SelectNetworkTokenExample.tsx
  apps/namadillo/src/App/Transfer/SelectNetworkTokenUsageExample.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Transfer/SelectNetworkToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup types etc
  apps/namadillo/src/App/Transfer/SelectNetworkToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improve error message on wasm errors
  apps/namadillo/src/App/Staking/ClaimRewardsSubmitModalStage.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegate.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Staking/StakingWithdrawModal.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/utils/index.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/errors.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: handle partially successful claim rewards tx
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/utils/index.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/batchTxResult.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove superfluous components
  apps/namadillo/src/App/Transfer/SelectNetworkToken.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: claim and stake gas estimation
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove component
  apps/namadillo/src/App/Transfer/SelectNetworkToken.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump package.json version
  apps/namadillo/package.json
Due: prettier --write

fix: add fiat price
  apps/namadillo/src/App/AccountOverview/TotalStakeBanner.tsx
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/atoms/prices/atoms.ts
  apps/namadillo/src/atoms/prices/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add fiat amount
  apps/namadillo/src/App/AccountOverview/TotalStakeBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup logs
  apps/namadillo/src/atoms/prices/atoms.ts
  apps/namadillo/src/atoms/prices/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/AccountOverview/TotalStakeBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update new staking section features for v2 (#2028)
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
  apps/namadillo/src/App/AccountOverview/TotalStakeBanner.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Staking/UnclaimedRewardsCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update namada chain registry
  apps/namadillo/package.json
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: placeholder
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: build out masp reward calculator module and move staking sidepanel to stake view
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove select token
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove select token
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: change query tx status loop
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/utils/index.ts
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/utils.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: change query tx status loop
  apps/namadillo/package.json
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/utils/index.ts
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/utils.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: change query tx status loop (#2034)
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/utils/index.ts
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/utils.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update sidebar
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: updates to module
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
  apps/namadillo/src/App/Transfer/ShieldedTransferCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Transfer/ShieldedTransferCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: clean up card
  apps/namadillo/src/App/Transfer/ShieldedTransferCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: change query tx status loop (#2035)
  apps/namadillo/package.json
  apps/namadillo/src/App/Common/Toast.tsx
  apps/namadillo/src/utils/index.ts
  packages/shared/lib/src/sdk/io.rs
  packages/shared/lib/src/sdk/masp/masp_web.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/utils.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: missing shell in gh action
  .github/actions/prepare-build/action.yml
Due: none

fix: missing shell in gh action (#2036)
  .github/actions/prepare-build/action.yml
Due: none

feat: osmosis swap messages
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/osmosisSwap.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: hardcoded values for transparent osmosis swap
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  packages/crypto/lib/rust-toolchain.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: hardcoded values for shielded osmosis swap
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: osmosis calcs shiz wip
  apps/namadillo/index.html
  apps/namadillo/package.json
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/vite.config.mjs
  package.json
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: query osmosis sqs for quote
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/atoms/swaps/index.ts
  apps/namadillo/src/atoms/swaps/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: correct osmosis swap data
  apps/namadillo/index.html
  apps/namadillo/package.json
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/swaps/index.ts
  apps/namadillo/src/atoms/swaps/types.ts
  apps/namadillo/vite.config.mjs
  package.json
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
