Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: fixing ci
  .github/workflows/release.yml
Due: none

feat: proper branch name
  .github/workflows/release.yml
Due: none

feat: removing unused job
  .github/workflows/release.yml
Due: none

feat: set target-branch
  .github/workflows/release.yml
Due: none

fix: fixing ci for extension build
  .github/actions/build-extension/action.yml
  .github/workflows/release.yml
Due: none

feat: adding different projects and refactor config
  .github/actions/build-extension/action.yml
  .github/actions/prepare-build/action.yml
  .github/actions/release-project/action.yml
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/release-namadillo.yml
  .github/workflows/release-wallet.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

temp: temporary changes
  .github/workflows/release.yml
  release-please-config.json
Due: prettier --write

temp: temporary changes
  .github/actions/build-extension/action.yml
  .github/actions/prepare-build/action.yml
  .github/actions/release-project/action.yml
  .github/workflows/release.yml
  release-please-config.json
Due: prettier --write

fix: fixing release actions
  .github/actions/build-extension/action.yml
  .github/actions/prepare-build/action.yml
  .github/actions/release-project/action.yml
  .github/workflows/release.yml
Due: none

fix: more fixes on the actions
  .github/actions/build-extension/action.yml
  .github/actions/release-project/action.yml
  .github/workflows/release.yml
Due: none

feat: setting up test params
  .github/workflows/release.yml
  release-please-config.json
Due: prettier --write

fix: specifying shell correctly
  .github/actions/build-extension/action.yml
  .github/actions/prepare-build/action.yml
  .github/actions/release-project/action.yml
Due: none

feat: fake type to trigger release
  packages/types/src/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: working directory again
  .github/actions/release-project/action.yml
  .github/workflows/release.yml
Due: none

feat: adding descriptions
  .github/actions/build-extension/action.yml
  .github/actions/prepare-build/action.yml
  .github/actions/release-project/action.yml
Due: none

feat: restoring projects
  release-please-config.json
Due: prettier --write

fix: removing env from actions
  .github/actions/build-extension/action.yml
  .github/workflows/release.yml
Due: none

fix: removing glob
  .github/actions/build-extension/action.yml
Due: none

feat: add version warning banner (anoma#1491)
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
  apps/namadillo/src/utils/compatibility.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing file conflicts
  .github/actions/build-extension/action.yml
  .github/workflows/release.yml
Due: none

feat: adding workflow descriptions
  .github/workflows/release.yml
Due: none

feat: final review and test
  .github/actions/build-extension/action.yml
  .github/actions/prepare-build/action.yml
  .github/actions/release-project/action.yml
  .github/workflows/release.yml
Due: none

Configuring Release-Please to create releases for Apps / Packages (#1502)
  .github/actions/build-extension/action.yml
  .github/actions/prepare-build/action.yml
  .github/actions/release-project/action.yml
  .github/workflows/deploy-wallet-at-merge-to-main.yml
  .github/workflows/docker.yml
  .github/workflows/release-namadillo.yml
  .github/workflows/release-wallet.yml
  .github/workflows/release.yml
  .github/workflows/verify-pull-request.yml
  .release-it.base.cjs
  .release-it.cjs
  .release-please-manifest.json
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  apps/extension/package.json
  apps/faucet/package.json
  apps/namadillo/.release-it.cjs
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/crypto/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/sdk/.release-it.cjs
  packages/sdk/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  release-please-config.json
  scripts/bump.js
  storybook/.yarn/install-state.gz
  storybook/yarn.lock
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing changelog
  apps/namadillo/CHANGELOG.md
Due: none

feat: review
  apps/namadillo/package.json
  apps/namadillo/src/App/Common/SelectOptionModal.tsx
  apps/namadillo/src/atoms/transactions/services.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: listen for the transfer success event (#1490)
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Common/SelectOptionModal.tsx
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/services.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/types.ts
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: use semver for version comparison in checkInterfaceCompatibilityError (anoma#1534)
  apps/namadillo/src/utils/compatibility.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fetching known ibc channels from github chain-registry repository
  apps/namadillo/public/config.toml
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/lib/chain.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fetch shielded balances on transfer
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
  apps/namadillo/src/App/Settings/SettingsMASP.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add tx kind as to query keys
  apps/namadillo/src/atoms/fees/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: allow changing fee token for withdraw
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove old dompurify, switch to new one
  apps/extension/package.json
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/hooks/useQuery.tsx
  apps/faucet/package.json
  apps/faucet/src/App/Faucet.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove old dompurify, switch to new one (#1549)
  apps/extension/package.json
  apps/extension/src/App/Settings/Network.tsx
  apps/extension/src/hooks/useQuery.tsx
  apps/faucet/package.json
  apps/faucet/src/App/Faucet.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add change fee enabled prop
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update button style
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: inverting chain order
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fetching known ibc channels from github chain-registry repository (#1545)
  apps/namadillo/public/config.toml
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/lib/chain.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add version warning banner (anoma#1491) (#1534)
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
  apps/namadillo/src/utils/compatibility.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
