Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

refactor: remove unused wasm files and rpc module (#300)
  apps/extension/package.json
  apps/extension/src/provider/Anoma.test.ts
  apps/namada-interface/package.json
  apps/namada-interface/public/wasm/tx_bond.15f90f17f9da06689d6dc18f995fb08db5db8c6c58445f0aa88b3218eb1ec017.wasm
  apps/namada-interface/public/wasm/tx_ibc.5c875e03e01d3835340fa82d399393222a09355ebd557b17166e3c249e01c393.wasm
  apps/namada-interface/public/wasm/tx_init_account.8f368fd2ecaa9224e5d54d56b1960a4fb7d30373f63b6dd9f46d2842ec9a5a2a.wasm
  apps/namada-interface/public/wasm/tx_reveal_pk.fcfe996cbc71038b7b58cde82c45d6506164e81f2d603e12197ba9911657fce0.wasm
  apps/namada-interface/public/wasm/tx_transfer.e043efd16389e27cc8c4ee1bf661798a96589316bfd079ad50410621d24f3f17.wasm
  apps/namada-interface/public/wasm/tx_unbond.06d578d1d0a685920f75304e7b7e5610ebd359096f54e885c0d286f56d639908.wasm
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/transfers.ts
  apps/namada-interface/webpack.config.js
  packages/integrations/src/Anoma.ts
  packages/rpc/.eslintrc
  packages/rpc/.prettierignore
  packages/rpc/.prettierrc
  packages/rpc/README.md
  packages/rpc/package.json
  packages/rpc/src/enums/index.ts
  packages/rpc/src/index.ts
  packages/rpc/src/schema/index.ts
  packages/rpc/src/types/index.ts
  packages/rpc/tsconfig.json
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/index.ts
  packages/types/src/tx/index.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/types.ts
  packages/types/src/tx/wasm/index.ts
  packages/types/src/utils.ts
  packages/utils/src/helpers/index.ts
  packages/utils/src/index.ts
  packages/utils/src/wasm/index.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

bug: amounts as strings (#301)
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

feat: initialize masp params load from the extension
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Loading/Loading.components.ts
  apps/extension/src/App/Loading/Loading.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/messages.ts
  packages/shared/lib/src/sdk/mod.js
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: initialize masp params load from the extension (#302)
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Loading/Loading.components.ts
  apps/extension/src/App/Loading/Loading.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/messages.ts
  packages/shared/lib/src/sdk/mod.js
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

Clean up
  apps/extension/src/App/Accounts/AccountListing.tsx
Due: none

Abstract logic from useUntil to use outside of a hook
  packages/hooks/src/useUntil.ts
  packages/utils/src/async/executeUntil.ts
  packages/utils/src/async/index.ts
Due: yarn run lint

Add useUntil to Complete setup page
  apps/extension/src/Setup/AccountCreation/Steps/Completion/Completion.tsx
Due: none

Reworked a bit, add to generate mnemonic page
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  packages/hooks/src/useUntil.ts
  packages/utils/src/async/executeUntil.ts
Due: yarn run lint

feat: async masp params loading
  apps/extension/src/App/App.components.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Loading/Loading.components.ts
  apps/extension/src/App/Loading/Loading.tsx
  apps/extension/src/Approvals/ApproveTransfer/ConfirmTransfer.components.ts
  apps/extension/src/Approvals/ApproveTransfer/ConfirmTransfer.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  packages/shared/lib/src/sdk/mod.js
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

bug/282 - Fix all service worker-related errors in Create Account (#284)
  apps/extension/src/App/Accounts/AccountListing.tsx
  apps/extension/src/Setup/AccountCreation/Steps/Completion/Completion.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  packages/hooks/src/useUntil.ts
  packages/utils/src/async/executeUntil.ts
  packages/utils/src/async/index.ts
Due: yarn run lint

fix: keep sdk wallet storage entry by parent account id
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/test/init.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

fix: also remove account from sdk store
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

feat: async masp params loading (#305)
  apps/extension/src/App/App.components.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Loading/Loading.components.ts
  apps/extension/src/App/Loading/Loading.tsx
  apps/extension/src/Approvals/ApproveTransfer/ConfirmTransfer.components.ts
  apps/extension/src/Approvals/ApproveTransfer/ConfirmTransfer.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  packages/shared/lib/src/sdk/mod.js
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

fix: keep sdk wallet storage entry by parent account id (#308)
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/test/init.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: WIP account import
  apps/extension/src/Setup/AccountCreation/Steps/Completion/Completion.tsx
  apps/extension/src/Setup/ImportAccount/ImportAccount.components.ts
  apps/extension/src/Setup/ImportAccount/ImportAccount.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport.tsx
  apps/extension/src/Setup/ImportAccount/Steps/index.ts
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/Start/Start.tsx
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  packages/components/src/Input/input.components.ts
  packages/components/src/Input/input.tsx
  packages/components/src/Input/types.ts
  packages/crypto/lib/src/crypto/bip39.rs
  packages/hooks/src/useUntil.ts
Due: yarn run lint, cargo fmt --all -- --fix

refactor: deriveAccount
  apps/extension/src/background/keyring/crypto.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

refactor: account import cleanup
  apps/extension/src/Setup/AccountCreation/AccountCreation.components.ts
  apps/extension/src/Setup/AccountCreation/AccountCreation.tsx
  apps/extension/src/Setup/AccountCreation/Steps/Completion/Completion.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.components.ts
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/ImportAccount/ImportAccount.components.ts
  apps/extension/src/Setup/ImportAccount/ImportAccount.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport.components.ts
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport.tsx
  apps/extension/src/Setup/Setup.components.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.components.ts
  packages/hooks/src/useUntil.ts
Due: yarn run lint

feat: scan for accounts only on import
  apps/extension/src/Setup/AccountCreation/Steps/Completion/Completion.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint

feat: address scanning
  apps/extension/src/Setup/AccountCreation/Steps/Completion/Completion.tsx
  apps/extension/src/background/keyring/crypto.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/pointer_types.rs
  packages/crypto/src/utils.ts
  packages/hooks/src/useUntil.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: completion statuses
  apps/extension/src/Setup/AccountCreation/Steps/Completion/Completion.components.ts
  apps/extension/src/Setup/AccountCreation/Steps/Completion/Completion.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint

feat: free the seed
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

refactor: move components to common
  apps/extension/src/Setup/AccountCreation/Steps/index.ts
  apps/extension/src/Setup/Common/Completion/Completion.components.ts
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/Common/Completion/index.ts
  apps/extension/src/Setup/Common/Password/Password.components.ts
  apps/extension/src/Setup/Common/Password/Password.tsx
  apps/extension/src/Setup/Common/Password/index.ts
  apps/extension/src/Setup/Common/index.ts
  apps/extension/src/Setup/Setup.tsx
Due: yarn run lint

feat: update namada to 0.17.3
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

fix: use BigNumber for representing amounts
  apps/extension/package.json
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/package.json
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/transfers.ts
  apps/namada-interface/src/store/mocks.ts
  packages/integrations/src/Anoma.ts
  packages/integrations/src/Keplr.ts
  packages/types/src/anoma.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/shielded.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/types/src/tx/types.ts
  packages/utils/src/helpers/index.ts
  yarn.lock
Due: yarn run lint

fix: use base 10 instead of base 64 for BNs
  apps/namada-interface/src/schema/index.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/shielded.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/schema/unbond.ts
Due: yarn run lint

chore: bump typescript to ^5.1.3
  apps/extension/package.json
  apps/namada-interface/package.json
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/crypto/package.json
  packages/hooks/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: none

fix: deserialize based on schema fields
  packages/types/src/tx/schema/account.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/schema/unbond.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint

feat: account import (#309)
  apps/extension/src/Setup/AccountCreation/AccountCreation.components.ts
  apps/extension/src/Setup/AccountCreation/AccountCreation.tsx
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.components.ts
  apps/extension/src/Setup/AccountCreation/Steps/SeedPhrase/SeedPhrase.tsx
  apps/extension/src/Setup/AccountCreation/Steps/index.ts
  apps/extension/src/Setup/Common/Completion/Completion.components.ts
  apps/extension/src/Setup/Common/Completion/Completion.tsx
  apps/extension/src/Setup/Common/Completion/index.ts
  apps/extension/src/Setup/Common/Password/Password.components.ts
  apps/extension/src/Setup/Common/Password/Password.tsx
  apps/extension/src/Setup/Common/Password/index.ts
  apps/extension/src/Setup/Common/index.ts
  apps/extension/src/Setup/ImportAccount/ImportAccount.tsx
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport.components.ts
  apps/extension/src/Setup/ImportAccount/Steps/SeedPhraseImport.tsx
  apps/extension/src/Setup/ImportAccount/Steps/index.ts
  apps/extension/src/Setup/Setup.components.ts
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/Start/Start.tsx
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.components.ts
  packages/components/src/Input/input.components.ts
  packages/components/src/Input/input.tsx
  packages/components/src/Input/types.ts
  packages/crypto/lib/src/crypto/bip32.rs
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/lib/src/crypto/pointer_types.rs
  packages/crypto/src/utils.ts
  packages/hooks/src/useUntil.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: update namada to 0.17.3 (#312)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

feat: reuse mnemonic generation logic
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/test/init.ts
  packages/crypto/src/__tests__/crypto.test.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: reuse transparent account derivation logic
  apps/extension/src/background/keyring/keyring.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: yarn run lint, cargo fmt --all -- --fix

refactor: remove unneeded type annotations
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
Due: none

feat: scan shielded addresses
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

feat: scan shielded addresses (#314)
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

feat: cleanup memory on rust panic
  apps/extension/package.json
  apps/extension/scripts/build.sh
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/tsconfig.json
  apps/namada-interface/package.json
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/utils.rs
  packages/crypto/package.json
  packages/crypto/scripts/build.sh
  packages/crypto/tsconfig.json
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/utils.rs
  packages/shared/package.json
  packages/shared/scripts/build.sh
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  scripts/build-test.sh
  scripts/build.sh
Due: yarn run lint, cargo fmt --all -- --fix

fix: anoma tests failing
  apps/extension/src/provider/Anoma.test.ts
Due: yarn run lint

feat: pass error message to the promiseWithTimeout
  packages/shared/src/index.ts
Due: yarn run lint

feat: cleanup memory on rust panic (#317)
  apps/extension/package.json
  apps/extension/scripts/build.sh
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/tsconfig.json
  apps/namada-interface/package.json
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/utils.rs
  packages/crypto/package.json
  packages/crypto/scripts/build.sh
  packages/crypto/tsconfig.json
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/utils.rs
  packages/shared/package.json
  packages/shared/scripts/build.sh
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  scripts/build-test.sh
  scripts/build.sh
Due: yarn run lint, cargo fmt --all -- --fix

chore: update namada to 0.17.5
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.js
Due: yarn run lint

fix: use es2015 in interface
  apps/namada-interface/tsconfig.json
Due: none

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
