Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: cleanup
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add enabled state for max button
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/AvailableAmountFooter.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: sign all the masp inputs
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  packages/sdk/src/masp/masp.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix getDisplayAmount
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: rename displayAmount
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add /1000000 check to history (#2164)
  apps/namadillo/src/App/Transactions/TransactionCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: extension sliced address
  apps/extension/src/App/Accounts/ViewAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: balance comma separator
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove masp page
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/ShieldAssetsModal.tsx
  apps/namadillo/src/App/Common/UnshieldAssetsModal.tsx
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedRewardsBox.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove more components
  apps/namadillo/src/App/Masp/MaspOverview.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Masp/assets/nam-balance-icon.png
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: hide masp rewards box until phase 4
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove masp page (#2171)
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetTable.tsx
  apps/namadillo/src/App/AccountOverview/UnshieldedAssetsOverview.tsx
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/ShieldAssetsModal.tsx
  apps/namadillo/src/App/Common/UnshieldAssetsModal.tsx
  apps/namadillo/src/App/Masp/MaspOverview.tsx
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Masp/ShieldedBalanceChart.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Masp/ShieldedRewardsBox.tsx
  apps/namadillo/src/App/Masp/assets/nam-balance-icon.png
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: shielded balance comma separator (#2170)
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: extension sliced address (#2169)
  apps/extension/src/App/Accounts/ViewAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: hide masp rewards box until phase 4 (#2172)
  apps/namadillo/src/App/AccountOverview/ShieldedAssetsOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: use correct derivation path for masp signs using ledger AND sign all sapling inputs (#2163)
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  packages/sdk/src/masp/masp.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump release please manifest
  .release-please-manifest.json
Due: prettier --write

fix: prevent waterfalling in the AllProposalsTable
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add preferred infra button to settings (#2162)
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: shielded sync retry
  apps/namadillo/src/workers/ShieldedSyncWorker.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add skeleton for better loading state (#2063)
  apps/namadillo/src/App/Common/TableWithPaginator.tsx
  apps/namadillo/src/App/Governance/AllProposalsTable.tsx
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: transaction error when missing cached balances
  apps/namadillo/src/hooks/useOptimisticTransferUpdate.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update release manifest
  .release-please-manifest.json
Due: prettier --write

feat: enable withdraw nam to osmosis
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: enable deposit nam from ibc
  apps/namadillo/src/atoms/integrations/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: use uosmo as token
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: enable ibc nam on osmosis (#2178)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useSimulateIbcTransferFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update receipt for diff transfers
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: displaying housefire nam in mainnet osmosis assets
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: denominate nam before ibc transfer
  apps/namadillo/src/atoms/transfer/services.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update shielded txn receipt (#2181)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: denominate nam before ibc withdraw (#2183)
  apps/namadillo/src/atoms/transfer/services.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: displaying housefire nam in mainnet osmosis assets (#2182)
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: fix manifest version
  .release-please-manifest.json
Due: prettier --write

chore: fix namadillo version on manifest
  .release-please-manifest.json
Due: prettier --write

Revert "fix: displaying housefire nam in mainnet osmosis assets (#2182)"
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add the hack asset
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/temp-assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: missing nam on mainnet ibc deposit (#2185)
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/temp-assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump version
  .release-please-manifest.json
Due: prettier --write

fix: show nam from mainnet instead of housefire
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/temp-assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
