Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat: add discord side panel
  apps/namada-interface/src/App/Common/Sidebar.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Sidebars/ProposalDiscord.tsx
  apps/namada-interface/src/config/links.ts
Due: yarn run lint, prettier --write

feat(interface): tweaking pagination
  apps/namada-interface/src/App/Common/FormattedPaginator.module.css
Due: none

feat(interface): removing Suspense from top navigation
  apps/namada-interface/src/App/Common/TopNavigation.tsx
Due: prettier --write

feat(interface): adding possibility of an empty value on AmountInput
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/hooks/useStakeModule.ts
  packages/components/src/AmountInput.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: fix missing proposal ID in vote modal
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
Due: prettier --write

feat(interface): making some tweaks on proposals ui
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/App/Governance/ViewJson.tsx
  apps/namada-interface/src/store/utils.ts
  packages/components/src/TickedRadioList.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): displaying edited validators on 'My Validators' filter
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
Due: prettier --write

fix: fix division if total staked NAM is 0
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
Due: prettier --write

feat(interface): optimizing validators table performance
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat: adding quick access link to navigation
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsFilter.tsx
  apps/namada-interface/src/App/Staking/QuickAccessList.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
  apps/namada-interface/src/App/Staking/ValidatorThumb.tsx
Due: prettier --write

feat: proposals table filter selects
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  packages/components/src/Select.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fix: wrap proposal JSON and vertically scroll
  apps/namada-interface/src/App/Governance/ViewJson.tsx
Due: prettier --write

feat: upgrade namada to v0.35.1
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/rust-toolchain.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/masp.rs
Due: cargo fmt --all -- --fix

feat(interface): tweaking sidebar for a standard width
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Common/PageWithSidebar.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
Due: prettier --write

feat(interface): removing staking amount from randomize sorting criterea
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/hooks/useValidatorSorting.ts
Due: yarn run lint, prettier --write

feat(interface): adding back button
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
Due: prettier --write

feat(interface): removing = from the increment bonding
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
Due: prettier --write

feat(interface_gov): adding fees to voting panel
  apps/namada-interface/src/App/Common/TransactionFees.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
Due: prettier --write

feat(interface): burger menu and responsive navigation
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/BurgerButton.tsx
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Common/Navigation.tsx
Due: prettier --write

feat(interface): tweaking line breaks
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
Due: prettier --write

feat: add loading state for proposal summary
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
Due: prettier --write

fix: add spaces in WASM data JSON
  apps/namada-interface/src/App/Governance/ViewJson.tsx
Due: prettier --write

feat(interface): tweaking ProposalDiscord component
  apps/namada-interface/src/App/Sidebars/ProposalDiscord.tsx
Due: prettier --write

feat: get proposal WASM and display in JSON
  apps/namada-interface/src/App/Governance/ViewJson.tsx
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/shared/lib/src/query.rs
  packages/types/src/proposals.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

fix: linting and TypeScript errors
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
  packages/sdk/src/rpc/rpc.ts
  packages/shared/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: undo changes to Select component
  packages/components/src/Select.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fix: add zero votes color to vote data bars
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
Due: prettier --write

feat(interface): making validator alias font as medium, while other columns have normal fonts
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorName.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat(interface_overview): fixing governance route button
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

fix: un-hardcode live governance voting data
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
Due: prettier --write

feat: proposals table filters
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
Due: prettier --write

feat(interface): responsive tweaks
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Common/PageWithSidebar.tsx
  apps/namada-interface/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/tailwind.config.cjs
  package.json
  yarn.lock
Due: prettier --write

fix: typos
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  packages/utils/src/currencies.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: make governance pages work with no extension
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat(interface): improving responsive
  apps/namada-interface/src/App/Common/CurrencySelector.tsx
  apps/namada-interface/src/App/Common/Toast.tsx
  apps/namada-interface/src/App/Common/TopNavigation.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
Due: prettier --write

feat(interface): fixing overview when not connected
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

fix: change rust version to fix shared multicore
  packages/shared/lib/rust-toolchain.toml
Due: none

feat(interface): fixing navigation z-index
  apps/namada-interface/src/App/Common/Container.tsx
Due: prettier --write

feat: add proposals table search
  apps/namada-interface/src/App/Common/Search.tsx
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
Due: prettier --write

feat: support proposal WASM download
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
Due: prettier --write

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: any of: *.{js,jsx,ts,tsx,json}
  eslint --fix --max-warnings=0: (((any of: ./apps/**/src/*.{js,jsx,ts,tsx}) or (any of: ./packages/**/src/*.{js,jsx,ts,tsx})) or (any of: ./storybook/src/*.{js,jsx,ts,tsx})) or (any of: ./e2e/src/*.{js,jsx,ts,tsx})
