Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

feat: bond tx init
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/router/Router.ts
  apps/namada-interface/public/wasm/tx_bond.02c5b9fc07a44feb48c063f30a1e4e48d22a69693abe290c3c53783f22b9ce05.wasm
  apps/namada-interface/public/wasm/tx_unbond.0b0d69a1043345ed06043e2ee97202a9178aa8106b8b4ddf062917ae6ec90dec.wasm
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/reducers.ts
  packages/rpc/src/SocketClient.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/src/bond.rs
  packages/shared/lib/src/lib.rs
  packages/tx/src/wasm/index.ts
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bonding.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: MyValidators returning validators with stake equal to 0
  packages/shared/lib/src/rpc_client.rs
Due: cargo fmt --all -- --fix

feat: display multiple owner addresses that delegated stake
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/fakeData.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  packages/shared/lib/src/rpc_client.rs
  packages/utils/src/helpers/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: unbonding tx and proper nam values
  apps/namada-interface/public/wasm/tx_unbond.0b0d69a1043345ed06043e2ee97202a9178aa8106b8b4ddf062917ae6ec90dec.wasm
  apps/namada-interface/public/wasm/tx_unbond.1f9b180a62f0df9a85fe43e23288ca765ee3fb7e6bad7cbcc4a351e86948042b.wasm
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  packages/shared/lib/src/bond.rs
  packages/tx/src/wasm/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: query all and my validators
  apps/namada-interface/src/components/Table/Table.components.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/rpc/src/RpcClient.ts
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/utils.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: real data in staking view
  apps/extension/src/router/Router.ts
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/index.ts
  apps/namada-interface/src/slices/StakingAndGovernance/reducers.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  apps/namada-interface/src/store/mocks.ts
  packages/shared/lib/src/rpc_client.rs
Due: yarn run lint, cargo fmt --all -- --fix

style: cleanup
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  packages/rpc/src/RpcClient.ts
  packages/tx/src/wasm/index.ts
Due: yarn run lint

feat: add wasm shared build to yarn build task
  .github/workflows/deploy-wallet-at-pr.yml
  apps/namada-interface/package.json
  apps/namada-interface/scripts/build.sh
Due: none

Fixed default token type in TokenSendForm, removed SocketClient
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/transfers.ts
  packages/rpc/src/RpcClient.ts
  packages/rpc/src/RpcClientBase.ts
  packages/rpc/src/SocketClient.ts
  packages/rpc/src/index.ts
Due: yarn run lint

Additional cleanup
  packages/rpc/src/RpcClient.ts
Due: yarn run lint

Clean up RpcClient
  packages/rpc/src/RpcClient.ts
Due: yarn run lint

Remove logs
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
Due: none

Cleaned up implementation
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
Due: none

Fix default transparent token balance
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
Due: none

Merge conflict fix
  apps/namada-interface/src/slices/transfers.ts
Due: yarn run lint

bug/161 - Fix for SendToken validation (#166)
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/transfers.ts
  packages/rpc/src/RpcClient.ts
  packages/rpc/src/RpcClientBase.ts
  packages/rpc/src/SocketClient.ts
  packages/rpc/src/index.ts
Due: yarn run lint

feat: make unbonding work
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
Due: none

Update architecture for extension, add image
  specs/browser-extension/architecture.md
  specs/browser-extension/images/extension-architecture-overview.png
Due: none

Add integration docs to specs
  specs/browser-extension/integration.md
Due: none

Begin changes to extension specs
  specs/browser-extension/architecture.md
Due: none

Remove outdated api docs (see integration.md)
  specs/browser-extension/api.md
Due: none

feat: implement asyn client trait
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/api.rs
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
Due: yarn run lint, cargo fmt --all -- --fix

specs/75 - Extension spec updates (#88)
  specs/browser-extension/api.md
  specs/browser-extension/architecture.md
  specs/browser-extension/images/extension-architecture-overview.png
  specs/browser-extension/integration.md
Due: none

feat: implement asyn client trait (#173)
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/api.rs
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
Due: yarn run lint, cargo fmt --all -- --fix

Adding `bond` dependency that is being used
  packages/shared/lib/src/lib.rs
Due: cargo fmt --all -- --fix

feat: load accounts from metamask
  apps/namada-interface/src/services/integrations.tsx
  apps/namada-interface/src/slices/accounts.ts
  packages/chains/src/chains/ethereum.ts
  packages/chains/src/index.ts
  packages/integrations/package.json
  packages/integrations/src/Metamask.ts
  packages/integrations/src/index.ts
  yarn.lock
Due: yarn run lint

fix: useIntregrationConnection hook to use proper integration
  apps/namada-interface/src/services/integrations.tsx
Due: none

fix: useIntregrationConnection hook to use proper integration (#192)
  apps/namada-interface/src/services/integrations.tsx
Due: none

Adding `bond` dependency that is being used (#176)
  packages/shared/lib/src/lib.rs
Due: cargo fmt --all -- --fix

feat: load accounts from metamask (#189)
  apps/namada-interface/src/services/integrations.tsx
  apps/namada-interface/src/slices/accounts.ts
  packages/chains/src/chains/ethereum.ts
  packages/chains/src/index.ts
  packages/integrations/package.json
  packages/integrations/src/Metamask.ts
  packages/integrations/src/index.ts
  yarn.lock
Due: yarn run lint

feat: display message about extenions connections status and availability
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/components/Button/button.tsx
  apps/namada-interface/src/hooks/useUntil.ts
  apps/namada-interface/src/services/integrations.tsx
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
Due: yarn run lint

Begin removing unused code, fixed tests
  packages/chains/tsconfig.json
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/crypto/mod.rs
  packages/crypto/lib/src/crypto/scrypt.rs
  packages/crypto/src/__tests__/crypto.test.ts
  packages/utils/src/crypto/index.ts
  packages/utils/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Begin removing unused code, fixed tests (#195)
  packages/chains/tsconfig.json
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/crypto/mod.rs
  packages/crypto/lib/src/crypto/scrypt.rs
  packages/crypto/src/__tests__/crypto.test.ts
  packages/utils/src/crypto/index.ts
  packages/utils/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Require password only if locked and adding an account
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Login/Login.tsx
Due: none

Clean up for consistency
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Approvals/ApproveConnection.tsx
  apps/extension/src/App/Approvals/ApproveTx.tsx
  apps/extension/src/App/Login/Login.tsx
Due: none

Removing unused import
  apps/extension/src/App/App.tsx
Due: none

Login can accept query to set redirect
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Approvals/ApproveConnection.tsx
  apps/extension/src/App/Approvals/ApproveTx.tsx
  apps/extension/src/App/Approvals/index.ts
  apps/extension/src/App/Login/Login.tsx
  packages/chains/src/chains/namada.ts
Due: yarn run lint

Move reusable functions into hooks, add approve tx & conn
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Approvals/ApproveConnection.components.tsx
  apps/extension/src/App/Approvals/ApproveConnection.tsx
  apps/extension/src/App/Approvals/ApproveTx.components.tsx
  apps/extension/src/App/Approvals/ApproveTx.tsx
  apps/extension/src/App/Approvals/index.ts
  apps/extension/src/App/Login/Login.tsx
  apps/extension/src/App/types.ts
  apps/extension/src/hooks/index.ts
  apps/extension/src/hooks/useAuth.tsx
  apps/extension/src/hooks/useQuery.tsx
Due: yarn run lint

Clean up, add optional prompt info on Login
  apps/extension/src/App/Accounts/AddAccount.tsx
  apps/extension/src/App/Login/Login.tsx
Due: none
