Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix(namadillo): fixing nam balance container height overflow (#1480)
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: ledger shielded accounts
  apps/extension/package.json
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  apps/extension/src/Setup/Ledger/LedgerImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/query.ts
  apps/extension/src/Setup/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  packages/sdk/package.json
  packages/sdk/src/ledger.ts
  packages/sdk/src/sdk.ts
  packages/shared/lib/src/types/masp.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: support ledger masp tx wip
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/webpack.config.js
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/signing.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/messages/index.ts
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

docs/1476: Keychain: Update Firefox docs (#1477)
  apps/extension/FIREFOX_README.md
  apps/extension/webpack.config.js
  docker/extension/Dockerfile
  packages/crypto/lib/src/crypto/bip39.rs
  packages/crypto/src/__tests__/crypto.test.ts
  packages/sdk/src/mnemonic.ts
  packages/sdk/src/tests/mnemonic.test.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding back 'generating masp params'
  apps/namadillo/src/hooks/useIbcTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump version
  apps/namadillo/package.json
Due: prettier --write

fix: fix transfer balance (#1481)
  apps/namadillo/package.json
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: validate recipient address (#1482)
  apps/namadillo/package.json
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Namadillo: more stages to IBC transactions (#1483)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/utils/address.ts
  apps/namadillo/src/utils/ibc.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add transfer balance warning
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fix test
  apps/namadillo/src/App/Transfer/__tests__/AvailableAmountFooter.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: adding initial configuration for semantic-release
  .github/workflows/release.yml
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --write

feat: adding release-notes-generator
  .github/workflows/release-namadillo.yml
  .github/workflows/release.yml
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --write

ci: adding npm and git plugins to semantic release
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --write

refactor: renaming github workflow
  .github/workflows/release-new-version.yml
Due: none

feat: unshielding working
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/namadillo/public/config.toml
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: cleanup
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/handler.ts
  apps/namadillo/public/config.toml
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/ledger.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/transfer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: listen for the complete event
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/hooks/useTransactionCallbacks.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types.ts
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/utils/index.ts
  packages/config/eslint/react.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fix lint
  packages/config/eslint/react.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: remove opacity when has error
  apps/namadillo/src/App/Common/Timeline.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add transfer watcher
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/atoms/transactions/atoms.ts
  apps/namadillo/src/atoms/transactions/services.ts
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add transfer balance warning (#1488)
  apps/namadillo/package.json
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/AvailableAmountFooter.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: removing release-it workflow
  .github/workflows/docker.yml
  .release-it.base.cjs
  .release-it.cjs
  apps/namadillo/.release-it.cjs
  apps/namadillo/package.json
  package.json
  scripts/bump.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: applying some builds only on merge to main
  .github/workflows/verify-pull-request.yml
  apps/extension/package.json
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/crypto/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/sdk/.release-it.cjs
  packages/sdk/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  storybook/.yarn/install-state.gz
  storybook/yarn.lock
  yarn.lock
Due: prettier --write

feat: adding yarn poisoning as a dep
  .github/workflows/verify-pull-request.yml
Due: none

feat: adding yarn poisoning verification as requirement and removing ff build
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

feat: removing docker from workflow
  .github/workflows/docker.yml
Due: none

feat: returning with the proper namadillo build
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

feat: updating yarn.lock
  yarn.lock
Due: none

temp: temporary removing yarn poisoning
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

feat: trying to fix yarn poisoning error
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  apps/extension/package.json
  apps/faucet/package.json
  package.json
  packages/chains/package.json
  packages/crypto/package.json
  packages/integrations/package.json
  packages/sdk/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --write

fix: namadillo should build fully
  .github/workflows/verify-pull-request.yml
Due: none

fix: fixing weird type errors
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: initial release-please config
  .github/actions/build-extension.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

feat: changing branch
  .github/workflows/release.yml
Due: none

feat(extension): test commit
  apps/extension/src/App/Accounts/ParentAccountsFooter.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat(namadillo): test commit for namadillo
  apps/namadillo/src/App/Common/Footer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
