Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: accept REVISION as env var, specify in instructions
  apps/extension/FIREFOX_README.md
  apps/extension/package.json
Due: prettier --write

fix: update CI to provide revision env var, docs
  .github/workflows/release-wallet.yml
  apps/extension/FIREFOX_README.md
  apps/extension/package.json
  packages/chains/src/chains/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update .env overrides
  apps/extension/.env.sample
  apps/extension/FIREFOX_README.md
  apps/extension/package.json
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/webpack.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Extension: Update to Firefox docs (#1398)
  .github/workflows/release-wallet.yml
  apps/extension/.env.sample
  apps/extension/FIREFOX_README.md
  apps/extension/package.json
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/webpack.config.js
  packages/chains/src/chains/namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

bug/1047: Namadillo Ledger Notifications (#1391)
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: shorten unknown asset symbol (#1387)
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

docs: updating Namada Keychain specs
  specs/browser-extension/integration.md
Due: none

fix: use correct text for VoteProposal notification event
  apps/namadillo/package.json
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: use correct text for VoteProposal notification event (#1401)
  apps/namadillo/package.json
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

docs: fix typo on readme file (#1390)
  apps/namadillo/README.md
Due: none

docs: updating Namada Keychain specs (#1400)
  specs/browser-extension/integration.md
Due: none

feat: proper decoding + refactor
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/ViewJson.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/atoms/proposals/functions.ts
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: decode continuous pgf proposal to ibc target (#1397)
  apps/namadillo/package.json
  apps/namadillo/src/App/Governance/ViewJson.tsx
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  apps/namadillo/src/atoms/proposals/functions.ts
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add gas token
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Common/TransactionFees.tsx
  apps/namadillo/src/App/Governance/SubmitVote.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Ibc/ShieldAllPanel.tsx
  apps/namadillo/src/App/Ibc/ShieldAllProgress.tsx
  apps/namadillo/src/App/Ibc/assets/ibc-transfer-black.png
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/ReDelegateAssignStake.tsx
  apps/namadillo/src/App/Staking/Unstake.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferTransactionFee.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/App/WorkerTest.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/functions.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/fees/services.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useGasEstimate.ts
  apps/namadillo/src/integrations/utils.ts
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: upgrade denom handler
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: query only relevant bonds to see if it's possible to vote
  apps/namadillo/package.json
  apps/namadillo/src/atoms/proposals/atoms.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump minor
  apps/namadillo/package.json
Due: prettier --write

fix: query only relevant bonds to see if it's possible to vote (#1407)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/proposals/atoms.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: undefined TextDecoder
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  apps/namadillo/src/setupTests.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: don't minify JS source
  apps/extension/FIREFOX_README.md
  apps/extension/webpack.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add TextDecoder
  apps/namadillo/src/setupTests.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat(extension): docker image and build instructions for firefox
  apps/extension/FIREFOX_README.md
  docker/extension/Dockerfile
Due: none

feat(firefox): separating build in different stages and updating docs
  apps/extension/FIREFOX_README.md
  docker/extension/Dockerfile
Due: none

feat: ensure amd64 architecture
  docker/extension/Dockerfile
Due: none

feat: fix tests
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/balance/services.ts
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/prices/atoms.ts
  apps/namadillo/src/atoms/prices/functions.ts
  apps/namadillo/src/atoms/prices/services.ts
  apps/namadillo/src/utils/assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: tweaking options on webpack
  apps/extension/webpack.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fix ibc available amount
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/atoms/fees/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: bump version
  apps/namadillo/package.json
Due: prettier --write

fix: fix yarn lock
  yarn.lock
Due: none

feat: add button outline
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add button outline (#1421)
  apps/namadillo/src/App/AccountOverview/MaspBanner.tsx
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  apps/namadillo/src/App/Sidebars/ShieldAllBanner.tsx
  apps/namadillo/src/App/Staking/AllValidatorsTable.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Extension: docker image and build instructions for firefox (#1414)
  apps/extension/FIREFOX_README.md
  apps/extension/webpack.config.js
  docker/extension/Dockerfile
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

docs: update firefox readme
  apps/extension/FIREFOX_README.md
Due: none

feat: review
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/utils/assets.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add shared SDK lib to SDK package
  packages/sdk/lib/Cargo.lock
  packages/sdk/lib/Cargo.toml
  packages/sdk/lib/LICENSE_MIT
  packages/sdk/lib/README.md
  packages/sdk/lib/rust-toolchain.toml
  packages/sdk/lib/src/lib.rs
  packages/sdk/lib/src/query.rs
  packages/sdk/lib/src/rpc_client.js
  packages/sdk/lib/src/rpc_client.rs
  packages/sdk/lib/src/rpc_client.ts
  packages/sdk/lib/src/sdk/args.rs
  packages/sdk/lib/src/sdk/events.rs
  packages/sdk/lib/src/sdk/io.rs
  packages/sdk/lib/src/sdk/masp/masp.node.js
  packages/sdk/lib/src/sdk/masp/masp_node.rs
  packages/sdk/lib/src/sdk/masp/masp_web.rs
  packages/sdk/lib/src/sdk/masp/mod.rs
  packages/sdk/lib/src/sdk/masp/sync.rs
  packages/sdk/lib/src/sdk/mod.js
  packages/sdk/lib/src/sdk/mod.rs
  packages/sdk/lib/src/sdk/mod.ts
  packages/sdk/lib/src/sdk/signature.rs
  packages/sdk/lib/src/sdk/transaction.rs
  packages/sdk/lib/src/sdk/tx.rs
  packages/sdk/lib/src/sdk/wallet/mod.rs
  packages/sdk/lib/src/sdk/wallet/wallet_node.rs
  packages/sdk/lib/src/sdk/wallet/wallet_web.rs
  packages/sdk/lib/src/types/address.rs
  packages/sdk/lib/src/types/masp.rs
  packages/sdk/lib/src/types/mod.rs
  packages/sdk/lib/src/types/query.rs
  packages/sdk/lib/src/utils.rs
  packages/sdk/package.json
  packages/sdk/scripts/build.js
  packages/sdk/tsconfig.web.json
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: begin porting crypto
  packages/sdk/lib/Cargo.lock
  packages/sdk/lib/Cargo.toml
  packages/sdk/lib/src/crypto/aes.rs
  packages/sdk/lib/src/crypto/argon2.rs
  packages/sdk/lib/src/crypto/bip32.rs
  packages/sdk/lib/src/crypto/bip39.rs
  packages/sdk/lib/src/crypto/mod.rs
  packages/sdk/lib/src/crypto/pointer_types.rs
  packages/sdk/lib/src/crypto/rng.rs
  packages/sdk/lib/src/crypto/salt.rs
  packages/sdk/lib/src/crypto/zip32.rs
  packages/sdk/lib/src/lib.rs
  packages/sdk/lib/src/rpc_client.js
  packages/sdk/lib/src/sdk/masp/masp.node.js
  packages/sdk/lib/src/sdk/mod.js
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
