Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

docs: publish info
  specs/PUBLISH.md
Due: none

fix: missing comma in json after rebase
  packages/integrations/package.json
Due: none

feat: release it configs cjs
  .release-it.base.cjs
  .release-it.cjs
  .release-it.json
  apps/extension/.release-it.cjs
  apps/extension/.release-it.json
  apps/extension/package.json
  package.json
  packages/chains/.release-it.cjs
  packages/chains/.release-it.json
  packages/chains/package.json
  packages/components/.release-it.cjs
  packages/components/.release-it.json
  packages/components/package.json
  packages/crypto/.release-it.cjs
  packages/crypto/.release-it.json
  packages/crypto/package.json
  packages/shared/.release-it.cjs
  packages/shared/.release-it.json
  packages/shared/package.json
  packages/storage/.release-it.cjs
  packages/storage/.release-it.json
  packages/storage/package.json
  packages/types/.release-it.cjs
  packages/types/.release-it.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/.release-it.cjs
  packages/utils/.release-it.json
  packages/utils/package.json
Due: none

docs: more accurate tag info
  specs/PUBLISH.md
Due: none

feat: release script for namada interface
  apps/namada-interface/.release-it.cjs
  apps/namada-interface/package.json
Due: none

fix: yarn.lock after rebase
  yarn.lock
Due: none

fix: chain ID validation message
  apps/extension/src/App/Settings/Network.tsx
Due: none

fix: staking should use correct chain ID
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/channels.ts
Due: yarn run lint

bug/591 - Staking should use correct chain ID (#593)
  apps/extension/src/App/Settings/Network.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/channels.ts
Due: yarn run lint

fix: use correct Borsh version
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

fix: version bump
  apps/extension/package.json
  package.json
Due: none

fix: use correct Borsh version for signArbitrary (#602)
  apps/extension/package.json
  package.json
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

chore: update namada to 0.30.3
  e2e/genesis/localnet/tokens.toml
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

chore: update namada to 0.31.0
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

chore: update namada to 0.31.0 (#605)
  e2e/genesis/localnet/tokens.toml
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: extension version bump
  apps/extension/package.json
  package.json
Due: none

fix: extension version bump (#606)
  apps/extension/package.json
  package.json
Due: none

chore: update faucet with tailwind
  apps/faucet/package.json
  apps/faucet/postcss.config.js
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/CallToActionCard.tsx
  apps/faucet/src/App/Faq.components.tsx
  apps/faucet/src/App/Faq.tsx
  apps/faucet/src/App/FaqDropdown.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/index.tsx
  apps/faucet/src/tailwind.css
  apps/faucet/tailwind.config.js
  apps/faucet/tsconfig.json
  apps/faucet/tsconfig.webpack.json
  apps/faucet/webpack.config.js
  yarn.lock
Due: yarn run lint

feat: hardcode naan instead of nam
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/chains/src/chains/namada.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: adding memo field
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/tx.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: new UI for passphrase
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/types.ts
  packages/components/src/Icon.tsx
  packages/components/src/ToggleButton.tsx
  packages/components/src/assets/X.tsx
  packages/components/src/index.ts
Due: yarn run lint

fix: proper seed for zip32 flow
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/types.ts
Due: yarn run lint

chore: update faucet with tailwind (#609)
  apps/faucet/package.json
  apps/faucet/postcss.config.js
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/CallToActionCard.tsx
  apps/faucet/src/App/Faq.components.tsx
  apps/faucet/src/App/Faq.tsx
  apps/faucet/src/App/FaqDropdown.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/index.tsx
  apps/faucet/src/tailwind.css
  apps/faucet/tailwind.config.js
  apps/faucet/tsconfig.json
  apps/faucet/tsconfig.webpack.json
  apps/faucet/webpack.config.js
  yarn.lock
Due: yarn run lint

fix: fixed lint issue for ToggleButton
  packages/components/src/ToggleButton.tsx
Due: none

chore: cleanup unused commented out component
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
Due: none

test: e2e tests for passphrase support
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/background/keyring/keyring.ts
  e2e/src/index.test.ts
  e2e/src/partial/setup.ts
  e2e/src/utils/values.ts
  packages/components/src/Alert.tsx
Due: yarn run lint

fix: make passphrase in storage optional
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/types.ts
Due: yarn run lint

feat: new UI for passphrase (#613)
  apps/extension/src/Setup/Common/Completion.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/types.ts
  e2e/src/index.test.ts
  e2e/src/partial/setup.ts
  e2e/src/utils/values.ts
  packages/components/src/Alert.tsx
  packages/components/src/Icon.tsx
  packages/components/src/ToggleButton.tsx
  packages/components/src/assets/X.tsx
  packages/components/src/index.ts
Due: yarn run lint

fix: update rust imports and implement verify sig
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/lib/src/types/query.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: update rust imports and implement verify sig (#603)
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/types/address.rs
  packages/shared/lib/src/types/masp.rs
  packages/shared/lib/src/types/query.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: balances should support native token properly
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/.env.sample
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/chain.ts
  packages/types/src/namada.ts
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: adding memo to Tx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/types.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint

fix: version bump for next release
  apps/extension/package.json
  package.json
Due: none

fix: make bond form legible
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
Due: none

feat/608 - Support memo, use native token (#611)
  apps/extension/package.json
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/.env.sample
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/UnbondPosition/UnbondPosition.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/types.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  apps/namada-interface/src/slices/accounts.ts
  package.json
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/chain.ts
  packages/types/src/namada.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/tokens/types/index.ts
  packages/utils/src/helpers/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: network form should not display error if chain is unreachable
  apps/extension/src/background/chains/service.ts
Due: yarn run lint

fix: network form should not display error if chain is unreachable (#620)
  apps/extension/src/background/chains/service.ts
Due: yarn run lint

chore: update namada to 0.31.1
  e2e/genesis/localnet/balances.toml
  e2e/genesis/localnet/parameters.toml
  e2e/genesis/localnet/tokens.toml
  e2e/setup-namada.sh
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/types/src/tx/tokens/types/index.ts
Due: yarn run lint
