Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove unused chrome permission
  apps/extension/src/manifest/v3/_base.json
Due: none

feat: move durability warning out of main App view
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeader.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/Warnings.tsx
  apps/extension/src/App/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove unused chrome permission (#1064)
  apps/extension/src/manifest/v3/_base.json
Due: none

feat(namadillo): setting up tests correctly
  apps/namadillo/jest.config.ts
  apps/namadillo/package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up, fix styles for FF
  apps/extension/package.json
  apps/extension/src/App/Accounts/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ViewMnemonic.tsx
  apps/extension/src/App/Settings/Warnings.tsx
  apps/extension/src/Setup/Start.tsx
  apps/extension/src/utils/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: adding rank with tests
  apps/namadillo/jest.config.ts
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/ValidatorRank.tsx
  apps/namadillo/src/App/Staking/__tests__/ValidatorRank.test.tsx
  apps/namadillo/src/atoms/validators/atoms.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/types.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: bumping react version
  apps/extension/package.json
  apps/faucet/package.json
  apps/namadillo/package.json
  packages/components/package.json
  packages/utils/package.json
  yarn.lock
Due: none

chore: removing namadillo webpack config
  apps/namadillo/tsconfig.webpack.json
  apps/namadillo/webpack.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: bumping vite version
  apps/namadillo/package.json
  package.json
  yarn.lock
Due: none

chore: bumping eslint version
  apps/namadillo/package.json
  package.json
  packages/config/package.json
  yarn.lock
Due: none

chore: bumping prettier eslint version
  apps/namadillo/package.json
  package.json
  packages/config/package.json
Due: none

chore: bumping react version
  apps/extension/package.json
  apps/extension/src/Approvals/index.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/services/requester.tsx
  apps/extension/src/storage/VaultStorage.ts
  apps/faucet/package.json
  apps/faucet/src/App/Common/Faq.components.tsx
  apps/faucet/webpack.config.js
  apps/namadillo/package.json
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/atoms/store.tsx
  apps/namadillo/src/hooks/useProposalIdParam.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/lib/query.ts
  apps/namadillo/src/services/extensionEvents/provider.tsx
  apps/namadillo/src/services/integrations/provider.tsx
  package.json
  packages/components/package.json
  packages/config/eslint/react.js
  packages/hooks/package.json
  storybook/.yarn/install-state.gz
  storybook/package.json
  storybook/yarn.lock
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: configuring jest with react-testing-library for Namadillo
  apps/namadillo/jest.config.ts
  apps/namadillo/package.json
  apps/namadillo/src/setupTests.ts
  jest.config.ts
  package.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat(namadillo): writing some tests for ValidatorCard
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
  apps/namadillo/src/App/Staking/__tests__/ValidatorCard.test.tsx
  packages/components/src/theme.ts
  packages/components/src/types.ts
  packages/components/src/utils.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: adding @typescript-eslint/no-require-imports rule
  packages/config/eslint/index.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing references to theme.ts
  apps/extension/.eslintrc.js
  apps/extension/tailwind.config.js
  apps/faucet/tailwind.config.js
  apps/namadillo/tailwind.config.cjs
  storybook/tailwind.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing linting errors
  apps/extension/.eslintignore
  apps/faucet/src/styled.d.ts
  packages/integrations/src/hooks/useIntegration.ts
  packages/storage/src/store/IndexedDBKVStore.ts
  packages/utils/src/helpers/index.ts
  packages/utils/src/theme/styled.d.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing eslintrc project config
  apps/extension/.eslintignore
  apps/extension/.eslintrc.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing build errors for namadillo / extension
  packages/utils/src/helpers/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: keeping some types on root package.json
  apps/extension/package.json
  apps/faucet/package.json
  apps/namadillo/package.json
  yarn.lock
Due: none

chore: moving dev dependencies used in many packages / apps to project root
  apps/extension/package.json
  apps/faucet/package.json
  apps/namadillo/package.json
  e2e/package.json
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/config/package.json
  packages/crypto/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/sdk/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: none

feat: upgrading prettier
  .prettierrc
  package.json
  packages/config/eslint/index.js
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: removing empty arguments from catch
  apps/extension/src/Approvals/ApproveSignArbitrary.tsx
  apps/extension/src/storage/VaultStorage.ts
  apps/faucet/src/App/SettingsForm.tsx
  apps/namadillo/src/hooks/useProposalIdParam.ts
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add account box
  apps/namadillo/src/App/Common/AccountBox.tsx
  apps/namadillo/src/App/Common/ActiveAccount.tsx
  apps/namadillo/src/App/Common/SwitchAccount.tsx
  apps/namadillo/src/App/Common/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): fixing message appearing due to wrong string cast
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add dropdown
  apps/namadillo/src/App/Common/ActiveAccount.tsx
  apps/namadillo/src/App/Common/SwitchAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/1061: Firefox - Move durability warning out of main App view (#1065)
  apps/extension/package.json
  apps/extension/src/App/Accounts/DeleteAccount.tsx
  apps/extension/src/App/Accounts/ViewMnemonic.tsx
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeader.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/Warnings.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/Setup/Start.tsx
  apps/extension/src/utils/index.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add switch account route
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/AccountBox.tsx
  apps/namadillo/src/App/Common/ActiveAccount.tsx
  apps/namadillo/src/App/Common/SwitchAccount.tsx
  apps/namadillo/src/App/Common/TopNavigation.tsx
  apps/namadillo/src/App/SwitchAccount/SwitchAccountModal.tsx
  apps/namadillo/src/App/SwitchAccount/routes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): fixing message appearing due to wrong string cast (#1068)
  apps/namadillo/src/App/Common/Setup.tsx
  apps/namadillo/src/App/Settings/Advanced.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add checkbox
  apps/namadillo/src/App/SwitchAccount/SwitchAccountModal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean
  apps/namadillo/src/App/SwitchAccount/SwitchAccountModal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up formatting, unused env vars
  apps/faucet/.env.sample
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/App/index.ts
  apps/faucet/src/utils/api.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: move computePowSolution into web worker
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/utils/types.ts
  apps/faucet/src/workers/index.ts
  apps/faucet/src/workers/powWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: hook up faucet form to web worker
  .github/workflows/release-faucet.yml
  apps/faucet/README.md
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/App/SettingsForm.tsx
  apps/faucet/src/workers/powWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up handling around web worker
  apps/faucet/README.md
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

docs: add firefox-specific readme for add-on reviewers
  FIREFOX_README.md
Due: none

fix: move to a more sensible place, reference in main Extension README
  README.md
  apps/extension/FIREFOX_README.md
  apps/extension/README.md
Due: none

feat/1060 - Faucet: Move computePowSolution into web worker (#1066)
  .github/workflows/release-faucet.yml
  apps/faucet/.env.sample
  apps/faucet/README.md
  apps/faucet/src/App/App.tsx
  apps/faucet/src/App/Faucet.tsx
  apps/faucet/src/App/SettingsForm.tsx
  apps/faucet/src/App/index.ts
  apps/faucet/src/utils/api.ts
  apps/faucet/src/utils/types.ts
  apps/faucet/src/workers/index.ts
  apps/faucet/src/workers/powWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: set asset path to relative
  apps/faucet/webpack.config.js
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json})
  eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
