Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

chore: update namada to 0.17.5 (#319)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.js
Due: yarn run lint

Enable event handling for Keplr account changes
  apps/namada-interface/src/services/extensionEvents/handlers/keplr.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: yarn run lint

Clean up, add placeholders for Metamask
  apps/namada-interface/src/services/extensionEvents/handlers/metamask.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  packages/chains/src/index.ts
  packages/types/src/events.ts
Due: yarn run lint

Remove unnecessary log
  apps/namada-interface/src/services/extensionEvents/handlers/keplr.ts
Due: yarn run lint

Register ethereum provider events for Metamask
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  packages/hooks/src/useEvent.ts
Due: yarn run lint

Provide optional callbacks for handling extension events (for ethereum)
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  packages/hooks/src/useEvent.ts
Due: yarn run lint

Removed erroneous (and unused) event definition
  packages/types/src/events.ts
Due: yarn run lint

feat/264 - Handle third-party extension events (#310)
  apps/namada-interface/src/services/extensionEvents/handlers/keplr.ts
  apps/namada-interface/src/services/extensionEvents/handlers/metamask.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  packages/chains/src/index.ts
  packages/hooks/src/useEvent.ts
  packages/types/src/events.ts
Due: yarn run lint

feat: compilation works with 0.18.0
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/crypto/lib/Cargo.lock
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: update wasm-bindgen-cli version in CI
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

feat: update namada to 0.18.0 (#324)
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/crypto/lib/Cargo.lock
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/rpc_client.rs
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix

refactor: use wasm-pack for builds
  packages/crypto/lib/Cargo.toml
  packages/crypto/scripts/build-test.sh
  packages/crypto/scripts/build.sh
  packages/shared/lib/Cargo.toml
  packages/shared/scripts/build-test.sh
  packages/shared/scripts/build.sh
Due: none

bug: can't import accounts
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

bug: can't import accounts (#330)
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

refactor: use wasm-pack for builds (#326)
  packages/crypto/lib/Cargo.toml
  packages/crypto/scripts/build-test.sh
  packages/crypto/scripts/build.sh
  packages/shared/lib/Cargo.toml
  packages/shared/scripts/build-test.sh
  packages/shared/scripts/build.sh
Due: none

Simple fix for crash on event registration
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: none

Update to SDK changes in namada v0.18.1
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

Add public key to schema, tested
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

Simple fix for crash on event registration (#329)
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: none

chore - Update to SDK changes in namada v0.18.1 (#327)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: do not decrypt mnemonic for auth
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/crypto.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat: create utility store
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/crypto.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.toml
  packages/storage/src/store/IndexedDBKVStore.ts
  packages/storage/src/store/types.ts
Due: yarn run lint

feat: do not decrypt mnemonic for auth (#322)
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/crypto.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.toml
  packages/storage/src/store/IndexedDBKVStore.ts
  packages/storage/src/store/types.ts
Due: yarn run lint

Revert "feat: do not decrypt mnemonic for auth (#322)"
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/crypto.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.toml
  packages/storage/src/store/IndexedDBKVStore.ts
  packages/storage/src/store/types.ts
Due: yarn run lint

chore: update namada to 0.19.0
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

refactor: replace borsh-js schemas with borsh.ts
  apps/extension/package.json
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/tsconfig.json
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/transfers.ts
  apps/namada-interface/tsconfig.json
  package.json
  packages/crypto/tsconfig.json
  packages/integrations/src/Anoma.ts
  packages/integrations/tsconfig.json
  packages/shared/lib/src/sdk/tx.rs
  packages/types/package.json
  packages/types/src/tx/messages/index.ts
  packages/types/src/tx/schema/account.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/shielded.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/schema/utils.ts
  packages/types/src/tx/types.ts
  packages/types/tsconfig.json
  packages/utils/src/helpers/index.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: make optional schema props implicit
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/tsconfig.json
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/transfers.ts
  packages/integrations/src/Anoma.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
Due: yarn run lint

bug: correctly get amounts from str
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix

Clean up, fix naming
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

Add query for public_key
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix

Hooking up Reveal PK tx to extension
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveBond/ApproveBond.tsx
  apps/extension/src/Approvals/ApproveBond/ConfirmLedgerBond.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/init.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/tx.ts
Due: yarn run lint, cargo fmt --all -- --fix

Put public_key into explicit schema type
  apps/extension/src/Approvals/ApproveBond/ConfirmLedgerBond.tsx
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/service.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/revealPK.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

Fix schema order
  apps/extension/src/Approvals/ApproveBond/ConfirmLedgerBond.tsx
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/revealPK.ts
Due: yarn run lint, cargo fmt --all -- --fix

Refactor submit calls to include signing
  apps/extension/src/Approvals/ApproveBond/ConfirmLedgerBond.tsx
  apps/extension/src/background/ledger/service.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

Fix error on submit public key reveal, clean up logs
  apps/extension/src/Approvals/ApproveBond/ConfirmLedgerBond.tsx
  apps/extension/src/background/ledger/service.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

bug: set correct tx type
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/unbond.ts
Due: yarn run lint, cargo fmt --all -- --fix

Begin hooking up staking update events
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/content/events.ts
  apps/extension/src/test/init.ts
  apps/namada-interface/src/services/extensionEvents/handlers/anoma.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
  packages/types/src/events.ts
Due: yarn run lint

refactor: amounts improvements (#325)
  apps/extension/package.json
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/tsconfig.json
  apps/namada-interface/tsconfig.json
  package.json
  packages/crypto/tsconfig.json
  packages/integrations/src/Anoma.ts
  packages/integrations/tsconfig.json
  packages/shared/lib/src/sdk/tx.rs
  packages/types/package.json
  packages/types/src/tx/messages/index.ts
  packages/types/src/tx/schema/account.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/shielded.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/schema/utils.ts
  packages/types/src/tx/types.ts
  packages/types/tsconfig.json
  packages/utils/src/helpers/index.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
