Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

feat: new overview panel
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/BalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  apps/namadillo/src/App/Masp/ShieldedRewardsBox.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/hooks/useBalances.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: removing deprecated component
  apps/namadillo/src/App/AccountOverview/BalanceContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: remove unneeded Firefox instruction (#1347)
  apps/extension/FIREFOX_README.md
Due: none

feat: updating tests
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: handling empty amounts
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: handle nam as denominated amount
  apps/namadillo/jest.config.ts
  apps/namadillo/package.json
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/registry/namada-local.ts
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: toml file instead of env
  apps/namadillo/.gitignore
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Setup/ChainLoader.tsx
  apps/namadillo/src/App/Transfer/AssetImage.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/registry/namada-local.ts
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: unit tests
  apps/namadillo/src/registry/namadaAsset.ts
  apps/namadillo/src/setupTests.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: cleanup jest config
  apps/namadillo/jest.config.ts
  apps/namadillo/package.json
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: min denom
  apps/namadillo/package.json
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/fees/services.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/atoms/staking/atoms.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/index.ts
  packages/shared/lib/src/query.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: remove old namadaAsset.ts
  apps/namadillo/src/registry/namadaAsset.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

chore: dry some calls
  apps/namadillo/src/atoms/validators/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: masp building compiles
  packages/shared/lib/.cargo/config.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
Due: cargo fmt --all -- --fix

feat: build
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/args.rs
Due: cargo fmt --all -- --fix

feat: enable localnet config in config.toml
  apps/namadillo/public/config.toml
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: treat all amounts as base 0 when quering (#1345)
  apps/namadillo/.gitignore
  apps/namadillo/package.json
  apps/namadillo/public/config.toml
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Setup/ChainLoader.tsx
  apps/namadillo/src/App/Transfer/AssetImage.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/functions.ts
  apps/namadillo/src/atoms/fees/services.ts
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/atoms/staking/atoms.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/atoms/validators/functions.ts
  apps/namadillo/src/setupTests.ts
  apps/namadillo/src/types.ts
  apps/namadillo/src/utils/index.ts
  packages/shared/lib/src/query.rs
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: extension must be unlocked to connect
  apps/extension/package.json
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/UnlockKeychain.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/namadillo/src/hooks/useExtensionEvents.tsx
  apps/namadillo/src/index.tsx
  apps/namadillo/src/services/extensionEvents/index.ts
  apps/namadillo/src/services/extensionEvents/provider.tsx
  apps/namadillo/src/services/index.ts
  apps/namadillo/src/services/integrations/index.ts
  apps/namadillo/src/services/integrations/provider.tsx
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up naming conventions
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: wrap all top-level approvals with auth
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/WithAuth.tsx
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: wrap approve connection with auth component
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/UnlockKeychain.tsx
  apps/extension/src/Approvals/WithAuth.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: validate origin & chain Id to see if already approved
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/Approvals/WithAuth.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix failing tests
  apps/extension/package.json
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

Namadillo: new overview panel (#1356)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/BalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/AccountOverview/NamBalanceContainer.tsx
  apps/namadillo/src/App/AccountOverview/__tests__/NamBalanceContainer.test.tsx
  apps/namadillo/src/App/Masp/ShieldedRewardsBox.tsx
  apps/namadillo/src/App/Staking/StakingRewardsPanel.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
  apps/namadillo/src/hooks/useBalances.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: subscribe to unlock event
  apps/extension/src/background/vault/service.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/namadillo/src/hooks/useExtensionEvents.tsx
  packages/types/src/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update copy
  apps/namadillo/src/App/Staking/ValidatorInfoPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): fixing denom on namada transactions
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat/1349 - Require unlocked keychain for all access (#1352)
  apps/extension/package.json
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/Approvals/WithAuth.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  apps/namadillo/src/hooks/useExtensionEvents.tsx
  apps/namadillo/src/index.tsx
  apps/namadillo/src/services/extensionEvents/index.ts
  apps/namadillo/src/services/extensionEvents/provider.tsx
  apps/namadillo/src/services/index.ts
  apps/namadillo/src/services/integrations/index.ts
  apps/namadillo/src/services/integrations/provider.tsx
  packages/types/src/events.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: handling errors in a better way (#1354)
  apps/namadillo/src/App/Common/InlineError.tsx
  apps/namadillo/src/atoms/integrations/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix(namadillo): fixing denom on namada transactions (#1360)
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: listen for extension connect
  apps/namadillo/src/App/Setup/ExtensionLoader.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bump keychain version, update type docs
  apps/extension/package.json
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/ClaimRewardsMsgValue.md
  packages/types/docs/classes/CommitmentMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/RevealPkMsgValue.md
  packages/types/docs/classes/ShieldedTransferDataMsgValue.md
  packages/types/docs/classes/ShieldedTransferMsgValue.md
  packages/types/docs/classes/ShieldingTransferDataMsgValue.md
  packages/types/docs/classes/ShieldingTransferMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/SigningDataMsgValue.md
  packages/types/docs/classes/TransferDataMsgValue.md
  packages/types/docs/classes/TransferMsgValue.md
  packages/types/docs/classes/TransparentTransferDataMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxDetailsMsgValue.md
  packages/types/docs/classes/TxMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/UnshieldingTransferDataMsgValue.md
  packages/types/docs/classes/UnshieldingTransferMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
Due: none

refactor: simplifying mapCoinsToAssets
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: bump keychain version, update type docs (#1363)
  apps/extension/package.json
  packages/types/docs/classes/BatchTxResultMsgValue.md
  packages/types/docs/classes/BondMsgValue.md
  packages/types/docs/classes/ClaimRewardsMsgValue.md
  packages/types/docs/classes/CommitmentMsgValue.md
  packages/types/docs/classes/EthBridgeTransferMsgValue.md
  packages/types/docs/classes/IbcTransferMsgValue.md
  packages/types/docs/classes/Message.md
  packages/types/docs/classes/RedelegateMsgValue.md
  packages/types/docs/classes/RevealPkMsgValue.md
  packages/types/docs/classes/ShieldedTransferDataMsgValue.md
  packages/types/docs/classes/ShieldedTransferMsgValue.md
  packages/types/docs/classes/ShieldingTransferDataMsgValue.md
  packages/types/docs/classes/ShieldingTransferMsgValue.md
  packages/types/docs/classes/SignatureMsgValue.md
  packages/types/docs/classes/SigningDataMsgValue.md
  packages/types/docs/classes/TransferDataMsgValue.md
  packages/types/docs/classes/TransferMsgValue.md
  packages/types/docs/classes/TransparentTransferDataMsgValue.md
  packages/types/docs/classes/TransparentTransferMsgValue.md
  packages/types/docs/classes/TxDetailsMsgValue.md
  packages/types/docs/classes/TxMsgValue.md
  packages/types/docs/classes/TxResponseMsgValue.md
  packages/types/docs/classes/UnbondMsgValue.md
  packages/types/docs/classes/UnshieldingTransferDataMsgValue.md
  packages/types/docs/classes/UnshieldingTransferMsgValue.md
  packages/types/docs/classes/VoteProposalMsgValue.md
  packages/types/docs/classes/WithdrawMsgValue.md
  packages/types/docs/classes/WrapperTxMsgValue.md
  packages/types/docs/enums/AccountType.md
  packages/types/docs/enums/BridgeType.md
  packages/types/docs/enums/Events.md
  packages/types/docs/enums/KeplrEvents.md
  packages/types/docs/enums/MetamaskEvents.md
  packages/types/docs/interfaces/IMessage.md
  packages/types/docs/interfaces/Namada.md
  packages/types/docs/interfaces/Signer.md
  packages/types/docs/modules.md
Due: none

feat: add permissions service, storage schema
  apps/extension/src/background/permissions/index.ts
  apps/extension/src/background/permissions/service.ts
  apps/extension/src/storage/LocalStorage.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: clean up
  packages/shared/lib/src/types/masp.rs
Due: cargo fmt --all -- --fix

feat: additional review prompts
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  packages/sdk/src/index.ts
  packages/sdk/src/ledger.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: prompt user for shielded keys
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  packages/sdk/src/ledger.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: retrieving asset in case chain doesn't have a channel on registry
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing styles for disabled buttons
  apps/namadillo/src/App/Transfer/AvailableAmountFooter.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: keeping ibc channel text inputs when a value is set
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0
