Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: begin not requiring password on signing unless session times out
  apps/extension/src/Approvals/ConfirmSignArbitrary.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add rewards per token to the sdk
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Masp/ShieldedRewardsBox.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: hook up service and message handler for require auth
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/background/vault/handler.ts
  apps/extension/src/background/vault/init.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fix bug in session store, move authTimestamp there
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/test/init.ts
  packages/storage/src/store/SessionKVStore.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add real rewards to the table
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add rewards column
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: change warning icon color to orange
  apps/namadillo/src/App/Layout/TopNavigation.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add rewards column (#1793)
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Masp/ShieldedRewardsBox.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: convert asset type to the latest one before calculating shielded rewards
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

fix: convert asset type to the latest one before calculating shielded rewards (#1820)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

feat: alter yellow warning banner (#1803)
  apps/namadillo/src/App/Common/IconTooltip.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
  apps/namadillo/src/utils/compatibility.tsx
  packages/components/src/Tooltip.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: automatically submit if auth is not needed
  apps/extension/src/Approvals/ConfirmSignTx.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add this feature to sign arbitrary as well
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ConfirmSignArbitrary.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/StatusBox.tsx
  apps/extension/src/Approvals/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving bug report info gathering
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/BugReport.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: removing unnecessary fields
  .github/ISSUE_TEMPLATE/namadillo.yml
Due: none

fix: add destination chain id (#1799)
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: Keychain signing - only require password on session timeout (#1809)
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ConfirmSignArbitrary.tsx
  apps/extension/src/Approvals/ConfirmSignLedgerTx.tsx
  apps/extension/src/Approvals/ConfirmSignTx.tsx
  apps/extension/src/Approvals/StatusBox.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/vault/handler.ts
  apps/extension/src/background/vault/init.ts
  apps/extension/src/background/vault/messages.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/test/init.ts
  packages/storage/src/store/SessionKVStore.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: separating unbonding from unbonded
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/UnbondedTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: removing some closing tags
  apps/namadillo/src/App/Common/BugReport.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving bug report info gathering (#1825)
  .github/ISSUE_TEMPLATE/namadillo.yml
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/BugReport.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: use indexer services timestamps in status check
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding withdrawal modal
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/StakingWithdrawModal.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/App/Staking/assets/claim-rewards-pink.svg
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/staking/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: renaming variables and assets
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/StakingWithdrawModal.tsx
  apps/namadillo/src/App/Staking/assets/withdrawal.svg
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: bumping minimum compatibility for the indexer
  apps/namadillo/src/compatibility.json
Due: prettier --write

feat: use indexer services timestamps in status check (#1830)
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: creating staking withdraw modal, with a fee selector (#1835)
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/StakingWithdrawModal.tsx
  apps/namadillo/src/App/Staking/UnbondedTable.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/App/Staking/assets/withdrawal.svg
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/staking/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bumping indexer-client version
  apps/namadillo/package.json
  yarn.lock
Due: prettier --write

feat: add footer logo to all pages (#1811)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/Assets/LogoFooter.svg
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  apps/namadillo/src/App/Layout/LogoFooter.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: displaying on the loading panel the correct target address
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: bumping minimum compatibility for the indexer (#1836)
  apps/namadillo/package.json
  apps/namadillo/src/compatibility.json
  yarn.lock
Due: prettier --write

fix: don't display approve connection form if approved
  apps/extension/src/Approvals/ApproveConnection.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: displaying on the loading panel the correct target address (#1837)
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update transaction fee button
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: typo on sidebar
  apps/namadillo/src/App/NamadaTransfer/LearnAboutTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
