Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "./apps/**/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "./packages/**/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "./storybook/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "./e2e/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"]
}

Implementing currency selector and "hide currency" toggle on Top Navigation (#718)
  apps/namada-interface/src/App/Common/ActiveAccount/ActiveAccount.tsx
  apps/namada-interface/src/App/Common/ActiveAccount/index.ts
  apps/namada-interface/src/App/Common/CurrencySelector/CurrencySelector.tsx
  apps/namada-interface/src/App/Common/CurrencySelector/index.ts
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  apps/namada-interface/src/currencies/index.ts
  apps/namada-interface/src/slices/exchangeRates.ts
  apps/namada-interface/src/slices/settings.ts
  packages/components/src/CopyToClipboardControl.tsx
  packages/components/src/StyledSelectBox.tsx
  packages/components/src/ToggleButton.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: add transparent balance front page to extension (#727)
  apps/extension/src/App/Accounts/ViewBalance.tsx
  apps/extension/src/App/Accounts/index.ts
  apps/extension/src/App/App.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeader.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/context/AccountContext.tsx
  apps/namada-interface/.env.sample
  packages/components/src/RadioGroup.tsx
  packages/components/src/Ring.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: fix lint and logic save latest block
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  packages/sdk/src/rpc/rpc.ts
Due: yarn run lint, prettier --write

fix: address pr comments
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
Due: prettier --write

fix: updates per pr feedback
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/config/argon2.ts
  apps/extension/src/config/index.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/test/init.ts
  packages/sdk/README.md
  packages/sdk/docs/README.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/crypto/crypto.ts
  packages/sdk/src/index.ts
  packages/sdk/src/tests/crypto.test.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat/682: adding crypto functions to sdk package (#688)
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/background/vault/crypto.ts
  apps/extension/src/background/vault/service.ts
  apps/extension/src/background/vault/tests/crypto.test.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/background/vault/types.ts
  apps/extension/src/config/argon2.ts
  apps/extension/src/config/index.ts
  apps/extension/src/provider/data.mock.ts
  apps/extension/src/test/init.ts
  packages/sdk/README.md
  packages/sdk/docs/README.md
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/modules.md
  packages/sdk/examples/queryBalance.ts
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/src/crypto/crypto.ts
  packages/sdk/src/crypto/index.ts
  packages/sdk/src/crypto/types.ts
  packages/sdk/src/index.ts
  packages/sdk/src/sdk.ts
  packages/sdk/src/tests/crypto.test.ts
  packages/sdk/src/tests/data.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: bug related shielded action for transfer
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/store/mocks.ts
  packages/chains/src/chains/osmosis.ts
  packages/chains/src/index.ts
  packages/chains/src/types.ts
  packages/integrations/src/Namada.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/account.ts
  packages/types/src/chain.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat: wip sdk api improvements
  packages/sdk/README.md
  packages/sdk/examples/README.md
  packages/sdk/examples/args.ts
  packages/sdk/examples/index.ts
  packages/sdk/package.json
  packages/sdk/src/masp.ts
  packages/sdk/src/wallet.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/sdk/wallet/wallet_web.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

fix: code review comments
  packages/sdk/README.md
  packages/sdk/src/masp.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: add extension currency select page
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/Common/AppHeaderNavigation.tsx
  apps/extension/src/App/Settings/Currency.tsx
  apps/extension/src/App/Settings/index.ts
  apps/extension/src/App/routes.ts
  apps/extension/src/storage/LocalStorage.ts
  packages/components/src/TickedRadioList.tsx
  packages/components/src/index.ts
  packages/components/src/theme.js
  packages/types/src/fiat.ts
  packages/types/src/index.ts
  storybook/src/stories/TickedRadioList.stories.tsx
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: fix/refactor events for better type safety
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/types.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionBroadcaster.ts
  packages/sdk/src/events.ts
  packages/sdk/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: emit TxCompleted event when tx is rejected
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint, prettier --write

fix: web build to not include node js files
  packages/sdk/tsconfig.node.json
  packages/sdk/tsconfig.web.json
  packages/shared/lib/src/sdk/masp/masp.node.js
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/wallet/wallet_node.rs
  packages/shared/scripts/build.js
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write

feat: sdk api improvements (#695)
  packages/sdk/README.md
  packages/sdk/examples/README.md
  packages/sdk/examples/args.ts
  packages/sdk/examples/index.ts
  packages/sdk/package.json
  packages/sdk/src/masp.ts
  packages/sdk/src/wallet.ts
  packages/sdk/tsconfig.node.json
  packages/sdk/tsconfig.web.json
  packages/shared/lib/src/sdk/masp/masp.node.js
  packages/shared/lib/src/sdk/masp/masp_node.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/sdk/wallet/wallet_node.rs
  packages/shared/lib/src/sdk/wallet/wallet_web.rs
  packages/shared/scripts/build.js
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

chore: update yarn.lock (#739)
  yarn.lock
Due: none

feat: support rewards query and claim rewards tx (#738)
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Signer.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
  packages/types/src/tx/schema/claimRewards.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat: circle fit component
  packages/components/src/CircleFit.tsx
  packages/components/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: point to tiny-bip39 commit until this feature is released
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
Due: none

feat: return and display invalid word in phrase
  apps/extension/src/Setup/Common/SeedPhraseList.tsx
  apps/extension/src/Setup/Common/SeedPhraseListItem.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/crypto/bip39.rs
Due: cargo fmt --all -- --fix, prettier --write

fix: clean up
  apps/extension/src/Setup/Common/SeedPhraseList.tsx
  apps/extension/src/Setup/Common/SeedPhraseListItem.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
Due: prettier --write

feat: support memo in ibc transfer from Keplr wallet
  packages/integrations/src/Keplr.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: format
  packages/integrations/src/Keplr.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat/721: Return and display invalid word in mnemonic phrase (#732)
  apps/extension/src/Setup/Common/SeedPhraseList.tsx
  apps/extension/src/Setup/Common/SeedPhraseListItem.tsx
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/crypto/lib/src/crypto/bip39.rs
Due: cargo fmt --all -- --fix, prettier --write

feat: add msg support for querying pending tx storage
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/utils/index.ts
Due: yarn run lint, prettier --write

feat: use approval details from requester query
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint, prettier --write

feat: signer should accept either single or multiple Tx
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/integrations/src/Namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: update pending tx storage and props for approvals/submit
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: hooking up multiple tx to approvals views
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
Due: prettier --write

fix: formatting
  apps/extension/src/background/approvals/service.ts
Due: yarn run lint, prettier --write

feat/677 - Support querying pending Tx within extension (#736)
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/ledger/handler.ts
  apps/extension/src/background/ledger/messages.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/utils/index.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/integrations/src/Namada.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: add Redelegate Tx to SDK shared & js packages
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/redelegate.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat: hook up to extension provider
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Signer.ts
  packages/shared/src/types.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat/750: Add Redelegate Tx to SDK shared & js packages (#751)
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Signer.ts
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/enums/TxType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/src/types.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/redelegate.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat: begin refactoring provider to accept props, this will not build yet
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  packages/types/src/namada.ts
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: add redelegate to Signer interface
  packages/types/src/signer.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: fix build - continuing to hook up updates
  apps/extension/src/Approvals/Approvals.tsx
  apps/extension/src/Approvals/ApproveTx/ApproveTx.tsx
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/ledger/service.ts
  packages/types/src/namada.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: hook up tx hash to build Tx, add to SDK
  packages/sdk/docs/classes/Crypto.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Masp.md
  packages/sdk/docs/classes/Mnemonic.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/classes/Signing.md
  packages/sdk/docs/classes/Tx.md
  packages/sdk/docs/enums/KdfType.md
  packages/sdk/docs/modules.md
  packages/sdk/src/tx/types.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write
