Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

fix: index extension connect status by chain key, fix ledger reveal pk
  apps/extension/src/Approvals/ApproveTx/ConfirmLedgerTx.tsx
  apps/extension/src/background/chains/service.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/slices/settings.ts
  packages/chains/src/index.ts
Due: yarn run lint

fix: ui clean up
  apps/namada-interface/src/App/AccountOverview/AccountOverview.components.ts
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/index.ts
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/index.ts
  packages/shared/scripts/build.js
Due: yarn run lint

fix: return chainKey in accounts query to properly map in interface
  apps/extension/src/provider/Signer.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/store/mocks.ts
  packages/integrations/src/Keplr.test.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Metamask.ts
  packages/types/src/account.ts
Due: yarn run lint

fix: version bump 0.2.1, hook up staking & proposals
  apps/airdrop/package.json
  apps/extension/package.json
  apps/faucet/package.json
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridgeTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/proposals.ts
  packages/chains/package.json
  packages/components/package.json
  packages/crypto/package.json
  packages/hooks/package.json
  packages/integrations/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn run lint

chore: update namada to 0.30.1 - paths fixes
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: cargo fmt --all -- --fix

chore: update namada to 0.30.1
  e2e/setup-namada.sh
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
Due: cargo fmt --all -- --fix

fix: release
  packages/shared/.release-it.json
  packages/types/.release-it.json
Due: none

fix: build script
  packages/shared/package.json
  packages/shared/scripts/build.js
Due: yarn run lint

feat: release changelog
  packages/shared/.release-it.json
  packages/shared/package.json
  packages/types/.release-it.json
  packages/types/package.json
Due: none

feat: add newline
  packages/shared/.release-it.json
Due: none

feat: changelog for types
  .release-it.json
  apps/extension/tsconfig.json
  package.json
  packages/chains/.gitignore
  packages/chains/.release-it.json
  packages/chains/package.json
  packages/chains/tsconfig.json
  packages/components/.gitignore
  packages/components/.release-it.json
  packages/components/package.json
  packages/components/tsconfig.json
  packages/crypto/.gitignore
  packages/crypto/.release-it.json
  packages/crypto/package.json
  packages/crypto/scripts/build.sh
  packages/crypto/tsconfig.json
  packages/storage/.gitignore
  packages/storage/.release-it.json
  packages/storage/package.json
  packages/storage/tsconfig.json
  packages/types/.release-it.json
  packages/types/tsconfig.json
  packages/utils/.gitignore
  packages/utils/.release-it.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  tsconfig.base.json
Due: none

fix: bump dependencies versions correctly with jq
  .release-it.json
  packages/chains/.release-it.json
  packages/chains/package.json
  packages/components/.release-it.json
  packages/components/package.json
  packages/crypto/.release-it.json
  packages/crypto/package.json
  packages/shared/.release-it.json
  packages/shared/package.json
  packages/storage/.release-it.json
  packages/storage/package.json
  packages/types/.release-it.json
  packages/types/package.json
  packages/utils/.release-it.json
  packages/utils/package.json
Due: none

feat: release-it for root
  .release-it.json
  package.json
  packages/chains/.release-it.json
Due: none

feat: always bump packages
  package.json
  packages/chains/package.json
  packages/components/package.json
  packages/crypto/package.json
  packages/shared/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
Due: none

fix: readVecU8Pointer import
  apps/extension/src/background/vault/crypto.ts
Due: yarn run lint

feat: package bumper in node
  .release-it.json
  apps/extension/.release-it.json
  apps/extension/package.json
  package.json
  packages/chains/.release-it.json
  packages/chains/package.json
  packages/components/.release-it.json
  packages/components/package.json
  packages/crypto/CHANGELOG.md
  packages/shared/.release-it.json
  packages/shared/CHANGELOG.md
  packages/storage/.release-it.json
  packages/storage/CHANGELOG.md
  packages/types/.release-it.json
  packages/types/CHANGELOG.md
  packages/utils/.release-it.json
  scripts/bump.js
Due: yarn run lint

feat: release it configs cjs
  .release-it.base.cjs
  .release-it.cjs
  .release-it.json
  apps/extension/.release-it.cjs
  apps/extension/.release-it.json
  apps/extension/package.json
  package.json
  packages/chains/.release-it.cjs
  packages/chains/.release-it.json
  packages/chains/package.json
  packages/components/.release-it.cjs
  packages/components/.release-it.json
  packages/components/package.json
  packages/crypto/.release-it.cjs
  packages/crypto/.release-it.json
  packages/crypto/package.json
  packages/shared/.release-it.cjs
  packages/shared/.release-it.json
  packages/shared/package.json
  packages/storage/.release-it.cjs
  packages/storage/.release-it.json
  packages/storage/package.json
  packages/types/.release-it.cjs
  packages/types/.release-it.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/.release-it.cjs
  packages/utils/.release-it.json
  packages/utils/package.json
Due: none

docs: publish info
  specs/PUBLISH.md
Due: none

feat: release scripts for all packages
  packages/chains/tsconfig.json
  packages/crypto/CHANGELOG.md
  packages/hooks/.gitignore
  packages/hooks/.release-it.cjs
  packages/hooks/package.json
  packages/hooks/tsconfig.json
  packages/integrations/.release-it.cjs
  packages/integrations/package.json
  packages/integrations/tsconfig.json
  packages/shared/CHANGELOG.md
  packages/storage/CHANGELOG.md
  packages/types/CHANGELOG.md
  tsconfig.base.json
Due: none

feat: release script for namada interface
  apps/namada-interface/.release-it.cjs
  apps/namada-interface/package.json
Due: none

docs: more accurate tag info
  specs/PUBLISH.md
Due: none

fix: missing comma in json after rebase
  packages/integrations/package.json
Due: none

fix: yarn.lock after rebase
  yarn.lock
Due: none

chore: update namada to 0.30.1 (#585)
  e2e/setup-namada.sh
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/signature.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/lib/src/sdk/wallet.rs
Due: cargo fmt --all -- --fix

chore: release v0.3.0
  apps/extension/CHANGELOG.md
  apps/extension/package.json
  apps/namada-interface/CHANGELOG.md
  apps/namada-interface/package.json
  package.json
  packages/chains/CHANGELOG.md
  packages/chains/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/integrations/CHANGELOG.md
  packages/integrations/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/storage/CHANGELOG.md
  packages/storage/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

fix: await connect message send before closing tab (#588)
  apps/extension/src/Approvals/ApproveConnection.tsx
Due: none

fix: seed phrase confirmation in ascending order (#587)
  apps/extension/src/Setup/AccountCreation/SeedPhraseConfirmation.tsx
Due: none

fix: make RadioGroup react to value change (#594)
  packages/components/src/RadioGroup.tsx
Due: none

chore: run CI on changes in any package (#594)
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

Chore/release 0.1.1 (#577)
  packages/shared/.release-it.json
  packages/shared/package.json
  packages/shared/scripts/build.js
  packages/types/.release-it.json
Due: yarn run lint

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
