Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": ["prettier --write"],
  "./apps/**/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "./packages/**/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "./storybook/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"],
  "./e2e/src/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0"]
}

feat: add discord side panel
  apps/namada-interface/src/App/Common/Sidebar.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Sidebars/ProposalDiscord.tsx
  apps/namada-interface/src/config/links.ts
Due: yarn run lint, prettier --write

feat(interface): sorting validators randomly with some criterea
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/hooks/useValidatorFilter.tsx
  apps/namada-interface/src/hooks/useValidatorSorting.ts
  apps/namada-interface/src/lib/staking.ts
  apps/namada-interface/src/slices/chain.ts
Due: yarn run lint, prettier --write

feat(interface): tweaking sidebar for a standard width
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Common/PageWithSidebar.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
Due: prettier --write

feat(interface): removing staking amount from randomize sorting criterea
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/hooks/useValidatorSorting.ts
Due: yarn run lint, prettier --write

feat(interface): improving responsive
  apps/namada-interface/src/App/Common/CurrencySelector.tsx
  apps/namada-interface/src/App/Common/Toast.tsx
  apps/namada-interface/src/App/Common/TopNavigation.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalStatusSummary.tsx
Due: prettier --write

feat(interface): responsive tweaks
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Common/PageWithSidebar.tsx
  apps/namada-interface/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namada-interface/src/App/Staking/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/StakingSummary.tsx
  apps/namada-interface/tailwind.config.cjs
  package.json
  yarn.lock
Due: prettier --write

feat(interface_proposals): handling notifications - wip
  apps/namada-interface/src/App/Common/Toast.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
  apps/namada-interface/src/services/extensionEvents/handlers/namada.ts
  apps/namada-interface/src/services/extensionEvents/provider.tsx
Due: yarn run lint, prettier --write

feat(interface): optimizing validators table performance
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat(interface): hover on overview buttons
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

feat(interface): adding /dist to gitignore
  apps/namada-interface/.gitignore
Due: none

feat: vote help text component
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/VoteHelpText.tsx
Due: prettier --write

feat: decode and display pgf_payment proposal data
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/shared/lib/src/query.rs
  packages/types/src/proposals.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(interface): tweaking label width
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
Due: prettier --write

feat(interface): burger menu and responsive navigation
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/BurgerButton.tsx
  apps/namada-interface/src/App/Common/Container.tsx
  apps/namada-interface/src/App/Common/Navigation.tsx
Due: prettier --write

feat(interface_overview): fixing governance route button
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: prettier --write

feat(interface): fixing chain loading
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/hooks/useExtensionConnect.ts
Due: yarn run lint, prettier --write

feat(interface): fixing navigation z-index
  apps/namada-interface/src/App/Common/Container.tsx
Due: prettier --write

feat(interface): adding quick access list
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/QuickAccessList.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
  apps/namada-interface/src/App/Staking/ValidatorsTable.tsx
Due: prettier --write

feat(interface): fixing download button url
  apps/namada-interface/src/App/Common/ConnectExtensionButton.tsx
Due: prettier --write

feat: more governance improvements
  apps/namada-interface/.env.sample
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/App/Governance/VoteInfoCards.tsx
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/types/query.rs
  packages/shared/src/borsh-schemas.ts
  packages/types/src/proposals.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --fix --max-warnings=0

feat(interface): migrating build to vite
  apps/namada-interface/package.json
  apps/namada-interface/vite.config.js
Due: yarn run lint, prettier --write

feat(interface): adding back button
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
Due: prettier --write

feat(interface): tweaking pagination
  apps/namada-interface/src/App/Common/FormattedPaginator.module.css
Due: none

fix: fix missing proposal ID in vote modal
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
Due: prettier --write

feat(interface): tweaking ProposalDiscord component
  apps/namada-interface/src/App/Sidebars/ProposalDiscord.tsx
Due: prettier --write

fix: add zero votes color to vote data bars
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
Due: prettier --write

fix: change rust version to fix shared multicore
  packages/shared/lib/rust-toolchain.toml
Due: none

fix: undo changes to Select component
  packages/components/src/Select.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: proposals table filters
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
Due: prettier --write

fix: typos
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/IncrementBondingTable.tsx
  apps/namada-interface/src/App/Staking/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ReDelegateTable.tsx
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
  packages/utils/src/currencies.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

fix: add spaces in WASM data JSON
  apps/namada-interface/src/App/Governance/ViewJson.tsx
Due: prettier --write

chore: fix interface CI build
  .github/workflows/deploy-wallet-at-pr.yml
  apps/namada-interface/package.json
Due: prettier --write

fix: wrap proposal JSON and vertically scroll
  apps/namada-interface/src/App/Governance/ViewJson.tsx
Due: prettier --write

fix: linting and TypeScript errors
  apps/namada-interface/src/App/Governance/UpcomingProposals.tsx
  packages/sdk/src/rpc/rpc.ts
  packages/shared/src/index.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0

feat: proposals table filter selects
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  packages/components/src/Select.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: add proposals table search
  apps/namada-interface/src/App/Common/Search.tsx
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Staking/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorFilterNav.tsx
Due: prettier --write

feat(interface_gov): adding fees to voting panel
  apps/namada-interface/src/App/Common/TransactionFees.tsx
  apps/namada-interface/src/App/Governance/SubmitVote.tsx
Due: prettier --write

feat(interface_stake): adding transaction fee to staking panels
  apps/namada-interface/src/App/Common/ModalContainer.tsx
  apps/namada-interface/src/App/Common/NamCurrency.tsx
  apps/namada-interface/src/App/Common/TransactionFees.tsx
  apps/namada-interface/src/App/Staking/IncrementBonding.tsx
  apps/namada-interface/src/App/Staking/ReDelegate.tsx
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/hooks/useGasEstimate.ts
Due: yarn run lint, prettier --write

feat(interface_unstake): fixing scroll on staking panel
  apps/namada-interface/src/App/Staking/Unstake.tsx
  apps/namada-interface/src/App/Staking/UnstakeBondingTable.tsx
Due: prettier --write

feat: make governance pages work with no extension
  apps/namada-interface/src/App/Governance/AllProposalsTable.tsx
  apps/namada-interface/src/App/Governance/GovernanceOverview.tsx
  apps/namada-interface/src/App/Governance/LiveGovernanceProposals.tsx
  apps/namada-interface/src/App/Governance/ProposalAndVote.tsx
  apps/namada-interface/src/App/Governance/ProposalHeader.tsx
  apps/namada-interface/src/slices/proposals/atoms.ts
  apps/namada-interface/src/slices/proposals/functions.ts
  packages/types/src/proposals.ts
Due: yarn run lint, prettier --write, eslint --fix --max-warnings=0
