Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

Update release action (#411)
  .github/workflows/release-wallet.yml
  packages/types/src/chain.ts
Due: yarn run lint

Fix typo
  .github/workflows/release-wallet.yml
Due: none

Fix typo (#412)
  .github/workflows/release-wallet.yml
Due: none

Auto generate build URL for setting download link
  .github/workflows/release-wallet.yml
  packages/types/src/chain.ts
Due: yarn run lint

feat(docs): updating README with a few missing steps
  README.md
Due: none

chore: move wasm-pack to dev dependencies
  .github/workflows/release-wallet.yml
  packages/crypto/package.json
  packages/shared/package.json
  yarn.lock
Due: none

chore: do not use eval source maps in Firefox production build
  apps/extension/webpack.config.js
Due: yarn run lint

feat: IBC bridge form
  apps/namada-interface/src/App/Token/IBCTransfer/IBCConnectExtension.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransferChannelsForm.tsx
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/slices/channels.ts
  e2e/src/utils/values.ts
Due: yarn run lint

refactor: ethereum bridge
  apps/namada-interface/src/App/Token/ConnectExtensionButton.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCConnectExtension.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/integrations/src/Metamask.ts
Due: yarn run lint

fix: print correct timeout in query timeout error message
  packages/shared/src/index.ts
Due: yarn run lint

refactor: un-nest common tx args and refactor tx code
  apps/extension/src/Approvals/ApproveTx/ConfirmTx.tsx
  apps/extension/src/Approvals/types.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/approvals/types.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/ledger/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/extension/src/test/init.ts
  apps/extension/src/utils/index.ts
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/integrations/src/Keplr.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/bond.ts
  packages/types/src/tx/schema/ethBridgeTransfer.ts
  packages/types/src/tx/schema/ibcTransfer.ts
  packages/types/src/tx/schema/transfer.ts
  packages/types/src/tx/schema/unbond.ts
  packages/types/src/tx/schema/withdraw.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat(docs): updating README with a few missing steps (#417)
  README.md
Due: none

Add pagination
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/fakeData.ts
  apps/namada-interface/src/slices/StakingAndGovernance/reducers.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  apps/namada-interface/src/store/mocks.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useDebounce.ts
  yarn.lock
Due: yarn run lint

Formatting
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/MyValidatorsTable/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.components.ts
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/App/StakingAndGovernance/MainContainerNavigation/MainContainerNavigation.components.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
Due: yarn run lint

Begin reworking staking to function with testnet
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  packages/components/src/Table/Table.components.ts
  packages/shared/lib/src/query.rs
  packages/shared/src/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

Fix filtering issue
  apps/faucet/scripts/startProxies.js
  apps/faucet/src/App/Faucet.tsx
  apps/namada-interface/scripts/startProxies.js
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  packages/chains/src/types.ts
Due: yarn run lint

Clean up
  apps/namada-interface/src/App/Staking/Staking.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/MyValidatorsTable/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
Due: yarn run lint

Add fetch total bonds action
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/reducers.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
Due: yarn run lint

Remove out-of-date, inaccurate documentation
  apps/namada-interface/README.md
Due: none

feat: eth bridge tx status
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridge.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridgeTransfer.tsx
  apps/namada-interface/src/App/Token/EthereumBridge/EthereumBridgeTransfers.components.tsx
  e2e/genesis.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/src/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

bug/414 - Fix staking for testnet (#415)
  apps/faucet/scripts/startProxies.js
  apps/faucet/src/App/Faucet.tsx
  apps/namada-interface/package.json
  apps/namada-interface/scripts/startProxies.js
  apps/namada-interface/src/App/Staking/Staking.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/AllValidatorsTable/AllValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/MyValidatorsTable/MyValidatorsTable.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingBalancesList/StakingBalancesList.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.components.ts
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.components.ts
  apps/namada-interface/src/App/Staking/ValidatorDetails/ValidatorDetails.tsx
  apps/namada-interface/src/App/StakingAndGovernance/MainContainerNavigation/MainContainerNavigation.components.ts
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/StakingAndGovernance/fakeData.ts
  apps/namada-interface/src/slices/StakingAndGovernance/reducers.ts
  apps/namada-interface/src/slices/StakingAndGovernance/types.ts
  apps/namada-interface/src/store/mocks.ts
  packages/chains/src/types.ts
  packages/components/src/Table/Table.components.ts
  packages/hooks/src/index.ts
  packages/hooks/src/useDebounce.ts
  packages/shared/lib/src/query.rs
  packages/shared/src/index.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

Auto generate build URL for setting download link (#413)
  .github/workflows/release-wallet.yml
  packages/types/src/chain.ts
Due: yarn run lint

Remove out-of-date, inaccurate documentation (#421)
  apps/namada-interface/README.md
Due: none

feat: display real proposals
  apps/namada-interface/src/App/Governance/Governance.tsx
  packages/shared/lib/src/query.rs
Due: cargo fmt --all -- --fix

feat: proposals basic view
  apps/extension/src/background/keyring/keyring.ts
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/App/Governance/Governance.components.ts
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/App/types.ts
  packages/shared/lib/src/query.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: basic voting
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/init.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/Governance/Governance.tsx
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/namada.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/voteProposal.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: display proper delegators and vote
  apps/namada-interface/src/App/Governance/Governance.components.ts
  apps/namada-interface/src/App/Governance/Governance.tsx
  packages/shared/lib/src/query.rs
  packages/utils/src/helpers/index.ts
Due: yarn run lint, cargo fmt --all -- --fix

fix: query memory dealocation
  apps/extension/src/background/keyring/keyring.ts
  apps/namada-interface/src/App/Governance/Governance.tsx
  packages/shared/src/index.ts
Due: yarn run lint

fix: useCallback to use addresses as dependency
  apps/namada-interface/src/App/Governance/Governance.tsx
Due: none

feat: move dialog to separate file
  apps/namada-interface/package.json
  apps/namada-interface/src/App/App.components.ts
  apps/namada-interface/src/App/Governance/Governance.components.ts
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/ProposalDetails.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/README.md
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/proposals.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  packages/shared/lib/src/query.rs
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

refactor: rename governance to proposals
  apps/namada-interface/src/App/AppRoutes.tsx
  apps/namada-interface/src/App/Governance/index.ts
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Proposals/Proposals.components.ts
  apps/namada-interface/src/App/Proposals/Proposals.tsx
  apps/namada-interface/src/App/Proposals/index.ts
  apps/namada-interface/src/App/Proposals/types.ts
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/TopNavigation/topNavigation.tsx
  apps/namada-interface/src/App/types.ts
Due: yarn run lint

feat: display content properly
  apps/namada-interface/src/App/Governance/Governance.components.ts
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/ProposalDetails.tsx
  apps/namada-interface/src/App/Governance/types.ts
  apps/namada-interface/src/slices/index.ts
  apps/namada-interface/src/slices/proposals.ts
  apps/namada-interface/src/store/mocks.ts
  apps/namada-interface/src/store/store.ts
  packages/shared/lib/src/query.rs
  packages/shared/src/index.ts
  packages/shared/src/types.ts
  packages/shared/tsconfig.json
Due: yarn run lint, cargo fmt --all -- --fix

feat: replace Option with fp-ts Option
  apps/namada-interface/package.json
  apps/namada-interface/src/App/Governance/Governance.tsx
  apps/namada-interface/src/App/Governance/ProposalDetails.tsx
Due: none

chore: cleanup
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
  apps/namada-interface/src/App/Proposals/types.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/types/mod.rs
  packages/shared/lib/src/types/query.rs
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/types/src/tx/schema/voteProposal.ts
  packages/utils/src/helpers/index.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: make eth_bridge proposal not votable by delegators
  apps/namada-interface/src/App/Proposals/ProposalDetails.tsx
Due: none

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
