Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: wire in swaps
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/lib/query.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: correct slippage and price
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: update namada chain registry (#2032)
  apps/namadillo/package.json
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  yarn.lock
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: osmosis swap messages
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/workers/MaspTxMessages.ts
  apps/namadillo/src/workers/MaspTxWorker.ts
  packages/sdk/src/tx/tx.ts
  packages/shared/lib/src/sdk/args.rs
  packages/shared/lib/src/sdk/mod.rs
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/osmosisSwap.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: hardcoded values for transparent osmosis swap
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  packages/crypto/lib/rust-toolchain.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: osmosis calcs shiz wip
  apps/namadillo/index.html
  apps/namadillo/package.json
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/vite.config.mjs
  package.json
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: query osmosis sqs for quote
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/atoms/swaps/index.ts
  apps/namadillo/src/atoms/swaps/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: hardcoded values for shielded osmosis swap
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
Due: cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: correct osmosis swap data
  apps/namadillo/index.html
  apps/namadillo/package.json
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/swaps/index.ts
  apps/namadillo/src/atoms/swaps/types.ts
  apps/namadillo/vite.config.mjs
  package.json
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add relative to div
  apps/namadillo/src/App/Common/MaspContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add relative to div on `/masp/shield` (#2038)
  apps/namadillo/src/App/Common/MaspContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove svg and update to icon
  apps/namadillo/src/App/Transfer/ShieldedTransferCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: delete overflow hidden
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: delete overflow hidden (#2041)
  apps/namadillo/src/App/AccountOverview/TotalBalanceBanner.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update calculator fixes
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: also include to reduce scrollbar for txn history
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update to shielded rewards cache
  apps/namadillo/src/App/Sidebars/MaspRewardCalculator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix gas fee modal for shielded
  apps/namadillo/src/App/Common/GasFeeModal.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update gas fee modal
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Revert "fix: cleanup"
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: use correct namada assets
  apps/namadillo/src/App/Ibc/OsmosisSwap.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update pulsing ring
  apps/namadillo/src/App/Common/PulsingRing.tsx
  apps/namadillo/src/App/Layout/Sidebar.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove git cached stuff
  apps/namadillo/src/App/Masp/ShieldedAssetTable.tsx
  apps/namadillo/src/App/Transfer/SelectToken.tsx
  apps/namadillo/src/App/Transfer/SelectTokenExample.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove center dot
  apps/namadillo/src/App/Common/PulsingRing.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update text for namada transfer
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: handle shielded and transparent
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: NAM transparent transfer shows generating masp in the button text (#2044)
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: shielded transfer receipt not showing details
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transactions/TransferTimelineErrorEntry.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update route for claiming
  apps/namadillo/src/App/Staking/UnclaimedRewardsCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update pulse ring
  apps/namadillo/src/App/Common/PulsingRing.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: shielded transfer receipt not showing details (#2045)
  apps/namadillo/src/App/Common/Timeline.tsx
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transactions/TransferTimelineErrorEntry.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/integrations/services.ts
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransactionWatcher.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update route for claiming on Claim NAM button (#2046)
  apps/namadillo/src/App/Staking/UnclaimedRewardsCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update sync indicator
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update progress
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update size in pulsing ring
  apps/namadillo/src/App/Common/PulsingRing.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup
  apps/namadillo/src/App/Layout/Sidebar.tsx
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: cleanup syncing
  apps/namadillo/src/App/Layout/Sidebar.tsx
  apps/namadillo/src/App/Masp/ShieldedSyncProgress.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
