Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"info\"] }]' --fix --max-warnings=0"
  ],
  "*.json": ["prettier --write"]
}

fix: show validators outside consensus and update tooltip icon
  apps/namadillo/src/App/Staking/AmountField.tsx
  apps/namadillo/src/App/Staking/IncrementBonding.tsx
  apps/namadillo/src/App/Staking/IncrementBondingTable.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update token sorting logic
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/utils/registeredCoinTypes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bumping namada keychain version (0.4.0) and fixing required indexer version (2.0.x)
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: bumping namada keychain version (0.4.0) and fixing required indexer version (2.0.x) (#1688)
  apps/namadillo/src/compatibility.json
Due: prettier --write

fix: pass proper path to deriveShieldedFromSeed
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: get shielded path instead
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: pass proper path to deriveShieldedFromSeed (#1690)
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: remove trailing period on urls (#1684)
  apps/namadillo/src/App/Governance/ProposalDescription.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix duplicated notifications (#1667)
  apps/namadillo/src/atoms/notifications/atoms.ts
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: updating docker & nginx configs for multicore
  apps/namadillo/package.json
  docker/namadillo/Dockerfile
  docker/namadillo/nginx.conf
Due: prettier --write

fix: add missing semicolons to headers in nginx config
  docker/namadillo/nginx.conf
Due: none

fix: fix docker issue for arch linux, narrow scope of headers ix: asd fasdf
  apps/namadillo/README.md
  docker/namadillo/.gitignore
  docker/namadillo/Dockerfile
  docker/namadillo/nginx.conf
Due: none

fix: utilize bip44 package
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/utils/registeredCoinTypes.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: convert from slip44 to use chainTokensAtom
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: make sure symbols match
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: reinstate registry features
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix tests
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Staking/__tests__/StakingRewards.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: some notifications might have multiple ids
  apps/namadillo/src/atoms/notifications/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: renaming onSuccess to onBroadcasting for clarity and throwing errors
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: fixing transaction notifications and errors, mainly on ibc withdraw
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: prioritizing innerTxHash when creating the transaction hash
  apps/namadillo/src/atoms/notifications/atoms.ts
  apps/namadillo/src/atoms/notifications/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: truncate long names
  apps/namadillo/src/App/Transfer/AssetCard.tsx
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: revert registry features
  apps/namadillo/src/hooks/useRegistryFeatures.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: update truncation method
  apps/namadillo/src/App/Transfer/AssetCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: check Ledger app version before enabling zip32
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  packages/sdk/src/index.ts
  packages/sdk/src/ledger.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: store correct zip32 path
  apps/extension/src/Setup/query.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: support old version of Ledger (transparent account)
  apps/extension/src/Setup/Common/LedgerApprovalStep.tsx
  apps/extension/src/Setup/Ledger/LedgerConnect.tsx
  packages/sdk/src/ledger.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: credentialless header
  apps/namadillo/vite.config.mjs
  docker/namadillo/nginx.conf
Due: none

feat: credentialless header (#1700)
  apps/namadillo/vite.config.mjs
  docker/namadillo/nginx.conf
Due: none

fix: rolling back previous notification condition
  apps/namadillo/src/atoms/notifications/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing isEnable condition on useTransaction
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: hiding error on TransferModule when it's re-submitting transaction
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: removing dead code
  apps/namadillo/src/atoms/notifications/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: Updating docker & nginx configs for multicore (#1620)
  apps/namadillo/README.md
  apps/namadillo/package.json
  apps/namadillo/vite.config.mjs
  docker/namadillo/.gitignore
  docker/namadillo/Dockerfile
  docker/namadillo/nginx.conf
Due: prettier --write

feat: adding multicore as default option for Namadillo and publishing sdk packages automatically to npm (#1582)
  .github/workflows/release.yml
Due: none

feat: add transaction fee to claiming modal (#1673)
  apps/namadillo/src/App/Staking/StakingRewards.tsx
  apps/namadillo/src/App/Staking/__tests__/StakingRewards.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: truncate long token names in Select Asset modal (#1694)
  apps/namadillo/src/App/Transfer/AssetCard.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: filtering assets with zero amount in it
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: extract filter into a new function
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/utils/assets.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: general fixes on IBC Withdrawal, notifications and TransferModule (#1701)
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/notifications/atoms.ts
  apps/namadillo/src/atoms/notifications/functions.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/hooks/useTransfer.ts
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0
