Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

fix: pr after rebase
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/crypto/package.json
  packages/sdk/src/indexNode.ts
  packages/sdk/src/indexWeb.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/tests/initSdk.ts
  packages/sdk/src/utils.ts
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet/wallet_node.rs
  packages/shared/lib/src/sdk/wallet/wallet_web.rs
  packages/shared/package.json
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat(sdk): add multicore support
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/sdk/examples/README.md
  packages/sdk/src/initNode.ts
  packages/sdk/src/initWeb.ts
  packages/shared/src/init-thread-pool.ts
  packages/shared/src/init.ts
Due: yarn run lint

fix: code review changes
  apps/extension/.release-it.cjs
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/vault/tests/service.test.ts
  apps/extension/src/provider/Namada.test.ts
  apps/extension/src/storage/VaultStorage.test.ts
  apps/namada-interface/.release-it.cjs
  packages/chains/.release-it.cjs
  packages/components/.release-it.cjs
  packages/hooks/.release-it.cjs
  packages/integrations/.release-it.cjs
  packages/integrations/src/Namada.ts
  packages/sdk/README.md
  packages/sdk/docs/README.md
  packages/sdk/docs/classes/EncodedTx.md
  packages/sdk/docs/classes/Ledger.md
  packages/sdk/docs/classes/Rpc.md
  packages/sdk/docs/classes/Sdk.md
  packages/sdk/docs/classes/SignedTx.md
  packages/sdk/docs/modules.md
  packages/sdk/examples/queryBalance.ts
  packages/sdk/jsdoc2md.json
  packages/sdk/package.json
  packages/shared/lib/src/rpc_client.rs
  packages/types/src/tx/messages/index.ts
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: support memmo field in ibc transfer
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/ibcTransfer.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: support memmo field in ibc transfer (#692)
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  packages/shared/lib/src/sdk/tx.rs
  packages/types/src/tx/schema/ibcTransfer.ts
Due: yarn run lint, cargo fmt --all -- --fix

Update README.md (#423)
  README.md
Due: none

feat: adding crypto functions to sdk package
  packages/sdk/src/crypto.ts
  packages/sdk/src/sdk.ts
Due: yarn run lint

feat: adding basic crypto test and exports
  packages/sdk/src/crypto.ts
  packages/sdk/src/index.ts
  packages/sdk/src/tests/crypto.test.ts
Due: yarn run lint

feat: wip sdk api improvements
  packages/sdk/README.md
  packages/sdk/examples/README.md
  packages/sdk/examples/args.ts
  packages/sdk/examples/index.ts
  packages/sdk/examples/queryBalance.ts
  packages/sdk/examples/submitTransfer.ts
  packages/sdk/package.json
  packages/sdk/src/masp.ts
  packages/sdk/src/wallet.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/wallet/mod.rs
  packages/shared/lib/src/sdk/wallet/wallet_web.rs
Due: yarn run lint, cargo fmt --all -- --fix

fix: extension release version should read from extension package.json
  .github/workflows/release-wallet.yml
  apps/extension/package.json
Due: none

fix: extension release version should read from extension package.json
  .github/workflows/release-wallet.yml
  apps/extension/package.json
  apps/namada-interface/webpack.config.js
Due: yarn run lint

fix: correct transfer source when unshielding
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/shared/lib/src/sdk/mod.rs
  packages/shared/lib/src/sdk/tx.rs
  packages/shared/scripts/build.js
Due: yarn run lint, cargo fmt --all -- --fix

Update AccountOverview.tsx
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: none

Update IBCTransfer.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
Due: none

fix: extension release version should read from extension package.json (#696)
  .github/workflows/release-wallet.yml
  apps/extension/package.json
  apps/namada-interface/webpack.config.js
Due: yarn run lint

feat: fixing process is not defined error
  storybook/.storybook/main.ts
Due: yarn run lint

feat: adding connect extension button component and initial dashboard for non-connected users
  apps/namada-interface/package.json
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.components.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/ConnectExtensionButton/ConnectExtensionButton.tsx
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Container/index.ts
  apps/namada-interface/src/App/Common/Intro/Intro.tsx
  apps/namada-interface/src/App/Common/Intro/index.ts
  apps/namada-interface/src/App/Common/Toast/index.ts
  apps/namada-interface/src/App/Common/Toast/toast.components.ts
  apps/namada-interface/src/App/Common/Toast/toast.tsx
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  apps/namada-interface/src/App/Common/TopNavigation/index.ts
  apps/namada-interface/src/App/TopNavigation/topNavigation.components.ts
  apps/namada-interface/src/hooks/useExtensionConnect.ts
  apps/namada-interface/src/tailwind.css
  apps/namada-interface/webpack.config.js
  yarn.lock
Due: yarn run lint

feat(components): adding white version for action button
  packages/components/src/ActionButton.tsx
Due: none

feat(components): adding AmountSummaryCard component
  packages/components/src/AmountSummaryCard.tsx
  packages/components/src/index.ts
  storybook/src/stories/AmountSummaryCard.stories.tsx
Due: yarn run lint

feat: adding sidebar navigation
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/Container/Container.tsx
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
  apps/namada-interface/src/App/Common/Sidebar/index.ts
  apps/namada-interface/src/App/Common/SidebarMenuItem/SidebarMenuItem.tsx
  apps/namada-interface/src/App/Common/SidebarMenuItem/index.ts
Due: yarn run lint

feat(components): tweaking animation on StyledSelectBox component
  packages/components/src/StyledSelectBox.tsx
Due: none

feat(components): creating StyledTable component
  packages/components/src/StyledTable.tsx
  packages/components/src/index.ts
  storybook/public/images/cosmostation.png
  storybook/public/images/everstake.png
  storybook/src/stories/StyledTable.stories.tsx
Due: yarn run lint

feat(interface): adding button component for connecting to extension
  apps/namada-interface/src/App/Common/ConnectExtensionButton/index.ts
Due: yarn run lint

feat(interface): separating connection methods in a hook
  apps/namada-interface/src/hooks/useExtensionConnect.ts
Due: yarn run lint

feat(components): adding pie chart component
  packages/components/package.json
  packages/components/src/PieChart.tsx
  storybook/src/stories/PieChart.stories.tsx
Due: none

feat(components): updating panel component
  packages/components/src/Panel.tsx
  storybook/src/components/Cheatsheet.tsx
  storybook/src/components/Panel.tsx
  storybook/src/stories/Panel.stories.tsx
Due: none

feat(components): refactoring component and adding label
  packages/components/src/ToggleButton.tsx
  storybook/src/stories/ToggleButton.stories.tsx
Due: none

feat(interface): creating Sidebar component
  apps/namada-interface/src/App/Common/Sidebar/Sidebar.tsx
Due: none

feat: adding styles selectbox for currencies
  packages/components/src/StyledSelectBox.tsx
  storybook/.storybook/preview.tsx
  storybook/src/stories/StyledSelectBox.stories.tsx
Due: none

feat(interface): starting new navigation
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Common/TopNavigation/TopNavigation.tsx
  yarn.lock
Due: none

feat: support uatom value in ibc transfer from cosmos.
  packages/integrations/src/Keplr.ts
  packages/types/src/tokens/Cosmos.ts
Due: yarn run lint

feat: add button to disconnect all connected sites (#687)
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Settings/ConnectedSites.tsx
Due: none

feat: support memo in ibc transfer from Keplr wallet.
  packages/integrations/src/Keplr.ts
Due: yarn run lint

feat: add missing back button in send button
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
Due: none

feat: config ws to catch event to update balance for transparent account after updating new block
  apps/namada-interface/package.json
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/fetchEffects.ts
  apps/namada-interface/src/hooks/useCatchEventBlock.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/utils/subscribeNewBlock.ts
  yarn.lock
Due: yarn run lint

feat: clean code
  apps/namada-interface/src/hooks/useCatchEventBlock.ts
Due: yarn run lint

feat(interface): temporarily commenting out unused code
  apps/namada-interface/src/App/AccountOverview/AccountOverview.tsx
Due: none

feat(components): downgrading bignumber version
  packages/components/package.json
  yarn.lock
Due: none

fix: cr comments
  apps/extension/src/background/chains/service.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/sdk/service.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/integrations/src/Namada.ts
  packages/sdk/.eslintrc.js
  packages/sdk/src/indexNode.ts
  packages/sdk/src/indexWeb.ts
  packages/sdk/src/keys/keys.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/signing.ts
Due: yarn run lint

feat: saving last block query for next fetching
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/provider/messages.ts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/slices/accounts.ts
  packages/integrations/src/Namada.ts
  packages/integrations/src/types/Integration.ts
  packages/shared/lib/src/query.rs
  packages/types/src/namada.ts
Due: yarn run lint, cargo fmt --all -- --fix

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
