Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

chore: bump indexer client to 2.2.0 (#1760)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/fees/services.ts
  apps/namadillo/src/compatibility.json
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing regex to get denom from ibc trace (#1755)
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: left align retro card amounts (#1771)
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: Extension - Add view and import Spending Key (#1744)
  apps/extension/src/App/Accounts/ParentAccounts.tsx
  apps/extension/src/App/Accounts/SpendingKey.tsx
  apps/extension/src/App/Accounts/ViewAccount.tsx
  apps/extension/src/App/AppContent.tsx
  apps/extension/src/App/routes.ts
  apps/extension/src/Setup/ImportAccount/SeedPhraseImport.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/keyring/types.ts
  apps/extension/src/context/AccountContext.tsx
  apps/extension/src/provider/InjectedNamada.ts
  apps/extension/src/provider/Namada.ts
  apps/extension/src/utils/index.ts
  apps/namadillo/src/App/SwitchAccount/SwitchAccountPanel.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/atoms/accounts/services.ts
  packages/components/src/RadioGroup.tsx
  packages/sdk/src/keys/keys.ts
  packages/shared/lib/src/types/masp.rs
  packages/types/src/account.ts
  packages/types/src/namada.ts
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving bug report info gathering (#1825)
  .github/ISSUE_TEMPLATE/namadillo.yml
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Common/BugReport.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: convert asset type to the latest one before calculating shielded rewards (#1820)
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/sdk/mod.rs
Due: cargo fmt --all -- --fix

feat: adding pro-mode control and hiding advanced settings panel (#1876)
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Settings/SettingsMain.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: adding masp asset rewards panel info (#1797)
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Sidebars/MaspAssetRewards.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/chain/services.ts
  apps/namadillo/src/types.ts
  packages/sdk/src/rpc/rpc.ts
  packages/sdk/src/rpc/types.ts
  packages/shared/lib/src/query.rs
  packages/shared/lib/src/types/query.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: invalidate shielded context based on indexer version (#1853)
  apps/namadillo/src/App/App.tsx
  apps/namadillo/src/App/Settings/SettingsMASP.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useInvalidateShieldedContext.ts
  apps/namadillo/src/hooks/useSdk.tsx
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: displaying shielded balances on modal fees for shielded transfers (#1872)
  apps/namadillo/jest.config.ts
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/Staking/__tests__/StakingRewardsPanel.test.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: alter yellow warning banner (#1803)
  apps/namadillo/src/App/Common/IconTooltip.tsx
  apps/namadillo/src/App/Layout/AppLayout.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/hooks/useCompatibilityErrors.tsx
  apps/namadillo/src/utils/compatibility.tsx
  packages/components/src/Tooltip.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fix link for ibc asset withdraw (#1858)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/hooks/useUrlState.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: bumping extension required version to 0.5.x (#1794)
  apps/namadillo/src/compatibility.json
Due: prettier --write

ci: adding missing bash property (#1901)
  .github/actions/release-project/action.yml
Due: none

feat: add footer logo to all pages (#1811)
  apps/namadillo/src/App/AccountOverview/AccountOverview.tsx
  apps/namadillo/src/App/AccountOverview/NavigationFooter.tsx
  apps/namadillo/src/App/Assets/LogoFooter.svg
  apps/namadillo/src/App/Governance/GovernanceOverview.tsx
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  apps/namadillo/src/App/Layout/LogoFooter.tsx
  apps/namadillo/src/App/Masp/MaspLayout.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Transactions/TransactionHistory.tsx
  apps/namadillo/src/App/Transfer/TransferLayout.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add destination chain id (#1799)
  apps/namadillo/src/hooks/useIbcTransaction.tsx
  apps/namadillo/src/lib/transactions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: improving token selection modal (#1859)
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Staking/StakingWithdrawModal.tsx
  packages/components/src/StyledSelectBox.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update transaction fee button (#1843)
  apps/namadillo/src/App/Common/TransactionFee.tsx
  apps/namadillo/src/App/Common/TransactionFeeButton.tsx
  apps/namadillo/src/App/Transfer/__tests__/TransferDestination.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add button to copy shielded address (#1866)
  apps/namadillo/src/App/Layout/AccountIconButton.tsx
  apps/namadillo/src/App/Layout/NamadaAccount.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: falling back to other fee tokens if user has no nams (#1852)
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionFee.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

refactor: refactoring ClaimRewards file names and fixing button texts (#1878)
  apps/namadillo/src/App/Staking/ClaimRewardsSubmitModalStage.tsx
  apps/namadillo/src/App/Staking/ClaimableRewardsModalStage.tsx
  apps/namadillo/src/App/Staking/StakingRewards.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: add z-index to prevent address hiding in IBC transfer
  apps/namadillo/src/App/Layout/NamadaAccount.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: revert change to SwitchAccountPanel filter (#1788)
  apps/namadillo/src/App/SwitchAccount/SwitchAccountPanel.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: fixing transaction receipt details not appearing for shielding transfers (#1897)
  apps/namadillo/src/App/Common/TransactionReceipt.tsx
  apps/namadillo/src/App/Transfer/common.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: starting the advanced mode feature on Namadillo (#1864)
  apps/namadillo/src/App/Settings/Advanced.tsx
  apps/namadillo/src/App/Sidebars/EpochInformation.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add warning for tokens from inactive channel (#1868)
  apps/namadillo/src/App/AccountOverview/TransparentOverviewPanel.tsx
  apps/namadillo/src/App/Common/GasFeeModal.tsx
  apps/namadillo/src/App/Common/InactiveChannelWarning.tsx
  apps/namadillo/src/App/Common/TokenCard.tsx
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Transfer/AssetCard.tsx
  apps/namadillo/src/App/Transfer/SelectAssetModal.tsx
  apps/namadillo/src/App/Transfer/__tests__/AssetCard.test.tsx
  apps/namadillo/src/App/Transfer/__tests__/SelectAssetModal.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: use indexer services timestamps in status check (#1830)
  apps/namadillo/src/App/Layout/SyncIndicator.tsx
  apps/namadillo/src/atoms/chain/atoms.ts
  apps/namadillo/src/atoms/settings/services.ts
  apps/namadillo/src/atoms/syncStatus/atoms.ts
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: filter out tokens that does not exist on chain (#1849)
  apps/namadillo/src/atoms/fees/atoms.ts
  apps/namadillo/src/utils/gas.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: changing tab and text colors on TabContainer (#1865)
  apps/namadillo/src/App/Ibc/IbcTransfersLayout.tsx
  packages/components/src/TabContainer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: tokens sometimes not rendering correctly after refreshing masp page
  apps/namadillo/src/atoms/balance/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add rewards column (#1793)
  apps/namadillo/src/App/Masp/ShieldedFungibleTable.tsx
  apps/namadillo/src/App/Masp/ShieldedNamBalance.tsx
  apps/namadillo/src/App/Masp/ShieldedOverviewPanel.tsx
  apps/namadillo/src/App/Masp/ShieldedRewardsBox.tsx
  apps/namadillo/src/atoms/balance/atoms.ts
  apps/namadillo/src/atoms/balance/services.ts
  packages/sdk/src/rpc/rpc.ts
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: update overview and staking chart rollover state (#1871)
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Common/OpacitySlides.tsx
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namadillo/src/App/Staking/StakingSummary.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

ci: making stable branch up to date on every release
  .github/actions/release-project/action.yml
Due: none

fix: fixing unshield, shield and other transactions (#1893)
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/hooks/useTransfer.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: check namadillo version to invalidate shielded context (#1887)
  apps/namadillo/src/App/AccountOverview/BalanceOverviewChart.tsx
  apps/namadillo/src/App/Common/BalanceChart.tsx
  apps/namadillo/src/App/Sidebars/YourStakingDistribution.tsx
  apps/namadillo/src/atoms/settings/atoms.ts
  apps/namadillo/src/hooks/useInvalidateShieldedContext.ts
  apps/namadillo/src/hooks/useShouldInvalidateShieldedContext.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

fix: displaying on the loading panel the correct target address (#1837)
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: creating staking withdraw modal, with a fee selector (#1835)
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Staking/StakingOverview.tsx
  apps/namadillo/src/App/Staking/StakingWithdrawModal.tsx
  apps/namadillo/src/App/Staking/UnbondedTable.tsx
  apps/namadillo/src/App/Staking/WithdrawalButton.tsx
  apps/namadillo/src/App/Staking/assets/withdrawal.svg
  apps/namadillo/src/App/routes.ts
  apps/namadillo/src/atoms/staking/atoms.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

feat: add active below threshold trait (#1773)
  apps/namadillo/src/App/Staking/MyValidatorsFilter.tsx
  apps/namadillo/src/App/Staking/ValidatorRank.tsx
  apps/namadillo/src/App/Staking/__tests__/ValidatorRank.test.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "info"] }]' --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
