Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

.lintstagedrc:

{
  "**/*.{js,ts}": "yarn run lint",
  "**/*.rs": "cargo fmt --all -- --fix"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\"] }]' --fix --max-warnings=0"
  ],
  "*.{json}": ["prettier --write"]
}

feat: sign shielding tx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/atoms/shield/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/types/txKind.ts
  apps/namadillo/src/workers/UnshieldMessages.ts
  apps/namadillo/src/workers/UnshieldWorker.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: use gas config
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/atoms/fees/functions.ts
  apps/namadillo/src/atoms/shield/services.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: auto-fill IBC channel inputs (#1257)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix missing ibc references, add assets for namadadryrun
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fix missing ibc references, add assets for namadadryrun (#1266)
  apps/namadillo/package.json
  apps/namadillo/src/atoms/integrations/functions.ts
  yarn.lock
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: replacing theta network by provider (#1259)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transactions/TransferTransactionTimeline.tsx
  apps/namadillo/src/atoms/integrations/functions.ts
  apps/namadillo/src/hooks/useWalletManager.tsx
  apps/namadillo/src/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: auto-fill IBC channel inputs (#1257) (#1257)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/atoms/integrations/atoms.ts
  apps/namadillo/src/atoms/integrations/functions.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fix worker build
  apps/namadillo/vite.config.mjs
Due: none

fix: show advanced settings when providing config.toml
  apps/namadillo/src/App/Settings/Advanced.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: show advanced settings when providing config.toml (#1276)
  apps/namadillo/src/App/Settings/Advanced.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: compute sha256sum of wasm data
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  packages/utils/src/crypto.ts
  packages/utils/src/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add transfer form
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/NamadaTransfer/assets/arrow.svg
  apps/namadillo/src/App/NamadaTransfer/assets/shielded-account.svg
  apps/namadillo/src/App/NamadaTransfer/assets/transparent-account.svg
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
  apps/namadillo/src/App/Transfer/NamTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/atoms/fees/functions.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/types/txKind.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: hide nam until phase 5
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fix type check
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: fix nam address
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: clean code
  apps/namadillo/src/hooks/useTransaction.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: convert to base exponent
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: add the transfer form (#1278)
  apps/namadillo/src/App/AppRoutes.tsx
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Layout/Navigation.tsx
  apps/namadillo/src/App/Layout/TopNavigation.tsx
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/NamadaTransfer/assets/arrow.svg
  apps/namadillo/src/App/NamadaTransfer/assets/shielded-account.svg
  apps/namadillo/src/App/NamadaTransfer/assets/transparent-account.svg
  apps/namadillo/src/App/Transfer/CustomAddressForm.tsx
  apps/namadillo/src/App/Transfer/NamTransfer.tsx
  apps/namadillo/src/App/Transfer/TransferDestination.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
  apps/namadillo/src/App/Transfer/TransferSource.tsx
  apps/namadillo/src/atoms/fees/functions.ts
  apps/namadillo/src/atoms/transfer/atoms.ts
  apps/namadillo/src/atoms/transfer/services.ts
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/hooks/useTransactionNotifications.tsx
  apps/namadillo/src/types/events.ts
  apps/namadillo/src/types/txKind.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: compute sha256sum of wasm data (#1277)
  apps/namadillo/src/App/Governance/VoteInfoCards.tsx
  packages/utils/src/crypto.ts
  packages/utils/src/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: begin hooking up new permissions
  apps/extension/src/Approvals/ApproveDisconnection.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/permissions/service.ts
  apps/extension/src/storage/LocalStorage.ts
  apps/namadillo/src/App/Setup/ExtensionLoader.tsx
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: continue hooking up chain ID
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/provider/InjectedNamada.ts
  apps/faucet/src/App/Faucet.tsx
  apps/namadillo/src/atoms/accounts/atoms.ts
  apps/namadillo/src/hooks/useExtensionConnect.ts
  apps/namadillo/src/hooks/useExtensionEvents.tsx
  packages/integrations/src/hooks/useIntegration.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: specify permissions in approval
  apps/extension/src/Approvals/ApproveConnection.tsx
  apps/extension/src/background/approvals/handler.test.ts
  apps/extension/src/background/approvals/handler.ts
  apps/extension/src/background/approvals/messages.test.ts
  apps/extension/src/background/approvals/messages.ts
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  packages/sdk/README.md
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: update permissions for extension
  apps/extension/src/background/approvals/service.test.ts
  apps/extension/src/background/approvals/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/permissions/index.ts
  apps/extension/src/background/permissions/service.ts
  apps/extension/src/router/types/enums.ts
  apps/extension/src/storage/LocalStorage.ts
  apps/extension/src/test/init.ts
  apps/namadillo/src/App/Common/ConnectExtensionButton.tsx
  packages/integrations/src/Namada.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: robuster way to detect/install keplr (#1267)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/integrations/Keplr.ts
  apps/namadillo/src/integrations/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: simple way to detect/install keplr (#1267)
  apps/namadillo/src/integrations/Keplr.ts
  apps/namadillo/src/integrations/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: renamed _getKeplr to _get
  apps/namadillo/src/integrations/Keplr.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

refactor: extracted install functionality from get
  apps/namadillo/src/integrations/Keplr.ts
  apps/namadillo/src/integrations/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: removing ibc channel fields when channels are known
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/App/Transfer/TransferModule.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: general improvements on withdrawal
  apps/namadillo/src/App/Ibc/IbcWithdraw.tsx
  apps/namadillo/src/types/events.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: remove auto-install of keplr
  apps/namadillo/src/integrations/Keplr.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: robuster way to detect/install keplr (#1267) (#1282)
  apps/namadillo/src/App/Ibc/IbcTransfer.tsx
  apps/namadillo/src/integrations/Keplr.ts
  apps/namadillo/src/integrations/types.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: conditionally highlight each phase on the roadmap
  apps/namadillo/src/App/Sidebars/MainnetRoadmap.tsx
  apps/namadillo/src/App/Sidebars/RoadmapPhase.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: fixing amount conversion and timeline stage
  apps/namadillo/src/App/NamadaTransfer/NamadaTransfer.tsx
  apps/namadillo/src/App/NamadaTransfer/NamadaTransferTopHeader.tsx
  apps/namadillo/src/hooks/useTransaction.tsx
  apps/namadillo/src/utils/index.ts
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

fix: bump wasm-pack to get rid of warnings
  packages/crypto/package.json
  packages/shared/package.json
  yarn.lock
Due: none

fix: bump wasm-bindgen packages
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: none

feat: fix ts
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
Due: prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0

feat: enable shielding tx (#1260)
  apps/namadillo/src/App/Masp/MaspShield.tsx
  apps/namadillo/src/App/Masp/MaspUnshield.tsx
  apps/namadillo/src/atoms/shield/atoms.ts
  apps/namadillo/src/atoms/shield/services.ts
  apps/namadillo/src/integrations/Keplr.ts
  apps/namadillo/src/workers/UnshieldMessages.ts
  apps/namadillo/src/workers/UnshieldWorker.ts
  apps/namadillo/vite.config.mjs
Due: yarn run lint, prettier --write, eslint --rule 'no-console: ["error", { allow: ["warn", "error"] }]' --fix --max-warnings=0
