Repository anoma/namada-interface: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, cargo fmt --all -- --fix

refactor: accounts naming (#226)
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Staking/NewBondingPosition/NewBondingPosition.tsx
  apps/namada-interface/src/App/Staking/Staking.tsx
  apps/namada-interface/src/App/Staking/StakingOverview/StakingOverview.tsx
  apps/namada-interface/src/App/StakingAndGovernance/StakingAndGovernance.tsx
  apps/namada-interface/src/App/Token/IBCTransfer/IBCTransfer.tsx
  apps/namada-interface/src/App/Token/TokenDetails.tsx
  apps/namada-interface/src/App/Token/TokenReceive/TokenReceive.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/App/Token/Transfers/Transfers.tsx
  apps/namada-interface/src/slices/StakingAndGovernance/actions.ts
  apps/namada-interface/src/slices/accounts.ts
  apps/namada-interface/src/store/mocks.ts
Due: yarn run lint

fix: Discard persistent ChainId when it is not part of defined chains
  apps/namada-interface/src/store/store.ts
Due: yarn run lint

fix: Discard persisted ChainId when it is not part of defined chains (#227)
  apps/namada-interface/src/store/store.ts
Due: yarn run lint

fix: accounts do not expand on click
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
Due: none

fix: accounts do not expand on click (#228)
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
Due: none

fix: conversion rates do not update for specific accounts
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
Due: none

feat: remove aead and utils from crypto
  packages/crypto/README.md
  packages/crypto/lib/src/crypto/aead.rs
  packages/crypto/lib/src/crypto/mod.rs
  packages/crypto/lib/src/lib.rs
  packages/crypto/lib/src/utils.rs
  packages/crypto/src/__tests__/crypto.test.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: remove aead and utils from crypto (#230)
  packages/crypto/README.md
  packages/crypto/lib/src/crypto/aead.rs
  packages/crypto/lib/src/crypto/mod.rs
  packages/crypto/lib/src/lib.rs
  packages/crypto/lib/src/utils.rs
  packages/crypto/src/__tests__/crypto.test.ts
Due: yarn run lint, cargo fmt --all -- --fix

refactor: remove unused code from shared
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  packages/shared/lib/src/ibc_transfer.rs
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/reveal_pk.rs
  packages/shared/lib/src/signer.rs
  packages/shared/lib/src/transfer.rs
  packages/shared/lib/src/types/mod.rs
  packages/shared/lib/src/types/transaction.rs
  packages/shared/lib/src/types/tx.rs
  packages/shared/lib/src/types/wrapper.rs
  packages/shared/lib/src/utils.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transaction.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

refactor: remove unused code from shared (#231)
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/provider/Anoma.test.ts
  apps/extension/src/provider/Anoma.ts
  apps/extension/src/provider/InjectedAnoma.ts
  apps/extension/src/provider/Signer.ts
  apps/extension/src/provider/messages.ts
  packages/shared/lib/src/ibc_transfer.rs
  packages/shared/lib/src/lib.rs
  packages/shared/lib/src/reveal_pk.rs
  packages/shared/lib/src/signer.rs
  packages/shared/lib/src/transfer.rs
  packages/shared/lib/src/types/mod.rs
  packages/shared/lib/src/types/transaction.rs
  packages/shared/lib/src/types/tx.rs
  packages/shared/lib/src/types/wrapper.rs
  packages/shared/lib/src/utils.rs
  packages/types/src/anoma.ts
  packages/types/src/signer.ts
  packages/types/src/tx/schema/index.ts
  packages/types/src/tx/schema/transaction.ts
  packages/types/src/tx/schema/tx.ts
  packages/types/src/tx/types.ts
Due: yarn run lint, cargo fmt --all -- --fix

feat: save
  apps/extension/src/background/index.ts
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.js
  packages/shared/lib/src/sdk/tx.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: save and load shielded context from IDB
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.js
  packages/shared/lib/src/sdk/mod.rs
Due: yarn run lint, cargo fmt --all -- --fix

feat: optional multicore for bellman
  apps/extension/package.json
  apps/namada-interface/webpack.config.js
  packages/crypto/lib/Cargo.lock
  packages/crypto/lib/Cargo.toml
  packages/shared/lib/Cargo.lock
  packages/shared/lib/Cargo.toml
Due: yarn run lint

fix: send token view does not display ui after refresh
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
Due: none

feat: increates memory param of argon2
  apps/extension/src/config/argon2.ts
Due: yarn run lint

feat: fix unit tests
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/package.json
  apps/namada-interface/package.json
  apps/namada-interface/scripts/build-node.sh
  apps/namada-interface/scripts/build.sh
  apps/namada-interface/tests/loadMainPage.spec.ts
  apps/namada-interface/tests/loginAndAccountCreation.spec.ts
  package.json
  packages/crypto/package.json
  packages/integrations/package.json
  packages/integrations/src/Keplr.test.ts
  packages/shared/package.json
  packages/shared/src/__tests__/shared.test.ts
  yarn.lock
Due: yarn run lint

feat: separate cargo tests
  .github/workflows/deploy-wallet-at-pr.yml
  apps/namada-interface/e2e-tests/hello.spec.ts
  apps/namada-interface/jest.config.ts
  package.json
  packages/crypto/package.json
  packages/shared/package.json
Due: yarn run lint

feat: update github workflow
  .github/workflows/deploy-wallet-at-pr.yml
Due: none

feat: update hithub workflows
  .github/workflows/deploy-wallet-at-pr.yml
  apps/namada-interface/jest.config.ts
  apps/namada-interface/playwright.config.ts
Due: yarn run lint

fix: conversion rates do not update for specific accounts (#229)
  apps/namada-interface/src/App/AccountOverview/DerivedAccounts/DerivedAccounts.tsx
Due: none

feat: increates memory param of argon2 (#234)
  apps/extension/src/config/argon2.ts
Due: yarn run lint

feat: fix unit tests (#236)
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/package.json
  apps/namada-interface/e2e-tests/hello.spec.ts
  apps/namada-interface/jest.config.ts
  apps/namada-interface/package.json
  apps/namada-interface/playwright.config.ts
  apps/namada-interface/scripts/build-node.sh
  apps/namada-interface/scripts/build.sh
  apps/namada-interface/tests/loadMainPage.spec.ts
  apps/namada-interface/tests/loginAndAccountCreation.spec.ts
  package.json
  packages/crypto/package.json
  packages/integrations/package.json
  packages/integrations/src/Keplr.test.ts
  packages/shared/package.json
  packages/shared/src/__tests__/shared.test.ts
  yarn.lock
Due: yarn run lint

feat: add zxcvbn validation
  apps/extension/package.json
  apps/extension/src/Setup/AccountCreation/Steps/Password/Password.components.ts
  apps/extension/src/Setup/AccountCreation/Steps/Password/Password.tsx
  yarn.lock
Due: yarn run lint

feat: add zxcvbn validation (#235)
  apps/extension/package.json
  apps/extension/src/Setup/AccountCreation/Steps/Password/Password.components.ts
  apps/extension/src/Setup/AccountCreation/Steps/Password/Password.tsx
  yarn.lock
Due: yarn run lint

feat: non blocking masp transfers in chrome
  apps/extension/package.json
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/offscreen/offscreen.html
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/offscreen/send_transfer_webworker.ts
  apps/extension/src/manifest/v3/_base.json
  apps/extension/tsconfig.json
  apps/extension/webpack.config.js
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  packages/shared/lib/src/sdk/mod.js
  yarn.lock
Due: yarn run lint

feat: non blocking shielded transfers for ff
  apps/extension/src/background/keyring/keyring.ts
Due: yarn run lint

fix: send token view does not display ui after refresh (#233)
  apps/namada-interface/src/App/Token/TokenSend/TokenSend.tsx
Due: none

refactor: cleanup non blocking masp transfers
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/offscreen/index.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/offscreen/utils.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/manifest/v3/_base.json
  apps/extension/webpack.config.js
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
Due: yarn run lint

refactor: init msg and cleanup
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.js
Due: yarn run lint, cargo fmt --all -- --fix

feat: close WebWorker when done
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
Due: yarn run lint

feat: clear offscreen document after transfers are done
  apps/extension/src/App/App.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/extension/src/content/index.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat: Send message to the extension/interface with tx done info
  apps/extension/src/background/content/constants.ts
  apps/extension/src/background/content/handler.ts
  apps/extension/src/background/content/index.ts
  apps/extension/src/background/content/init.ts
  apps/extension/src/background/content/messages.ts
  apps/extension/src/background/content/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/content/events.ts
  apps/extension/src/extension/ExtensionMessenger.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/router/types/enums.ts
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/transfers.ts
Due: yarn run lint

feat: add linter to the ci
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/package.json
  apps/namada-interface/package.json
  package.json
  packages/components/package.json
  packages/integrations/package.json
  packages/rpc/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
Due: none

feat: non blocking masp transfers in chrome (#238)
  apps/extension/package.json
  apps/extension/src/App/App.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/background/content/constants.ts
  apps/extension/src/background/content/handler.ts
  apps/extension/src/background/content/index.ts
  apps/extension/src/background/content/init.ts
  apps/extension/src/background/content/messages.ts
  apps/extension/src/background/content/service.ts
  apps/extension/src/background/index.ts
  apps/extension/src/background/keyring/handler.ts
  apps/extension/src/background/keyring/init.ts
  apps/extension/src/background/keyring/keyring.ts
  apps/extension/src/background/keyring/messages.ts
  apps/extension/src/background/keyring/service.ts
  apps/extension/src/background/offscreen/index.ts
  apps/extension/src/background/offscreen/offscreen.html
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/offscreen/utils.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/background/web-workers/submit-transfer-web-worker.ts
  apps/extension/src/background/web-workers/types.ts
  apps/extension/src/content/events.ts
  apps/extension/src/content/index.ts
  apps/extension/src/extension/ExtensionMessenger.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/extension/utils.ts
  apps/extension/src/manifest/v3/_base.json
  apps/extension/src/router/types/enums.ts
  apps/extension/src/test/init.ts
  apps/extension/tsconfig.json
  apps/extension/webpack.config.js
  apps/namada-interface/src/App/App.tsx
  apps/namada-interface/src/App/Token/TokenSend/TokenSendForm.tsx
  apps/namada-interface/src/slices/transfers.ts
  packages/shared/lib/src/sdk/masp.rs
  packages/shared/lib/src/sdk/mod.js
  yarn.lock
Due: yarn run lint, cargo fmt --all -- --fix

feat: pass routerId directly to the requester
  apps/extension/src/App/App.tsx
  apps/extension/src/App/Requester.tsx
  apps/extension/src/App/index.tsx
  apps/extension/src/Setup/Setup.tsx
  apps/extension/src/Setup/index.tsx
  apps/extension/src/background/index.ts
  apps/extension/src/background/offscreen/offscreen.ts
  apps/extension/src/background/web-workers/index.ts
  apps/extension/src/content/index.ts
  apps/extension/src/extension/ExtensionRequester.ts
  apps/extension/src/test/init.ts
Due: yarn run lint

feat: add linter to the ci (#247)
  .github/workflows/deploy-wallet-at-pr.yml
  apps/extension/package.json
  apps/namada-interface/package.json
  package.json
  packages/components/package.json
  packages/integrations/package.json
  packages/rpc/package.json
  packages/storage/package.json
  packages/types/package.json
  packages/utils/package.json
Due: none

Path conditions:
  yarn run lint: any of: **/*.{js,ts}
  cargo fmt --all -- --fix: any of: **/*.rs
